[2020-04-14 13:04] ericvn commented on #6631
So with #7075 and a fresh kind cluster, I can run the tests locally on my Mac using:
`unset HUB && TARGET=latest TEST_ENV=kind ADDITIONAL_CONTAINER_OPTIONS="--network host" make test.kube.presubmit`

[2020-04-14 14:08] ericvn opened #7077 "TestTrafficShifting test is flakey"
Looking at the test results yesterday morning, for the last 19 tests run, there were 11 failures. In those 11 failures, 7 contained failures in TestTrafficShifting and 7 in TestCircuitBreaker (in some tests both failed).

[2020-04-14 14:08] ericvn commented on #7074
This is pre #7043, but looking at the test results yesterday morning, for the last 19 tests run, there were 11 failures. In those 11 failures, 7 contained failures in TestTrafficShifting and 7 in TestCircuitBreaker (sone tests both failed).

[2020-04-14 14:13] #6335 closed

[2020-04-14 14:44] #7067 closed

[2020-04-14 21:21] ericvn commented on #6631
I will add some text in the _testing_ doc with these comments.

[2020-04-14 22:41] ericvn opened #7081 "istio.io tests using sha for istio, but tests are using latest build images during run"
If I unset the HUB and TAG and run the tests, the deployments try to use the gcr.io/istio-testing/?:1.6-alpha.{sha}. The deployment will fail because the images don't exist.

Looking at test-infra, the calls use TAG=latest.

[2020-04-16 07:50] shamsher31 commented on #6631
I ran this command today and the test fails with the following error

[code]

Notice:

[code]
I did `cat ~/.kube/config` and I can see `KUBECONFIG` with `kind` and `minikube` clusters. Also following.

[code]

[2020-04-17 07:58] shamsher31 opened #7097 "test: true does not generate snips.sh for some .md files"
I was trying to generate snips for `content/en/docs/examples/bookinfo` but it always fails with the following error

[code]
With quick search I found that the [default encoding is ascii where in Python 3 it should be utf-8](https://github.com/facebookresearch/DrQA/issues/31#issuecomment-324670126).

[2020-04-17 14:23] #7097 closed

[2020-04-20 14:58] ericvn opened #7109 "Istio 1.4 docs - Helm install issues. Issues with tabs."
https://archive.istio.io/v1.4/docs/setup/install/helm/ has issues.

Some example:

Option 1: Install with Helm via helm template is missing text for #3.

The tabs are there but nothing in them in the various areas on the page.

Tested on Firefox and Safari.

[2020-04-20 15:01] ericvn commented on #7109
I did try to find some other pages with tabs. https://archive.istio.io/v1.4/docs/tasks/traffic-management/ingress/ingress-control/#determining-the-ingress-ip-and-ports was one.

In the determining IP tabs, one seems to be cut off and the other is missing the text ability to cut/paste.

[2020-04-20 17:52] ericvn commented on #6631
I'll take a look at this again shortly.

[2020-04-20 18:44] ericvn commented on #6631
A few items:

- The string I mentioned was for using kind and when running on a Mac.
- It looks like you are running on Linux (I see /work/out/linux_amd64)
- I see --istio.test.kube.config=:/home/shaansar/.kube/config which means you aren't running in the container.  And if you are, you probably don't have that mounted. In my output, I have --istio.test.kube.config=~/.kube/config

[2020-04-20 18:48] ericvn commented on #6631
This said, I'm not sure the env -u HUB is actually working as I am seeing the container using my HUB env var.

[2020-04-20 19:10] jaygorrell opened #7111 "Upgrade path with `helm template` should clean up old resources"
When using `helm template` to upgrade an Istio install from one version to another, there is no process that cleans up resources that no longer exist in the new version. This results in fresh installs having a different working environment from upgraded installs.

One idea from @howardjohn was to use `kubectl --purge` as part of the upgrade instructions.

[2020-04-20 19:27] ericvn commented on #7081
The current logic has
[code]

This yields an image name like `gcr.io/istio-testing/pilot:1.6-alpha.1d3b136325a5` where the actual name is `1.6-alpha.1d3b136325a5592511f72a9b041ea396bdbd5180`. Thus not specifying a TAG causes the test to fail since they can't download the image.

[2020-04-20 19:27] ericvn commented on #7081
Solution needs to find the full SHA for the tag if we truly want the tests to be running the same version of the code.

[2020-04-20 19:42] ericvn commented on #6631
unset HUB and make sure TAG=latest and run as above passed for me today on my Mac using kind cluster.

[2020-04-21 15:22] ericvn commented on #6631
Doc notes updated in #7115

[2020-04-21 15:22] #6631 closed

[2020-04-22 06:08] shamsher31 opened #7124 "SKIPPED TestRequestTimeouts test failure."
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio.io/6660/k8s-tests_istio.io/1181

Skipped in https://github.com/istio/istio.io/pull/6660

[2020-04-22 14:10] #6582 closed

[2020-04-22 21:54] pleshakov commented on #6877
I will add that in the table the link to `WorkloadSelector` points to https://istio.io/docs/reference/config/type/v1beta1/workload-selector.html#WorkloadSelector , which gives 404

[2020-04-23 12:32] #6496 closed

[2020-04-23 19:02] ericvn opened #7145 "Uninstall order for docs/setup/getting-started/"
Does it make sense to have the Bookinfo uninstall instructions before the Istio uninstall instructions?  Maybe they just want to remove Bookinfo and continue to test things in Istio.

[2020-04-23 19:19] ericvn opened #7146 "Update the release tested."
Currently the docs has: `Istio 1.6 has been tested with these Kubernetes releases: 1.14, 1.15, 1.16.`

I'm not sure if we are going to simply shift one to the right, or extend to include 1.18.

[2020-04-23 19:19] ericvn commented on #7146
@linsun FYI

[2020-04-23 20:27] #6590 closed

[2020-04-24 03:38] sdake opened #7148 "No description of how humans should parse the diagnostic instructions here: https://preliminary.istio.io/docs/ops/diagnostic-tools/istioctl/#get-proxy-configuration"
One may argue - why have diagnostic commands if they are not clear?

[code]

[2020-04-24 03:57] sdake opened #7149 "Few problems with page"
[code]

https://preliminary.istio.io/docs/tasks/observability/logs/access-log/

Three problems:
- `manifest apply` should be `install`.
- The profile should be set by the operator - to be one of the potential profiles.
- Demo is not the only profile - and is used inconsistently in the documentation. The documentation recommends using deprecated options for enabling and disabling the access log.

[2020-04-24 16:14] ericvn commented on #7146
This is also being discussed in https://github.com/istio/istio.io/issues/7146

[2020-04-24 20:53] ericvn opened #7156 "Review pages for istio-system namespace not being removed."
The istioctl cleanup at the end of pages no longer has the istio-system namespace removed. I saw we updated one page to add a note. We should probably make it into a template and check all pages and add a note.

[2020-04-25 02:22] clarketm commented on #6333
There are additional procedures needed internal at Google to complete the whitelist. I am actively working on this!

[2020-04-27 13:46] askmeegs opened #7168 "VM install (single network) istiod address unreachable"
In the [Istio 1.5.2 single-network VM setup instructions](https://istio.io/docs/examples/virtual-machines/single-network/#preparing-the-kubernetes-cluster-for-vms), it says to add the Istiod ClusterIP service IP to /etc/hosts on the VM. ClusterIP addresses are only reachable in-cluster - the VM cannot ping that IP, and the VM Istio logs throw this error:

[code]

These 1.5 instructions are differe

[2020-04-27 14:14] #7146 closed

[2020-04-27 14:14] #7145 closed

[2020-04-27 20:16] clarketm commented on #6333
This is now resolved. We can verify once a non-members commit is cherry picked.

[2020-04-27 23:34] sdake commented on #7168
related PR: https://github.com/istio/istio.io/pull/7107

[2020-04-27 23:41] sdake commented on #7168
@askmeegs in a single network VPN model, ClusterIPs are addressable outside the cluster. ClusterIPs are exposed via L3 in this model.

The single network model was (introduced) in 1.5 and the gateways model was (re-introduced?) in 1.5 in the form of two different documents.

We hope to have documentation improvements in place for 1.6. One thing we are after with the 1.6 VM Mesh expansion documenta

[2020-04-27 23:45] sdake opened #7173 "Few issues in the upgrade documentation"
https://preliminary.istio.io/docs/setup/upgrade/

This instruction is wrong:

<img width="903" alt="Screen Shot 2020-04-27 at 4 43 57 PM" src="https://user-images.githubusercontent.com/755849/80431469-5f1e6e80-88a6-11ea-979b-34c8cf964f50.png">

The namespace expected of the command is `test-ns` where it should be `default`, or the instructions themselves should be modified to be more generic when

[2020-04-27 23:49] sdake commented on #7173
[Istio 1.5 has instructions](https://istio.io/docs/tasks/observability/gateways/) for exposing telemetry over port 15029-15032. During an upgrade from 1.5 to 1.6, observability breaks. A pre-canned yaml blob is needed to continue export over 15032. Then the upgrade documentation should guide users to transitioning to the [new model](https://preliminary.istio.io/docs/tasks/observability/gateways/).

[2020-04-28 02:39] irisdingbj commented on #7168
@sdake Single network means the  istiod clusterIP is reachable on VM.  So your environment is actually multi network scenario.

[2020-04-28 14:26] askmeegs commented on #7168
Thank you both for this clarification!

[2020-04-28 15:13] davi7461 commented on #5239
Can we have an update on this?

[2020-04-28 17:11] #6303 closed

[2020-04-29 14:02] pwjagrullar commented on #5239
The doc also states that "Usage of AWS nlb on Kubernetes is an Alpha feature and not recommended for production clusters.".

Is this still valid now 2 years later or is it ok to use AWS NLB in production clusters?

[2020-04-29 17:36] therealmitchconnors opened #7184 "TCP Metrics walkthrough doesn't create gateway"
https://preliminary.istio.io/docs/tasks/observability/metrics/tcp-metrics/#collecting-new-telemetry-data Step 2 directs you to obtain and use a gateway address to hit bookinfo, however the previous steps did not include creating said gateway.

[2020-04-29 18:42] clarketm commented on #6333
The whitelisting measures still do not provide resolution. Investigating further:

e.g.
https://github.com/istio/istio/pull/23382
https://github.com/istio/istio/pull/23365
https://github.com/istio/istio/pull/23361

[2020-04-29 18:52] frankbu commented on #6333
Interestingly, it did work on istio/istio.io this morning: https://github.com/istio/istio.io/pull/7179

I noticed that the [googlebot comment](https://github.com/istio/istio.io/pull/7179#issuecomment-621265136) appeared, but then the `cla: yes` label got added automatically and the PR merged. No other manual intervention was needed.

[2020-04-29 18:57] frankbu commented on #6333
Actually, looking more closely, the PR has both cla: yes and cla: no labels.
![image](https://user-images.githubusercontent.com/2752495/80635218-9cf7d000-8a29-11ea-888e-ced88e907f27.png)
But it did merge when approved.

[2020-04-29 18:58] clarketm commented on #6333
That is strange, indeed. Since currently the `cla: yes` label is applied immediately after the PR is created, my original thought was that there was a race condition with the scan. For example in https://github.com/istio/istio/pull/23382, note that if the `istio-testing` bot waits until after the `google-bot` comments to add the `cla: yes` label it works successfully.

[2020-04-29 19:05] frankbu commented on #6333
This is strange, it's adding cla: yes and cla: no when it removes cla:
![image](https://user-images.githubusercontent.com/2752495/80636054-d0872a00-8a2a-11ea-8866-79c85ca00b4f.png)

[2020-04-29 19:05] clarketm commented on #6333
I noticed that as well. I reopened the bug I have internally for `google-bot`, since this is not _expected_ behavior. I will see is there are any workarounds in the meantime.

[2020-04-30 00:20] carolynhu opened #7190 "Add customize telemetry via source_cluster and destination_cluster labels in multicluster monitoring section"
A follow up PR should be made on using the `source_cluster` and `destination_cluster` labels to multicluster monitoring doc.

[2020-04-30 00:21] carolynhu commented on #7190
https://github.com/istio/istio.io/pull/7040

[2020-04-30 03:54] Trojaner opened #7192 "Connection Refused for bookinfo example"
I installed istio 1.4.7 with Rancher on a bare metal server with MetalLB. Rancher uses its own nginx ingress controller on port 8080 and 8443 so it does not conflict with my istio setup.

Here is my gateway and virtualservice configuration, slightly adjusted for https support:
[code]

My (wildcard) certificate:
[code]

Services displays correct ports:
[code]

It only works on port 80 on the *first

[2020-04-30 08:20] jacob-delgado opened #7194 "Authentication page cleanup pt2 has invalid delete command"
The command
```$ kubectl delete destinationrules default overwrite-example -n foo```

fails due to no known destination rule named `default`.

[2020-04-30 14:55] dsbos opened #7196 "Ambiguous "auth" on _docs/concepts/network-and-auth/auth.md"
The page ambiguously uses "auth" (including in "Istio Auth") when it means ... well, it's not clear when it means authentication, when it means authorization, and/or when it means both authentication and authorization.

(And please don't change to the pair "auth" and "authz" when abbreviating--a reference to "auth" by itself will still be ambiguous. Using the pair "authc" and "authz" would remove

[2020-04-30 15:26] ta9miya opened #7197 "Istion Timeout information"
I'm looking for information about istio timeouts.
The default timeout value is 15 seconds in the "Timeout" section of the link below.
https://istio.io/docs/concepts/traffic-management/#network-resilience-and-testing
The default timeout for HTTP requests is 15 seconds
On the other hand, the "Request timeouts" section of this link states that the default is Disable.
https://istio.io/docs/tasks/traff

[2020-04-30 17:55] dsbos opened #7199 "Unclear contradictory-rule resolution on docs/reference/config/security/authorization-policy/index.html"
The page currently at https://istio.io/docs/reference/config/security/authorization-policy/ says:

"""
... When allow and deny policies are used for a workload at the same time, the deny policies are evaluated first. The evaluation is determined by the following rules:

    1. If there are any DENY policies that match the request, deny the request.
    2. If there are no ALLOW policies for the wor

[2020-04-30 17:58] #7194 closed

[2020-04-30 19:12] dsbos opened #7200 "Issue with docs/reference/config/security/authorization-policy/index.html"
The page current says:

"A match occurs when at least one source, operation and condition matches the request."

That would probably be clearer as:

"A match occurs when at least one source, at least one operation and at least one condition matches the request."

(Maybe there's a less wordy way of clarifying the wording.)

[2020-04-30 19:30] dsbos commented on #7200
Actually, not I'm not fully sure I interpreted that right--so, yes, it seems ambiguous, or at least unclear.

Also, I notice that the initial sentence is a bit messed up too, saying:

"Rule matches requests from a list of sources that perform a list of operations subject to a list of conditions."

Requests are not from a list of sources (a request is from one source), and source don't performs a l

[2020-04-30 19:54] dsbos opened #7201 "Condition doesn't specify precendence, on docs/reference/config/security/authorization-policy/index.html"
In the section currently at https://istio.io/docs/reference/config/security/authorization-policy/#Condition, nothing seems to specify whether `values` has precedence over [notValues](url), or vice versa (or to explicitly specify that it it not defined what happens).

For example, assuming that some attributes can have multiple values, if an attribute has a value that is in `values` and also had a

[2020-04-30 20:02] dsbos opened #7202 "Scrambled notValues wording in docs/reference/config/security/authorization-policy/index.html"
The description for `Condition`'s `notValues` says:

"... A list of negative match of values for the attribute.  ..."

That "negative match of values" part doesn't make sense.

Should that say something like this?:

"... A list of negative-match values for the attribute.  ..."

Or, maybe, to parallel the text for `values`, should it be like this?:

"... A list of disallowed values for the attribut

[2020-04-30 20:17] dsbos opened #7203 "Bad target for WorkloadSelector link on docs/reference/config/security/authorization-policy/index.html"
On the page currently at https://istio.io/docs/reference/config/security/authorization-policy/#AuthorizationPolicy, `AuthorizationPolicy`'s `selector`'s `WorkloadSelector` link has a bad target URL, leading to an HTTP 404 page.

[2020-05-01 20:37] howardjohn opened #7215 "Update Performance summary for Istio 1.6"
https://preliminary.istio.io/docs/ops/deployment/performance-and-scalability/#performance-summary-for-istio-hahahugoshortcode-s0-hbhb will need to be update for 1.6 numbers. We should also probably make it clear that `The istio-telemetry service uses 0.6 vCPU per 1000 mesh-wide requests per second.` is only for users with mixer

[2020-05-02 03:08] Trojaner commented on #7192
Fixed by adding "gateways.istio-ingressgateway.sds.enabled=true" to custom answers in Rancher istio installation :)

[2020-05-02 03:08] #7192 closed

[2020-05-04 03:39] tx19980520 opened #7221 "Conflict description about mTLS keys and certificates errors"
in istio [1.5 upgrade notes](https://istio.io/news/releases/1.5.x/announcing-1.5/upgrade-notes/), the docs say that

So that now we can not get certificates and keys from secret like istio.default.
But in the [keys and certificates errors](https://istio.io/docs/ops/common-problems/security-issues/#mutual-tls-errors), the action is the same as 1.4 and before. Maybe the page need update now.

[2020-05-04 09:19] sbogdanovic commented on #5239
Besides problems with TLS in versions pre 1.15 and the still existing problem with multiple clusters in the same zone, are there any other known issues with NLB?

[2020-05-04 20:38] sdake commented on #7168
@askmeegs is there any action to take here, or can this issue be closed? We cover the single and multi-network scenarios elsewhere in the deployment models documentation.

[2020-05-05 17:29] askmeegs commented on #7168
Yes, this issue can be closed. Thanks!

[2020-05-06 17:49] #7081 closed

[2020-05-08 14:13] linsun opened #7243 "Central istiod configuration step for multicluster"
This doc is just a draft to help folks who want to test this feature.

1. **main cluster**, deploy with instruction: https://istio.io/docs/setup/install/multicluster/shared/#main-cluster, along with centralIstiod=true

2. **remote cluster**, deploy using https://istio.io/docs/setup/install/multicluster/shared/#remote-cluster, along with pilot.enabled=false, and centralIstiod=true
(And patch system

[2020-05-08 17:22] elfinhe opened #7244 "No instructions for how to prune old version resources in canary upgrade docs/setup/upgrade/index.md"
We may need to add a `clean up` section for canary upgrade to prune the unused old version resources in the end.

https://preliminary.istio.io/docs/setup/upgrade/

[2020-05-10 12:19] sdake commented on #7168
After speaking with @costinm on this topic, he has indicated single network VM isn't viable for many reasons. Chief among these are
- service IPs are not addressable in most/all K8s environments.
- Using a gateway permits addressing of a service IP.
- After several git blames, I still do not understand why single network virtual machine was merged into the documentation.

The best I have been able

[2020-05-10 12:40] sdake commented on #7168
The rendered document https://deploy-preview-7248--preliminary-istio.netlify.app/docs/setup/install/multicluster/virtual-machine/. The document should go up a level, and I believe @rcaballeromx's document should parallel it as just another install document.

Cheers
-steve

[2020-05-11 04:57] michaeldduffield opened #7254 "Issue with docs/tasks/traffic-management/egress/wildcard-egress-hosts/index.md"
The `istioctl manifest generate` command listed in step 3 of the section [Setup egress gateway with SNI proxy](https://istio.io/docs/tasks/traffic-management/egress/wildcard-egress-hosts/#setup-egress-gateway-with-sni-proxy) does not appear to be equivalent to the `helm template` command provided in the documentation of previous istio versions, as it other artefacts in addition to the gateway `Ser

[2020-05-11 07:28] mkretz commented on #7063
@ronamosa, thanks for putting this together! We are currently struggling with exactly the same behaviour (i.e. got an mTLS origination sample to work but seeing other sidecars trying to find the certificates which are only relevant for `istio-egressgateway`).

[2020-05-11 09:28] shamsher31 commented on #7203
The same problem exists for the following pages.

https://istio.io/docs/reference/config/security/request_authentication/
https://istio.io/docs/reference/config/security/peer_authentication/

The WorkloadSelector is referenced from [istio/api](https://github.com/istio/api/blob/master/type/v1beta1/selector.proto#L32), somehow it's not able to generate doc page for workloadSelector during `make clea

[2020-05-11 10:03] shamsher31 commented on #7197
I believe this is true [as per envoy proxy](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route/v3/route_components.proto#envoy-v3-api-field-config-route-v3-routeaction-timeout):

@frankbu @ericvn Please confirm.

Ref: https://istio.io/docs/concepts/traffic-management/#timeouts

[2020-05-11 11:02] shamsher31 opened #7256 "Invalid year in footer for page 404.html"
If you hit the following pages, it will display an invalid year in footer.

https://istio.io/docs/reference/config/type/v1beta1/workload-selector.html#WorkloadSelector

![1 5 2](https://user-images.githubusercontent.com/2920003/81554499-872cc800-93a4-11ea-9583-40610c3cd85e.png)

https://preliminary.istio.io/docs/reference/config/type/v1beta1/workload-selector.html#WorkloadSelector

![1 6](https://

[2020-05-11 11:51] sdake commented on #7168
@askmeegs after further review, I found that for whatever reason the virtual machine documentation was split into single and multiple network. In the context of virtual machines, single and multiple networks don't make any sense. In any modern K8s environment, it is not possible to address an L3 service address. When I had originally responded on this issue tracker, I had thought you were talking

[2020-05-11 12:06] sdake commented on #7168
@liminw Welcome to the virtual machine effort! See this PR and related PRs for what is currently state of the art with virtual machines. I am sure @irisdingbj is willing to share the work required to turn virtual machines into beta/stable over the coming 1.7 cycle.

The feature status page marks credentials distribution as beta, although there is no installation documentation for this feature and

[2020-05-11 16:41] ericvn opened #7261 "Use of Pilot, Mixer, Galley"
Is there a doc somewhere that says how the various components should be used in the current doc.

For example, I see

- Each Istio component (Pilot, Galley, Mixer)
- Mixer, Pilot, and Galley all implement

[2020-05-11 16:50] ericvn opened #7262 "Component Introspection page."
https://preliminary.istio.io/docs/ops/diagnostic-tools/controlz/

The `istioctl dashboard controlz <podname>` command is missing the namespace.

I had to do `istioctl dashboard controlz istiod-6988499746-z2b97 -n istio-system` to get the command to work.

There is a separate issue on how we should treat the pilot, galley, mixer components on this page as well. Should it just be istiod?

[2020-05-11 17:09] #7197 closed

[2020-05-11 17:38] ericvn opened #7263 "Istioctl profiles changes"
https://preliminary.istio.io/docs/setup/additional-setup/config-profiles/

The `separate` profile was removed and `preview` was added. From https://github.com/istio/istio/blob/master/manifests/profiles/preview.yaml
[code]

[2020-05-12 13:08] #7263 closed

[2020-05-12 13:53] cedricroijakkers commented on #7063
@ronamosa Could you please post the final yaml files of your working setup here? Because I'm stuck in the exact same issue, I've tried to follow along with your modifications, but I still cannot get it to work.

[2020-05-12 17:29] howardjohn opened #7270 "Issue with docs/tasks/traffic-management/tcp-traffic-shifting/index.md"
This page doesn't mention you need to modify the ingress service to include a TCP port (or use demo profile)

[2020-05-12 17:30] sdake commented on #7168
there are multiple fixes for this problem - so reopening. Docs remain.

[2020-05-12 17:35] mandarjog opened #7271 "Update Performance and Scalability page for 1.7"
1. Update with latest performance numbers for 1.6 with fortio.
2. Add Night Hawk numbers and specify why we are adding these tests.

[2020-05-12 17:53] douglas-reid opened #7273 "Update Observability Page for 1.6"
https://preliminary.istio.io/docs/concepts/observability/ references Pilot and Mixer and has outdated access logging examples.

This should be updated to be more 1.6-friendly.

[2020-05-12 20:53] douglas-reid opened #7280 "Update example metrics in Collecting TCP Metrics task"
Request to update the example metrics as follows:

- make them multi-line (one line per dimension) to improve readability
- use `canonical_service_name` and `canonical_service_revision` labels instead of `version` and `service`

[2020-05-12 20:55] douglas-reid commented on #7280
Also, if we could add a brief section at the end of the task about when the various metrics are collected (timers, etc.), that'd be wonderful.

[2020-05-12 20:57] douglas-reid commented on #7184
I ran into this issue as well.  But I'm torn on this, as the task also doesn't walkthrough installing bookinfo. And I _think_ it might be OK to assume that the gateway was added during that basic install. @gargnupur for thoughts.

[2020-05-12 21:04] douglas-reid opened #7281 "Use canonical service-based workload selector in Classify Metrics task"
I think it would be useful to start transitioning away from:

[code]

for workload selection, given that Istio is transitioning to canonical service labels (and away from app).

This issue is a tracking issue for updating the example config in the task at: https://preliminary.istio.io/docs/tasks/observability/metrics/classify-metrics/

[2020-05-12 21:24] douglas-reid commented on #7281
Related: it might be nice to include an example Prom query for validation:

`sum(istio_requests_total{destination_canonical_service="reviews"}) by (request_operation)`

[2020-05-12 21:28] gargnupur commented on #7184
@douglas-reid , @therealmitchconnors : How about adding the information about GATEWAY_URL like in this task? https://preliminary.istio.io/docs/tasks/observability/metrics/querying-metrics/#querying-istio-metrics.. that would make it useful?

[2020-05-12 22:28] douglas-reid opened #7284 "Remove `has` test in response section of classify metrics task"
Need to switch to just: `istio_responseClass` to get everything working.

We can give examples of `has()` working in the other tasks and keep this one simple and direct.

[2020-05-12 23:14] douglas-reid opened #7286 "Add note on Istio Standard Metrics page for multi-cluster"
Non-blocking.

We should update the Istio Standard Metrics page to include a note about the following dimensions:
- `destination_cluster`
- `source_cluster`

They are only included in multi-cluster scenarios.

/cc @nmittler @frankbu

[2020-05-12 23:31] nmittler commented on #7286
Ideally, these metrics should just always be included rather than being special-cased for multicluster. We're moving toward a model where multicluster is the default configuration WRT docs. Already, the multicluster install docs for 1.6 are configuring the first cluster in such a way that it will work with multicluster and vms. These docs will (very soon) completely replace the installation guides

[2020-05-12 23:51] douglas-reid opened #7287 "Fix incorrectly placed comment in Tracing customization task"
For: https://preliminary.istio.io/docs/tasks/observability/distributed-tracing/configurability/

There is a section for Env vars, with a suggested config of:

[code]

But, `environment` is not the user-defined name. Rather, `tag_env` is.

The comment should be moved to the line above.

[2020-05-13 00:15] douglas-reid opened #7288 "Add instruction on how to apply the IstioOperator config in the Tracing Configurability task"
The task works as expected, but there is no guidance on how to apply the built up customization at install. This would be nice for people new to Istio, etc.

I suggest:
- Adding an example file with some options filled in
- the `istioctl` command needed

Maybe:

[code]

and:

`istioctl manifest apply --set values.tracing.enabled=true -f tracing.yaml`

?

[2020-05-13 01:13] #7273 closed

[2020-05-13 07:24] shamsher31 opened #7298 "Querying Metrics from Prometheus: Type column is missing"
Ref: https://preliminary.istio.io/docs/tasks/observability/metrics/querying-metrics/

Current output:
[code]
Expected output:
[code]

[2020-05-13 09:41] shamsher31 opened #7300 "Egress Gateways: Update curl response from HTTP/1.1 to HTTP/2"
Ref: https://preliminary.istio.io/docs/tasks/traffic-management/egress/egress-gateway/

Current output for curl:

[code]

Expected output for curl:

[code]

[2020-05-13 11:31] taromurata opened #7303 "Issue with docs/setup/getting-started/index.md"
I think the command below
`$ echo http://$GATEWAY_URL/productpage`
should be
`$ curl http://$GATEWAY_URL/productpage`
or else.

[2020-05-13 13:48] #7287 closed

[2020-05-13 13:49] #7298 closed

[2020-05-13 14:09] #7300 closed

[2020-05-13 14:46] shamsher31 commented on #7303
[code]

I think here we are asking the user to copy URL and paste it into browser URL to test, as we are testing outside access to `productpage`. So I think `echo` is correct.

[2020-05-13 15:15] taromurata commented on #7303
Ok, I mis read the doc...
Thank you for your comment.

[2020-05-13 15:15] #7303 closed

[2020-05-13 17:50] carolynhu commented on #7271
Our perf pipeline needs to gather enough data before publishing the Nighthawk number. For now, we will only publish fortio number. We will add Nighthawk number later on.

[2020-05-13 20:09] #7284 closed

[2020-05-14 03:19] ronamosa commented on #7063
hey @cedricroijakkers I documented the whole experience here https://iamronamo.io/documentation/2020-04-08-Istio-MTLS-with-External-Endpoint/ cant find where I saved the yamls from this PoC, but I'll see if I can dig them out. Hope that helps.

[2020-05-14 06:36] scraly opened #7316 "The same documentation URL for AuthenticationPolicy (namespace-wide) display two resource type different depending on the localisation"
HI,

About AuthenticationPolicy we saw a difference in the documentation between 2 URLs. It's the same URL but in the second case it's for "pt-br" language/country.

*
https://istio.io/docs/tasks/security/authentication/authn-policy/#namespace-wide-policy

--> Talk about **PeerAuthentication** resource type

<img width="1090" alt="image" src="https://user-images.githubusercontent.com/2543381/81900

[2020-05-14 10:51] shamsher31 opened #7317 "[release-1.6] Plugging in existing CA Certificate: Verifying the certificates --filename must be specified"
Ref: https://preliminary.istio.io/docs/tasks/security/cert-management/plugin-ca-cert/#verifying-the-certificates

Setting up istio with `profile=demo`, and creating `http` and `sleep` pod, the following command fails and stop further execution in verifying certificate step.

[code]

Related: https://github.com/istio/istio/issues/23850

[2020-05-14 12:34] sdake opened #7318 "virtual machine examples need a bit of refinement"
The virtual machine examples are probably ok as is, but the install directions in the virtual machine examples are abysmally bad and just don't work. The install problems are tracked in issue https://github.com/istio/istio.io/issues/7168.

IMO this is a TRUE RB, although we shipped with this regression in 1.5, so shipping an old regression is borderline P0.

As such, I'll accept the P0 for now...

[2020-05-14 21:36] jadematt-msft opened #7322 "Issue with news/releases/1.5.x/announcing-1.5/upgrade-notes/index.md"
https://istio.io/news/releases/1.5.x/announcing-1.5/upgrade-notes/#mixer-deprecation

The Mixer Deprecation document points to https://tinyurl.com/mixer-deprecation , which is pointing to a locked Google Doc.

Can this document be made publicly available and/or not tied to a person's Google doc file?

[2020-05-15 03:16] sdake opened #7325 "Installing the sidecar should be converted to a task"
The documentation is functional, although inconsistent with the website.

[This document](https://preliminary.istio.io/docs/setup/additional-setup/sidecar-injection/#more-control-adding-exceptions) should be converted to at least 3 tasks.

1. The original documentation should be a task.
1. he added [policy section](https://preliminary.istio.io/docs/setup/additional-setup/sidecar-injection/#policy)

[2020-05-15 05:17] carolynhu opened #7326 "Issue with docs/setup/install/multicluster/shared/index.md"
When main-cluster and remote-cluster are not in the same network, commented out `istio-remote0-cluster.yaml`, `components` field and run `istioctl --context ${REMOTE_CLUSTER_CTX} manifest apply -f istio-remote0-cluster.yaml`. I got the following error:

[code]

I'm using the 1.6-latest release `istioctl` binary.

[2020-05-15 08:07] shamsher31 commented on #7326
Ref: https://preliminary.istio.io/docs/setup/install/multicluster/shared/#remote-cluster

Maybe it's an indentation issue when uncommenting the `components` config.  `components`  should be aligned properly with `values`.

[code]
As `component` is not the part of `v1alpha1.Values` API, if it is indented incorrectly inside `spec.values.components`, It will throw error that you mentioned.

[2020-05-15 08:17] carolynhu commented on #7326
@shamsher31 yeah, I did not notice this is an indentation issue. Thanks, I will close this ticket.

[2020-05-15 08:17] #7326 closed

[2020-05-15 08:32] shamsher31 commented on #7316
Thanks @scraly for taking the time to report the issue. The docs under `pt-br` are maintained by different language teams, so occasionally it takes time to update the docs. Meanwhile, you can refer `en` docs which are updated frequently.

As per the [latest updates](https://github.com/istio/istio/pull/20829) `PeerAuthentication` is the right resource type for namespace wide policy.

[2020-05-15 09:55] shamsher31 opened #7329 "Distributed Tracing Overview: Python and Java code snippets needs to be updated."
Ref: https://preliminary.istio.io/docs/tasks/observability/distributed-tracing/overview/#trace-context-propagation

Code snippet for [Python includes more header](https://github.com/istio/istio/blob/fc099f72404973929afebab1e9fec32e9a5e5393/samples/bookinfo/src/productpage/productpage.py#L185).

[code]
Code [snippet for Java includes](https://github.com/istio/istio/blob/a89df485db39e86866b1eb3d80f8

[2020-05-15 14:59] shamsher31 commented on #7317
Closed with https://github.com/istio/istio/issues/23850

[2020-05-15 14:59] #7317 closed

[2020-05-15 17:43] sdake opened #7332 "IPV6 is not supported. Add a deprecation to the feature status page."
https://preliminary.istio.io/about/feature-stages/#core

See other deprecations.
Additionally, the release notes must be modified to indicate the deprecation.

[2020-05-15 17:52] #7286 closed

[2020-05-15 17:57] #7329 closed

[2020-05-15 18:55] howardjohn commented on #7332
Why are we "deprecating" it? I think describing it as alpha is perfect. It works fine more or less (I have been running it a bit recently) but is undertested. It will be fully automated tested by 1.7 so I am not sure we need to deprecate it really

[2020-05-15 18:55] howardjohn commented on #7332
I think on TOC we were discussing dual stack not pure ipv6

[2020-05-15 21:05] jacob-delgado commented on #7332
cc @louiscryan @linsun @rshriram @dcberg @smawson @duderino

The meeting minutes say to remove this, but would like it for a TOC member to rectify this. I have a draft PR to remove this.

[2020-05-16 04:58] sdake commented on #7332
The conversation moved pretty fast. The question I asked was "Do you want to remove IPv6 from the supported list of features for 1.6" the answer was "yes, please assign to me" from @nrjpoddar. I could have misunderstood the answer.

I assigned to @jacob-delgado as @nrjpoddar seemed busy at the time.

Cheers
-steve

[2020-05-16 05:34] jacob-delgado commented on #7332
Thanks for the clarification. When you said colleague I was thinking Brian as a RM. Its’s been a long day.

[2020-05-16 09:53] clarketm commented on #6333
Unfortunately, the owners of the `google-bot` cannot fix the race condition. As a alternative resolution, I am adding _conditional label_ support to the cherrypicker plugin: https://github.com/kubernetes/test-infra/pull/17615. This will allow us to to react to the `cla: no` label event and _explicitly_ override it with the `cla: yes` label.

[2020-05-16 12:45] nrjpoddar commented on #7332
Alpha seems fine to me, if we have any other tasks/docs for IPv6 or dual stack we should hide it or put a warning in it.

[2020-05-16 12:47] nrjpoddar commented on #7332
@sdake yeah, I was thinking about broader tasks or Ops docs and not removing IPv6 support completely as it’s currently alpha. If you or TOC members feel we should completely remove it, happy to do that too. Yeah, the conversation moved pretty fast..

[2020-05-17 06:26] hobbytp opened #7344 "Issue with docs/ops/diagnostic-tools/proxy-cmd/index.md"
it still uses 15001 for both inbound and outbound direction traffic, in fact, this behavious is changed, 15006 for inbound and 15001 for outbound traffic now, please help to update it.

[2020-05-17 08:35] sdake commented on #4891
this looks good now.

[2020-05-17 08:35] #4891 closed

[2020-05-17 08:36] sdake commented on #4898
problem remains in 1.6.

[2020-05-17 08:47] sdake commented on #7332
@nrjpoddar Not my fight.

I do want to ensure our current feature lifecycle is followed, [to the letter](https://github.com/istio/community/blob/master/FEATURE-LIFECYCLE.md). I accepted the conversation in the TOC to mean IPv6 is i"in-development".

IMO to meet an ALPHA level feature stage, documentation is mandatory. Unfortunately, the current feature lifecycle is a little vague on the documentat

[2020-05-17 08:50] sdake commented on #7332
I don't remember mentioning the word colleague, but are you not a colleague? I consider you one, hence the assignment.

Cheers
-steve

[2020-05-17 09:03] sdake commented on #7173
for some reason I had added two unrelated comments to the same issue tracker. closing this one in favor of https://github.com/istio/istio/issues/23912

[2020-05-17 09:03] sdake commented on #7173
For future reference, the first comment appears to have been repaired.

[2020-05-17 09:03] #7173 closed

[2020-05-17 13:34] nrjpoddar commented on #7332
Thanks Steve for your clarification, I will iron it out with TOC and Costin and then make sure the necessary changes are merged.

[2020-05-17 16:04] costinm commented on #7332
AFAIK there are 3 problems:
1. While we did have IPv6 support for some time - the automated tests are
no longer running, and they need to be restored.

2. We do not support 'dual stack' - this needs to be reflected in the doc
for 1.6

3. And we need to fix the 'dual stack' support for 1.7

Like CNI, users don't have a choice - if their infrastructure is based on
IPv6 we can't just say 'sorry, don'

[2020-05-18 21:21] luislhl commented on #6884
@lhmoraes , did you find out how to do this?

[2020-05-19 10:28] shamsher31 opened #7355 "Verifying connectivity to Istiod fails"
Ref: https://preliminary.istio.io/docs/ops/diagnostic-tools/proxy-cmd/#verifying-connectivity-to-istiod

[code]

[2020-05-19 14:27] #7355 closed

[2020-05-19 15:02] dedsm opened #7357 "Egress gateways _do_ work with minikube"
I was trying https://istio.io/docs/tasks/traffic-management/egress/egress-gateway/ in my local minikube installation and it just works.

The only thing that doesn't work is the network policies by the lack of a network policy provider, but that can also be solved by starting minikube with the `-network-plugin=cni --enable-default-cni` options and installing cilium as specified in https://kubernete

[2020-05-19 16:11] #7344 closed

[2020-05-19 16:23] #7168 closed

[2020-05-19 17:24] smawson commented on #7332
Given this is already listed as alpha in 1.5 let's just leave it as alpha, and maybe update the description to clarify that dual stack is not supported (assuming it was never meant to be supported).

[2020-05-19 17:57] costinm commented on #7332
Sounds good.

Initial automated test was for single-stack ipv6.
Afaik original code handled dual stack - but refactorings and lack of
explicit test ( and removal of some test suites) resulted in a regression.

On Tue, May 19, 2020, 10:24 Sven Mawson <notifications@github.com> wrote:

[2020-05-19 19:39] #7332 closed

[2020-05-21 16:55] linsun commented on #7243
Created a wiki page for folks to collaborate on the docs for this, already easier to allow others to follow steps. cc @GregHanson @irisdingbj

https://github.com/istio/istio/wiki/Central-Istiod-manages-remote-data-plane

Moved the create remote secret cmd to be after istiod-remote installation per @GregHanson 's feedback.

[2020-05-21 17:05] dsbos opened #7374 "Issue with blog/2020/multiple-control-planes/index.md"
In the https://preliminary.istio.io/blog/2020/multiple-control-planes/#understanding-upgrades section, the image doesn't show up. I see a Google Slides message saying "You need access".  (This is supposed to be a public-access article, right?)(

[2020-05-21 17:08] dsbos opened #7375 "typo? on docs/setup/upgrade/index.md"
"there is not cross-version communication" probably should be
"there is no cross-version communication"

[2020-05-21 19:19] linsun opened #7378 "Write a test for ingress gw without TLS termination"
**Bug description**

Create test for this page:  https://preliminary.istio.io/docs/tasks/traffic-management/ingress/ingress-sni-passthrough/

[2020-05-21 20:22] mandarjog opened #7379 "Setup versioned doc site with Istio release, not after the next release."
Doc site has the following structure

* preliminary.istio.io  which points to unreleased / master version of the doc.
* istio.io --> currently released version of the doc.
* archive.istio.io/${version}

### Problem
The current structure makes it impossible to send out version specific links until the next version is released.
For example istio 1.5 had a specific way of configuring telemetry, and I

[2020-05-21 20:40] mandarjog commented on #7379
cc @gnarled-cipher

[2020-05-21 22:32] davidhauck commented on #7379
I'm actively working on a design doc to re-think how we do archives: https://docs.google.com/document/d/17w5O_fF2BBjCGbeHxI82qSKZG6K6JSF9wcvflkdBNgQ

It's a WIP right now, but let's make sure the design takes this into account.

[2020-05-22 23:50] mlazowik opened #7390 "All installation docs (simple/custom) should state that the namespace has to be created manually since 1.6"
Release notes for 1.6 say:

As far as I see the general installation docs do not mention the namespace creation step.

[2020-05-25 09:50] jbrook opened #7394 "1.5 docs are not available at archive.istio.io"
It seems that the 1.5 docs are not published in the archive at https://archive.istio.io/. The badges on this repo show failing Netlify tasks.

[2020-05-25 20:45] boredabdel commented on #7394
Is it possibly related to the failed build for archive.istio.io ? https://app.netlify.com/sites/archive-istio/deploys

[2020-05-26 07:38] shamsher31 commented on #7374
Yes, I can see this issue. @howardjohn can you PTAL ?

![not-access](https://user-images.githubusercontent.com/2920003/82872788-24fdc680-9f51-11ea-9612-788fc15281e2.png)

[2020-05-26 15:04] brian-avery commented on #6851
Closing this as failures are no longer commonly occurring.

[2020-05-26 15:04] #6851 closed

[2020-05-26 15:04] brian-avery commented on #6852
Closing this as failures are no longer commonly occurring.

[2020-05-26 15:04] #6852 closed

[2020-05-26 15:05] brian-avery commented on #6853
Closing this as failures are no longer commonly occurring.

[2020-05-26 15:05] #6853 closed

[2020-05-26 15:05] brian-avery commented on #6854
Closing this as failures are no longer commonly occurring.

[2020-05-26 15:05] #6854 closed

[2020-05-26 15:05] brian-avery commented on #6855
Closing this as failures are no longer commonly occurring.

[2020-05-26 15:05] #6855 closed

[2020-05-26 15:06] brian-avery commented on #6856
Closing this as failures are no longer commonly occurring.

[2020-05-26 15:06] #6856 closed

[2020-05-26 17:12] justinpettit commented on #6662
That PR was merged.

[2020-05-26 17:12] #6662 closed

[2020-05-27 04:52] shamsher31 commented on #7375
Not able to see the mentioned text in both.
https://istio.io/docs/setup/upgrade/
https://preliminary.istio.io/docs/setup/upgrade/

[2020-05-27 04:52] #7375 closed

[2020-05-27 10:47] kanapuli commented on #5239
Istio NLB seems to modify Security groups to expose the nodeports to all IPs. This could be a security problem.

[2020-05-27 14:56] brian-avery opened #7412 "Scaling issues on istio.io"
The Istio.io sidebar doesn't seem to scale properly. When browsing https://istio.io/docs/setup/additional-setup/cni/, I see:

![image](https://user-images.githubusercontent.com/8484260/83036466-a3696f80-a008-11ea-9063-3347653ef003.png)

[2020-05-27 14:56] brian-avery commented on #7412
This is on Google chrome on a 1920x1080 screen with zoom set at 150%

[2020-05-27 16:58] davidhauck commented on #7394
This should be fixed now. I'll close this unless there's a reason to keep it open

[2020-05-27 17:08] davidhauck commented on #6983
Swapped out htmlproofer's link checker for linkinator

[2020-05-27 17:08] #6983 closed

[2020-05-27 18:38] #7378 closed

[2020-05-28 01:17] woodliu opened #7419 "Issue with docs/tasks/traffic-management/egress/egress-control/index.md"
With Istio 1.6, command `kubectl logs $SOURCE_POD -c istio-proxy | tail` didn't show access log, but

[code]

[2020-05-28 07:07] shamsher31 commented on #7412
Related https://github.com/istio/istio.io/issues/6912

[2020-05-28 14:14] #7280 closed

[2020-05-28 14:14] #7184 closed

[2020-05-28 16:39] Lealikeintea opened #7425 "Keyboard focus indicator not visible in homepage body content"
When navigating through istio.io via keyboard using the tab key, the focus indicator is not visible in  the main body content on the homepage, violating two WCAG accessibility principles (linked below).

[2.4.7 - Focus Visible (Level AA)](https://www.w3.org/WAI/WCAG21/quickref/?versions=2.0#focus-visible) - Any keyboard operable user interface has a mode of operation where the keyboard focus indic

[2020-05-28 16:48] Lealikeintea opened #7426 "Keyboard focus indicator lost in left rail menu; menu headings not expandable in istio.io/docs"
When navigating through istio.io/docs via keyboard using the tab key, the focus indicator is not visible in the left side rail menu and the side menu headings are not able to be expanded, violating three WCAG accessibility principles (linked below).

[2.4.3 - Focus Order (Level A)](https://www.w3.org/WAI/WCAG21/quickref/?versions=2.0#focus-order) - If a Web page can be navigated sequentially and t

[2020-05-28 17:07] Lealikeintea opened #7427 "Keyboard focus indicator lost in left rail menu on istio.io/news; unable to open headers"
When navigating through istio.io/news via keyboard using the tab key, the focus indicator is not visible in the closed headings in the left side rail menu, causing the user to lose their place and violating three WCAG accessibility principles (linked below). Additionally, the user is unable to select and open the necessary left side rail menu headers to see the sub-menu options because the focus i

[2020-05-28 17:18] Lealikeintea opened #7428 "Empty state button on istio.io homepage"
There is an invisible button on the lower eighth of the istio.io homepage with no text content or alt-text, violating two WCAG accessibility guidelines (linked below). While the button is not visible, it is present to screen readers and keyboard navigation, and can create confusion when navigating through the site.

[1.1.1 Non-text Content (Level A)](https://www.w3.org/WAI/WCAG21/quickref/?version

[2020-06-02 05:38] pablolibo commented on #7063
@ronamosa thanks for your report, you just saved my job :)

[2020-06-02 09:26] woodliu commented on #7419
The issue is I didn't Enable [Envoy’s access logging](https://istio.io/docs/tasks/observability/logs/access-log/#enable-envoy-s-access-logging), I think it should add more desription here like [this ](https://istio.io/docs/tasks/traffic-management/egress/egress-gateway-tls-origination/#before-you-begin)chapter.

[2020-06-02 13:44] cedricroijakkers commented on #7063
I tried following your steps, but I still keep getting errors 503. I've installed an stunnel instance now to do the ssl offloading, but still, it would be great to finally have this working in istio. Is there nobody who has a full working yaml configuration set that I can try?

[2020-06-02 14:19] mandarjog opened #7447 "Update request classification page with product page"
At present https://istio.io/docs/tasks/observability/metrics/classify-metrics/ uses reviews in the examples. One needs to send direct curl traffic to reviews in order to see different operationID show up.

Product page application has an exposed api that supports Get and List operations. Update the classification doc to use this instead.

[2020-06-02 14:23] istio-testing opened #7448 "[release-1.6] update doc to use istioctl install"
Manual cherrypick required.

#7396 failed to apply on top of branch "release-1.6":
[code]

[2020-06-02 15:19] #7394 closed

[2020-06-02 15:30] ericvn commented on #7390
The namespace is still created if it's not there during the install. It will not be deleted after Istio is removed. That is documented in #7156 in terms of adding text to remove the potentially extraneous namespace.

[2020-06-02 20:11] #4896 closed

[2020-06-02 20:13] adammil2000 commented on #4696
https://istio.io/docs/examples/microservices-istio/ completes this work.

[2020-06-02 20:13] #4696 closed

[2020-06-03 12:29] binc75 opened #7456 "Issue with blog/2020/multiple-control-planes/index.md"
Can not access the Google Doc document!

[2020-06-03 15:28] dsbos opened #7457 "Ambiguity re "ports" on docs/reference/config/networking/service-entry/index.html"
The page currently at https://istio.io/docs/reference/config/networking/workload-entry/#WorkloadEntry documents a "ports" fields as "The ports associated with the external service. ..."

That text seems to be confusingly ambiguous.  Does it mean:

- local ports (defined by the ServiceEntry) _to be associated_ with the external service (e.g., from which to forward to the actual/existing ports of th

[2020-06-03 16:51] brian-avery opened #7460 "Highlight Istio Contributors on Istio.io"
Looking at the Node.js website, they have a callout that randomly picks a contributor and thanks them for their work. I think adding something like this to the Istio website would be a great way to give our contributors their 30 seconds of fame.

![image](https://user-images.githubusercontent.com/8484260/83665026-d7104080-a598-11ea-8955-80c6e36008ac.png)

[2020-06-03 17:12] shamsher31 commented on #7448
Closed in https://github.com/istio/istio.io/pull/7449

[2020-06-03 17:12] #7448 closed

[2020-06-03 20:53] gbaufake commented on #6344
I am assigning myself on this issue.

I am trying to gather volunteers to work with this issue.

[2020-06-04 02:18] woodliu opened #7467 "Issue with docs/reference/commands/mixs/index.html"
Does ths mixs still work in Istio 1.6?

[2020-06-04 05:37] shamsher31 opened #7468 "Why Pre 1.7 docs with colour gradient not used for 1.6 docs."
1.7 Docs look better with the color gradient.

![1 7-header](https://user-images.githubusercontent.com/2920003/83718220-4138ec00-a652-11ea-986e-0dc281f6dd9e.png)
![1 7-buttons](https://user-images.githubusercontent.com/2920003/83718227-4433dc80-a652-11ea-80d4-f5eca26575b5.png)
![1 7-footer](https://user-images.githubusercontent.com/2920003/83718233-46963680-a652-11ea-8b05-dbf94ade4bff.png)

1.6 do

[2020-06-04 05:51] shamsher31 commented on #7460
That's a great idea. I think this might be useful.

https://github.com/all-contributors/all-contributors

![code](https://user-images.githubusercontent.com/2920003/83719572-fff60b80-a654-11ea-9e97-ac72ac443af2.png)
![code-1](https://user-images.githubusercontent.com/2920003/83719830-8dd1f680-a655-11ea-85b0-6e7b38196e24.png)

[2020-06-04 06:01] shamsher31 commented on #7456
Duplicate of https://github.com/istio/istio.io/issues/7374

[2020-06-04 06:01] #7456 closed

[2020-06-04 09:43] jonas-vadebo opened #7469 "Issue with docs/setup/additional-setup/config-profiles/index.md"
I have a problem with this profile matrix. Could it be more specific about other core components, for example, why is Pilot mentioned, and not the other core components(like Mixer, Citadel and Galley). Or maybe, should it not say Istiod now instead? Sorry but I would like to see this matrix being remade so that it is easier to see which components are being installed when choosing profile.

[2020-06-04 13:42] findstar opened #7470 "Can not see "Safely Upgrade Istio... Document""
On https://istio.io/blog/2020/multiple-control-planes/

2020 Post "Safely Upgrade Istio using a Canary Control Plane Deployment"

I can not see "google slides"

https://docs.google.com/presentation/d/e/2PACX-1vSbj4B52oEtQ8wGvmaSy29Zao3Q8Ex-w6JaripuJThMTK4F4bxDZkyNUSaexz8Rp8v4QCuDB2dAZkrv/embed?start=false&loop=true&delayms=3000

It need to change visibility to public.

[2020-06-05 04:13] adiprerepa commented on #7460
Awesome, +1.

[2020-06-05 05:20] mandarjog opened #7480 "Document IPTables magic"
A medium author has created an excellent schematic of istio iptables.
![Istio 1.5 Iptables](https://miro.medium.com/max/1400/0*9oaz9HHF2pYSNceL.png)

We need to incorporate that in istio.io reference or on the wiki.
@rootsongjc Can you add your diagram to istio.io, it is really excellent.

[2020-06-05 10:11] shamsher31 commented on #7470
Duplicate of https://github.com/istio/istio.io/issues/7374

[2020-06-05 10:11] #7470 closed

[2020-06-05 10:12] shamsher31 commented on #7374
I think many people are facing this issue, @howardjohn  can you please help here ?

[2020-06-05 13:55] howardjohn commented on #7374
I don't really know how to fix this. It's not possible to share docs in the
istio org 100% public

On Fri, Jun 5, 2020, 3:13 AM Shamsher Ansari <notifications@github.com>
wrote:

[2020-06-05 16:17] sachinsaju opened #7486 "pt-br/docs/tasks/traffic-management/ingress/ingress-certmgr/ have to be removed"
The task mentioned in https://istio.io/pt-br/docs/tasks/traffic-management/ingress/ingress-certmgr/ is no longer available in the english version of the website.Some developers are stuck in this task since the installation step mentioned is no longer valid.

[https://stackoverflow.com/questions/62213857/error-on-installing-istio-failed-to-apply-manifests](https://stackoverflow.com/questions/622138

[2020-06-05 17:55] #7469 closed

[2020-06-05 21:21] ericvn commented on #7467
@douglas-reid Do you have some information on this request?

[2020-06-05 21:26] ericvn commented on #7457
The document comes from `https://github.com/istio/api/blob/release-1.6/networking/v1alpha3/workload_entry.pb.html`.

[2020-06-05 21:28] ericvn commented on #7457
@rshriram Any input on this?

[2020-06-05 21:43] douglas-reid commented on #7467
Mixer should still work in 1.6. In should work in 1.7 as well. It will be removed in the 1.8 release.

[2020-06-08 17:55] dsbos opened #7503 "No doc. for docs/reference/config/istio.operator.v1alpha1/index.html#ServicePort"
In the section at https://istio.io/docs/reference/config/istio.operator.v1alpha1/#ServicePort, none of the members/fields has any specification beyond the name, data type,and optionality (i.e., no description text).

For example, what values can the `protocol` member take? This documentation neither specifies that nor points to existing documentation that also applies here.  For another example, d

[2020-06-08 18:49] istio-testing opened #7506 "[release-1.5] Add entry on the (potentially) breaking change for resource visibility in Istio 1.5"
Manual cherrypick required.

#7496 failed to apply on top of branch "release-1.5":
```Applying: Add an entry on the (potentially) breaking change for resource visibility changes related to `VirtualService`s.
error: Failed to merge in the changes.
Using index info to reconstruct a base tree...
M	content/en/news/releases/1.5.x/announcing-1.5/upgrade-notes/index.md
Falling back to patching base and 3

[2020-06-08 23:48] niwatorrri opened #7508 "Needs to update `make test_status` for test coverage"
As we are now migrating to a new framework for doc testing, the `make test_status` command needs to be updated accordingly.

[2020-06-09 01:14] chadlwilson commented on #7506
@frankbu Created PR #7509 for the manual cherry-pick; although the PR hasn't linked itself here for some reason. Thanks for the help!

[2020-06-09 08:05] woodliu opened #7512 "Issue with docs/tasks/traffic-management/egress/egress-gateway-tls-origination/index.md"
I follow the [steps](https://istio.io/docs/tasks/traffic-management/egress/egress-gateway-tls-origination/#redeploy-the-egress-gateway-with-the-client-certificates) to learn istio. But when i finish the steps, the egress become STALE：
[code]
The istiod's log shows：
[code]
I check the path `/etc/certs/` in egress pod, but can't find it. Where is the path and how it been generated?

And when i clean

[2020-06-09 14:03] ericvn commented on #7503
Hello. If you actually look at the file: https://github.com/istio/istio.io/blob/release-1.6/content/en/docs/reference/config/istio.operator.v1alpha1/index.html in this case, you will see that the file is copied by the doc them from another repo (line 3): https://github.com/istio/api.

The file there that is copied into the doc is: https://github.com/istio/api/blob/release-1.6/operator/v1alpha1/ist

[2020-06-09 16:34] ostromart commented on #7503
Hi, these are all mirrors of k8s protos, copied here for validation (including k8s protos directly is not possible due to compatibility problems). There are definitely missing annotations of where some messages are copied from - I'll take care of those.

[2020-06-09 18:14] #7508 closed

[2020-06-09 19:36] ostromart commented on #7503
https://github.com/istio/api/pull/1464

[2020-06-09 20:34] niwatorrri commented on #7508
Issue closed. See comment [here](https://github.com/istio/istio.io/pull/7465#discussion_r437080238).

[2020-06-10 15:26] istio-testing opened #7521 "[release-1.6] Temporarily unpublish Gloo blog post"
Manual cherrypick required.

#7519 failed to apply on top of branch "release-1.6":
[code]

[2020-06-10 22:49] ostromart commented on #7503
Fixed: https://preliminary.istio.io/docs/reference/config/istio.operator.v1alpha1/

[2020-06-10 22:49] #7503 closed

[2020-06-11 00:28] woodliu commented on #7512
Does anyone help？

[2020-06-11 17:21] craigbox commented on #7521
closing for #7532

[2020-06-11 17:21] #7521 closed

[2020-06-11 17:57] istio-testing opened #7533 "[release-1.6] refactor(telemetry): move wasm telemetry docs to proxy extensions"
Manual cherrypick required.

#7525 failed to apply on top of branch "release-1.6":
[code]

[2020-06-11 18:54] linsun opened #7535 "Require 2 approvers for any istio.io blogs"
In one of the @istio/steering-committee meetings, it was decided we need 1 doc maintainer approval plus 1 additional approver from a steering committee member to ensure the blog content is technical and appropriate for istio.io without too much marketing information.

cc @nrjpoddar @rshriram @frankbu FYI

[2020-06-11 19:16] nrjpoddar commented on #7535
Thanks @linsun for letting us know. This change makes perfect sense to ensure quality and fairness in the community!

[2020-06-11 19:33] nschhina opened #7536 "Not waiting for deployment deletion leads to flaky test results"
To reproduce:
Deploy samples/sleep
Verify xyz...
Delete samples/sleep
Deploy samples/sleep // In a test right after previous test

export SOURCE_POD=$(kubectl get pod -l app=sleep -o jsonpath={.items..metadata.name})
// the command above can have 2 sleep deployments(1 terminating + 1 running) and
// SOURCE_POD would look something like "sleep-gibberish1 sleep-gibberish2"

now use SOURCE_POD in a c

[2020-06-11 19:58] frankbu commented on #7536
Yeah, we noticed this problem before and added a fix in samples.sh to deal with it: https://github.com/istio/istio.io/blob/5fbb14bedc06a5a8aeda25e9ae5c8c6538afa6f8/tests/util/samples.sh#L35.

But, that doesn't help if the sleep sample is started in a snip_ function, instead of using the startup_sleep_sample util function.

One of the framework improvements we have in mind, is that the test framewo

[2020-06-11 20:48] frankbu commented on #7535
Although good to add the approval requirement, the more important question is how to decide.

Some cases are pretty clear, but there is a large grey area of blogs that may look like advertising but are also a legitimate example of integration with Istio. This issue came up today, because of [this PR](https://github.com/istio/istio.io/pull/7520#issuecomment-642698599). My main objection is is that

[2020-06-11 21:11] istio-testing opened #7539 "[release-1.6] remove old pt-br files"
Manual cherrypick required.

#7538 failed to apply on top of branch "release-1.6":
[code]

[2020-06-12 01:13] linsun commented on #7535
Looks like we won't have an easy way to require 2 approvers in GitHub for a certain folder in a repo (we know how to do it for the entire istio.io repo) so it will rely on the steering member to do the check to see if the blog is appropriate or too much marketing/vendor info and request 1 doc maintainer approval as needed.  We do expect "blog published this week" to be on steering weekly agenda so

[2020-06-12 14:03] linsun opened #7543 "Update hosted k8s config param for CNI"
https://istio.io/latest/docs/setup/additional-setup/cni/#hosted-kubernetes-settings

We need to provide this config for IKS.  I've validated earlier version of Istio (before 1.0), and it worked.

[2020-06-12 14:13] frankbu opened #7544 "Remove obsolete istioio test framework code"
Now that we have a new [istioio test driver](https://github.com/istio/istio.io/blob/master/tests/doc_test_framework.go), the [old framework classes](https://github.com/istio/istio.io/tree/master/pkg/test/istioio) should be deleted.

The new framework is currently [using the Builder and Script classes](https://github.com/istio/istio.io/blob/1d7a2383bdc69714b72a3e1e31192edd3bcc2560/tests/doc_test_fr

[2020-06-12 14:16] linsun commented on #7543
cc @kramvan1

[2020-06-12 18:04] #6925 closed

[2020-06-12 18:55] #7190 closed

[2020-06-12 20:42] frankbu commented on #7539
Fixed by #7540

[2020-06-12 20:42] #7539 closed

[2020-06-12 20:55] #7467 closed

[2020-06-12 21:12] frankbu commented on #7374
@howardjohn, how about removing the Google slides and replace them in the doc with two subsections (In-place upgrade and Multiple control planes) and then just include the diagram images one by one, to walk through the sequences.

[2020-06-12 21:35] niwatorrri commented on #7544
I'm keeping part of the old classes as they are needed.
I'd also remove the `ENV` variable since the native mode is removed per [here](https://github.com/istio/istio/pull/24149).

[2020-06-15 17:55] GregHanson commented on #7512
Related issue https://github.com/istio/istio/issues/23910

[2020-06-16 15:33] Stormarov45 opened #7572 "White Space error in the demo.yaml profile for 1.5 and 1.6 for linux x86"
The last two lines for the demo.yaml file in the /manifest/profiles location has a missing nl/cr (mising blank line) that causes kiali not to load correctly. Due to not creating a kiali demo secret.

I had this problem with both 1.5 and 1.6 on a REHL platform using the newest version of Go and KinD.

The "values" segment of the file looks like this:
[code]

When you add the the blank line like thi

[2020-06-16 15:58] Stormarov45 commented on #7572
Here is an example of the describe pod kiali-xxx output:

Events:
  Type     Reason       Age                  From                         Message
  ----     ------       ----                 ----                         -------
  Normal   Scheduled    22m                  default-scheduler            Successfully assigned istio-system/kiali-d45468dc4-r2vqh to kind-control-plane
  Warning  Failed

[2020-06-16 21:34] craigbox opened #7574 "Make content versioning only apply to docs"
After #7515 we now have

* https://istio.io/latest/blog
* https://istio.io/v1.5/blog
* https://istio.io/v1.4/blog

We shouldn't have a different blog for each version; we should have a single blog, and only docs content should be versioned in this way.

Same for /news/, /faq/ and /about/, and maybe others.

[2020-06-17 20:03] davidhauck commented on #7574
Is this simply a URL change? I could easily do the following:

1) Remove /blog folder from archive releases
2) Add a [rewrite](https://docs.netlify.com/routing/redirects/rewrites-proxies/#limitations) from /blog to /latest/blog

Moving /latest/blog to /blog completely is a bit more work

[2020-06-18 09:56] dgn commented on #7572
The error suggests that Quay had issues

[2020-06-18 10:39] shamsher31 commented on #7419
You need to pass `--set meshConfig.accessLogFile="/dev/stdout"` to enable access logging. More descriptions are available in [before you begin section](https://istio.io/latest/docs/tasks/observability/logs/access-log/#before-you-begin).

[2020-06-18 10:39] #7419 closed

[2020-06-18 13:06] Stormarov45 commented on #7572
That's the problem. It sent me on a red herring for like 2 weeks. What really happened was that Kiali never created a secret to complete the x509 handshake with Quay.com

[2020-06-18 15:47] dgn commented on #7572
No, you don't need a secret for that. Kiali images are publicly accessible

[2020-06-18 16:01] Stormarov45 commented on #7572
And yet without it, it didn't work. So explain that one.

[2020-06-23 15:42] rvennam opened #7613 "Enable envoy access logging per pod"
This is a feature/doc request to enable envoy access logging per pod. For example, enabling access logs for ingress gateway pod or user pod is vital for debugging many issues.

The current tasks requires users to enable it for the entire mesh and requires a rerunning the istio installer with an additional flag.
https://istio.io/latest/docs/tasks/observability/logs/access-log/#enable-envoy-s-access

[2020-06-23 15:44] GregHanson commented on #7613
Would it be worth posting an example EnvoyFilter for gateway and sidecar?  For instance the following EnvoyFilter works for ingress gateway:
[code]

[2020-06-23 15:51] rvennam commented on #7613
@esnible  `istioctl proxy-config log` seems close but it only sets envoy logging level..not access log. Should this be extended to support access as well?  https://istio.io/latest/docs/reference/commands/istioctl/#istioctl-proxy-config-log

[2020-06-23 17:56] FWiesner opened #7615 "Please update the Egress gateway examples showing how to use the resources with `exportTo`"
The docs don't use `exportTo` for the egress tutorials. It would be great if that would be added, as for example the mesh external `ServiceEntry` seems to not allow using `exportTo: ["."]` at all (you'll get 503s) and `Gateway` documents don't support `exportTo` at all

[2020-06-23 18:33] rvennam commented on #7613
@GregHanson Your EnvoyFilter example works great and I think it's worth adding to the Istio documentation.

[2020-06-23 19:37] RichardSobreiro commented on #6884
Need help too.
I'm using k8s behind an azure application gateway ingress controller and need to modify grafana.ini in order to access the grafana portal.

[2020-06-24 13:34] dsbos opened #7619 "Doc. issue with docs/tasks/security/authentication/authn-policy/index.md"
The page says "... requests are in plain text ..." to refer to non-encrypted data.

However, "plain text" means text without formatting (well, other than formatting by line breaking,  indentation via space characters, etc.).

"Cleartext" is, or at least was, the term for unencrypted data, though Wikipedia claims that "plaintext" is now used for some meanings of "cleartext."

The text should say ".

[2020-06-24 19:40] ericvn opened #7621 "k8s-tests_istio.io_release-1.6_postsubmit fails 100% of the time"
https://prow.istio.io/job-history/gs/istio-prow/logs/k8s-tests_istio.io_release-1.6_postsubmit

The issue happens because we have:
[code]
and then

[code]
and so we see:
[code]

[2020-06-25 02:39] nvcnvn commented on #3254
Any update for gRPC LB with mTLS enabled?
(Just my personal feeling, Istio support gRPC but document mostly focus on HTTP/1.)

[2020-06-25 11:17] garfieldnate opened #7622 "clarify documentation on headers in HTTPMatchRequest"
The documentation in question is here: https://istio.io/latest/docs/reference/config/networking/virtual-service/#HTTPMatchRequest

Reading this, we thought the YAML file should contain no value for the *header name* entry itself, like so:

      http:
      - match:
          - headers:
              # just check for the presence of the header "my-header"
              my-header:

The key is `my-h

[2020-06-25 14:28] craigbox commented on #7574
I took an action from the [Docs WG meeting](https://docs.google.com/document/d/1RGb0NOp0J9QSIrMrZ6wokl16RbSfKHy-6NyTpOQdPa8/edit#heading=h.qj7gkw1tsxcs) to clarify what a "good" hierarchy would look like. We discussed this at the Steering Committee as promised, and the outcome remains that we would like to have:

**Unversioned**

/
/about
/blog
/events
/faq
/news
/search

**Versioned**
/docs/lates

[2020-06-25 16:49] dsbos opened #7625 ""ChannelAuthentication" on docs/reference/config/security/peer_authentication/index.html"
The page section currently at https://istio.io/latest/docs/reference/config/security/peer_authentication/#PeerAuthentication
refers to `ChannelAuthentication`, which apparently doesn't exist anymore.

[2020-06-26 13:40] dsbos opened #7628 "Possible omission on docs/reference/config/networking/sidecar/index.html/#WorkloadSelector"
The section currently at https://istio.io/latest/docs/reference/config/networking/sidecar/#WorkloadSelector says:

"WorkloadSelector specifies the criteria used to determine if the Gateway, Sidecar, or EnvoyFilter or ServiceEntry configuration can be applied to a proxy."

Should that list include PeerAuthentication?

I ask because the PeerAuthentication doc. currently has a reference to WorkloadSe

[2020-06-26 16:25] #7026 closed

[2020-06-26 18:45] frankbu commented on #6332
@clarketm Are you working on this? It's starting to become a big problem because we are losing track and missing changes sometimes, because the expected cherrypick never happens.

[2020-06-27 02:05] AEGQ opened #7637 "enableAutoMtls，default true ?"
### 1、 [mesh.go#L98](https://github.com/istio/istio/blob/d21ab33479af75d9386f6d4d067c4bd82971a7cb/pkg/config/mesh/mesh.go#L98)
`		EnableAutoMtls:              &types.BoolValue{Value: true},`

### 2、 **[docs: enableAutoMtls](https://istio.io/latest/docs/reference/config/istio.mesh.v1alpha1/#MeshConfig)**
![image](https://user-images.githubusercontent.com/16302289/85911788-f6c61c00-b859-11ea-8ff5-1b

[2020-06-28 22:08] niwatorrri commented on #7544
Further cleanup #7640

[2020-06-28 22:27] niwatorrri opened #7641 "Failed tasks/traffic-management/egress/egress-gateway-tls-origination/tls_test.sh"
I have found this test failed three times in build logs, e.g., in #7640, #7639 and #7638. Logs are attached here: [link1](https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio.io/7640/k8s-tests_istio.io/2434), [link2](https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio.io/7639/k8s-tests_istio.io/2432), [link3](https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio

[2020-06-29 21:03] #7637 closed

[2020-06-30 20:03] istio-testing opened #7649 "[master] CVE 2020 007 (slatekangaroo) release notes"
Manual cherrypick required.

#7648 failed to apply on top of branch "master":
[code]

[2020-06-30 20:03] istio-testing opened #7650 "[master] CVE 2020 007 (slatekangaroo) release notes"
Manual cherrypick required.

#7648 failed to apply on top of branch "master":
[code]

[2020-06-30 20:06] ericvn commented on #7650
@brian-avery will do the manual cherrypick.

[2020-06-30 20:08] ericvn commented on #7649
Duplicate of #7650

[2020-06-30 20:08] #7649 closed

[2020-06-30 20:50] brian-avery commented on #7650
Fixed by https://github.com/istio/istio.io/issues/7650

[2020-06-30 20:57] ericvn commented on #7621
Fixed by #7626

[2020-06-30 20:57] #7621 closed

[2020-06-30 21:24] niwatorrri commented on #7641
Solved in these [commits](https://github.com/istio/istio.io/pull/7635/files/9d82f95022590ea13a8a95fcb392ab740b390ffb..4b6bf97c1fbd6a7aa851b76308685f5d5a7fdc1d)

[2020-06-30 21:24] #7641 closed

[2020-07-06 16:47] ronaldpetty opened #7665 "Too many redirects (about)"
Hello,

The about page has issues linking, getting 301 loops on most of the links.

https://istio.io/latest/about/

For example, clink on:

Reporting Bugs

[2020-07-06 17:06] #7650 closed

[2020-07-06 20:46] craigbox commented on #7665
Working for me; we've been having issues with Netlify which should be fixed so it could have been related to a bad push.  Can you still repro?

[2020-07-06 20:49] davidhauck commented on #7665
I got a response from netlify that this was an issue earlier today and they are working on a fix. They said our site has been good for the past few hours, so hopefully that means everything works now.

[2020-07-06 20:56] ronaldpetty commented on #7665
Hi guys, I just checked again.  All the links that were looping appear good now.  Will close for now!

[2020-07-06 20:56] #7665 closed

[2020-07-07 02:46] linsun opened #7672 "Display if a doc page has been automated on istio.io"
@frankbu @brian-avery and doc team has done a lot of good work on istio.io test automation and there are metadata today in each page to indicate if a doc page has been automated with our new test framework. It is desirable to reflect that in the UI itself so users would have the visibility into that info as they try each page.

@qwertyuiop888 has kindly offered to look into this and been prototypi

[2020-07-07 17:14] jonmoter commented on #7374
Would it be possible to use the "Publish to the web" functionality of Google Slides?

According to [Google's support docs](https://support.google.com/docs/answer/183965?co=GENIE.Platform%3DDesktop&hl=en):

[2020-07-07 17:17] JimmyCYJ commented on #7512
cc @howardjohn do you have any idea what would cause Istiod generate that log "Invalid path: /etc/certs/root-cert.pem"?

[2020-07-07 17:27] howardjohn commented on #7512
Sounds like they have a Gateway or something that is invalid. https://istio.io/latest/docs/tasks/traffic-management/egress/egress-gateway-tls-origination/#configure-mutual-tls-origination-for-egress-traffic the doc is wrong, needs to use SDS

[2020-07-07 18:26] frankbu commented on #7374
@howardjohn WDYT?
@rcaballeromx do you know if/how to do this?

[2020-07-07 18:51] rcaballeromx commented on #7374
@howardjohn Embedding the slides is not an accessible solution. Not everyone in the community wants/can work with Slides and our documentation shouldn't require it. IMO, we can proceed as Frank mentions and create SVG images for each slide on the deck or alternatively, we could embed a video with voice over and captions to ensure accessibility.

[2020-07-07 20:51] JimmyCYJ commented on #7512
Tentatively assign to @GregHanson as this looks similar to https://github.com/istio/istio/issues/23910.
Also cc @incfly

[2020-07-09 00:36] howardjohn opened #7693 "docs regression for install"
#7502 cause a regression in the install docs. There were multiple warnings that were a result of countless issues created by users that were removed. Details in https://github.com/istio/istio/issues/25196#issuecomment-654375520

[2020-07-10 00:26] justinkillen opened #7700 "Extreme envoy memory usage when using a large number of http-match rules in a VirtualService"
I recently had a use case where we added ~500 certificates to a single ingress (via cert-manager), which caused memory to spike significantly, causing the ingress gateway pod to get stuck in an OOM crash loop.  Interim fix was to bump up memory - ended up at 12gib before it stopped OOM’ing.  Requiring more memory makes sense, but 12gib seems excessive.
Is there a best practice for using a large nu

[2020-07-10 00:28] justinkillen commented on #7700
Profiler saves: https://www.dropbox.com/sh/yuro43u2u7air8n/AACq88x1TgzpJ0k_6lv0dUdWa?dl=0

[2020-07-10 02:20] lambdai commented on #7700
Thanks for the profile.

I looked at 0007.heap. The major memory usage during this profiling is admin, which probably caused by fetching stats.
Another source is xDS.

Both of them should be temporary usage. It doesn't make sense to me that those account for 12G.

However, what I also see is that the cpu usage is 100%. Combing you are mentioning there is no or little workload. I would imagine the

[2020-07-10 02:22] lambdai commented on #7700
[profile006.pdf](https://github.com/istio/istio.io/files/4900445/profile006.pdf)

[2020-07-10 02:23] howardjohn commented on #7700
To get rid of any calls to stats you can scale Prometheus to 0 (or otherwise get it to stop scraping) and also disable the readiness probe on the pod - that also grabs stats, although it's a very small subset of stats

[2020-07-10 06:26] qiuhongshuai opened #7703 "Issue with docs/tasks/traffic-management/mirroring/index.md"
kubectl exec -it $SLEEP_POD -c istio-proxy -- sudo tcpdump -A -s 0 host $V1_POD_IP or host $V2_POD_IP
when I execute above command，I got an error like this:
`sudo: effective uid is not 0, is /usr/bin/sudo on a file system with the 'nosuid' option set or an NFS file system without root privileges?`
no nfs or other cinfigure

[2020-07-10 16:50] niwatorrri opened #7705 "TestDocs as extra testcase(s) in junit report of k8s tests"
Junit report was [added](https://github.com/istio/istio.io/blob/master/tests/tests.mk#L10) to the doc test framework. However, it appears that `TestDocs` itself also shows up as an individual test case (e.g., in [this log](https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio.io/7643/k8s-tests_istio.io/2500)), and sometimes it shows up to three times (e.g., in [this log](https://prow.

[2020-07-10 17:32] qwertyuiop888 commented on #7672
This is a great idea. An indicator would help users judge if problems running commands are their mistake, or possibly a problem with documentation. This is a prototype indicator.

![Screen Shot 2020-07-10 at 12 20 33 PM](https://user-images.githubusercontent.com/20189462/87181398-e2e1d780-c2a7-11ea-832e-dacfdbd40904.png)

[2020-07-10 18:10] nschhina opened #7708 "Automatically update istio/istio dependencies more frequently"
Right now if updates are done manually and only after every few weeks, the documentation testing might regress in istio.io and we wouldn't know until the istio/istio dependency is updated. This will take us very long to debug issues given the scope of changes that happen in istio/istio in matter of days. Instead we should leverage istio bot to do this automatically and once a day(hopefully).

[2020-07-10 18:11] nschhina commented on #7708
cc: @frankbu

[2020-07-10 19:46] linsun commented on #7672
@qwertyuiop888 LG!  What does the page that has automated testing look like?

[2020-07-10 19:46] linsun commented on #7672
Since you are already working on it :)

[2020-07-10 20:04] frankbu commented on #7708
We've discussed this in the doc WG but so far have decided that it's best to only pick up a new istio/istio build periodically, when a new or updated doc needs it. The problem with picking up a new build every day is that failures caused by istio regressions/bugs cause a disruption to the doc process - it causes every PRs to fail, even though it has nothing to do with anything in the PR.

Using is

[2020-07-10 20:24] frankbu commented on #7703
Fixed in Istio 1.5+ by https://github.com/istio/istio.io/pull/6787

[2020-07-10 20:24] #7703 closed

[2020-07-10 20:26] #7693 closed

[2020-07-10 22:01] qwertyuiop888 commented on #7672
It would look something like this. Right now it is using the checkmark icon, but it would be better with an icon more similar to the clock icon for reading time.
![Screen Shot 2020-07-10 at 5 01 03 PM](https://user-images.githubusercontent.com/20189462/87206278-010efe00-c2cf-11ea-9030-f820aaaaf6a4.png)

[2020-07-13 01:03] hobbytp opened #7715 "Issue with docs/setup/upgrade/index.md"
The "upgrading from 1.4.x" will not jump to correct link.
[code]
it will try to jump to
https://istio.io/latest/docs/setup/upgrade/#upgrading-from-1.4
But the correct one is
https://istio.io/latest/docs/setup/upgrade/#upgrading-from-1-4

[2020-07-13 01:15] arctiqgreg opened #7716 "Typo in prometheus federation doc"
in content/en/docs/ops/configuration/telemetry/monitoring-multicluster-prometheus/index.md
metrics_relabel_configs should be metric_relabel_configs

[2020-07-13 13:35] linsun commented on #7672
@qwertyuiop888 Thanks!  I was thinking the first page, it could show "Needs Automation" (which could link to the automation page @frankbu mentioned how to contribute to docs to help automate a page).

For the 2nd page, it could show "Commands Automated".

cc @brian-avery @ericvn for input

[2020-07-13 13:36] superarvind opened #7717 "invalid manifest is defined in example for AuthorizationPolicy"
With archived document https://archive.istio.io/v1.4/docs/reference/config/security/authorization-policy/#AuthorizationPolicy the manifest for deny-all authorization policy is incorrect. The same has been updated on latest document though.

[code]

We get an exception with the same

[code]

Since we are still at 1.4.3, it would be good to update the docs.

[2020-07-13 13:49] frankbu commented on #7672
@qwertyuiop888 what do you mean by `but it would be better with an icon more similar to the clock icon for reading time`? I think a green check mark or red x next to word `TESTED` would be good (no time indicator), since it means that the doc is tested against the release of the docs indicated on top left corner of the page. The word `TESTED` should be a clickable link that takes users to the doc

[2020-07-13 13:56] linsun commented on #7672
@frankbu thanks for the input!  I was debating on words `TESTED` @qwertyuiop888 used.  My only concern is we still do manual testing each release, certainly we don't have bandwidth to test each page with each RC or final release build, however many of these unautomated pages are still tested.  That is why I was hesitate to use words `NOT TESTED` on the page that is not automated yet.

[2020-07-13 14:08] frankbu commented on #7672
@linsun That's the reason I suggested the word `TESTED` should be a clickable link that explains exactly what it means. Saying something like "Commands Automated" is just more noise, but will still be totally unclear what that means, without a link. Keeping it as simple as possible (just one word (TESTED), a clickable link with a checkmark or x next to it would be best IMO.

We could improve it mo

[2020-07-13 14:14] linsun commented on #7672
@frankbu I think we are saying the same thing.   Clearly, it needs some explanation of the word(s) chosen.  I was more concerned with the pages that needs tests because I think that is the page users will have questions.  I don't often question things when there is a green checkbox. :)

I'm good with 1 word `TESTED` with a link to explain further.  Hover the word to show a quick explanation is an

[2020-07-13 14:15] frankbu commented on #7672
Btw, a tested doc is still not a 100% guarantee that it will work. There can be errors in the text portion of the doc that still can lead the user to run the wrong command, for example. Also, since we don't run the automated test on every platform, it could still be failing on the user's platform. We just need to be clear what exactly `TESTED` yes/no on the page means. I think the most value we mi

[2020-07-13 15:34] frankbu opened #7720 "Failed k8s tests report succeeded"
Even though some of the tests failed, sometimes the istio.io doc test summary says it succeeded.
Here's an example: https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio.io/7714/k8s-tests_istio.io/2556

[2020-07-13 15:52] sdake commented on #7374
Here is what I see when I attempt to share the deck more widely:

<img width="675" alt="Screen Shot 2020-07-13 at 8 48 08 AM" src="https://user-images.githubusercontent.com/755849/87325045-cf23b480-c4e5-11ea-97f3-60594715f1f3.png">

There are a few options. I have [recorded a video](https://youtu.be/POlpwBdXfbE). If subtitles are not already in the video, they are easily added.

Another option is

[2020-07-13 17:00] niwatorrri commented on #7720
Are there other tests that have been added lately? I noticed there are 30 tests reported.

[2020-07-13 17:21] nikhilbalekundargi opened #7723 "Istio installation error -"
Trying to install istio by generating the manifest and apply the yaml on the cluster.

Generated yaml using command -
`istioctl manifest generate > istio.yaml`

Attached the yaml for reference.
[istio.yaml.txt](https://github.com/istio/istio.io/files/4914074/istio.yaml.txt)

then applying the yaml on the cluster using -
`kubectl apply -f istio.yaml`

 this is giving below error -
[code]

while` is

[2020-07-13 18:00] frankbu commented on #7720
@niwatorrri 3 of the tests are currently disabled, but the PR associated with the above link is trying to re-enable them, for a total of 27 tests + 3 DocTests = 30 total.

It looks like this is a general problem, not just istio.io. https://github.com/istio/istio/issues/25463

[2020-07-13 18:00] #7720 closed

[2020-07-13 19:13] qwertyuiop888 commented on #7672
Thanks Frank and Lin for the feedback! I changed the icon and added the hover summary as well as links. I think this is an easy way to see which pages are tested, and to get users to write tests, especially if they just followed the commands and decided they want to help.

![Screen Shot 2020-07-13 at 11 29 53 AM](https://user-images.githubusercontent.com/20189462/87329888-57618400-c4fd-11ea-885e-4

[2020-07-13 20:15] frankbu commented on #7672
That looks pretty good, but don't change the text to `NEEDS TESTING`. Having a red x next to `TESTED` basically says that this doc doesn't have an automated test, which readers will understand when they click on the link. Saying `NEEDS TESTING` is too harsh, it makes it sound like this is some kind of preliminary doc that nobody has even tried yet, which it is not. We want users to understand that

[2020-07-13 20:19] davidhauck commented on #7672
Could we say something like "Tested by hand?"

[2020-07-13 20:32] frankbu commented on #7672
@davidhauck I think that should be explained after clicking on the link, for users that wonder: what does the red x or greed checkmark mean? The hover help is also a good place to make it clear that `TESTED` means automated test case exists - yes or no. @qwertyuiop888, what are you currently proposing for the hover help? A nice clear sentence there will help to make sure people aren't confused abo

[2020-07-13 20:36] linsun commented on #7672
I think I prefer a help or warning icon for `needs testing`.  red X could be quite concerning.

Alternatively, we only show icon for pages that have been automated.  That icon can help users to gain confidence in that page.

[2020-07-13 20:47] frankbu commented on #7672
I think encouraging people to help writing tests may be the biggest benefit of this feature, so I definitely don't want to only show the icon for pages that have already been automated.

That said, good point, that a red x might be too extreme, since red x usually means something is broken. Maybe a black/white/grey check or x would be better? This is definitely something that I think we might all

[2020-07-13 20:53] frankbu commented on #7672
A grey checkmark would be pretty intuitive - that means (basic) tested by hand, while green means (better) automated test. The hover help makes it clear we would prefer automated tests, so people might be inclined to help.

[2020-07-13 20:56] linsun commented on #7672
A grey checkmark, I like it :). seems pretty intuitive it is limited or manual testing.   Along with link/hover over texts to explain further, it will be pretty clear.

[2020-07-13 21:25] frankbu commented on #7708
Would it be possible to have istio/istio run the doc tests regularly (e.g., daily), as a validation step, so that istio.io will only ever pull verified builds for doc PR testing.

Alternatively, if we just pull istio/istio builds periodically, as needed, can we open a high priorty issue with a special label (e.g., doc-test-failure) that indicates an istio/istio regression that must be fixed asap?

[2020-07-13 21:43] nschhina commented on #7708
I think the second approach you suggested works better, a failing auto generated istio/istio dep update -> create high priority issue in istio/istio. This also doesn't block any future changes in istio/istio.io as a failed CI run wouldn't even allow to upgrade istio dep in istio.io.  cc: @howardjohn

[2020-07-13 21:47] frankbu commented on #7708
I guess we would need the second one, even if we also had the first. Having both would be ideal.

[2020-07-13 21:49] howardjohn commented on #7708
Why do you need the first if you have the second? Agree the second is good idea

[2020-07-13 21:50] howardjohn commented on #7708
And we have precedence - we do all sorts of cross repo updates today

[2020-07-14 07:25] woodliu opened #7728 "Issue with docs/tasks/security/cert-management/dns-cert/index.md"
Fellow this [step](https://istio.io/latest/docs/tasks/security/cert-management/dns-cert/#before-you-begin) to install istio, but can't find the secret as expect.
Env: openshit 4.3; istio 1.6.5
This is my config file
[code]

[2020-07-14 13:54] frankbu commented on #7708
@howardjohn The thing about the first that I think is useful is that we would always (within a day) know if there is a regression in istio/istio that only the doc tests uncover, instead of letting them linger for a few days or weeks until we decide to upgrade the istio/istio build in istio.io. The longer we wait, the harder it is to track down what was changed that is causing the breakage (@nschhi

[2020-07-14 15:29] qwertyuiop888 commented on #7672
The grey checkmark idea sounds good. So a grey checkmark for not automated and a green one for automated. The hover text for not automated could be "this document has only been tested by hand. Help create an automated test" and for tested, like you said, "An automated test is available for this document"

[2020-07-14 17:30] sdake commented on #7708
@frankbu - agree. I don't see the harm in cross-repository gating. If there is cross-repository gating, no PR can ever break either build.

The concerns I heard were related to the time spent running the documentation test cases. The T&R infrastructure runs test cases in parallel, unless the test case is serial in nature. If the doc tests take some time to run (I have not heard a concrete number)

[2020-07-14 18:51] justinkillen commented on #7700
I removed the readiness checks and added annotations to disable the prometheus scrapes:

[code]

but I'm still seeing 100% CPU usage.

Would requests from Prometheus / readiness checks show up in the access logs?  I have them enabled, but I don't see anything

[2020-07-14 19:13] lambdai commented on #7700
Prometheus requests are not tracked by normal access log
Readiness requests are just plain http request.

If you can enable the debug/trace level logging you will see more logs.

100% CPU usage is not normal. I wish it's too many requests. Maybe you can also check the number of connections on this envoy: usually expecting 1-2 connection form xDS server, 1-2 misc health check and of course the numb

[2020-07-14 19:14] justinkillen commented on #7700
[code]

[2020-07-14 19:15] justinkillen commented on #7700
[code]

[2020-07-14 19:16] justinkillen commented on #7700
I also did another heap profile as well as a cpu profile and added them to the dropbox folder

[2020-07-14 19:46] justinkillen commented on #7700
I enabled debug logging, and I'm still seeing prometheus scrapes.  I'll keep digging and get those stopped.

[2020-07-14 19:56] qwertyuiop888 commented on #7672
This is what it looks like.

![Screen Shot 2020-07-14 at 2 56 01 PM](https://user-images.githubusercontent.com/20189462/87470322-36269380-c5e2-11ea-81fa-f243ac32767c.png)

![Screen Shot 2020-07-14 at 2 55 53 PM](https://user-images.githubusercontent.com/20189462/87470332-3888ed80-c5e2-11ea-8542-1c4674b442f7.png)

[2020-07-14 20:24] qwertyuiop888 commented on #7672
Also these are the colors on dark theme. It is much easier to tell the difference between the two checks here.
![Screen Shot 2020-07-14 at 3 23 14 PM](https://user-images.githubusercontent.com/20189462/87472786-1abd8780-c5e6-11ea-96e3-9660fe77d565.png)
![Screen Shot 2020-07-14 at 3 23 10 PM](https://user-images.githubusercontent.com/20189462/87472790-1c874b00-c5e6-11ea-90e6-44a56947f626.png)

[2020-07-14 20:35] frankbu commented on #7672
Black background looks great, but the grey check doesn't look so different from the green one on white background. Can you make the grey check lighter, or maybe thinner?

[2020-07-14 20:45] linsun commented on #7672
I like them both, thank you @qwertyuiop888 for trying it on both backgrounds!

[2020-07-14 20:46] frankbu commented on #7672
Maybe you should use a different icon for the grey case. Is there something that would mean "sort of"? I think the exact same icon just with different color might be a problem because it doesn't work for people that are color blind. If we use grey and green check, it really needs to look much lighter (sort of like the difference it black text vs greyed out text).

[2020-07-14 21:49] lambdai commented on #7700
1. TCP connections are not even established in back log queue.
`tcp       10      0 127.0.0.1:15000         0.0.0.0:*               LISTEN      23/envoy`

2. What is worse a few `tcp      392      0 127.0.0.1:15000`
It basically saying master thread doesn't have the cycle to accept connections.

The master thread doesn't have cycles to call accept().

[2020-07-14 22:13] qwertyuiop888 commented on #7672
I will look for other icons. This is what it looks like with a lighter check.
![Screen Shot 2020-07-14 at 5 13 15 PM](https://user-images.githubusercontent.com/20189462/87481629-56ac1900-c5f5-11ea-8f0f-1c5726ca4fc7.png)
![Screen Shot 2020-07-14 at 5 13 06 PM](https://user-images.githubusercontent.com/20189462/87481636-5a3fa000-c5f5-11ea-87ad-c96b6764c469.png)

[2020-07-15 07:07] woodliu opened #7730 "Issue with docs/tasks/security/authentication/authn-policy/index.md"
Fellow this [step](https://istio.io/latest/docs/tasks/security/authentication/authn-policy/#end-user-authentication)，after create gateway and virtualservice，when I run `curl $INGRESS_HOST/headers -s -o /dev/null -w "%{http_code}\n"`, it can't access the service.

I check the listener of the default istio-ingressgateway, can't find the port 80
`istioctl pc listener istio-ingressgateway-54c4985b54-x

[2020-07-15 13:31] frankbu commented on #7672
The light grey looks great on white background, but on black background it really stands out, maybe even more than green, which is the opposite of what we want :-) Unless you can find a good replacement icon, I would suggest just going ahead with the darker grey implementation and send a PR. Other people will review it then, UI and usability designers will likely have suggestions, since they lots

[2020-07-15 14:17] linsun commented on #7672
+1 on this.

What about files with `test: n/a` or no `test` attribute at all? IMO it's probably best to not show the `TESTED` tag at all for those docs.

[2020-07-15 14:28] qwertyuiop888 commented on #7672
The files without the tag do not show it.  I'll fix up the code and create a pr in a bit. Thank You Frank and Lin for the feedback!

[2020-07-15 18:48] justinkillen commented on #7700
I've managed to get the prometheus scraping turned off.  I'd been trying to use annotations on the pod/service, but that didn't make a difference - I had to remove the job from the prometheus ConfigMap.  I can confirm now that I'm not seeing the prometheus queries in the ingress logs.  Connections look much better - no more stale/lingering on port 15000:

[code]

And readiness checks are still dis

[2020-07-16 18:32] justinkillen commented on #7700
I do see a fair amount of failures in the log, e.g.:

[code]
^ hundreds of times, followed by:
[code]
^ also hundreds of times, followed by:
[code]

This repeats over and over - it appears to be stuck in a config load loop which never ends because it's never successful.  Feels like this points in the direction of a config conflict of some kind; I've grabbed a config dump from envoy and added it to

[2020-07-17 17:59] justinkillen commented on #7700
About every 1-2 minutes, I also see this in the pilotd logs:

[code]

[2020-07-17 18:07] #6450 closed

[2020-07-17 18:08] #6345 closed

[2020-07-17 18:28] #7672 closed

[2020-07-17 20:31] justinkillen commented on #7700
I've increased timeouts on pilotd via:
        - --keepaliveTimeout
        - 60s
        - --keepaliveInterval
        - 180s

I'm not sure what the downsides are of this, but CPU usage has dropped of dramatically:
<img width="670" alt="Screenshot 2020-07-17 13 29 37" src="https://user-images.githubusercontent.com/11740721/87828479-d9211c80-c831-11ea-893e-ee22cca5b8d5.png">

[2020-07-17 21:31] justinkillen commented on #7700
Now I have a peak every 180s, which makes sense given the keepalive interval change.  Each peak though takes 4 minutes, which seems like a problem.  I'm going to grab a cpu profile during one of those cycles.

<img width="680" alt="Screenshot 2020-07-17 14 24 54" src="https://user-images.githubusercontent.com/11740721/87831805-57cd8800-c839-11ea-9c0a-d2035e27b88e.png">

[2020-07-17 21:59] justinkillen commented on #7700
Added cpu profile during one of the cycles and added to Dropbox.  https://www.dropbox.com/s/m5b82aatq0wegie/envoy-2020-07-17.tar.gz?dl=0

[2020-07-17 22:10] lambdai commented on #7700
Thanks for the update!
IIRC istio use 30 min as max server connection age. It means every 30 minutes xds connection is reestablished as well as the listener/cluster push.

This seems follow the pattern.

[2020-07-17 22:11] lambdai commented on #7700
Since your parameters massaged the cpu usage, does the memory usage drop to the comfort zone?

[2020-07-17 22:59] justinkillen commented on #7700
Unfortunately, no :(
Memory usage hasn't changed - still constantly hovering around 24GB:

<img width="681" alt="Screenshot 2020-07-17 15 42 30" src="https://user-images.githubusercontent.com/11740721/87836202-2c9c6600-c844-11ea-867e-90078de24207.png">

Forgot to mention it, but a few days ago we upgraded the cluster from 1.5.4 to 1.5.8 (there was no noticeable change)

[2020-07-17 23:34] justinkillen commented on #7700
I guess my bigger concern is that this isn't normal:

From slack:
[code]

So it seems like there's something else going on that I could use help diagnosing - I won't feel comfortable putting a production load on this cluster until we have some understanding of the root cause.

[2020-07-20 14:09] istio-testing opened #7752 "[release-1.6] Fix for Egress Gateway TLS Origination Task"
Manual cherrypick required.

#7732 failed to apply on top of branch "release-1.6":
[code]

[2020-07-20 15:11] nschhina commented on #7752
closing as the expectation is that 1.7 will be properly tested and 1.6 didn't have snips and testing in the first place

[2020-07-20 15:11] #7752 closed

[2020-07-20 20:33] frankbu commented on #3576
This has been replaced by operator config.

[2020-07-20 20:33] #3576 closed

[2020-07-20 20:55] lambdai commented on #7700
could you dump the localhost:15000/stats and $ curl localhost:15000/memory at a moment when memory stays the same level?
Since the misc cpu utilization is excluded, the memory usage should be trusted.

Also, how is 20.5G initially occupied? immediately after the envoy is spawned? The 20G is also weird to me

[2020-07-21 14:54] justinkillen commented on #7700
During one of the times when CPU is normal (<2%):

[code]

[2020-07-21 21:06] frankbu opened #7762 "Run subset of doc tests in presubmit"
Running the full suite of doc tests in presubmit is a waste of time because most PRs are only changing a small number (often just one) doc. In fact, sometimes the changed doc in the PR doesn't even have any associated test (e.g., a concepts doc).

Since we now have the ability to test subsets of the docs, it would be great if during presubmit we only run the tests associated with changed files in

[2020-07-21 21:42] frankbu commented on #7762
One special case: A PR that updates the istio/istio SHA, used for testing, should run the full suite.

[2020-07-22 04:37] shamsher31 commented on #7203
Closed by https://github.com/istio/api/pull/1540

[2020-07-22 04:37] #7203 closed

[2020-07-22 04:37] shamsher31 commented on #6877
Closed by https://github.com/istio/api/pull/1540

[2020-07-22 04:37] #6877 closed

[2020-07-22 04:37] shamsher31 commented on #6921
Closed by https://github.com/istio/api/pull/1540

[2020-07-22 04:37] #6921 closed

[2020-07-22 12:37] fr0stylo opened #7766 "Documentation mismatch for Virtual Service HTTPRouteMatch and StringMatch objects"
Documentation mismatches

HTTPMatchRequest states that uri supports regex that is Ecmascript style
https://istio.io/latest/docs/reference/config/networking/virtual-service/#HTTPMatchRequest
String match states that it supports RE2 regexps
https://istio.io/latest/docs/reference/config/networking/virtual-service/#StringMatch

[2020-07-22 14:26] linsun commented on #7762
@ericvn or @sdake does one of you have any bandwidth to help with this?

[2020-07-22 15:40] ericvn commented on #7762
I should have some time to help with this.

[2020-07-22 15:42] xeviknal opened #7769 "Getting started - differences: demo profile has no addons, kiali anonymous auth, broken link"
https://preliminary.istio.io/latest/docs/setup/getting-started

I've been testing the 1.7 alpha version of kiali with the preliminary doc. I've followed the getting started page and I've found the following differences and inconsistencies:

1. The demo profile doesn't install the addons so far: https://preliminary.istio.io/latest/docs/setup/getting-started/#install
I see that in the command snippe

[2020-07-22 15:43] brian-avery opened #7770 "Clicking a tab in reference changes focus of all tabs"
Clicking a tab in the reference content changes the focus of all tabs.

For example, open https://istio.io/latest/docs/reference/config/networking/service-entry/

Click on `v1beta1` in one of the tab sets. Observe that all tabs now navigate to the other option. I haven't dug into this much, but presumably this could be fixed by generating a unique identifier for each tab.

[2020-07-22 15:49] linsun commented on #7762
Thank you @ericvn !

[2020-07-22 15:49] jmazzitelli commented on #7769
I agree with this.

Yes, the new addons uses [anonymous strategy as seen here](https://github.com/istio/istio/blob/1.7.0-alpha.0/samples/addons/kiali.yaml#L418-L419). This is appropriate; this is, after all, just for demos and "kick the tires". So the docs should not mention default credentials of admin/admin anymore.

Kiali requires Prometheus addon, but the getting-started only shows Kiali add-o

[2020-07-22 19:38] GregHanson commented on #7512
Fixes merged and back ported to 1.6 release.  Docs have been updated.  Will be reflected in next releases

[2020-07-22 19:38] #7512 closed

[2020-07-22 19:40] incfly commented on #7512
@JimmyCYJ FYI the fix should be covered in the 1.7 release notes.

[2020-07-23 08:12] shamsher31 opened #7775 "Make lint fails locally with permission denied"
[code]

cc: @frankbu @ericvn

[2020-07-23 14:23] ericvn commented on #7775
cc: @sdake

[2020-07-23 14:46] frankbu commented on #7775
This PR look suspicious: https://github.com/istio/common-files/pull/280

cc @tbarrella @howardjohn

[2020-07-23 15:19] ericvn commented on #7775
I think it's another issue. Chatting in Slack now. I suspect we need a later build image.

[2020-07-23 15:21] sdake commented on #7775
https://github.com/istio/common-files/pull/288

[2020-07-23 15:28] ericvn commented on #7775
Above mentioned issue verified that the error was fixed locally.

[2020-07-23 15:29] #7775 closed

[2020-07-24 10:38] ajoysinhactc opened #7782 "503 Service Unavailable : upstream connect error or disconnect/reset before headers"
We have a Kubernetes cluster in AWS EKS. which has multiple services deployed and services communicate each other [ POD communication ]

Scenario 1:
**istio not enabled in cluster**
Without istio installed in cluster , services can communicate with each other
in services.yaml  spec.ports.name is prefixed with **"http-"** to enable http communication.

Scenario2:
**istio enabled in cluster**
in ser

[2020-07-24 14:29] linsun opened #7783 "Search box improvement on istio.io"
In last week's doc WG mtg, we discussed people have trouble to find search box today and the team agreed we need to enlarge it.

Another issue I have with our search icon today is once i click on search icon, i see the search box, but if i decide not to search, it is not obvious how to get back to the menu... (took a few secs to figure out to click the close button).

@frankbu I think you also men

[2020-07-25 11:10] esnible opened #7790 "Link in AuthorizationPolicy to WorkloadSelector broken?"
If I go to https://istio.io/latest/docs/reference/config/security/authorization-policy/#AuthorizationPolicy and click the `WorkloadSelector` Type in the table I get a 404.

This has changed on the pre-release docs, but still seems wrong.  If I go to

https://preliminary.istio.io/latest/docs/reference/config/security/authorization-policy/#AuthorizationPolicy and click the `WorkloadSelector` Type in

[2020-07-27 06:02] ajoysinhactc commented on #7782
Any update on this istio issue ..

[2020-07-27 15:56] nschhina opened #7793 "Missing instructions for Addon Telemetry component installation"
Observed here: https://preliminary.istio.io/latest/docs/tasks/observability/metrics/using-istio-dashboard/
`--set values.grafana.enabled=true` is deprecated and no new instructions are available for installation directly using deployment files in samples/addons for all addons

[2020-07-27 16:57] douglas-reid commented on #7793
@howardjohn did we ever generate docs on the new add-ons install guidance?

[2020-07-27 16:59] howardjohn commented on #7793
@douglas-reid we have some minimal guidance, working to improve this. Btw, samples/addons/README.md currently provides a fair amount of info on this. I will take this on

[2020-07-27 17:02] nschhina commented on #7793
Can confirm samples/addons/README.md was helpful and sufficient, just some improper guidance on istio.io can result in some wasted time.

[2020-07-27 17:23] douglas-reid commented on #5097
Closing this issue, as there was no activity and this is now OBE.

[2020-07-27 17:23] #5097 closed

[2020-07-27 17:24] douglas-reid commented on #4873
Closing, as there has been no new feedback and this issue is now OBE.

[2020-07-27 17:24] #4873 closed

[2020-07-27 17:27] douglas-reid commented on #5929
This example was most certainly out of date, but the docs have been updated many times over since then. Closing for now.

[2020-07-27 17:27] #5929 closed

[2020-07-27 17:28] douglas-reid commented on #5085
This task will not exist in 1.8, and was deprecated in 1.7. Closing this issue due to updated changes to Istio.

[2020-07-27 17:28] #5085 closed

[2020-07-27 17:36] #7533 closed

[2020-07-28 15:37] ericvn commented on #7790
Should have been fixed in https://github.com/istio/api/pull/1550. I suspect there is no automation to update preliminary.istio.io from the master branch api (this doesn't happen automatically from the time the branches are cut (all but istio.io until release).

I will do a manual pull.

[2020-07-28 15:39] ericvn commented on #7782
@ajoysinhactc Note the this repo is for issues in the documentation. There is a repo for istio issues: https://github.com/istio/istio

[2020-07-28 16:06] ericvn commented on #7790
https://github.com/istio/test-infra/pull/2845 created for auto merge

[2020-07-28 16:06] #7790 closed

[2020-07-28 21:48] ericvn commented on #7770
Note that I sometimes found this useful when working through some examples with had tabs for various paths. Choosing a particular path in one tabset automatically choose the same path in another tabset.

[2020-07-28 21:52] ericvn commented on #7770
Although, I am lacking on finding an example of my last comment in the 1.6 pages. I suspect they may have been in the 1.5 or 1.4 multicluster pages.

[2020-07-28 22:00] ericvn commented on #7766
This would actually be an issue in the https://github.com/istio/api/blob/release-1.6/networking/v1alpha3/virtual_service.proto and https://github.com/istio/api/blob/release-1.6/networking/v1beta1/virtual_service.proto files. Will need someone from the networking team to take a look.

[2020-07-29 14:28] istio-testing opened #7807 "[release-1.6] 1.6.6 release notes"
Manual cherrypick required.

#7795 failed to apply on top of branch "release-1.6":
[code]

[2020-07-29 16:01] howardjohn commented on #7769
Thanks for the feedback! I will incorporate these changes into https://github.com/istio/istio.io/pull/7802

[2020-07-29 17:02] #7793 closed

[2020-07-29 18:11] ericvn opened #7809 "GETTING STARTED - Add ons"
https://preliminary.istio.io/latest/docs/setup/getting-started/#dashboard

Steps have: `kubectl apply -f https://raw.githubusercontent.com/istio/istio/release-1.7/samples/addons -n istio-system`
which fails:
[code]
If I try and change to use the local version, it fails with kiali
[code]

[2020-07-29 18:26] ericvn commented on #7809
Appears the error is timing related as a subsequent attempt worked.

[2020-07-29 21:25] howardjohn opened #7813 "Remove docs for unsupported CRDs"
https://istio.io/latest/faq/security/#mysql-with-mtls uses `Policy` which is removed. We should update this, and everything else referencing Policy

cc @incfly @yangminzhu

[2020-07-29 21:47] #7809 closed

[2020-07-29 22:04] brian-avery commented on #7807
Fixed in https://github.com/istio/istio.io/pull/7795

[2020-07-29 22:04] #7807 closed

[2020-07-29 22:25] justinkillen commented on #7700
@howardjohn Could this be related to https://github.com/istio/istio/issues/25116 ?

[2020-07-29 23:05] howardjohn commented on #7700
@justinkillen not likely, that was regarding Pilot performance not Envoy

[2020-07-30 03:47] therealmitchconnors opened #7817 "VM Multi-Network doc references files removed in 1.6"
https://github.com/istio/istio.io/blob/master/content/en/docs/examples/virtual-machines/multi-network/index.md

Step 1 references `install/kubernetes/operator/examples/vm/values-istio-meshexpansion.yaml` which was removed in 1.6 I think.

[2020-07-30 14:10] sdake commented on #7535
@linsun would you mind modifying https://github.com/istio/community/blob/master/CONTRIBUTING.md to indicate this ruling? I think this would help slim down the number of adverts that come in as blog posts - assuming people read the contributing guidelines.

I often struggle with approving blog posts on istio.io in the past - because the line between vendor plug and legitimate integration informatio

[2020-07-30 14:10] xeviknal commented on #7769
Comments approached! Closing the issue. Thanks

[2020-07-30 14:10] #7769 closed

[2020-07-30 18:56] kramvan1 opened #7821 "Add version supported kubernetes release table"
Like in this doc, would be useful to have a complete support picture, matrix of Istio releases and kubernetes releases.
https://docs.google.com/document/d/14Xfe9V0vv8d7W75c21d-cY2XyK6xvRH0_Kg8j_zfh4Y/

[2020-07-30 18:56] kramvan1 commented on #7821
cc @sdake @frankbu

[2020-07-30 19:27] linsun commented on #7821
Mark, can you propose what is missing?  Are you suggesting us to publish for unreleased istio versions and their k8s supported versions?

[2020-07-30 19:41] kramvan1 commented on #7821
Yes, for published releases and next master release, would be good to know what is being tested/supported.   We are pulling some of the alpha/beta releases and would want to also test them on our matching kubernetes releases.   At some point during the alpha/beta process, the supported kube releases should be known/tested and published to give folks a chance to also test and provide feedback befor

[2020-07-30 20:13] #4893 closed

[2020-07-30 20:14] #4883 closed

[2020-07-30 20:15] #4942 closed

[2020-07-30 20:16] #5259 closed

[2020-07-30 21:25] ostromart opened #7824 "IstioOperator auto-generated docs out of order, values definition missing"
The definitions are again alphabetically sorted which makes them very hard to read - this seems to be a regression since we had turned off sorting at some point.
Also the [values definitions](https://github.com/istio/istio/blob/master/operator/pkg/apis/istio/v1alpha1/values_types.proto) seem to have disappeared.
Tentatively assigning to Eric since he worked in that area recently.

[2020-07-30 23:22] sdake commented on #7821
@linsun in the doc was a request to add new releases to the RFC. The purpose of the RFC was to define the supported release patterns in Istio. I had responded to Mark that the best place to keep that updated was on istio.io, rather than modify an approved RFC.

Cheers,
-steve

[2020-07-31 01:57] linsun commented on #7821
Agreed, would be best to publish this in istio.io.  Took me a while to find the RFC for mark :)

cc @howardjohn

[2020-07-31 02:38] howardjohn commented on #7821
I have a PR for this but I gave up on getting it merged: https://github.com/istio/istio.io/pull/7154. anyone is free to pick it up

[2020-07-31 14:50] ericvn opened #7827 "Install with Istioctl references citadel"
https://preliminary.istio.io/latest/docs/setup/install/istioctl/

has a snippet:

[code]

which yields an error: `Error: failed to install manifests: unknown field "citadel" in v1alpha1.IstioComponentSetSpec:`

[2020-07-31 14:55] ericvn opened #7828 "Install with Istioctl - has wrong commands"
The page has a few commands missing `manifest`. It has `istioctl generate`

[2020-07-31 15:41] ericvn opened #7829 "Istio Operator Install"
demo profile has fewer services:
[code]
and pods:
[code]

[2020-07-31 16:00] ericvn opened #7830 "Installing the Sidecar page issues"
Missing pod deleted message:
[code]
Note that the get seemed to take a while so the prior terminated pod was missing.

and label and pod delete message:
[code]

Uninstalling the injector has a number of issues:
[code]

[2020-07-31 17:03] brian-avery commented on #7770
Yeah, on some pages it might make sense. Seemed like an odd behavior to me, but, say, on the ingress page it might be useful.

[2020-07-31 19:10] XanderStrike commented on #3844
Still curious what this setting does over a year later. Does it mean anything at all in 1.6+ where there's only istiod?

[2020-07-31 19:34] kyessenov commented on #3844
@incfly @liminw is this option still used? I wasn't sure when I deleted the rest of Mixer flags in 1.8 release.

[2020-08-01 03:41] Jeskz0rd commented on #3844
@kyessenov I was asking myself the same question today. I went through the Operator api/docs for a custom 1.6 setup and I also checked the 1.5 [upgrade notes](https://istio.io/latest/news/releases/1.5.x/announcing-1.5/upgrade-notes/#automatic-mutual-tls) trying to figure it out more info about it, but this is still not clear at all.

[code]

[2020-08-02 01:44] sdake commented on #3844
the ControlPlaneSecurityEnabled flag has been removed. In past versions, it installed default permissive mtls rules (IIRC) via a CR install. Now, permissive is the default, the flag is no longer needed.

Cheers,
-steve

[2020-08-03 03:33] atmouse- opened #7839 "[istio-1.6.6] new gateway referred name in virtualservice"
Old style of gateway named in virtualservice has been <del>deprecated</del>_invalid_. pls add a upgrade warning in istio 1.6.6.

./bin/istioctl -n gitlab-api analyze
[code]

[code]

[2020-08-03 04:07] ch0312 opened #7840 "issue about '--set flag' of 'istioctl upgrade'"
https://istio.io/latest/docs/setup/upgrade/#upgrade-steps

The above page says 'istioctl upgrade does not support the --set flag.'
However, the following page shows --set flag.

https://istio.io/latest/docs/reference/commands/istioctl/#istioctl-upgrade

In fact, when performing an in-place upgrade from 1.5.2 to 1.6.4, using the --set flag, I was able to upgrade without any problems.
I ran the foll

[2020-08-03 15:10] esnible commented on #6638
The Task was removed by https://github.com/istio/istio.io/commit/5f6d0712b84f71d372883dc04519bfd7d4896a57

Remaining is to remove https://preliminary.istio.io/docs/ops/configuration/mesh/secret-creation/

[2020-08-03 15:44] esnible opened #7842 "'--log_output_level attributes' syntax"
https://preliminary.istio.io/latest/docs/ops/diagnostic-tools/component-logging shows the wrong `--log_output_level attributes` syntax.  It should be `adapters:warn`, not `adapters=warning`.

It also refers to Galley, Citadel, and Mixer.

[2020-08-03 15:59] esnible opened #7844 "Configuration Analysis Messages does not include IST0114-117 and 120-133"
https://preliminary.istio.io/latest/docs/reference/config/analysis/ shows, but does not link to, IST0114-117 and 120-127.

The text is not hyperlinked.
The URLs are not included in the documentation, when `istioctl` supplies direct URLs to the messages that are not present.

Related:
- [ ] https://github.com/istio/istio.io/pull/8486 Add documentation for Analysis messsage IST0132 VirtualServiceHos

[2020-08-03 16:05] esnible opened #7845 ""Analyzer Message Format" page does not appear in parent"
The page https://preliminary.istio.io/latest/docs/reference/config/analysis/message-format does not appear in https://preliminary.istio.io/latest/docs/reference/config/analysis/

(I only learned about this page from https://github.com/istio/istio.io/blob/master/DOC_OWNERS.md#istiowg-user-experience-maintainers-33-docs )

It also does not appear on the testing day spreadsheet.

[2020-08-03 18:29] ericvn commented on #7844
Those directories have never been created and filled with the docs: https://github.com/istio/istio.io/tree/master/content/en/docs/reference/config/analysis

[2020-08-03 18:31] ericvn commented on #7845
Maybe something could be added in
https://github.com/istio/istio.io/blob/master/content/en/docs/reference/config/analysis/_index.md
pointing to https://github.com/istio/istio.io/blob/master/content/en/docs/reference/config/analysis/_index.md

[2020-08-03 19:12] esnible opened #7848 "Changes for https://preliminary.istio.io/latest/docs/ops/integrations/kiali/"
This page is not in the spreadsheet.

There should be an "x: Page Test" on this page because it has testable commands but no test.

The Quick Start doesn't work https://preliminary.istio.io/latest/docs/ops/integrations/kiali/#option-1-quick-start 👍

[code]

Related Issue: https://github.com/istio/istio.io/issues/6614

[2020-08-03 20:19] ericvn commented on #7848
Will hopefully be fixed by https://github.com/istio/istio.io/pull/7847 and the related istio/istio PR for namespace changes.

[2020-08-03 21:04] esnible commented on #7844
@ericvn Is the expectation that UX, who wrote the analyzers, contribute those directories?

I had hoped a tool made them from _galley/pkg/config/analysis/msg/messages.yaml_, and that we just improved them.  However, I am willing to assign someone to make them.  Use the existing ones as a template?

[2020-08-03 21:31] ericvn opened #7849 "Issues with ISTIO/DOCS/REFERENCE/CONFIGURATION"
Misspelled: configurarion  in `Configuration analysis Messages`

[2020-08-03 22:25] #4897 closed

[2020-08-04 03:02] therealmitchconnors opened #7853 "Correct hanging reference in VM Docs"
https://github.com/istio/istio.io/blob/master/content/en/docs/examples/virtual-machines/multi-network/index.md#preparing-the-kubernetes-cluster-for-vms

In Step 1, the grammar indicates that there will be instructions following the step, but there are no instructions.  Instructions should be added, or the wording changed.

[2020-08-04 03:05] therealmitchconnors opened #7854 "manifests referenced in docs missing in 1.7"
https://github.com/istio/istio.io/blob/master/content/en/docs/examples/virtual-machines/multi-network/index.md#preparing-the-kubernetes-cluster-for-vms

In Step 2, the file `manifests/examples/vm/values-istio-meshexpansion.yaml` no longer exists in the tarball.

[2020-08-04 03:15] therealmitchconnors opened #7855 "Make command failure"
Running step 1 in cd "${WORK_DIR}"
make -f "${ISTIO_DIR}"/tools/certs/Makefile NAME="${CLUSTER_NAME}" NAMESPACE="${SERVICE_NAMESPACE}" "${CLUSTER_NAME}"-cacerts-selfSigned

Results in the following error:
[code]

[2020-08-04 09:45] shamsher31 opened #7861 "Mesh with istioctl describe: Verify POD fails"
Ref: https://preliminary.istio.io/latest/docs/ops/diagnostic-tools/istioctl-describe/#verify-a-pod-is-in-the-mesh

[code]

With `1.7.0-alpha.2`
[code]

[2020-08-04 10:41] shamsher31 opened #7862 "Mesh with istioctl describe: Verifying strict mutual TLS output is not correct."
Ref: https://preliminary.istio.io/latest/docs/ops/diagnostic-tools/istioctl-describe/#verifying-strict-mutual-tls

After applying MTLS mode to `STRICT`, it does not show `STRICT` policy.
[code]

also after setting up destination rules, it does not show a warning.

[code]

With `1.7.0-alpha.2`
[code]

Related:
https://github.com/istio/istio/issues/23777

[2020-08-04 14:28] ericvn commented on #7855
I believe @irisdingbj was doing work around this makefile.

[2020-08-04 17:11] frankbu commented on #7844
I believe Adam created the ones that are there, but maybe nobody has been keeping them up to date with new codes??

cc @adammil2000, do you know what the process is supposed to be to manage these?

Generating them would be nice, if possible.

[2020-08-04 17:12] #6638 closed

[2020-08-04 18:07] #7849 closed

[2020-08-04 18:09] #7842 closed

[2020-08-04 20:31] JimmyCYJ commented on #7828
@ericvn could you help to update the user guide? I am assigning this to you for triage purpose.

[2020-08-04 22:18] JimmyCYJ commented on #7855
Does https://github.com/istio/istio.io/pull/7856/ fix this issue?

[2020-08-04 22:19] JimmyCYJ commented on #7855
@therealmitchconnors I am scribing the issues, please feel free to reassign.

[2020-08-05 18:06] #7827 closed

[2020-08-05 19:20] #7828 closed

[2020-08-05 21:56] ericvn commented on #7829
Fixed in #7870

[2020-08-05 21:56] #7829 closed

[2020-08-05 22:27] carolynhu opened #7876 "Issue with docs/setup/additional-setup/sidecar-injection/index.md"
Link for `MutatingWebhookConfiguration API` returns 404.

[2020-08-06 08:02] shamsher31 opened #7877 "Observability metrics with Prometheus and Grafana svc not found."
Ref: https://preliminary.istio.io/latest/docs/tasks/observability/metrics/using-istio-dashboard/

Starting with Istio 1.6, [Prometheus and Grafana are available as an addon integration](https://preliminary.istio.io/latest/blog/2020/addon-rework/) and not available by default with istio installation.

[code]

[code]

[code]

[2020-08-06 13:52] ericvn commented on #7824
@ostromart For the values definitions, it looks like that page would gen to https://github.com/istio/istio/blob/master/operator/pkg/apis/istio/v1alpha1/v1alpha1.pb.html and looking at that file, there is no `location:` specified in the doc, so there would be no files in the doc repo.

[2020-08-06 13:59] ericvn commented on #7824
Also, not sure what you mean by definitions are again sorted alphabetically. Can you point me to what you mean?

I know there is an issue where types? where not being sorted so they came out randomly (like json, ...). This caused the docs to be repeatedly updated since their order was non-deterministic. I don't think this is what you mean, but wanted to make sure.

[2020-08-06 14:27] #7830 closed

[2020-08-06 15:04] #7854 closed

[2020-08-06 16:43] ostromart commented on #7824
Yes I guess it's random, which is even worse: https://istio.io/latest/docs/reference/config/istio.operator.v1alpha1/
At one point we had this in the same order as the proto which is what's desired. Does anyone own the docs infra these days? Sorry if I pulled you into this as an innocent bystander.

[2020-08-06 16:49] #7877 closed

[2020-08-06 19:11] ericvn commented on #7824
@frankbu @davidhauck are probably the best bets for infra items, but I'm not sure how the .proto files get converted to the pb.html. So that page comes from https://github.com/istio/api/blob/release-1.7/operator/v1alpha1/istio.operator.v1alpha1.pb.html which is gen'd from https://github.com/istio/api/blob/release-1.7/operator/v1alpha1/operator.proto.

[2020-08-07 17:32] jasonwzm commented on #7853
We were discussing this before. Assigning to myself, Limin and John to work on the current VM docs.

[2020-08-07 17:45] duderino commented on #7853
Looks like https://github.com/istio/istio.io/commit/479b4b161cec6427d37aab3cc642f2795b9a1d3c#diff-66df94b4108652e624a42b21d8bc3394 unintentionally deleted the example?  @adammil2000 was this intentional?

[2020-08-07 17:49] duderino commented on #7853
Since this is a release blocker, let's have a single owner so we don't have a diffusion of responsibility problem.  Jason, I think you can satisfy this blocker by just restoring the missing example in my prior comment.  A general revamp of the VM docs would be welcome, but it wouldn't block the 1.7 release.

Also, if you don't think you're a good fit for this please let me know so I can find anoth

[2020-08-07 17:53] jasonwzm commented on #7853
@duderino sounds good. I think in TOC meeting we also mentioned the single network setup instruction is not working. Is that a release blocker as well?

[2020-08-07 17:58] liminw commented on #7853
Sounds good. Jason, let me know if you need help on security setup. /cc @williamaronli also has context since he worked on VM identity bootstrapping for 1.7.

[2020-08-07 21:15] lambdai commented on #7700
{
 "allocated": "11259191616",
 "heap_size": "19392069632",
 "pageheap_unmapped": "7397376",
 "pageheap_free": "7939956736",
 "total_thread_cache": "25708488"
}

` "pageheap_free": "7939956736",` It said tcmalloc has 7.9 GiB bytes could be returning to OS but not yet.
You can upgrade to istio 1.6 to trigger the returning agressively to gain the 7.9 GiB back.

[2020-08-07 21:19] lambdai commented on #7700
Meanwhile, 11.2 G is what envoy requested. Regardless how smart the malloc is, envoy is unlikely to use less than 11.2 G physical memory.

[2020-08-07 22:18] tbarrella opened #7892 "Small potential fixes for Getting Started docs"
Just some smaller things when testing https://preliminary.istio.io/latest/docs/setup/getting-started/ on GKE:
- I felt that this command under "Determining the ingress IP and ports" could be unclear:
[code]
  Would it make sense to have a kubectl command that chooses a random node?
- >You need to create firewall rules to allow the TCP traffic to the ingressgateway service’s ports.

  Maybe this is

[2020-08-09 17:43] JimmyCYJ commented on #7855
Assigning to @jasonwzm and @williamaronli as they are working on VM docs improvements.

[2020-08-10 12:04] mflendrich opened #7900 "Unable to create permalinks to the latest release"
I'm writing third-party docs where I'd like to link to Istio 1.6 documentation. Note that I would like to specify the 1.6 version in my docs (as opposed to latest). This is to mitigate docs rot, which will happen when:

- the Istio docs get an updated structure, or
- Istio itself gets breaking changes

in a subsequent release, leading to either a dead link, or misleading instructions on my side.

[2020-08-10 13:32] #7853 closed

[2020-08-10 17:14] ericvn opened #7902 "Configurability (Beta/Development) page isn't very clear on setting trace options"
https://preliminary.istio.io/latest/docs/tasks/observability/distributed-tracing/configurability/

The first two sections on this page talk about ways to set the tracing options, while the following sections talk about various options.

The issue is there really isn't any discussion about the sections and what they mean. There just are some sections.

It would be nice to have some words stating th

[2020-08-10 18:33] ericvn opened #7904 "Learn Microservices using Kubernetes and Istio Issues"
https://preliminary.istio.io/latest/docs/examples/microservices-istio/

The main issue remaining to be fixed is none of the tutorial data is showing up in the dashboards. I only see data for the `default` namespace (namely the httpbin). Maybe something has changed in this space.

- Setup a Kubernetes Cluster - **FIXED**
Looks to expect that the add-ons are still part of the demo profile.
Minor upd

[2020-08-10 19:33] nrjpoddar commented on #7902
@ericvn I just started testing this and will work on PR to fix the issues you mentioned. It's also missing steps about restarting pods which is required for config to take effect.

[2020-08-10 19:52] ericvn commented on #7902
Thanks @nrjpoddar for working on the PR for this. I was in the middle of testing this when It was noted I had my name on another item (not sure how it ended up on the other), so finished this and started the other.

[2020-08-10 20:33] jwendell opened #7905 "zipkin page is not accurate"
Images (screenshots) for this page https://preliminary.istio.io/latest/docs/tasks/observability/distributed-tracing/zipkin/ are not equal to what I get on 1.7.0.

Because the UI changed, I'm afraid the instructions need to be updated too. I couldn't complete that task using 1.7.0-beta.2.

[2020-08-10 22:47] brian-avery opened #7906 "Istio pages don't abide by the requirements of our linter"
We use markdown linter at different levels in tools and istio.io. The same docs break in tools that would normally pass istio.io. For example, the release notes break because there's no level 1 headers in the istio docs.

[2020-08-11 00:29] nairb774 opened #7908 "Possible alternative solution to "Provision a certificate and key for an application without sidecars""
Context: https://preliminary.istio.io/latest/blog/2020/proxy-cert/

With the work in https://github.com/istio/istio/issues/23583 and https://github.com/istio/istio/pull/25363, long term this blog post is likely to age poorly. On the other hand, I think there is a more elegant solution that became possible with the 1.6 release, and likely is going to be more maintainable for users over the long run

[2020-08-11 02:00] williamaronli commented on #7855
@therealmitchconnors  in the 1.7 release we will not require user to create a new cert. Instead, user can directly extract a root cert from 1. if PILOT_CERT_PROVIDER=istiod (which is the default value using in OSS) the namespace(you want to talk to) config maps
2. if PILOT_CERT_PROVIDER=kubernetes(which is used in VM), it will extract the istiod ca cert

From the code this is my understanding. @ho

[2020-08-11 15:01] ericvn commented on #7906
specifically, there is a mdl.rb in the istio.io root directory which is different than the mdl.rb in common:
[code]
One difference is istio.io uses:
[code]
while common uses:
[code]

[2020-08-11 16:36] justinkillen commented on #7700
Okay, so if I upgrade that can reduce used heap space, but there's 11.2gb (of stack memory?) that isn't going anywhere.

I'm conflicted here.  @lambdai said "envoy is unlikely to use less than 11.2 G physical memory", and conflicting with that is @howardjohn who has said "We have users with ~3k certs that I have heard of and memory is high (2gb or so) but not this high".  This makes me think that

[2020-08-11 17:21] sdake commented on #7855
@williamaronli in the leads meeting. today we decided to do the following:

1. Fix the existing documentation and / or code to work correctly
1. If your work happens to land in the next 24 hours and is **verified**, that's great, and we can replace the changes.

These must be done in order. Please contact me on slack as I am taking on #7605

Cheers,
-steve

[2020-08-11 17:27] justinkillen commented on #7700
I removed the header injection in staging, and I see a very noticeable difference:

top line before:
[code]
after:
[code]

So, it seems that match rules on the VirtualService are major contributors to memory usage.

I've made the same change to production; will post another update once that flushes out.

[2020-08-11 17:27] sdake commented on #7855
Consider reverting https://github.com/istio/istio.io/pull/7894.

Cheers,
-steve

[2020-08-11 17:34] #7902 closed

[2020-08-11 17:37] justinkillen commented on #7700
...and with changes pushed to production:

[code]

[2020-08-11 18:13] rvennam opened #7915 "Improve references to enabling mutual TLS in BookInfo install page"
https://istio.io/latest/docs/examples/bookinfo/#apply-default-destination-rules
<img width="901" alt="image" src="https://user-images.githubusercontent.com/5502967/89932823-35cae980-dbdc-11ea-9459-66f6464607ec.png">

If users installed the default profile, what should they run? What if the user doesn't know what profile they have (managed istio users). With auto-mTLS, does it matter?

@GregHanson

[2020-08-11 18:23] istio-testing opened #7917 "[master] CVE announcement for 1.6.8 and 1.5.9"
Manual cherrypick required.

#7914 failed to apply on top of branch "master":
[code]

[2020-08-11 18:51] carolynhu opened #7918 "Issue with docs/ops/best-practices/observability/index.md"
prometheus query metrics label `pod_name` should be replaced by `pod`

according to: https://v1-16.docs.kubernetes.io/docs/setup/release/notes/

[2020-08-11 19:20] williamaronli commented on #7855
@sdake @therealmitchconnors  I think we will delete the process of VM as we don't required user to create the cert manually. We can just use the Use a self signed cert auto generated by istiod.

[2020-08-11 23:28] #7918 closed

[2020-08-12 01:54] linsun opened #7925 "In place upgrade steps are wrong"
Verify that istoctl supports upgrading from your current Istio version by viewing the supported versions list:

$ istioctl manifest versions

Perhaps this cmd is removed?
[code]

[2020-08-12 02:21] sdake commented on #7855
@williamaronli that sounds grand, although again, we want to prioritize stability over feature improvements. If there is any risk at all of this not making the release, we need to revert to a known good state, which was 1.6's virtual machine integration. If you can contact both of us on slack in #test-and-release, it would be greatly appreciated so we can approach this problem with the least risk

[2020-08-12 02:32] linsun opened #7927 "canary upgrade removal old cp command is not working"
when there is no revision.

[code]

[code]

[2020-08-12 02:34] linsun commented on #7927
cc @richardwxn @ostromart

[2020-08-12 02:34] linsun commented on #7925
cc @richardwxn @ostromart

[2020-08-12 04:32] richardwxn commented on #7925
I think this command was removed, instead, the validation of version is done during istioctl upgrade, if the the source version-> target version is not supported then the command would fail with error. Can you confirm? @elfinhe

[2020-08-12 09:49] sdake commented on #7855
unfortunately - look like security has been improved in Istio 1.7. I ran the 1.6.8 docs against istioctl-1.7.2

[code]

@williamaronli 's PR may be the only viable path forward. That PR needs some work, but could be mergeable in 1.7 with proper review. I am happy to run through testing once the initial work is passing the linter.

cc / @therealmitchconnors

[2020-08-12 10:53] shamsher31 opened #7931 "Command reference page shows duplicate entries."
There are duplicate entries for few commands.

**For upgrade command**
istioctl experimental upgrade
https://preliminary.istio.io/latest/docs/reference/commands/istioctl/#istioctl-experimental-upgrade

istioctl upgrade
https://preliminary.istio.io/latest/docs/reference/commands/istioctl/#istioctl-upgrade

**For Dashboard commands**
istioctl experimental dashboard
https://preliminary.istio.io/lates

[2020-08-12 13:48] ericvn commented on #7917
Done in https://github.com/istio/istio.io/pull/7919

[2020-08-12 13:48] #7917 closed

[2020-08-12 14:00] su225 opened #7932 "Update test reference for istio as current reference (v0.0.0-20200810131457-ea5466044eaf) could be outdated?"
I tried running the tests locally, but repeatedly got error like this
[code]
On checking how this works, I found that the CRD of type `rule` is no longer deployed while installing Istio. Instead in the test framework (in istio/istio) I found that we have a dummy virtual service. This prevents the test from running successfully. Here are the logs. Command I tried - `make doc.test TEST=tasks/observa

[2020-08-12 14:15] su225 commented on #7932
On investigating, I found the root cause to be the commit removing mixer from Istio codebase.
Commit hash in istio/istio - 9939ad57ed0e7154df6637948bc7b2b3e0ce4201
Here is the part of diff that does that

However, the timestamp of the commit goes back to **Wed Jul 22 14:13:54 2020 -0700**
[code]

[2020-08-12 15:07] ericvn commented on #7932
As noted in Slack, the current istio.io is running against the release-1.7 branch (until Istio.io branches at the release when it's new release-1.7 branch will continue to test against istio release-1.7 and master will test against master (and probably be broken since mixer was removed in Istio already).

For now this is working as designed.

[2020-08-12 15:07] #7932 closed

[2020-08-12 15:10] ericvn commented on #7931
@esnible I'm not sure if there are two distinct commands at this point (one have some experimental features), or if the experimental version of the command was never removed.

[2020-08-12 15:13] shamsher31 commented on #7931
@ericvn I have added https://github.com/istio/istio/pull/26408 to remove the `experimental dashboard` command.

[2020-08-12 15:28] linsun commented on #7927
[code]

[2020-08-12 17:33] elfinhe commented on #7925
correct, `istioctl manifest versions` was removed as part of this PR: https://github.com/istio/istio/pull/23512/files

[2020-08-12 17:35] richardwxn commented on #7925
@elfinhe then we need to update the doc accordingly, now it still instructs to check `istioctl manifest versions` during the in place upgrade guide

[2020-08-12 18:17] nschhina opened #7938 "Broken Egress Gateway Task"
Task: https://istio.io/latest/docs/tasks/traffic-management/egress/egress-gateway/

I recently added automated doc test for this task- @frankbu  found out an issue https://github.com/istio/istio.io/blob/41d56d97ffb67b6afa1b46f7f6aca797bb13c230/content/en/docs/tasks/traffic-management/egress/egress-gateway/test.sh#L95
and commented out this snippet matching.

I'm able to reproduce this issue in thi

[2020-08-12 18:18] nschhina commented on #7938
cc: @howardjohn networking wg owns this task can you please reassign this to whoever is maintaining this task? Thanks

[2020-08-12 18:25] howardjohn commented on #7938
Why is this expected?

[2020-08-12 18:27] nschhina commented on #7938
Good question, I can't answer that because I didn't write this task and I'm not familiar with this `NetworkPolicy` API

[2020-08-12 19:04] #7925 closed

[2020-08-12 20:35] #7915 closed

[2020-08-12 20:58] #7905 closed

[2020-08-12 21:08] frankbu commented on #7938
@howardjohn, the request is supposed to fail because a network policy was added to deny access. Take a look at steps 8 and 9 here: https://preliminary.istio.io/latest/docs/tasks/traffic-management/egress/egress-gateway/#apply-kubernetes-network-policies

[2020-08-12 21:14] howardjohn commented on #7938
This is definitely not a release blocker, since its about configuring a non Istio thing. So our code is not wrong, although or docs may be. looking into it more

[2020-08-12 22:02] howardjohn commented on #7938
Honestly couldn't get the network policy part to work. Not sure why, seems like calico/gke/me being dumb problem. Definitely not istio issue though - at worst our example is wrong in the doc

[2020-08-13 01:40] linsun commented on #7927
note: steps in #7930 need to fixed else users would end up w/ a non-working cluster.

[2020-08-13 05:03] richardwxn commented on #7927
I created a PR as workaround: https://github.com/istio/istio/pull/26449. Can you review that? Before that(which I guess would be in 1.7.1 not 1.7.0 since the branch is frozen now) I can add notes to the corresponding section in the doc.

[2020-08-13 09:04] sdake commented on #7855
https://github.com/istio/istio.io/pull/7945

[2020-08-13 09:06] sdake commented on #7855
The whole makefile is fubar.

[2020-08-13 12:37] istio-testing opened #7946 "[release-1.6] zh-translation: Update MOSN blog"
Manual cherrypick required.

#7911 failed to apply on top of branch "release-1.6":
[code]

[2020-08-13 15:37] ericvn commented on #7904
Working through this again, I noted several items:

reolved should be resolved
four services should be four pods

[2020-08-13 15:46] ericvn commented on #7904
Bookinfo image:
![image](https://user-images.githubusercontent.com/10537847/90156557-371e2280-dd52-11ea-939d-95cbb7719da4.png)

[2020-08-13 15:53] linsun commented on #7927
@richardwxn thx, I assume it would clean up istiod but nothing else?  Do we have plan to clean up others like webhook config and some configmaps?

[2020-08-13 16:09] ericvn commented on #7904
Got to normal browser window changing ingress (adding pathType of prefix):
[code]

[2020-08-13 20:13] istio-testing opened #7951 "[release-1.6] Update grab_reference_docs to also strip `latest` from url"
Manual cherrypick required.

#7773 failed to apply on top of branch "release-1.6":
[code]

[2020-08-13 21:07] ericvn commented on #7951
Added in #7948

[2020-08-13 21:07] #7951 closed

[2020-08-13 22:05] lambdai commented on #7700
Thanks for the update.
VS/DR create its own cluster and routes.
If the cluster and route are each 500-ish it should be fine.

I suspect there is something replicates 500*500 times

[2020-08-14 06:09] richardwxn commented on #7927
It would clean up istiod owning resources of that specific revision only, like mutatingwebhook of that revision but not others, and definitely not validatingwebhook since that's global

[2020-08-14 09:53] ggjjlldd opened #7955 "WARNING: Download from https://github.com/bazelbuild/rules_pkg/releases/download/0.2.6/rules_pkg-0.2.6.tar.gz failed: class com.google.devtools.build.lib.bazel.repository.downloader.UnrecoverableHttpException GET returned 404 Not Found"
when i clone proxy and compile. use make command. error happend.

Download from https://github.com/bazelbuild/rules_pkg/releases/download/0.2.6/rules_pkg-0.2.6.tar.gz failed: class com.google.devtools.build.lib.bazel.repository.downloader.UnrecoverableHttpException GET returned 404 Not Found
[code]

[2020-08-14 16:16] heatherzheng opened #7958 "Website Notification"
When detect potential problem in istio.io and preliminary.istio.io, message will be shown here.

[2020-08-14 16:53] sdake commented on #7855
short term solution to this problem: https://github.com/istio/istio.io/pull/7945

[2020-08-14 17:28] nrjpoddar commented on #7938
cc @jacob-delgado

[2020-08-14 21:13] ericvn commented on #6661
Most of this is in #7904

[2020-08-14 21:13] #6661 closed

[2020-08-15 00:36] jacob-delgado commented on #7938
Tried this on a K8s 1.18.6 cluster running Istio 1.7.0-rc.1. This was provisioned on AWS with kops using flannel.

I would apply the NetworkPolicy and it would be accepted, but I wasn't able to get ``Hostname was NOT found in DNS cache...`. Instead, for Step 9 it would return HTML for the page. I even deleted the sleep pod to see if that was a workaround. Nope.

[2020-08-16 22:15] nrjpoddar commented on #7938
Tried this task with the following setup:

K8s version: 1.16.13
Istio version 1.7.0-rc.1
CNI plugin: Calico which enforces Network Policies

Without the Networking Policy defined step 5 [here](https://istio.io/latest/docs/tasks/traffic-management/egress/egress-gateway/#apply-kubernetes-network-policies)
[code]

results in `200` expected.

After the networking policy defined, I get this output:
[co

[2020-08-17 08:42] shamsher31 opened #7965 "Cluster state archives: container istio-proxy is not valid for pod istiod"
Ref: https://istio.io/latest/about/bugs/#kubernetes-cluster-state-archives

[code]

Related:
https://github.com/istio/istio/issues/26552

[2020-08-17 14:04] frankbu commented on #7938
@nrjpoddar In that case, it sounds like the kube cluster we use for the test framework (Kind) doesn't enforce network policies?

If so, then it sounds like the right fix is to leave that check commented out from the test: https://github.com/istio/istio.io/blob/41d56d97ffb67b6afa1b46f7f6aca797bb13c230/content/en/docs/tasks/traffic-management/egress/egress-gateway/test.sh#L95

We should probably als

[2020-08-17 14:05] ericvn commented on #7931
@shamsher31 If you expect to remove the duplicate entries in istio.io,  istio/istio#26408 will need to be cherry-picked to release-1.7.

[2020-08-17 14:25] esnible commented on #7931
@shamsher31 Can you create a PR to "hide" (mark as hidden) any commands that have graduated?

The reason for the commands to be there is to tell script users the new place to look for the command.

[2020-08-17 14:25] shamsher31 commented on #7931
@ericvn I just cherry-picked for 1.7. Do you know how that documentation for commands is generated? I see more experimental commands which are graduated but still displayed in experimental sections. Thanks.

[2020-08-17 14:29] shamsher31 commented on #7931
@esnible with [hideInheritedFlags](https://github.com/istio/istio/blob/master/istioctl/cmd/root.go#L286) ?

[2020-08-17 14:38] shamsher31 commented on #7931
@esnible @ericvn Is there a document that mentions the graduation of commands?

I was looking into the `metrics` command and I think it can also be graduated?

[2020-08-17 14:42] nrjpoddar commented on #7938
I don't know what kind does. Someone can spin up a kind cluster and check if standalone Network Policies work.

I will add a note in docs to mention a warning like this.

[2020-08-17 14:55] ericvn commented on #7931
@shamsher31 We generate new ref docs (included command updates) for preliminary.istio.io right now on a daily basis.

[2020-08-17 14:55] nrjpoddar commented on #7938
Doc PR: https://github.com/istio/istio.io/pull/7967

[2020-08-17 15:38] nschhina commented on #7938
Thanks for triaging this further. Aa recommended I'll close this issue.

[2020-08-17 15:38] #7938 closed

[2020-08-17 17:22] esnible commented on #7931
There is no document that mentions that graduation of commands.  We mention specific commands that graduate in the release notes for a version.

To graduate a command needs to be useable, tested as part of integration, and complete enough that it isn't going to change much.

The `metrics` command doesn't seem useable.  I recall we tried to graduate it once but it was felt to be difficult.  Are you

[2020-08-17 17:27] esnible commented on #7931
@shamsher31 with `Hidden` https://github.com/spf13/cobra/blob/master/command.go#L80

[2020-08-17 19:02] esnible commented on #5716
The only place I still see this is in the Chinese documentation file _content/zh/docs/setup/install/istioctl/index.md_.

Fixed by @myidpt in https://github.com/istio/istio.io/pull/7872

[2020-08-17 19:02] #5716 closed

[2020-08-17 19:04] #4871 closed

[2020-08-17 20:06] #6670 closed

[2020-08-18 11:17] shamsher31 commented on #7931
I saw that for the first time :). The Prometheus add-on provides rich metrics for workload so I think `istioctl x metrics` is not that useful.

[2020-08-18 19:57] ericvn commented on #7904
This tutorial was fixed by several PRs: #7974 , #7941 , #7959 and https://github.com/istio/istio/pull/26593.

[2020-08-18 19:57] #7904 closed

[2020-08-18 19:59] ericvn commented on #7262
Looking at the current preliminary.istio.io, the namespace was added.

[2020-08-18 19:59] #7262 closed

[2020-08-18 20:28] #7215 closed

[2020-08-18 20:41] ericvn commented on #7892
I did add an Info section on one page related to the Kiali dashboard sometimes needing a second time:

[code]
I'm not sure if that's the best, but  running the command twice works.

Agree that it would be nice to add the uninstall of the samples to the cleanup section.

[2020-08-18 20:48] #7876 closed

[2020-08-18 21:15] ericvn commented on #7848
@esnible @frankbu Looking at the code, we only put the test indicator at the top of the page if it's ReadingTime is large enough (as I read it): https://github.com/qwertyuiop888/istio.io/blob/master/layouts/partials/primary_top.html#L97

Some pages, like this page do have test:no, but lack of the testing icon.

[2020-08-19 14:33] #6614 closed

[2020-08-21 15:11] linsun opened #7989 "Automate microservices tutorial"
https://istio.io/latest/docs/examples/microservices-istio/

Mariam - per our discussion if you have bandwidth to help with this.

cc @ericvn @frankbu @sdake

[2020-08-21 21:29] macruzbar opened #7993 "Document blogging guidelines for Istio.io"
Considering the rapid growth of Istio project and its vibrant community of contributors to the blog, the [Istio Steering Committee](https://github.com/istio/community/blob/master/STEERING-COMMITTEE.md#committee-members) would like to document blogging guidelines, with the following goals:
- provide more transparency to the process of accepting and rejecting submissions to https://istio.io/latest/b

[2020-08-24 17:02] #7927 closed

[2020-08-24 17:52] douglas-reid commented on #7931
@esnible there is already an outstanding RFC on improving the metrics CLI, and someone that claimed they were working on it. You are cc'd on that issue. IMHO, that work is required before we can graduate the `metrics` command.

[2020-08-24 18:05] esnible commented on #7931
@shamsher31 The Issue and RFC that Douglas mentions can be found at https://github.com/istio/istio/issues/24309

[2020-08-25 03:30] marcfong opened #8012 "Issue with docs/tasks/traffic-management/egress/egress-control/index.md"
John Howard informed me that the instruction to change mesh config for outBoundTrafficPolicy throuhg `kubectl patch istiooperator installed-state -n istio-system` will not work.

Please update the documentation for the correct steps to edit Istio Configmap in istio-system.

[2020-08-25 03:31] howardjohn commented on #8012
@istio/wg-environments-maintainers  cns someone pick this up? not sure if we do the same in other docs as well

[2020-08-25 10:53] shamsher31 commented on #7931
@douglas-reid @esnible Thanks. Seems like a good improvement for `metrics`. I will take a look some time next week.

[2020-08-25 14:37] su225 opened #8014 "Fix cleaning up port-forwards in docs test"
There are many tests where we use `killall` in documentation, but we use `pgrep istioctl | xargs kill`. One reason is that `killall` is not present in the `istio-testing/build-tools` container. Another strange thing is we have to use these commands both in test as well as cleanup phase which is weird. This must be fixed to use the snippet from the documentation page for more accuracy.

https://git

[2020-08-25 16:48] christian-posta commented on #7672
It's not clear, or maybe i missed it... where or how those automated tests get run? Do they get run for every build/release of the docs? If i click on the link it just takes me to the test repository but i don't see test (just instructions for how one could generate them). Can we clarify somewhere what happens with the tests or where are they and what their role is in publishing the docs?

[2020-08-26 02:40] yonwon01 opened #8026 "every 45days to refresh cert"
i'm using Istio self-signed certificates, and my expiration date of the root certificate is 30 years.
but Envoy is restarted every 45 days to refresh certificates. i searched from [here](https://istio.io/v1.2/docs/ops/traffic-management/troubleshooting/#headless-tcp-services-losing-connection), but there's no specific reason why refresh every 45 days. would you please explain it??
cuz, I didn't re

[2020-08-26 11:52] cpick commented on #7374
In addition to running into the issue when viewing documentation, I've also been bumping up against it when attempting to view design docs posted into various Github issues, for example [this one](https://docs.google.com/document/d/1yfYFp2Pw3-pPACYGRWQQdrEtroAunCD3fjOF9ZGtcrU/edit#heading=h.n7k4m7emxj5z) taken at random from [this issue](https://github.com/istio/istio/issues/26292).

[2020-08-26 12:35] #7931 closed

[2020-08-26 14:46] howardjohn commented on #7374
You need to join the drive for access:
https://istio.io/latest/about/community/join/

On Wed, Aug 26, 2020 at 4:52 AM Chris Pick <notifications@github.com> wrote:

[2020-08-27 01:56] luislhl commented on #6884
For everyone coming to this issue, the right way is to pass Environment Variables to your Grafana deployment in order to configure anything that you would configure in grafana.ini.

Check https://grafana.com/docs/grafana/latest/administration/configuration/

[2020-08-27 03:28] woodliu opened #8039 "Issue with docs/tasks/traffic-management/egress/wildcard-egress-hosts/index.md"
In `https://istio.io/latest/docs/tasks/traffic-management/egress/wildcard-egress-hosts/#setup-egress-gateway-with-sni-proxy`  step 3,it will create` istio-egressgateway-with-sni-proxy.yaml` use the command below:
[code]

But return `Error: unknown field "gateways" in v1alpha1.IstioOperator:`
The format is not correct

[2020-08-28 00:27] brian-avery commented on #7271
@carolynhu is this still for 1.6 or can we update this to reference 1.7?

[2020-08-28 04:40] carolynhu commented on #7271
@brian-avery this should be marked as 1.7

[2020-08-28 11:59] #6359 closed

[2020-08-28 15:53] dsbos opened #8046 "Doc. bug re root namespace in docs/ops/best-practices/traffic-management/index.md?"
The page currently at https://istio.io/latest/docs/ops/best-practices/traffic-management/ says:

"... Istio configuration root (istio-system by default) ..."

Is that correct?

That sounds like it's saying that the root namespace defaults to `istio-system`.

However, isn't it the case that a) the root namespace does not default to anything, and b) "root namespace" refers to something other than wh

[2020-08-28 16:01] dsbos opened #8047 "Doc.: unclear "clients ... use" on docs/ops/best-practices/traffic-management/index.md"
The page currently at https://istio.io/latest/docs/ops/best-practices/traffic-management/ says:

"For example, only clients in the same namespace can use the following virtual service:"

It's not completely clear what "clients ... use" means there.

Does that refer to HTTP clients making requests using the host names defined (or configured) by VirtualServices?

Or does "client" refer to other conf

[2020-08-28 17:00] dsbos opened #8048 "Clarify "catch-all rules" on docs/ops/best-practices/traffic-management/index.md"
The page current at https://istio.io/latest/docs/ops/best-practices/traffic-management/#cross-namespace-configuration says:

   There should only be one “catch-all” rule (i.e., a rule that matches any request path or header) in the fragments. All such “catch-all” rules will be moved ...

However, it doesn't say what form the catch-all rule must take in order to be recognized and moved.

Presumably

[2020-08-28 17:13] dsbos opened #8049 "Doc.: Unclear "first" on docs/ops/best-practices/traffic-management/index.md"
The page currently at https://istio.io/latest/docs/ops/best-practices/traffic-management/#cross-namespace-configuration says:

The references to "first"and "following" are ambiguous or maybe don't make sense.

The text is taking about definitions in multiple DestinationRule resources, right? And there's no defined ordering among DestinationRules _in general_, right?

Is the text alluding to the or

[2020-08-31 06:47] woodliu commented on #7730
fixed

[2020-08-31 06:47] #7730 closed

[2020-08-31 17:35] ldemailly opened #8052 "Issue with docs/reference/config/istio.operator.v1alpha1/index.html"
references https://istio.io/docs/reference/config/installation-options/ which doesn't exist

[2020-09-01 08:55] wghdr opened #8056 "Issue with docs/tasks/security/authentication/authn-policy/index.md"
[code]

最新的文档是1.7版本，policy和meshpolicy都已经被移除了，需要用PeerAuthentication来代替。

[code]

[2020-09-01 10:15] hobbytp opened #8057 "Issue with docs/setup/additional-setup/sidecar-injection/index.md"
The section "Uninstalling the automatic sidecar injector" is incorrect for sidecar-injector service is merged with istiod. Please update it.

[2020-09-01 21:02] nmittler opened #8062 "Create doc for configuring PKI"
https://docs.google.com/document/d/1up7KH1AndP6i4uvxqNAGGRjf90BD9UHDNFkC0LO7kHI/edit#

This needs to land for 1.8

[2020-09-02 20:30] ericvn commented on #8062
@nmittler I don't have access to that document.

[2020-09-02 21:06] myidpt commented on #8062
@ericvn Just moved it to the community folder. Please check again.

[2020-09-03 01:43] woodliu opened #8067 "Issue with docs/tasks/observability/kiali/index.md"
The link **Kiali validations page** in this chapter is not reached

[2020-09-03 13:34] ericvn commented on #8062
@nmittler Works now.

[2020-09-03 19:13] ericvn commented on #8052
This is coming from: https://github.com/istio/api/blob/master/operator/v1alpha1/operator.proto#L179 (after a gen in that repo and pulling the document to istio.io).

[2020-09-03 21:01] #8067 closed

[2020-09-04 06:49] shamsher31 opened #8076 "Describes how to configure SNI monitoring and apply policies on TLS egress traffic."
This task is deprecated with Mixer and will be deleted by https://github.com/istio/istio.io/pull/8071

We need a new page to configure SNI monitoring and apply policies on TLS egress traffic.

Based on https://github.com/istio/istio.io/pull/8071#discussion_r483131958

[2020-09-04 08:42] shamsher31 opened #8077 "Sidecar Injection with annotation fails with error."
Ref: https://preliminary.istio.io/latest/docs/setup/additional-setup/sidecar-injection/#policy

Fails with following error.
[code]

Using this YAML.

[code]

Where the `selector` and `labels` are missing.

[2020-09-04 14:37] istio-testing opened #8081 "[master] [release-1.7] Update Performance and Scalability Page for 1.7"
Manual cherrypick required.

#8069 failed to apply on top of branch "master":
[code]

[2020-09-04 17:29] ericvn commented on #8077
Not sure if a fix for https://github.com/istio/istio.io/issues/8057 could also be added here.

[2020-09-04 17:37] ericvn commented on #8056
Maybe https://github.com/istio/istio.io/pull/6546 needs to be carried over the the Chinese doc?

[2020-09-04 17:50] ericvn commented on #8039
Thanks for the issue. I believe this was fixed by https://github.com/istio/istio.io/pull/8050. If you still see the issue, you can reopen the issue.

[2020-09-04 17:50] #8039 closed

[2020-09-04 17:55] ericvn commented on #7955
I see similar options, but this issue should like be in the istio/istio repository with a test-release label.

[2020-09-04 18:09] ericvn commented on #7900
Hello. I'm not sure I understand your problem. If you link to https://istio.io/vx.y you will always end up at the documentation for that particular release. It maybe that if your link calls out the most recent version, 1.7 now, that the redirected URL you see has `latest` in it. Cutting/pasting that somewhere will end up always pointing to the latest version and not 1.7.

So, you could always just

[2020-09-04 21:28] #7271 closed

[2020-09-06 14:57] woodliu opened #8089 "Issue with docs/ops/configuration/security/root-transition/index.md"
The script in this [step ](https://istio.io/latest/docs/ops/configuration/security/root-transition/#root-transition-procedure) is not fit for the 1.7 Istio. And the pod with Envoy sidecar not restart after extending the CA lifetime

[2020-09-07 06:31] shamsher31 commented on #8077
@ericvn The uninstalling sidecar injection throws the following error.

[code]

I'm thinking if [`kube-uninject`](https://github.com/istio/istio/blob/707b28d8b8e6dac582f55fe40403109f4d3cbb4e/istioctl/cmd/kubeuninject.go#L344) will be useful here in any way?

[2020-09-07 06:49] shamsher31 commented on #8077
I have removed unused delete commands.

[2020-09-08 01:37] Niksko opened #8090 "Document Istio operator's merge behaviour"
The Istio operator has some undocumented merge behaviour, as per the discussion here: https://github.com/istio/istio/issues/27032

This should be documented, as it's a pretty big issue. PR incoming shortly.

[2020-09-08 06:40] qijianbo010 opened #8092 "connection reset executing"
Service requests without sidecar injection during service grid access will cause connection reset for services injected with sidecar. Isto version is 1.4.6. Is this normal? What needs to be done. (is it OK after all sidecar is injected)

[2020-09-08 14:06] woodliu opened #8093 "Issue with docs/tasks/traffic-management/egress/wildcard-egress-hosts/index.md"
In [this step](https://istio.io/latest/docs/tasks/traffic-management/egress/wildcard-egress-hosts/#wildcard-configuration-for-a-single-hosting-server), i found that the `protocol` below is TLS in the old version, but now it change to HTTPS. Could someone tell me why change that? I found it is work both use TLS and HTTPS. Thanks!
[code]

[2020-09-08 14:34] #7965 closed

[2020-09-08 16:00] #8077 closed

[2020-09-08 17:01] su225 opened #8097 "Avoid duplication of KinD cluster setup for both single and multicluster tests in istio/istio and istio/istio.io repositories"
Currently, `lib.sh` in both repos are almost duplicated with some changes. We have to move this to `istio/common-files` and use it from there. But there are differences that need to be considered like setting up registry for multicluster etc.

[2020-09-09 15:23] ericvn commented on #8093
I believe this was changed in https://github.com/istio/istio.io/pull/8050 so will let @frankbu answer that.

[2020-09-09 15:28] ericvn commented on #8081
Fixed by https://github.com/istio/istio.io/pull/8084

[2020-09-09 15:30] #8081 closed

[2020-09-09 17:05] frankbu commented on #8093
Actually, @vadimeisenbergibm changed that. If it works both ways, maybe it's just simpler to use HTTPS if we know that's what it's being used for? @vadimeisenbergibm, can you explain the reason?

[2020-09-10 02:27] howardjohn commented on #5532
This is fixed

[2020-09-10 02:27] #5532 closed

[2020-09-10 02:34] howardjohn commented on #6676
fixed https://preliminary.istio.io/latest/docs/ops/diagnostic-tools/proxy-cmd/#verifying-connectivity-to-istiod

[2020-09-10 02:34] #6676 closed

[2020-09-10 02:35] howardjohn commented on #6678
all namespaces is recommended now https://preliminary.istio.io/latest/docs/ops/diagnostic-tools/istioctl-analyze/

[2020-09-10 02:35] #6678 closed

[2020-09-10 02:36] howardjohn commented on #6680
This is still an issue

[2020-09-10 02:37] howardjohn commented on #6756
Seems like we are unlikely to change a 6 month old blog post

[2020-09-10 02:37] #6756 closed

[2020-09-11 01:12] woodliu opened #8122 "Issue with docs/tasks/traffic-management/egress/wildcard-egress-hosts/index.md"
I fellow this [step](https://istio.io/latest/docs/tasks/traffic-management/egress/wildcard-egress-hosts/#configure-traffic-through-egress-gateway-with-sni-proxy) to `Configure traffic through egress gateway with SNI proxy`.
After deploy all the resource , i found the connection speed is too slow than just use a ServiceEntry(without DestionationRule, Gateway, VirtualService and EnvoyFilter). Doest

[2020-09-15 07:01] didier-durand opened #8139 "http 404 for hyperlink in page https://istio.io/latest/docs/setup/getting-started/#dashboard"
Hello,

In page of title, the URL behind "kubectl apply -f samples/addons" which is https://raw.githubusercontent.com/istio/istio/release-1.7/samples/addons currently gives http 404.

Didier

[2020-09-15 11:20] jonas-vadebo opened #8140 "Issue with docs/reference/config/istio.operator.v1alpha1/index.html"
Overrides for default values.yaml. This is a validated pass-through to Helm templates. See the Helm installation options for schema details: https://istio.io/docs/reference/config/installation-options/. Anything that is available in IstioOperatorSpec should be set above rather than using the passthrough. This includes Kubernetes resource settings for components in KubernetesResourcesSpec

The URL

[2020-09-15 15:39] istio-testing opened #8144 "[release-1.6] remove how to enable app http probe instruction"
Manual cherrypick required.

#7890 failed to apply on top of branch "release-1.6":
[code]

[2020-09-15 15:41] istio-testing opened #8145 "[release-1.6] Cleanup health checking doc"
Manual cherrypick required.

#7961 failed to apply on top of branch "release-1.6":
[code]

[2020-09-15 15:42] linsun commented on #8144
probably good to cherry pick together with https://github.com/istio/istio.io/issues/8145

[2020-09-15 15:42] linsun commented on #8145
@frankbu I'll close this as cherry pick this one together with the other issue.

[2020-09-15 15:42] #8145 closed

[2020-09-15 15:49] frankbu commented on #8144
@linsun, unless it's a critical bug, we don't usually cherrypick back to archived docs because it requires a manual rebuild.

cc @davidhauck

[2020-09-15 15:57] linsun commented on #8144
Good point, didn't realize that.  Thought it is all automatic @frankbu. @davidhauck please advise.

I can't say it is critical but one of users ran into this and i clarified with him.  He is fine now but others could run into it since most of istio users are still on 1.6.x from our lifecycle survey that @therealmitchconnors collected.

[2020-09-16 05:49] vadimeisenbergibm commented on #8093
@woodliu @ericvn @frankbu Both `TLS` and `HTTPS` will work here. Technically, `HTTPS` is HTTP on top of TLS.

I would say that in this case `HTTPS` describes the protocol that is used to access `*.wikipedia.org` more precisely than `TLS`. However, this precision does not matter in this case, so describing the protocol as TLS would work too. If I would operate my cluster and would use TLS before, I

[2020-09-16 06:19] su225 commented on #8097
Work in various repos
https://github.com/istio/istio.io/pull/8127
https://github.com/istio/istio/pull/27248
https://github.com/istio/common-files/pull/312
https://github.com/istio/common-files/pull/311
https://github.com/istio/common-files/pull/310

[2020-09-16 10:57] shamsher31 commented on #8139
Ref: https://istio.io/latest/docs/setup/getting-started/#dashboard

If you look into the samples folder.

[code]

As per the instruction, the following command will install everything from  `samples/addon` folder.

[code]

**So that URL was never meant to be clicked** but to allow all addons to be installed from that location.

You can find more details here.
https://github.com/istio/istio/tree/re

[2020-09-16 10:57] #8139 closed

[2020-09-16 11:04] didier-durand commented on #8139
Ok, thanks. Though, I thought that it would be good for the document to be clickable to make things easier.
Didier

[2020-09-16 14:41] ericvn commented on #8093
I think @vadimeisenbergibm's comment answers the question, and since there is a thinbsup from the originator, I'll close the issue for now. Feel free to reopen if there is still an issue. Thanks.

[2020-09-16 14:41] #8093 closed

[2020-09-16 15:43] su225 commented on #8097
Closing this as `kind_provisioner.sh` is integrated to both istio/istio and istio/istio.io repos

[2020-09-16 15:43] #8097 closed

[2020-09-16 16:56] ericvn commented on #8144
I don't think a rebuild is necessary anymore. We do need to run a script which pulls the changes from the release into `master` and it builds with the normal build.

[2020-09-16 17:09] davidhauck commented on #8144
@ericvn is correct, after this is merged into release-1.6, you will need to follow the steps here: https://github.com/istio/istio.io#updating-an-archive. You should be able to run `make build-old-archive-1.6.0` in `release-1.7` to accomplish that.

[2020-09-16 18:07] ericvn commented on #8144
Note that I have a todo to run this to pick up another change. I can wait to do that process until after this PR would be merged.

[2020-09-16 20:09] ericvn commented on #8144
As a test of the command, I did create https://github.com/istio/istio.io/pull/8154 which is an update of the 1.6 repository from the changes that went in after the release branching. I was specifically seeing if changes from https://github.com/istio/istio.io/pull/8055.

[2020-09-17 16:08] #8140 closed

[2020-09-18 09:55] shamsher31 opened #8166 "Add example for OpenCensus in Distributed Tracing Section"
Ref: https://preliminary.istio.io/latest/docs/tasks/observability/distributed-tracing/

https://preliminary.istio.io/latest/docs/reference/config/istio.mesh.v1alpha1/#Tracing

I think good to add a dedicated page for OpenCensus as @brianwolfe added support for it.

https://github.com/istio/istio/pull/27019
https://github.com/istio/api/pull/1563

[2020-09-18 10:54] shamsher31 opened #8167 "Missing capitalisation for accessLogEncoding default values."
Ref: https://preliminary.istio.io/latest/docs/reference/config/istio.mesh.v1alpha1#MeshConfig

Search for accessLogEncoding

Possible values are `TEXT` and `JSON`.
https://preliminary.istio.io/latest/docs/reference/config/istio.mesh.v1alpha1#MeshConfig-AccessLogEncoding

[2020-09-18 11:31] shamsher31 opened #8168 "Inconsistency in rendering enum and code examples for MeshConfig"
https://preliminary.istio.io/latest/docs/reference/config/istio.mesh.v1alpha1#MeshConfig

ISTIOMUTUAL
ALLOWANY
- All Namespaces . - Current Namespace ~ - No Namespace
defaultserviceexportto
DestinationRule.exportto
DONOTUPGRADE
destinationRule.trafficPolicy.connectionPool.http.h2UpgradePolicy

https://preliminary.istio.io/latest/docs/reference/config/istio.mesh.v1alpha1#Certificate
Example 1: key

[2020-09-18 13:57] ericvn commented on #8168
This page comes from the istio/api repo and needs to be updated there.

[2020-09-18 14:01] ericvn commented on #8167
Will leave this issue in this repo, although it could be moved to istio/api, as there is already a PR created.

[2020-09-18 14:27] brianwolfe commented on #8166
Yes, there is also some cleanup I’m planning to do around context propagation. If anyone else takes this, feel free, but otherwise I’ll probably have something up next week.

[2020-09-18 15:07] shamsher31 commented on #8167
I think more or less it's related to docs even though they are generated through API proto files. Although I guess moving to `istio/api` makes sense.

@ericvn will you recommend creating these kinds of issues in `istio/api` from next?

[2020-09-18 16:06] ericvn commented on #8167
@shamsher31 I think it sort of depends on if the change is relatively small and could be contained by a doc developer. I don't think non doc developers follow this repo all that much so if the change is needed by someone more affiliated with istio/api it should go there. If it's minor and a doc person can make the change in istio/api, than I could see it being created here. I hope that makes sense

[2020-09-18 16:31] #8167 closed

[2020-09-18 16:54] tariq1890 commented on #7613
Is it possible to get an example to enable debug logging per pod through envoy filter?

[2020-09-21 14:42] doggy8088 opened #8178 "Authorization Policy content format error"
https://istio.io/latest/docs/reference/config/security/authorization-policy/

![image](https://user-images.githubusercontent.com/88981/93781207-b6f5b180-fc5b-11ea-9278-0ea6bdc3dfb2.png)

[2020-09-21 16:27] ericvn commented on #8178
Will be fixed by the cherry-pick of istio/api#1645 to release 1.7

[2020-09-22 09:15] emike922 commented on #7063
Also waiting for some official statement on this.
Meanwhile, has anyone tested the adapted configuration in an IPv6 environment? Last time I tried it was working on IPv4 but not working on IPv6. I need to recreate the exact issue for logs and to really make sure before I can submit a separate ticket though.

[2020-09-22 10:47] javadebo opened #8182 "Issue with https://istio.io/docs/reference/config/installation-options/"
This page does not exists, and it would be really good if there where any documentation anywhere where it would be possible to se the config options and which they are, since the once mentioned in the api proto does not work.

https://istio.io/docs/reference/config/installation-options/

[2020-09-22 14:35] #6650 closed

[2020-09-22 16:28] istio-testing opened #8185 "[release-1.7] Logo changes"
Manual cherrypick required.

#8184 failed to apply on top of branch "release-1.7":
[code]

[2020-09-22 16:59] craigbox commented on #8185
Not sure how to proceed from here sorry!

[2020-09-22 17:46] frankbu commented on #8185
@craigbox You just need to checkout the `release-1.7` branch, and then manually make the same change that you did last time for the `master` branch. The error message seems to imply that the conflict is because of deleting customer ANZ, which isn't in the 1.7 version, so all you need in the new PR are the 3 additions.

[2020-09-22 18:34] #6583 closed

[2020-09-22 18:35] #6572 closed

[2020-09-22 18:35] #6577 closed

[2020-09-22 18:35] #6576 closed

[2020-09-22 18:35] #6573 closed

[2020-09-23 03:23] ericvn commented on #8178
https://preliminary.istio.io/latest/docs/reference/config/security/authorization-policy/ has the change for the PR mentioned above. Once the cherrypick, https://github.com/istio/api/pull/1647, gets merged in 1.7 and we pull the new docs, the change will make it back into the istio.io version of the docs. That sometimes takes some time (order of weeks).

[2020-09-23 06:28] shamsher31 opened #8191 "istioctl bug-report description is messed up."
Ref: https://preliminary.istio.io/latest/docs/reference/commands/istioctl/#istioctl-bug-report

![istioctl-bug-report](https://user-images.githubusercontent.com/2920003/93974620-b95b2700-fd93-11ea-98e6-3fa07c6500d3.png)

[2020-09-23 07:17] shamsher31 opened #8192 "Environment variables command reference page is overlapping with sidebar content."
https://preliminary.istio.io/latest/docs/reference/commands/istioctl/#envvars

![env-vars](https://user-images.githubusercontent.com/2920003/93979243-b6b00000-fd9a-11ea-9df9-8a38c1aa591d.png)

Related issues:
https://github.com/istio/istio.io/issues/6912
https://github.com/istio/istio.io/issues/7412

[2020-09-23 10:09] craigbox commented on #8185
Thanks!  The conflict is, as far as I can tell, that creating a release branch does some sort of SVG shrink on the images, so what is on this branch isn't actually what is on master.  Deleting one of the files doesn't work as the file isn't the same.

Manually done in #8193.

[2020-09-23 10:09] #8185 closed

[2020-09-23 13:44] frankbu commented on #8185
Interesting. I thought the image bot would run on both branches, so both would be optimized the same. I guess this is another one on our growing list things that are supposed to be automated but need to be fixed :(

[2020-09-23 15:27] #8191 closed

[2020-09-24 10:59] shamsher31 opened #8202 "Remove `istioctl manifest install` alias"
Ref: https://preliminary.istio.io/latest/docs/reference/commands/istioctl/#istioctl-manifest-install

`istioctl manifest apply` is removed and replaced by `istioctl install`. Remove `istioctl manifest install` alias.

[2020-09-24 13:37] ericvn commented on #8202
Once the command is update in the PR, the nightly run updated the reference docs will pick up the change.

[2020-09-25 09:02] sfudeus opened #8211 "Enhance VM in multi-network meshes documentation"
I recently tried to setup inbound mesh expansion with Istio 1.7, following the guide in https://istio.io/latest/docs/examples/virtual-machines/multi-network/#installing-the-istio-control-plane.

The one essential information, which is missing, is that the ingressgateway service must be of type LoadBalancer to allow for discovery of the gateway IP. E.g. externalIp is not sufficient. This minor info

[2020-09-25 16:12] #7728 closed

[2020-09-28 14:57] rootsongjc commented on #8089
I have an Istio 1.7 cluster, I'll test it out tomorrow.

[2020-09-29 05:42] shamsher31 commented on #8182
The installation option for the helm is deprecated and removed with the `1.6` release.

You can still find it in the older version of docs.
https://istio.io/v1.5/docs/reference/config/installation-options/

[2020-09-29 05:42] #8182 closed

[2020-09-29 06:19] sandyhu533 commented on #8089
I test in Istio 1.7.2 cluster with the following step:
1. change ca and restart istiod
[code]
2. the certs in dataplane pod remain unchange and the new istio CRD can't apply to envoy
3. restart all dataplane deployment
[code]
4. certs are changed and CRDs are applied

my test env:

client version: 1.7.2
control plane version: 1.7.2
data plane version: 1.7.2 (1 proxies)

conclusion:
in 1.7.2, 'Exte

[2020-09-29 13:18] safvankothawala opened #8223 "Not able to load balance gRPC Client Request using Istio"
I am unable to load balance the gRPC requests where my Client and Server applications are both Istio Injected.
**Istio Version:** 1.7.2

**Scenario:**
gRPC-Server is an Istio service having multiple Pods in Kubernetes Cluster.
gRPC-Client is another Istio service having single Pod in Kubernetes Cluster.
gRPC-Client calls gRPC-Server service using its Kubernetes ServiceName and ServicePort.
Virtual

[2020-09-29 18:00] #6632 closed

[2020-09-29 19:28] nmittler commented on #8062
@myidpt I've submitted https://github.com/istio/istio.io/pull/8099 which updates only the `plugin CA` doc. I suspect you'll need to add more children to `Tasks->Security->Certificate Management`

[2020-09-29 19:42] istio-testing opened #8229 "[master] Release 1.7 (#7998)"
Manual cherrypick required.

#8227 failed to apply on top of branch "master":
[code]

[2020-09-29 19:53] #8229 closed

[2020-09-29 21:36] myidpt commented on #8062
@nmittler Thanks for the work. Yes, I will finish the remaining work.

[2020-09-30 00:11] sanjay920 commented on #7989
@johnma14 is this something I can help with? can you share some details?

[2020-09-30 00:37] johnma14 commented on #7989
@sanjay920 I am currently working on this one.

[2020-09-30 00:55] howardjohn opened #8237 "New multicluster docs not copy+pasteable"
I went through the new docs. Since it used CLUSTER1 everywhere, i figured that was a decent name. So I copied all the steps, until the VERY end:

[code]

It would be great to have this copy+pastable. Either use a valid name, or make it a variable?

[2020-09-30 19:41] nmittler commented on #8237
Yep I'm aware of this ... I already have a fix locally as part of writing he automated docs test.

[2020-10-01 09:51] shamsher31 opened #8245 "Add health check using TCP socket"
Ref: https://preliminary.istio.io/latest/docs/ops/configuration/mesh/app-health-check/

Other than `command` and `HTTP` probes, Kubernetes also provide health checks using a TCP socket.

[2020-10-01 18:13] nmittler commented on #8237
This should be fixed by https://github.com/istio/istio.io/pull/8248

[2020-10-01 18:13] #8237 closed

[2020-10-01 19:55] douglas-reid opened #8252 "Add note about scrape intervals vs. rate ranges to grafana dashboard docs"
We should add documentation around the interplay of scrape intervals and rate ranges to our dashboard docs.

In helping troubleshoot dashboard issues today, we stumbled upon a "gotcha" of sorts with the dashboards / Prometheus. It looks like the default helm installs of Prometheus ship with a `1m` scrape interval. This is problematic, as our dashboards use a default `rate` range of `1m`. This mean

[2020-10-01 20:37] ldemailly commented on #8252
for people installing prometheus with helm,
	 --set server.global.scrape_interval=15s
makes both the kiali 1min and most grafana istio dashboards work (compared to the 1min default of prom)

this being said 15s scrape is kinda frequent so indeed it'd be ideal that grafana dashboards adapts to scrape rate rather than the other way around (given prom doesn't consider giving "no data" a bug https://g

[2020-10-04 05:04] sandyhu533 opened #8263 "issue with docs/setup/additional-setup/sidecar-injection/, using local copies of the configuration"
I'm using self-signed ca-cert. I've tried the steps to use local copies of configuration for sidecar injection, but failed with error.
steps:
[code]
error(logs in envoy):
[code]

[2020-10-06 11:29] hbeffge commented on #7622
Same issue here. I just tried with `prefix` instead of `exact` and ended up with `PrefixMatch: ["value length must be at least " '\x01' " bytes"])` in the log. Changed it to `exact` and it seems to work as intended.

[2020-10-06 20:03] rvennam opened #8272 "Issue with docs/setup/install/multicluster/index.md"
https://preliminary.istio.io/latest/docs/setup/install/multicluster/#deploy-the-helloworld-service

<img width="470" alt="image" src="https://user-images.githubusercontent.com/5502967/95253992-3dc69480-07ed-11eb-973a-b8016bbc2258.png">

The section `Deploy the HelloWorld Service` is meant to deploy just the `Service` , but the given command deploys the Service, v1 Deployment and v2 Deployment.

cc

[2020-10-06 20:28] linsun commented on #8272
@nmittler could you look at this?  Should we separate the yaml out into service + deployment?

[2020-10-06 21:02] nmittler commented on #8272
I had copied it from the previous installation docs. Feel free to update as you feel appropriate.

[2020-10-06 21:21] rvennam commented on #8272
I think adding a label to the Service would be the easiest solution.

[2020-10-06 23:21] danielkwinsor opened #8286 "Getting Started on minikube uses wrong port"
**Bug description**
The instructions for minikube on https://istio.io/latest/docs/setup/getting-started/ use the wrong ingress port after starting a minikube tunnel.  port 80 works, which the nodePort does not.  And prior to the minikube tunnel, neither 80 nor nodePort work

[x] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test

[2020-10-07 14:24] frankbu commented on #8272
This used to work, but looks like it broke as a result of https://github.com/istio/istio/pull/27242. Not sure what all is broken, so maybe the best solution is to undo 27242.

[2020-10-07 21:08] frankbu commented on #6807
Closing because this has been fixed.

[2020-10-07 21:08] #6807 closed

[2020-10-07 21:15] frankbu commented on #6159
I believe some of this has been addressed (e.g., the alphabetical ordering).

Is this issue still needed? @howardjohn WDYT?

[2020-10-07 21:37] howardjohn commented on #6159
Only the alpha ordering is addressed. The hierarchy and proto names are still valid. If you look at the operator page you will see its not user friendly at all

[2020-10-11 12:12] sandyhu533 commented on #8263
Oh, I've found that k9s I use conflicts with istio(Prometheus) port 15020, the function itself works fine. Thanks.

[2020-10-11 12:12] #8263 closed

[2020-10-12 11:45] woodliu opened #8285 "Issue with docs/setup/install/multicluster/gateways/index.md"
I fellow these steps to test the connection between cluster1 and cluster2.
After setup the env, the request from cluster1's  `sleep ` pod will be sent to cluster2‘s ingress pod.  Because cluster2 lack serviceentry to resolv *.global domain, so i add a new serviceentry in cluster2 as below:
[code]

And i create a sleep pod in cluster2, in cluster2's sleep pod, i can curl the httpbin successfully:
[

[2020-10-14 02:39] hobbytp opened #8300 "Issue with docs/tasks/security/authentication/authn-policy/index.md"
Please add description for configuration descripted in https://github.com/istio/istio/issues/24082

when autoMtls enabled and the headless service has sidecar injected, user need to either enable mtls with a Destinationrule or disable the mtls required by the headless service with a PeerAuthentication as below:

[code]
or

[code]
nothing need to be done when sidecar is not injected in headless ser

[2020-10-14 10:45] woodliu commented on #8285
This is the xDE info from inrgess pod， I found it lack the endpoint
[code]

[2020-10-14 11:27] shamsher31 commented on #5275
Verified the following pages don't have `--set` command and is replaced by YAML examples.

https://preliminary.istio.io/latest/docs/tasks/traffic-management/egress/egress-gateway-tls-origination/
https://preliminary.istio.io/latest/docs/tasks/traffic-management/egress/egress-gateway-tls-origination-sds/

[2020-10-14 11:27] #5275 closed

[2020-10-14 17:15] JStickler opened #8302 "Link to Documentation archive broken (or incorret URL?)"
https://archive.istio.io/ landing page does not include any obvious link to previous versions of the documentation.

Steps to reproduce.
1 - Start at https://istio.io/latest/
2 - Click the Docs link in the toolbar.
3 - NOTE That there is a gear icon on this page that lets you link to either Next Release or Older Releases, but this is not obvious.  On the https://istio.io/latest/docs/ page, click t

[2020-10-14 17:27] nmittler opened #8303 "Update Multicluster install docs for east-west gateway updates"
Changes resulting from https://github.com/istio/istio/pull/27774

[2020-10-14 17:29] nmittler opened #8304 "Update multicluster install docs for new network config"
We no longer need MeshConfig.

[2020-10-14 19:59] #8303 closed

[2020-10-14 19:59] #8304 closed

[2020-10-15 02:25] woodliu commented on #8285
sloved, the ca issue.

[2020-10-15 02:25] #8285 closed

[2020-10-19 14:07] ericvn commented on #8178
Fixed by https://github.com/istio/istio.io/pull/8296

[2020-10-19 14:07] #8178 closed

[2020-10-20 19:05] pantianying opened #8321 ""must enable containers running with UID 0 for Istio’s service accounts""
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**

Referring to the official documentation, I installed ISTIO in OpenShift
https://istio.io/latest/docs/setup/platform-setup/openshift
There's a description：
![image](https://user-images.githubusercontent.com/20589945/93041982-82dd2800-f680-11ea-8dc7-

[2020-10-21 12:20] jwendell commented on #8321
I'll give it a try with 1.8 which was just cut. Last time I checked (1.7) some component still needed those permissions, that's why those instructions are still in that page.

[2020-10-21 15:15] dgn commented on #8321
`anyuid` isn't just about UID 0 -- you also need that capability to run as UID 1337. So it might be the gateways

[2020-10-22 02:01] padzikm opened #8333 "Unclear documentation"
Hi, I have troubles working with istio's documentation, so maybe here I can get answers:

1) In egress example https://istio.io/docs/tasks/traffic-management/egress/egress-gateway/#egress-gateway-for-https-traffic in http part there is empty subset field in destinationrule:
[code]
 what is empty subset for? according to docs 'a subset without labels may be meaningful. In this case a traffic policy

[2020-10-22 06:23] hobbytp opened #8335 "Issue with docs/reference/config/istio.mesh.v1alpha1/index.html"
For "terminationDrainDuration" parameter description, please add one note here, the biggest duration is less than the kubernetes kubelet grace termination period ( terminationGracePeriodSeconds), the default is 30seconds (can find info here: https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/)

[2020-10-22 15:41] #7374 closed

[2020-10-23 15:43] linsun opened #8345 "plugin key and cert steps missing 2 files."
Following https://preliminary.istio.io/latest/docs/tasks/security/cert-management/plugin-ca-cert/#plug-in-certificates-and-key-into-the-cluster

and when I run `$ make -f ../tools/certs/Makefile.selfsigned.mk cluster1-cacerts` to generate intermediate key and cert, I'm not seeing these 2 files generated.

[code]
This doesn't seem to hurt anything afaik... propose to remove these 2 files from the d

[2020-10-23 15:43] linsun commented on #8345
@nmittler thoughts?

[2020-10-23 15:43] linsun commented on #8345
Example output:

[code]

[2020-10-23 20:22] ssuchter opened #8352 "Produce coverage reports of doc tests"
We have a cool and novel testing system for technical content (e.g. bash commands) in our istio.io docs. It'd be valuable for guiding the community to ensure completeness if there was a CI system that repeatedly ran these doc tests, and produced not just pass/fail but also coverage reports.

I'm imagining both coverage in terms of files as well as "lines" in the files. (The lines wouldn't cover pr

[2020-10-23 20:23] ssuchter commented on #8352
@justinpettit @nmittler @frankbu

[2020-10-23 23:20] justinpettit commented on #8352
I'm not sure if you're discussing coverage of the source code or the docs.  Do you mean knowing what amount of the Istio source code is being executed by the doc test?  Or what percentage of the doc code snippets are being run by the test.  If the latter, we would hope 100%, but I think there's the potential to miss a snippet, but we could potentially catch that with a lint stage.  I'd guess you m

[2020-10-23 23:48] ssuchter commented on #8352
Great question. I'm definitely talking about what percentage of the doc
code snippets are being run by the test, and what percentage of docs with
code snippets are being tested. I am not interested at all in trying to
make sure that we cover all the Istio codebase with the doc tests, I
wouldn't try to optimize that. I don't even know what I'd do with any
number, aside from being worried if it was

[2020-10-24 16:32] nmittler opened #8353 "[Testing] Istio-ingressgateway unable to obtain external IP address"
This was discovered while working on https://github.com/istio/istio.io/pull/8346.

As part of this work, I tried modifying the custom logic for IP address fields in [__cmp_like](https://github.com/istio/istio.io/blob/master/tests/util/verify.sh#L115) to not allow matching against `(pending)` or `(none)`. Apparently this was added to support node port gateways, which should no longer be needed now

[2020-10-24 16:32] nmittler commented on #8353
FYI @frankbu @ericvn @stevenctl

[2020-10-25 18:46] moctk619 opened #8355 "Linux Kernel"
ℹℹℹⓂ️⬇️
[|][|][|][|]|[]|[]|[]|[]|[]|[]

[2020-10-26 09:49] kappa-wingman opened #8357 "Invalid syntax for the RSS feed"
I tried to add the rss to thunderbird, but it said the feed syntax is invalid.
URL of the feed: https://istio.io/latest/blog/feed.xml

Checked by the w3 validator:
https://validator.w3.org/feed/check.cgi?url=https%3A%2F%2Fistio.io%2Flatest%2Fblog%2Ffeed.xml

[2020-10-26 13:31] frankbu commented on #8353
All of the other single-cluster tests that use the ingress gateway use similar [code to determine if it has an ext LB](https://github.com/istio/istio.io/blob/a13b5de51d63b4b73fca56bb83a9d39ccb1f9599/tests/util/helpers.sh#L53), so I wonder if this implies that all the single cluster tests are using nodeport to access the gateway?

What's the difference between the single and multicluster test clust

[2020-10-26 14:25] ericvn commented on #8353
Need to investigate more, but I believe kind by itself would use nodeport. Adding MetalLB would be a way to use the external load balancer. Will this cause any issues trying to run the tests locally on a Mac for example?

[2020-10-26 15:14] frankbu commented on #8352
Aside from the percentage of lines that are covered in a test, which as @justinpettit said, we hope is 100%, we already have a couple of things to help understand the coverage:

1. Doc pages have an indicator on the page to say if they are tested or not. See https://github.com/istio/istio.io/blob/master/README.md#testing-document-content

2. You can run the command `make test_status` in the istio/

[2020-10-26 16:04] ericvn opened #8359 "Remove IBM Cloud Private"
As IBM Cloud Private has been deprecated, remove it from the IBM Cloud setup pages.

[2020-10-26 16:19] ericvn opened #8361 "Determine Kubernetes supported versions for Istio 1.8."
I see the docs currently have support listed as 1.17, 1.18, and 1.19. I'm to sure if that's correct or not and didn't get a final answer via Slack.

[2020-10-26 16:34] ericvn commented on #8355
Not sure what this issue is about. Update the description and reopen if needed.

[2020-10-26 16:34] #8355 closed

[2020-10-26 17:01] nmittler commented on #8353
@frankbu @ericvn agreed that we should investigate, but not as part of this PR. I've already created a separate tracking issue for that. Let's just get this in and tackle the investigation as follow-on work.

[2020-10-26 17:04] nmittler commented on #8353
@ericvn

If you're running with the same kind environment locally, I would expect the same behavior

[2020-10-26 17:15] nmittler commented on #8353
@frankbu

I haven't looked closely at the multicluster setup for kind, and I suspect the investigation should probably start there. As far as installing the control plane, the tests that use the `default` and `demo` profiles are getting istio installed by the istio test framework, which *may* be slightly different than what happens when just using a standard istioctl install.

[2020-10-26 20:32] #8359 closed

[2020-10-26 21:05] frankbu commented on #8353
One thing that this highlights is that even though the doc in question has instructions for both ext LB and nodeport cases, we really are only testing one or the other. I had assumed we were testing with the LB env, but for some reason we are using nodeport. Once we figure out why, we will still have the problem that we don't test both paths. Maybe we really need setup config choices for both with

[2020-10-26 21:08] frankbu commented on #8353
@ericvn, I think you may be right. Basic kind cluster has no LB, and that must we what we use in the single cluster setups. Multicluser adds the LB using MetalLB.

[2020-10-27 16:12] sdake opened #8374 "helm page issues"
I have reviewed the full document as a whole.

1. I would change line 13 "pre-alpha" to "experimental." Istio has an experimental feature status, but not a pre-alpha stage.
1. I am not keen on line 115 - the migration from non-Helm environments. I think the stand-alone operator for Istio needs to be stopped first (deletion of the deployment as a minimum - the whole manifest ideally) before proceed

[2020-10-27 17:25] ericvn commented on #8361
We do CI on 1.15 -> 1.19 today using kind.

[2020-10-27 17:26] ericvn commented on #8361
@istio/technical-oversight-committee have helped with this decision for prior releases.

[2020-10-27 17:47] nrjpoddar commented on #8374
@sdake here's my take on your suggestions above:

1. This wording was suggested by @frankbu in the PR and currently used in other pages like https://preliminary.istio.io/latest/docs/ops/configuration/traffic-management/network-topologies/ and https://preliminary.istio.io/latest/docs/tasks/observability/distributed-tracing/configurability/. Let's figure out the right verbiage and I will make them c

[2020-10-28 02:05] linsun commented on #8361
Thanks @ericvn - can you add an agenda item for this in TOC mtg?

[2020-10-28 14:48] ericvn commented on #8374
We do mention pre-alpha at https://github.com/istio/community/blob/master/FEATURE-LIFECYCLE.md

[2020-10-28 16:37] sdake commented on #8374
1. Thanks @ericvn. I got them mixed up :) Please ignore comment #1
1. I think can be fixed simply be moving the warning up and joining the two sentences. Here is a rendered screenshot:
```Uninstalling Istio can cause your custom Istio configurations to be lost permanently so it is highly recommended to take a backup of your Istio configuration before deleting Istio in your cluster.``` should proce

[2020-10-28 17:11] djannot opened #8380 "The vm-network entry is missing in the yaml"
As discussed @christian-posta, in the page https://istio.io/latest/docs/examples/virtual-machines/multi-network/ the yaml doesn't contain the `vm-network` entry.

It should be as follow:
[code]

[2020-10-28 20:09] howardjohn opened #8383 "PILOT_ENABLE_FLOW_CONTROL may breaks XDS ordering"
I think this will not work as implemented today.

Concern is:
1. Envoy has clusters {a, b}
2. We push services {a, b, c}
 * CDS is blocked, put it in queue
  * EDS no blocked, send it {a, b, c}
  * Envoy doesn't know cluster c, it drops the EDS

Once we do send the CDS, envoy may just request the EDS again and we will respond - not entirely sure. We need to test this case.

Note: this feature is d

[2020-10-28 23:40] howardjohn opened #8388 "Istio architecture diagram stale"
docs/ops/deployment/architecture/index.md

It contains references to "pilot citadel galley". These are not explained anywhere. It should probably say "service discovery, certificate authority" or just nothing

[2020-10-28 23:41] howardjohn commented on #8388
Also it shows istiod sending "discovery" to the proxies which does not make sense to me

[2020-10-29 12:50] emike922 opened #8393 "Document autoMTLS behavior specific to headless services"
After going through istio/istio#24082 my understanding is that Istio will by default use tls mode ISTIO_MUTUAL towards headless services, and if someone wants to contact a plaintext service that is headless they have to create a PA or DR to disable TLS origination for that host.
Is that understanding correct?

Could you please add some official documentation regarding this behavior for headless se

[2020-10-29 15:19] djannot commented on #8380
There's another confusing statement in this page: https://istio.io/latest/docs/setup/install/virtual-machine/

[code]

When I read this I don't feel like I need to set the `ISTIO_INBOUND_PORTS` env variable to reach services running on the VM.

[2020-10-29 15:39] andrewisplinghoff commented on #3844
If the config value `controlPlaneSecurityEnabled` does not longer exist, the example for customizing the Istio installation with `istioctl install --set values.global.controlPlaneSecurityEnabled=true` should be changed to sth. else on https://istio.io/latest/docs/setup/install/istioctl/#customizing-the-configuration.

[2020-10-29 16:54] ericvn opened #8396 "Need to document the new vendor profiles"
https://preliminary.istio.io/latest/docs/setup/additional-setup/config-profiles/ does not contain any information about the new vendor profiles like `openshift`

[2020-10-29 17:10] ericvn opened #8397 "Getting started waiting for Kiali deployment fails"
The getting started page, https://preliminary.istio.io/latest/docs/setup/getting-started/, has the command:`while ! kubectl wait --for=condition=available --timeout=600s deployment/kiali -n istio-system; do sleep 1; done` as part of a snippet which should wait for Kiali to start. Tsnippet returns but Kiali was not ready.
[code]
while
[code]
This resulted in:
[code]

Waiting until the Kiali pod was