[2018-10-22 19:39] rshriram commented on #2766
Also, *.googleapis.com is a special non standard dns server.. Seems they even have a CNAME entry for *.googleapis.com -- which nobody else does.

[2018-10-22 20:03] frankbu commented on #2787
I fixed this by first running
[code]
Which creates the following:
[code]
After that I can do the helm install.

@sdake Do we need to commit these files to master, or is there another way to do it dynamically?

[2018-10-22 20:45] rvandegrift commented on #2766
I see.  That's kind of a bummer, the egress config seems pretty verbose and fragile.  But I don't have a concrete complaint that's appropriate for this issue.

FWIW, I don't think wildcard CNAMEs are rare or unusual.  It's often used it as a service routing mechanism - point the wildcard CNAME to load balanced proxies, use the http Host header to choose the appropriate backend.  I don't know if th

[2018-10-23 13:59] frankbu commented on #2766
@rvandegrift you can still create the ServiceEntry for `*.googleapis.com`, but you need to add an endpoint like this:
[code]
Then you can select the specific subdomains that you want to expose using VirtualServices, for example to only allow `pubsub.googleapis.com`:
[code]

[2018-10-24 00:19] rvandegrift commented on #2766
@frankbu I was able to test with this morning's master, and indeed your config works - but only for the first VirtualService that I create.  If I create a second VirtualService for `container.googleapis.com`, that API fails though `pubsub.googleapis.com` works.

If I create the VirtualService for `container.googleapis.com` first, then it works but `pubsub.googleapis.com` fails.

I got both working

[2018-10-24 00:20] rvandegrift commented on #2787
Thanks for the tip @frankbu!  Just confirmed that this worked for me.

[2018-10-24 17:04] frankbu commented on #2766
@rvandegrift I noticed that it does work if instead of creating two virtualservices, you put both hosts in one virtualservice:
[code]
@rshriram Does this what you would expect?

[2018-10-24 17:18] rshriram commented on #2766
@frankbu I would have expected both the one you have and the one with two virtual services to work.. That said, I have to look into the code again to refresh my memory as to what me & Isaiah put in..

[2018-10-25 11:33] arun-gupta opened #2799 "Incorrect command for Jaeger dashboard"
https://istio.io/docs/tasks/telemetry/distributed-tracing/ shows the code as:

[code]

Three issues with this:

- This return no pods because the label on the pods are changed to `app=telemetry` instead of `app=jaeger`.
- kubectl requires the resources type to be identified. So it should be `pod/...`
- Container port is incorrect. `16686` is not an exposed port as shown in the following output:

[

[2018-10-25 14:57] adinunzio84 commented on #2799
The port-forward command in the docs works fine for me (on 1.0.2). The Jaeger pod is still labeled as `app=jaeger` in the [helm charts](https://github.com/istio/istio/blob/master/install/kubernetes/helm/subcharts/tracing/templates/deployment.yaml#L16). Also the `pod/` prefix is not necessary because it defaults to pod if omitted for the `port-forward` command. `kubectl get pods -l app=jaeger -n is

[2018-10-25 15:05] adinunzio84 opened #2800 "Document how to create child/follows-from spans in Distributed Tracing"
The [docs for distributed tracing](https://istio.io/docs/tasks/telemetry/distributed-tracing/) show how to pass headers along from one service to another so the proxies can stitch together traces. However, it is not clear how to create child spans from the spans that Istio gives us.

It would be helpful to have an example that demonstrates:
* How to configure the necessary tracer (Jaeger in this c

[2018-10-25 18:12] adinunzio84 commented on #2800
For anyone trying to get this working, I had to
1) Change the Jaeger all-in-one docker image version from 1.5 to 1.7
1) Modify it so the pod template exposes port 14268 in the Deployment (the port that the service sends the spans to)
1) Configure my reporter to send directly to the collector by setting `reporter.collectorEndpoint` to "http://jaeger-collector.istio-system.svc.cluster.local:14268/ap

[2018-10-25 18:29] arun-gupta commented on #2799
Thanks for confirming!

Something must be messed up in my configuration. I recreated the cluster and everything looks good now.

[2018-10-25 18:29] #2799 closed

[2018-10-25 21:26] geeknoid opened #2802 "Enable Chinese Support"
Once the site is fully translated, we need to turn on the language selection menu within the site.

Additionally, we can configure Netlify to redirect Chinese users directly to the Chinese version by default if no selection has been made in the menu.

Let me know when you guys are ready.

[2018-10-26 02:11] rootsongjc commented on #2802
I prefer to have a language selection in the menu.

[2018-10-26 02:15] supereagle commented on #2802
Great, looking forward to this

[2018-10-26 15:10] sdake commented on #2787
@frankbu the release process should ideally create a helm package via `helm package -u istio`, add it to a repository for `helm fetch URL`  or `helm install URL` or `helm upgrade URL` to use.  I have been on PTO this week so unclear on the progress of the T&R team towards this objective.

There is some documentation on this already here:
https://github.com/istio/istio/pull/9393

I will submit a do

[2018-10-26 18:09] geeknoid commented on #2802
@rootsongjc Are you saying you don't want the default language chosen for the web site to be based on the client's browser setting? The heuristic would be:

if cookie_is_set then use language from cookie
else if browser supplies the right header then use the browser's language
else use english

And then the menu selection is used to control the cookie,.

[2018-10-27 02:45] rootsongjc commented on #2802
@geeknoid Yes, that's right.

[2018-10-27 14:49] geeknoid commented on #2802
Sorry, I'm confused now :-) Are you saying yes to my question, or yes to the heuristic I showed?

[2018-10-28 12:19] rootsongjc commented on #2802
We can do as you said, based on the cookie or the default language of users' website to decide with language to show.

[2018-10-29 17:08] frankbu commented on #2766
Fixed in release 1.1 (https://github.com/istio/istio/pull/9570).

@rvandegrift, closing this issue because it should now work with one or two virtual services.

[2018-10-29 17:08] #2766 closed

[2018-10-30 14:21] #2802 closed

[2018-10-30 14:22] #2688 closed

[2018-10-30 14:49] l10xbin opened #2819 "Issue with docs/tasks/traffic-management/circuit-breaking/index.md"
### Tripping the circuit breaker ###

Requests number in command for "Bring the number of concurrent connections up to 3" is not aligned with the result

` kubectl exec -it $FORTIO_POD  -c fortio /usr/local/bin/fortio -- load -c 3 -qps 0 -n 20 -loglevel Warning http://httpbin:8000/get`
should be replaced with
` kubectl exec -it $FORTIO_POD  -c fortio /usr/local/bin/fortio -- load -c 3 -qps 0 -n 30

[2018-10-30 20:06] leonsp commented on #1321
I ran into the same error for a different reason while following a tutorial.

The command needs to be run from your istio install folder in order for `kubectl` to find `istio-demo.yaml`. e.g. `/Users/$(whoami)/istio-*` on Mac

[2018-10-31 12:35] vnugent commented on #2787
I pulled the latest istio master and ran the following as suggested:
`helm dep update install/kubernetes/helm/istio`

Error: no repository definition for https://raw.githubusercontent.com/istio/istio.io/master/static/charts. Please add them via 'helm repo add'

[2018-10-31 13:45] jmazzitelli commented on #2787
I'm having problems too - does installing via helm require Tiller now? I'm not doing that - I just want to create the yaml from the template command and `kubectl apply` it like I have been doing.

[2018-10-31 13:46] linsun commented on #2787
This is caused by the new optional cni.   You can delete that istio-cni in requirements.yaml before we fix this.   cc @tiswanso @john-a-joyce @hklai

[2018-10-31 13:55] jmazzitelli commented on #2787
Just to give details as to what I am seeing - I download 1.1.snapshot2, and run that helm dep update command:

[code]

which results in:

[code]

OK, well, I don't want to use Tiller, so:

[code]

results in:

[code]

[2018-10-31 14:02] tiswanso commented on #2787
I think the root-cause is that the istio-ecosystem/cni repo moved to istio/cni and the istio.io repo charts weren't updated.

[2018-10-31 14:18] tiswanso commented on #2787
@jmazzitelli -- Actually, the issue is that you need to do the following prior to running the `helm dependency update install/kubernetes/helm/istio` step:

[code]

*NOTE* -- this will not install tiller since the `--client-only` flag is used.

[2018-10-31 14:28] jmazzitelli commented on #2787
@tiswanso - Ok. so my question is: (and if you think it best, we can move this discussion to the mailing list, but I'll ask here),

Is using Tiller (or at least helm init --client-only) now required to install Istio via Helm?

I'm looking here:

   https://preliminary.istio.io/docs/setup/kubernetes/helm-install.html#option-1-install-with-helm-via-helm-template

and I read about the two options. Th

[2018-10-31 14:48] linsun commented on #2787
@jmazzitelli we'll continue to support the non tiller option via helm template. :).    Could you file a PR for that typo?

[2018-10-31 14:51] tiswanso commented on #2787
@jmazzitelli

Tiller isn't required.  `helm init --client-only` doesn't install tiller.  But it does initialize the helm client cache for dependencies.  The Istio helm chart has dependencies so those need to be updated.
However, I think if the release tarball did contain pre-pulled dependencies, the `helm repo add ...` and `helm dep update` steps wouldn't be required.
@sdake  ^^^ ?

Yes, good catc

[2018-10-31 16:01] jmazzitelli commented on #2787
Ok, thanks to @tiswanso I got it working. Kiali has a hack script that installs Istio into OpenShift or K8s - I added those three commands to the script and it now works again. See: https://github.com/kiali/kiali/pull/611/files

[2018-10-31 16:39] sdake commented on #2787
I think the proper way to handle this is helm package -u istio istio-remote istio-cni - which will produce a tgz with all of the required dependencies.  the -u flag is equivalent to helm dep update iirc.

I will work on some istio.io docs today to cover this a bit more in detail.

[2018-10-31 17:17] frankbu commented on #2819
Fixed by #2820

[2018-10-31 17:17] #2819 closed

[2018-11-01 03:27] l10xbin opened #2829 "Issue in cleaning up step of /docs/tasks/traffic-management/circuit-breaking/ and /docs/tasks/traffic-management/mirroring/"
Bookinfo sample is not used in circuit-breaking and mirror task.  and not mentioned to install in the "Before you begin" section.  It makes me confusing to have this step here.

So I think this should be removed from two tasks.

[2018-11-01 08:08] l10xbin opened #2831 "zh: translate issue in /zh/docs/tasks/policy-enforcement/rate-limiting/"
"amount" in below should not be translated into "金额", maybe "大小"

[2018-11-01 14:10] #2831 closed

[2018-11-01 19:32] shalako opened #2833 "Config reference for Traffic Routing doesn't indicate context for each property"
Looking at https://istio.io/docs/reference/config/istio.networking.v1alpha3/ to figure out how to write a VirtualService.

For each of the sections in this doc, there's no indication of nesting level of the property. For example, is `port` a top-level property under `spec` or only supported as a child of another?

Maybe part of the issue is that resource kinds are conflated with their supported pr

[2018-11-01 20:50] shalako opened #2834 "VirtualService - host or hosts?"
https://istio.io/docs/reference/config/istio.networking.v1alpha3/#VirtualService

The example suggests the resource supports a top-level field `host`.

The table below suggests the field is `hosts`.

Which is it?

[2018-11-02 00:03] douglas-reid commented on #2800
If you are looking for examples on how to configure a Jaeger tracer that creates child spans and has them show up in the dashboard, look no further than the tracing package within Istio codebase and the example of Mixer.

Mixer operates as an application and handles trace span generation internally.  Please see: https://github.com/istio/istio/blob/master/mixer/pkg/runtime/dispatcher/dispatchstate.

[2018-11-02 02:01] adinunzio84 commented on #2800
Thank you for the info - I'll need some time to look over this, but I want to point out: my concern is not just creating child spans with Jaeger, but the Istio-specific portion: creating spans from a SpanContext that I extract from headers that Istio provides.

The links you provided (the second one more-so) do seem like they will be helpful in correctly creating the child spans in the context of

[2018-11-02 14:09] geeknoid commented on #2833
I agree this is a problem. Fixing this however ends up being rather involved, since this documentation page is auto-generated from our source code. Improving the quality of our reference documentation is definitely important.

[2018-11-02 15:06] frankbu commented on #2834
Can you be more specific about how the example "suggests" a `host` field. The field in the example is `hosts` (not `host`).

[2018-11-02 15:54] shalako commented on #2834
I realize the example is of `kind:DestinationRule` and the table is for `VirtualService`. Closing.
<img width="318" alt="screen shot 2018-11-02 at 8 52 50 am" src="https://user-images.githubusercontent.com/156568/47926075-edb25b00-de7c-11e8-9be2-fc34e15ac1e7.png">

[2018-11-02 15:54] #2834 closed

[2018-11-02 15:57] shalako commented on #2833
Auto-generation is only a viable solution if it produces something useful.
Another solution would be to manually generate the docs.

Shannon Coen
Product Manager, Cloud Foundry
Pivotal, Inc.

On Fri, Nov 2, 2018 at 7:09 AM Martin Taillefer <notifications@github.com>
wrote:

[2018-11-05 18:06] rcaballeromx commented on #2833
@shalako Does the content on this PR help? #2782

[2018-11-05 21:55] danehans opened #2843 "Add Federation-v2 Documentation to Istio Multi-Cluster"
I have been working with the [federation-v2](https://github.com/kubernetes-sigs/federation-v2) community to add the [necessary functionality](https://github.com/kubernetes-sigs/federation-v2/issues/318) to support Istio multi-cluster management. In addition to managing multiple instances of the Istio control-plane, federation-v2 can also unify multi-cluster Istio capabilities such as Traffic Manag

[2018-11-06 08:28] l10xbin opened #2845 "Issue with link broken in /docs/concepts/traffic-management/"
In **Pilot and Envoy** section

Pilot enables [service discovery](https://www.envoyproxy.io/docs/envoy/latest/api-v1/cluster_manager/sds) is broken.

[2018-11-06 13:50] geeknoid commented on #2845
Fixed.

[2018-11-06 13:50] #2845 closed

[2018-11-07 04:26] pasanbox opened #2848 "Issue with docs/tasks/traffic-management/ingress/index.md"
'Because' typed twice in the sentence "In a real world situation, this is not a problem **because because** you configure the requested host properly and DNS resolvable."

[2018-11-07 04:52] #2848 closed

[2018-11-07 05:27] supereagle opened #2849 "CI failed as broken external links"
**Failed CI:**

* https://circleci.com/gh/istio/istio.io/7212?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link
* https://circleci.com/gh/istio/istio.io/7186?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

**Broken external links**

* External link https://www.envoyproxy.io/docs/envoy/latest/api-v1/cluster_manager/cluster_outlier

[2018-11-07 14:58] geeknoid commented on #2849
I fixed those yesterday morning.

Thanks.

[2018-11-07 14:58] #2849 closed

[2018-11-07 15:53] jnativio commented on #2787
The repo update command used to solve this problem until 2 days ago, but now it does not. It appears that istio-cni-0.1.0.tgz was removed from the chart repository:

root@dal10-vsi1:/mount/istio_regpatrol# helm dep update install/kubernetes/helm/istio
Hang tight while we grab the latest from your chart repositories...
...Unable to get an update from the "local" chart repository (http://127.0.0.1:8

[2018-11-07 16:06] tiswanso commented on #2787
Hi jnativo,

The chart release process was updated to conform to per-branch releases.  So, master was changed to alias the repo location in the istio helm requirements and point to a new location that is built nightly. "repo add  istio.io<http://istio.io> https://storage.googleapis.com/istio-prerelease/daily-build/master-latest-daily/charts”.  So, you should just be able to update your workspace a

[2018-11-07 16:34] jnativio commented on #2787
Tim,
does this repo works for both master and 1.1 builds?

[2018-11-07 17:14] tiswanso commented on #2787
the repo would work for both.  But, for 1.1, there's no istio-cni in the istio/istio helm charts requirements.yaml so it shouldn't be required for 1.1.

[2018-11-07 18:20] hklai commented on #2787
Nonetheless, charts are built in release-1.1 as well, and they can be found
at
https://storage.googleapis.com/istio-prerelease/daily-build/release-1.1-latest-daily/charts

On Wed, Nov 7, 2018 at 9:14 AM Tim Swanson <notifications@github.com> wrote:

[2018-11-08 12:55] jwendell opened #2851 "Missing references for QuotaSpec and QuotaSpecBinding"
I didn't find them under `reference/config/policy-and-telemetry/`

[2018-11-08 22:48] diemtvu commented on #1039
Instruction has been updated for 1.0. We don't have a way to change control plane mTLS at runtime (without restart pilot with new flag). Close this bug as it's different issue.

[2018-11-09 03:14] linsun commented on #1039
I agree, this scenario has been made a lot easier now.

[2018-11-09 03:14] #1039 closed

[2018-11-09 03:21] brian-avery opened #2852 "Invalid Command in Authentication Policy Example"
When following through the Authentication Policy example (http://localhost:1313/docs/tasks/security/authn-policy/). In the Request from Istio services to Kubernetes API server section, the below command is malformed. It doesn't copy/paste correctly and there is a dollar sign in the command sent to the service which should not be present.

$ TOKEN=$(kubectl describe secret $(kubectl get secrets | g

[2018-11-09 16:00] #2852 closed

[2018-11-13 14:13] linsun commented on #2425
yes the recommendation is to enable it manually via helm upgrade by setting grafana.enabled=true

[2018-11-13 18:32] kyessenov opened #2873 "Integrating istio with consul connect"
/label help-wanted

Given the interest in using consul with istio, it would be good to provide guidance how the integration may look like:
- using pilot with consul service entries (current situation)
- using mixer with pilot with consul service entries
- using mixer with consul connect managed envoys

It would be great for someone from consul community to help out here and share the expertise.

[2018-11-14 16:37] pasanbox opened #2877 "Query on namespace used in https://istio.io/docs/tasks/security/mutual-tls/"
The command given under "To illustrate the case when there are conflicts, add a service-specific destination rule" uses the namespace "bar". But everything in the example is using the "default" namespace. Is this a typo or something intentional?

[code]

[2018-11-15 14:18] salrashid123 commented on #2787
@hklai

What woudl be the format of the final URL for the helm repo when 1.1 is released?

I'm workign on updating the dm quickstart template for `1.1` and that too uses helm in `client-only` so while the following works

[code]

i'd like to know what the URL "format" will look like for the remote repo (eg

[code]

[2018-11-16 00:33] ayj opened #2887 "Document deprecation of istioctl CRUD commands"
istioctl CRUD commands have been deprecated in 1.1. This needs to be documented in the references and included in the release notes.

xref: https://github.com/istio/istio/issues/8558

[2018-11-16 01:02] hklai commented on #2787
Should be

`https://storage.googleapis.com/istio-release/releases/1.1.0/charts/`

[2018-11-16 19:39] #2829 closed

[2018-11-19 17:01] ksemba opened #2900 "Problem running Mixer adapter"
Hi all,

I'm trying to build my own Mixer adapter that should receive metrics from Mixer and process them further. As a start, I was following the instructions from here:
https://github.com/istio/istio/wiki/Mixer-Out-Of-Process-Adapter-Walkthrough

I successfully got a custom Mixer adapter working locally but I cannot get it working on my GKE cloud account.

I created a service that runs a single

[2018-11-19 18:54] ksemba commented on #2900
I did not yet apply the `config/mygrpcadapter.yaml` file before - thanks for the hint. I now applied it and I can see my adapter here:

NAME            AGE
mygrpcadapter   2m

But when I try to reload the bookinfo product page I still don't get any addional logs within stackdriver for that container (the handler should write a log line for each metric instance it receives).

Anything else I need t

[2018-11-19 19:04] kyessenov commented on #2900
Did you also define a custom template? The template YAML is in the parent directory, and also needs to be deployed.

[2018-11-19 19:39] ksemba commented on #2900
No, I did not. Is this something like this: https://github.com/istio/istio/blob/master/mixer/template/metric/template.yaml
?
When I ran through the example adapter creation process, this file had to be create as well:

Can I simply use that?

Sorry for being so confused but it seems as this process requires a 1000 steps if you are a newbie to istio ;)

[2018-11-19 21:52] kyessenov commented on #2900
In mygrpcadapter there is a list of templates that the adapter supports. Make sure the template is available in Mixer configs. The file `template.yaml` has the definition of the template (by name), and you can try to load it to make it available.

You can also supply mixer logs. It should print warnings about inconsistent configs (missing template is an example of that).

[2018-11-19 22:31] liminw opened #2903 "Documentation for End user authentication on Ingress is missing"
The doc is in 1.0 release (https://istio.io/docs/tasks/traffic-management/secure-ingress/#configure-end-user-authentication-on-ingress-gateway). But since the change (https://github.com/istio/istio.io/pull/2243) did not merge to master branch. It is missing in 1.1 documentation.

We need to cherry pick two changes from release-1.0 branch.
https://github.com/istio/istio.io/pull/2243
https://github.

[2018-11-19 22:34] liminw commented on #2903
/cc @diemtvu @quanjielin

[2018-11-19 23:02] liminw commented on #2903
https://github.com/istio/istio.io/pull/2904

[2018-11-19 23:37] #2887 closed

[2018-11-20 10:13] ksemba commented on #2900
I applied the template.yaml but still the adapter didn't work.

I then looked at the Mixer's telemetry logs using

and saw these messages:

This syntax is defined in my rule so I changed it back to its original configuration:

and applied that rule again and... it now works!!! :)

Thank you very much @kyessenov for your quick and insightful support!

[2018-11-20 20:20] kyessenov commented on #2787
Hit this issue as well.

Can someone document what the process is for changing the helm chart and testing it locally?
I can imagine we would need to modify the charts to add/remove flags and run the istio tests against them.

[2018-11-21 12:15] munnerz commented on #2599
What's the status on this? Does anyone know why it is *not* working in 1.0, and when it is fixed?

I see the notes about 1.0.1, I can see this issue was added to the 1.1 milestone and now it is seemingly in the 1.2 milestone.

It'd be great to get some clarity on the status of mesh expansion!

[2018-11-22 16:55] waterwoodsthu commented on #1723
I was trying to report a log entry to Mixer using mixc and I got the error complaining about the timestamp:
[code]

[2018-11-23 15:07] #2900 closed

[2018-11-26 13:09] MJ-CJM opened #2917 "Running locally:'hugo serve',find some errors(maybe it is Type conversion's error),and solve this errors."
## when I am running locally:'hugo serve',I found some errors,as follows:

    $ hugo serve
    Building sites …
    ERROR 2018/11/26 16:47:13 error processing shortcode "shortcodes/relnote_links.html"
    for page "about\\notes\\1.0.3\\index.md": template: shortcodes/relnote_links.html:12:85:
    executing "shortcodes/relnote_links.html" at <int (index $parts 2)>: error calling int:
    unable to

[2018-11-26 15:37] geeknoid commented on #2917
This seems to be a bug in Hugo for Windows, I think. My guess is that it is adding an extra \ at the end of the .Page.Dir variable that's being used [here](https://github.com/istio/istio.io/blob/2560a0df1d4501b2592a8580a3d2f12649844475/layouts/shortcodes/relnote_links.html#L1)

I can try a workaround.

In the meantime, can you try "make serve" instead of "hugo serve"? That will probably work corre

[2018-11-26 17:41] #2917 closed

[2018-11-27 02:56] MJ-CJM commented on #2917
Thank you very much for your reply,I will accept your opinion and try it.

[2018-11-27 02:57] MJ-CJM commented on #2917
@geeknoid Thank you very much for your reply,I will accept your opinion and try it.

[2018-11-27 18:16] liminw commented on #2903
Fixed.

[2018-11-27 18:16] #2903 closed

[2018-11-29 11:00] mgfeller commented on #2599
An update on the status status would be appreciated.

Is mesh expansion supposed to be working in istio-1.1.0-snapshot.2?

I found this related PR [2089](https://github.com/istio/istio.io/pull/2089) (Updated mesh expansion instructions), but couldn't get it to work on GCP.

[2018-11-30 14:26] hpohl opened #2932 "gcsweb.istio.io certificate has expired"
[code]

Please renew :)

[2018-11-30 14:57] hpohl commented on #2932
For those having the same issue, you can use `https://storage.googleapis.com/istio-prerelease/prerelease/1.1.0-snapshot.3/charts` as well.

[2018-11-30 17:59] wattli commented on #2877
It is a typo, i will submit a fix

[2018-11-30 18:23] #2877 closed

[2018-11-30 22:49] hpohl commented on #2932
Fixed, thank you :)

[2018-11-30 22:49] #2932 closed

[2018-12-03 12:09] ZackButcher commented on #2787
Adapting https://github.com/istio/istio.io/issues/2787#issuecomment-439055137, here's how to get a working helm chart for `istio-1.1.0-snapshot.3`, and generally for any Istio release (the original post only worked for daily builds due to how Istio stores artifacts in GCS):

[code]
then you can install Istio or generate yamls as usual:
[code]

To use any other release, swap out "1.1.0-snapshot.3"

[2018-12-03 16:41] frankbu commented on #2254
This issue has been fixed in the 1.1 docs by adding a note in both the circuit breaking and mirroring tasks.

[2018-12-03 16:41] #2254 closed

[2018-12-05 03:14] cwocwo opened #2947 "Document ingressgateway service externalIps in helm chart"
Add document for `gateways.istio-ingressgateway.externalIPs` in `reference/config/installation-options/index.md`.

[2018-12-05 09:04] pilhuhn opened #2950 "MeshPolicy is missing from API reference"
https://istio.io/docs/tasks/security/authn-policy/#globally-enabling-istio-mutual-tls mentions `https://istio.io/docs/tasks/security/authn-policy/#globally-enabling-istio-mutual-tls`, but the reference section https://istio.io/docs/reference/config/istio.authentication.v1alpha1/ does not list it.

As this seems to be a (limited) sub-case of `Policy`, it could perhaps just be described there.

[2018-12-05 12:57] abonas opened #2952 "Adding mention of Kiali's link to Grafana dashboard"
In this page:
https://preliminary.istio.io/docs/tasks/telemetry/using-istio-dashboard/

There are 2 things that can be added:
1. Kiali's metrics tab for each entity also shows selected metrics.
2. Kiali's metrics tab also provides a direct link to Grafana's dashboard

cc @jmazzitelli

[2018-12-06 03:01] DuoyueBa opened #2953 "Can I create certification for citadel like sample/certs in istio?"
We want to use certification in citadel generated by ourselves like in https://istio.io/docs/tasks/security/plugin-ca-cert/.

But I do not know how to generated all certification files like  ca-cert.pem, ca-key.pem, cert-chain.pem, root-cert.pem in istio-1.0.4/samples/certs directory.

Could you provide a simple doc to describe how to generated certification files used by citadel when security.sel

[2018-12-06 08:04] cabrinoob commented on #2787
@ZackButcher
Hi,
When I execute the `helm dependency update install/kubernetes/helm/istio` I have this error :

    Error: no repository definition for ../subcharts/sidecarInjectorWebhook. Please add them via 'helm repo add'

[2018-12-07 07:49] l10xbin opened #2955 "Issue with doc /docs/tasks/telemetry/querying-metrics/"
Section **About the Prometheus add-on**
1 istio-mesh (istio-mixer.istio-system:42422): all Mixer-generated mesh metrics.
2 mixer (istio-mixer.istio-system:9093): all Mixer-specific metrics. Used to monitor Mixer itself.
3 envoy (istio-mixer.istio-system:9102): raw stats generated by Envoy (and translated from Statsd to Prometheus).

It looks like in nightly build,  Prometheus addon will pull metri

[2018-12-07 20:54] douglas-reid commented on #2955
@gargnupur can you take a look at fixing up the documentation here?

[2018-12-07 21:22] gargnupur commented on #2955
Sure..

[2018-12-09 19:33] sraygoogle opened #2962 "Issue with docs/concepts/what-is-istio/index.md"
Can we change the term "Incrementality" to "Pluggability" or "Extensitibility"? The latter 2 terms are more commonly used to describe this capability. Further, "Incrementality"can be confused with incremental adoption which is a different concept than the one being described here.

[2018-12-09 19:37] sraygoogle opened #2963 "Issue with Citadel on docs/concepts/what-is-istio/index.md"
Recommend the following changes (in **bold**) to description of Citadel:

Citadel **enables** strong service-to-service and end-user authentication with built-in identity and credential management. You can use Citadel to upgrade unencrypted traffic in the service mesh. Using Citadel, operators can enforce policies based on service identity rather than on **relatively unstable layer 3 or layer 4 ne

[2018-12-10 17:06] #2962 closed

[2018-12-10 22:03] #2963 closed

[2018-12-12 19:12] rcaballeromx opened #2975 "Fix and sync "Before you begin" section for all tasks"
Multiple tasks in our docs contain the same "Before you begin" section. Over time, the section has been copied over and over without addressing the clarity and grammar issues.
A focused effort to harmonize and improve the "Before you begin" section of all tasks is needed.

[2018-12-12 19:26] rcaballeromx opened #2976 "Add PR review process to the documentation contribution guidelines."
To avoid documentation PRs from being merged before the review can be completed, a simple process has been agreed upon in PR #2960
That process must be clearly documented in our contribution guidelines.

[2018-12-13 14:48] nitishm opened #2979 "Add example to fetch service CIDR for self hosted kubernetes in "Calling external services directly" task"
The examples in the section https://istio.io/docs/tasks/traffic-management/egress/#calling-external-services-directly only show how to find the Service IP CIDR block, to be passed as an argument to `--set global.proxy.includeIPRanges` for IBM/GKE/ACS/Minikube.

There should be an example for figuring out the service IP CIDR block for self managed kubernetes, as well.

One of doing this on a live c

[2018-12-13 23:49] rcaballeromx commented on #2976
Submitted PR #2980 to fix.

[2018-12-14 15:38] yxun opened #2981 "Issue with doc /docs/tasks/Security/Mutual-TLS-Migration"
https://istio.io/docs/tasks/security/mtls-migration/

There is a typo in "Also verify that there are no authentication policy or destination rule in the system" block. The command should be "kubectl get destinationrule --all-namespaces" instead of "kubectl get destionationrule --all-namespaces"

Thanks.

[2018-12-14 15:45] yxun opened #2982 "Issue with doc /docs/tasks/traffic-mangement/control-egress-traffic"
Because the current release samples sleep.yaml is using image: pstauffer/curl   . This image has no bash.

The doc : https://istio.io/docs/tasks/traffic-management/egress/
Paragraph "Make requests to the external services" has a typo in the kubectl exec command
It should be "kubectl exec -it $SOURCE_POD -c sleep sh"  instead of "kubectl exec -it $SOURCE_POD -c sleep bash"

Thanks.

[2018-12-14 22:31] yxun opened #2983 "Issue with doc /docs/task/security/authentication-policy"
The doc : https://istio.io/docs/tasks/security/authn-policy/

Paragraph "Request from non-Istio services to Istio services"
- for from in "legacy"; do for to in "foo" "bar";  ...
The result should not include the "sleep.legacy to httpbin.legacy: 200"
If you want the last line sleep.legacy to httpbin.legacy, the command should be:
for from in "legacy"; do for to in "foo" "bar" "legacy"; ...

Paragr

[2018-12-16 00:38] idarvind opened #2985 "multicluster: statsd-prom-bridge pod not getting deployed"
Using ISTIO Version 1.0.3, getting same in version 1.0.4 as well

[code]

Any idea what's wrong here ??

[2018-12-17 05:20] l10xbin opened #2987 "Issue with doc /docs/tasks/telemetry/kiali/"
Execute failed with information:
Error from server (NotFound): services "tracing" not found
Error from server (NotFound): services "grafana" not found

`helm template \
    --set kiali.enabled=true \
    --set "kiali.dashboard.jaegerURL=http://$(kubectl get svc tracing -o jsonpath='{.spec.clusterIP}'):80" \
    --set "kiali.dashboard.grafanaURL=http://$(kubectl get svc grafana -o
jsonpath='{.spec.

[2018-12-17 16:18] geeknoid commented on #2987
@jmazzitelli

[2018-12-17 16:20] geeknoid commented on #2985
Issue moved to [istio/istio #10523](https://github.com/istio/istio/issues/10523) via [**ZenHub**](https://www.zenhub.com/)

[2018-12-17 16:20] #2985 closed

[2018-12-17 16:40] rcaballeromx commented on #2975
I've begone looking at all "Before you begin" sections of all tasks in an attempt to determine what prerequisites are shared across the board.

[2018-12-17 17:22] jmazzitelli commented on #2987
yup. I see a PR already has been created to fix it: https://github.com/istio/istio.io/pull/2988

That PR looks good.

[2018-12-17 19:50] frankbu commented on #2982
This is fixed in the 1.1 docs.
https://preliminary.istio.io/docs/tasks/traffic-management/egress/

[2018-12-19 00:04] quanjielin opened #2992 "Issue with docs/setup/kubernetes/helm-install/"
Build used:
latest daily build istio-release-1.1-20181218-09-16

Repro steps:
1. Follow https://preliminary.istio.io/docs/setup/kubernetes/helm-install/#option-1-install-with-helm-via-helm-template, run below command
2. istio-release-1.1-20181218-09-16$ ```helm template install/kubernetes/helm/istio --name istio --namespace istio-system > $HOME/istio.yaml```
hit error
[code]

[2018-12-19 00:05] quanjielin commented on #2992
/cc @ayj @hklai

[2018-12-19 00:17] quanjielin commented on #2992
From makefile example, seems we need to run ```helm dep update --skip-refresh install/kubernetes/helm/istio``` then run ```helm template install/kubernetes/helm/istio --name istio --namespace istio-system > $HOME/istio.yaml```, the error will go away.

[2018-12-19 19:52] vhosakot commented on #2787
I saw the same error too when installing istio `1.1.0-snapshot.3` in https://github.com/istio/istio/releases/tag/1.1.0-snapshot.3:

[code]

The following steps in https://github.com/istio/istio.io/issues/2787#issuecomment-443688642 in this ticket from @ZackButcher worked. Thanks @ZackButcher.

[code]

[2018-12-19 20:11] cabrinoob commented on #2787
@vhosakot : https://storage.googleapis.com/istio-release/releases/1.1.0-snapshot.3/charts does not exists

try copy/paste in my browser and it says :

[code]

[2018-12-20 00:43] douglas-reid commented on #690
This exists now.

[2018-12-20 00:43] #690 closed

[2018-12-20 00:44] douglas-reid commented on #632
I think this should have been closed ?

[2018-12-20 00:44] #632 closed

[2018-12-20 00:45] douglas-reid commented on #631
I think this has been overcome by events.

[2018-12-20 00:45] #631 closed

[2018-12-20 00:45] douglas-reid commented on #987
I don't think this is still relevant. Closing for now, feel free to reopen.

[2018-12-20 00:45] #987 closed

[2018-12-20 00:48] douglas-reid commented on #1176
We ask that you forward more than the minimal set to support the full range of b3 headers, etc.  I agree that we may need to reassess the use of `b3` as the openzipkin b3 header spec evolves. I'm going to close this for now. We can reopen when we support `b3` header.

[2018-12-20 00:48] #1176 closed

[2018-12-20 00:49] douglas-reid commented on #1203
I think I did this. Each release probably needs a rehash, but I think this is in a good place.

[2018-12-20 00:49] #1203 closed

[2018-12-20 00:50] douglas-reid commented on #1637
I believe this can now be considered done ?  Closing.

[2018-12-20 00:50] #1637 closed

[2018-12-20 00:53] douglas-reid commented on #2955
@gargnupur any updates here?

[2018-12-20 18:50] ddska commented on #2873
Agree, that would be very helpful and useful.

[2018-12-20 20:30] gargnupur commented on #2955
Looks like https://github.com/istio/istio.io/pull/2866 updated it...

[2018-12-22 07:41] vadimeisenbergibm commented on #2975
@geeknoid Is it possible with Hugo to include a markdown file in other markdown files? I tried with partials or shortcodes, it seems the site builder expects HTML there and not .md files.

We have the same "Before you begin" section duplicated for several tasks/examples related to egress traffic, I counted seven of them.

[2018-12-22 13:45] chaspy opened #3004 "Translate to Japanese"
Thank you for a great document. It is very useful.

I would like to contribute to translating into Japanese,
but do I have anything to consider?

As shown by `content/OWNERS`, do I need to gather member to approve?
Or just create `content_ja` directory and send a PullRequest?

[2018-12-22 18:20] geeknoid commented on #3004
Just start sending some pull requests, we'll set up OWNERS and other minor things as we go.

Note that the documentation set is constantly evolving, and is pretty large. Translating the site and keeping it up to date ends up being a long-term on-going effort. It's therefore useful to have a community of translators, that can pitch in and review each other's translations.

[2018-12-22 19:05] geeknoid commented on #2975
See https://github.com/istio/istio.io/pull/3005 :-)

[2018-12-23 01:50] rootsongjc commented on #3004
@chaspy This is really a large site, it has taken us a long time to keep updated with the Enligsh version, the Chinses version is maintained by [ServiceMesher community](http://www.servicemesher.com) and issues are tracked [here](https://github.com/servicemesher/istio-official-translation/issues), that may give you a sense about the job.

[2018-12-23 03:04] chaspy commented on #3004
@geeknoid @rootsongjc
Thanks for your advice!
Certainly this document has huge volume and it seems difficult to follow the original change...

But let me send the first PullRequest.
and I consider the community for maintainers.

[2018-12-23 07:46] vadimeisenbergibm commented on #2975
@geeknoid Cool, thanks!

[2019-01-03 15:46] #1460 closed

[2019-01-05 05:40] arun-gupta opened #3035 "Kiali instructions need an update"
Using Kiali instructions:

https://preliminary.istio.io/docs/tasks/telemetry/kiali/

Following updates need to be made:

- These instructions are for 1.1. Should be shown for 1.0.5 as well.
- KIALI_USERNAME and KIALI_PASSPHRASE are not required if Kiali is installed using Istio Helm charts. They have a pre-built username and passphrase. This needs to be clarified.
- Kiali UI is available at http:/

[2019-01-05 06:53] jmazzitelli commented on #3035
Yes, these instructions are directed specifically towards Istio 1.1 because, AFAIK, these "preliminary" docs are for Istio 1.1 specifically. I don't know what the policy is for introducing 1.0-only instructions in the preliminary docs. @rcaballeromx can you elaborate on this? Specifically, the preliminary docs - are they for 1.1 only?

This is why we added /kiali to the instructions for the http:/

[2019-01-07 00:15] arun-gupta commented on #3035
Now that Kiali is integrated in 1.0.x as well, at least a working version of the docs should be posted there.

[2019-01-07 14:43] linsun commented on #2735
adding 1.1 milestone as we need to ensure the docs are properly generated.

[2019-01-07 14:44] linsun commented on #2735
@sdake do you have bandwidth to work on this?  or you need help?

[2019-01-07 14:53] linsun commented on #2640
@cmluciano what is the ETA for this?

[2019-01-07 19:05] linsun commented on #1381
@gyliu513 is there any further work planned for this besides #2029?

[2019-01-08 10:21] Dariusch commented on #2763
https://github.com/istio/istio/issues/10523#issuecomment-447974370

[2019-01-08 13:43] christian-posta commented on #3035
Can someone comment on whether Kiali is "officially" the Istio web console in 1.0.x? I know there was some discussions where it would be for 1.1. Is that why it's not in the 1.0.x docs? Should we add it? Until 1.1 comes out, folks will be confused about how to install/interact with Kiali in the 1.0.x distro of Istio.

[2019-01-08 16:14] jmazzitelli commented on #3035
I think we should put some kiali docs in the 1.0 istio docs. Now that 1.1. has been pushed out, we really need to get some official docs available to people. I think we didn't put it in the 1.0 doc set because 1.1 was going to come out in October originally and we figured it made sense to introduce Kiali in that documentation. But now that 1.1 has been pushed, and Kiali has been in istio 1.0 for a

[2019-01-08 22:17] jmazzitelli commented on #3035
See this PR I created: https://github.com/istio/istio.io/pull/3062

If we want Kiali in the Istio 1.0 docs, that PR will introduce the Kiali Task. Would require someone to review/merge that PR.

[2019-01-09 16:47] jmazzitelli commented on #3035
docs have been added to 1.0 to help address this issue. See:

https://istio.io/docs/tasks/telemetry/kiali/

[2019-01-11 23:02] Dariusch opened #3080 "add/update documentation of a GKE multicluster Setup in a (shared) VPC"
Hey guys,
I recently stubled upon this MR https://github.com/istio/istio/issues/10523 and was wondering if the documentation could possibly be updated.
I myself am recently digging into DevOps and was evaluating a [GKE multicluster setup](https://istio.io/docs/examples/multicluster/gke/) and stubled upon some deprecations regarding the `statsd-prom-bridge` as it is no longer in the helm chart or e

[2019-01-13 07:13] ejmgarcia opened #3081 "Issue with help/_index.md"
There is a dead link in https://istio.io/docs/concepts/traffic-management/

This link is producing 404:
https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/load_balancing

[2019-01-13 21:21] geeknoid commented on #3035
So do we need to do anything more here, or can this issue be closed?

[2019-01-13 23:01] jmazzitelli commented on #3035
nothing unless @arun-gupta wants to review the docs

[2019-01-14 15:05] rlnrln commented on #2425
And if we don't use Helm?  For example, if we want to add this addon to our GKE cluster with Google-managed Istio enabled?

Please consider supplying both pure kubectl yaml files as well as hell config. They both both have legitimate use cases.

[2019-01-14 16:31] arun-gupta commented on #3035
In the docs, Kiali secrets are really optional. There is a default username/password that works and I think that should be the one shown as that provides a simplified user experience. The docs should show the current experience and be updated when that changes.

[2019-01-16 14:43] jmazzitelli opened #3094 "[Kiali] the documented defaults are not correct"
The documented defaults are not correct here:

https://preliminary.istio.io/docs/reference/config/installation-options/#kiali-options

`kiali.enabled` is not true by default - it is false. See: https://github.com/istio/istio/blob/release-1.1/install/kubernetes/helm/istio/values.yaml#L85 The only time it is true by default is when using the [demo yaml](https://github.com/istio/istio/blob/release-1.

[2019-01-16 19:00] jmazzitelli commented on #3094
PR merged.

[2019-01-16 19:00] #3094 closed

[2019-01-16 21:12] rcaballeromx commented on #2976
The new process has been merged and this issue is thus solved.

[2019-01-16 21:12] #2976 closed

[2019-01-18 03:16] fleeto commented on #3004
Hi @chaspy , Here is [some code for the Chinese translation](https://github.com/fleeto/slackbot/blob/master/src/plugins/mesherbot/gitscan.py), It will  find updated file since last translated version. I hope It can help you to find the updated files.

And a [Webhook](https://github.com/fleeto/issueflow), which help us to manage translation tasks, It's now running for both k8s and istio translation

[2019-01-19 14:27] fleeto opened #3107 "How can we update Chinese version to istio.io?"
Some document had been updated in `istio.io`, and its zh version had been updated in the `master` branch too, then how can we sync it to the main site, a PR or something else?

[2019-01-21 08:06] vadimeisenbergibm opened #3111 "Descriptions of Installation Options are not generated"
https://preliminary.istio.io/docs/reference/config/installation-options/

[2019-01-21 16:09] linsun opened #3113 "Document default istio control plane ports and other reserved ports"
K8s currently provide this doc, folks have been requesting istio to have it.  We had users who had to spend a week to debug port conflict issues.

https://discuss.istio.io/t/change-our-default-monitoring-port/377

[2019-01-21 16:12] linsun commented on #3113
@ericvn could you take a stab at this?

[2019-01-21 16:34] rafik8 commented on #3113
The link to Kubernetes doc: https://kubernetes.io/docs/setup/independent/install-kubeadm/#check-required-ports

[2019-01-22 11:46] acobat commented on #2565
Hi, yes, I would like to see also the ports spread by components, as customer needs to open exact port between segments.

[2019-01-23 04:56] geeknoid commented on #3107
istio.io is published from the release-1.0 branch of this repo. To update content there, just submit a PR against that branch.
'

[2019-01-23 14:23] corey-aloia opened #3120 "Extend traffic policy example for istio.networking.v1alpha3"
First of all, great documentation!

It took me some minutes to realize that when creating the following destinationrule, it disables mtls for communication with the service:

[code]

And it should have been:
[code]

If think if the examples here had this extra line, it would make it a bit clearer. Either that, or have it mentioned somewhere on this page as a reminder that this will override any wi

[2019-01-23 15:56] geeknoid commented on #3080
@salrashid123 FYI

[2019-01-23 16:15] mbanikazemi opened #3124 "Instruction for use of IP address ranges in IKS is incorrect"
The instructions for using `global.proxy.includeIPRanges` for allowing access to outside the mesh contain an incorrect CIDR. Services are in the 172.21.0.0/16 range on IKS.

[2019-01-23 22:10] frankbu commented on #3120
Can you be more specific about which document you think could use this?

The issue is covered in the [troubleshooting guide](https://preliminary.istio.io/help/ops/traffic-management/troubleshooting/#503-errors-after-setting-destination-rule) and some of the tasks include a note [like this](https://preliminary.istio.io/docs/tasks/traffic-management/circuit-breaking/#configuring-the-circuit-breaker)

[2019-01-24 01:10] rafik8 commented on #3113
I can work on this as I need to provide a similar document for one project in the next few weeks.

[2019-01-24 13:51] fleeto commented on #3107
Got it, thank you.

cc @rootsongjc @gyliu513

[2019-01-24 13:51] #3107 closed

[2019-01-24 14:59] ericvn commented on #3113
I have a good start on this already @rafik8 if you want to collaborate some. I've run through the helm charts and starting a table  looking something like the Kubernetes doc above.

[2019-01-24 15:07] rafik8 commented on #3113
Great, that I was thinking about.

[2019-01-24 16:11] linsun opened #3131 "Need to update helm instruction with correct repo before 1.1 live"
The current helm instruction is wrong where it didn't ask users to do the repo add and dep update cmd, examples:

[code]

This needs to point to a released repo.  cc @hklai

[2019-01-24 16:42] linsun opened #3132 "Need to update install options table for 1.1"
Our tables is getting outdated... we need to get it updated, may likely require update of the py script.

https://preliminary.istio.io/docs/reference/config/installation-options/

py script:  https://github.com/istio/istio.io/blob/master/scripts/tablegen.py

[2019-01-24 16:43] linsun commented on #3132
@johnma14 can you help look into this?  I'll assign to me since you aren't a member and I can't assign to you.

[2019-01-24 16:51] johnma14 commented on #3132
@linsun sure. will look at this one. Thanks.

[2019-01-24 23:26] jsenon opened #3137 "Vault CA integration"
Documentation for How to configure Vault-CA with [istio 1.1](https://preliminary.istio.io/docs/tasks/security/vault-ca/) contains instruction with a reference to Google cloud `$ kubectl create clusterrolebinding cluster-admin-binding --clusterrole=cluster-admin --user="$(gcloud config get-value core/account)"`
Could we try to be more agnostic ?

[2019-01-24 23:40] jsenon opened #3138 "Provisioning Identity through sds"
On [istio 1.1 Identity through sds](
https://preliminary.istio.io/docs/tasks/security/auth-sds/#service-to-service-mutual-tls-using-key-certificate-provisioned-through-sds) typo exist on code blocks:
[code]

[2019-01-25 00:04] hklai commented on #3131
@linsun @geeknoid
I suppose https://github.com/istio/istio.io/blob/master/content/docs/setup/kubernetes/helm-install/index.md needs to be updated when 1.1.0 is tagged.

We have automated a similar update in https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/README.md in the release scripts (i.e. the README.md is shipped in the tarball)

For istio.io docs, I am not sure if it

[2019-01-25 03:37] linsun commented on #3131
@hklai yes good point on the index.md file.

Manual is fine... wanted to open this so we remember this before releasing 1.1.

[2019-01-25 15:19] geeknoid commented on #3138
Fixed

[2019-01-25 15:19] #3138 closed

[2019-01-28 08:35] clyang82 opened #3146 "Performance information should be updated"
Here is release 1.1 document about [Performance and Scalability](https://preliminary.istio.io/docs/concepts/performance-and-scalability/)

There still mentions `0.7.1` . We should have an update about it.

[2019-01-28 13:05] #2014 closed

[2019-01-28 18:10] wattli commented on #3137
"kubectl create clusterrolebinding cluster-admin-binding --clusterrole=cluster-admin --user="$(gcloud config get-value core/account)" is required for a k8s deployment in gCloud, just like everything else in istio.io

[2019-01-29 18:53] rcaballeromx opened #3165 "Update the blog post policies."
Changes to the blog post policies have been approved by the Steering Committee. This issue keeps track of the implementation of said changes.

[2019-01-29 19:58] rcaballeromx commented on #3165
Is fixed by #3166

[2019-01-29 20:54] rcaballeromx opened #3167 "Add a short document with instructions on enabling a new adapter."
This document should answer questions like:
* Which adapters can be used in tandem?

[2019-01-29 20:56] rcaballeromx commented on #3165
Fixed with #3166

[2019-01-30 12:23] rootsongjc opened #3170 "Installing the sidecar doc refer to an yaml file which is not exist"
This file doesn't exist `install/kubernetes/istio-sidecar-injector-configmap-release.yaml`but be refered on https://istio.io/docs/setup/kubernetes/sidecar-injection/ doc.

[2019-01-30 16:17] #3165 closed

[2019-01-30 17:31] marcstreeter commented on #2787
For the service mesh noobs who wanna try out istio.  I followed a couple ways that are listed in many places both here and on the web, what has worked for me consistently is

which gets me istio (with Grafana, Prometheus, Jaeger, and no load balancer). This has been helpful for me thus far with regard to getting an onprem set up.  I am leaving out some of the helm steps, but I'm going to assume th

[2019-01-30 17:50] jmazzitelli commented on #2787
FYI: Service graph is going away. In fact, for the 1.1 snapshots, I think it did go away - I doubt that setting does anything.

Replacement would be kiali.enabled.

See: https://preliminary.istio.io/docs/tasks/telemetry/kiali/

[2019-01-30 21:40] johnma14 commented on #3132
Opened a PR for this: https://github.com/istio/istio.io/pull/3173

[2019-01-30 23:58] howardjohn opened #3176 "Installation documentation refers to file which does not exist (crds.yaml)"
In the 1.1 docs, both the [K8S Quick Start](https://preliminary.istio.io/docs/setup/kubernetes/quick-start/) and [Minimal Install](https://preliminary.istio.io/docs/setup/kubernetes/minimal-install/) pages instruct to:

However this file no longer exists in v1.1. I am not sure if this has changed so that this step is longer needed or the file has just moved.

[2019-01-31 07:58] sdaschner opened #3178 "Default sampling rate doc is incorrect"
In the current [documentation](https://istio.io/docs/tasks/telemetry/distributed-tracing/#trace-sampling) of distributed tracing, the default sampling rate is described to sample all requests, However, this is not the case in version `1.0.5` or later. The sampling rate is set to `1.0` (1%) in the Helm install [values.yaml](https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/va

[2019-01-31 19:31] douglas-reid commented on #3178
The instructions at the top of that task include:

Both of those yamls have sampling rate set at 100%.  See: https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/values-istio-demo.yaml#L6

Perhaps updating the trace sampling doc to say Istio *demo* by default samples at 100% ?

[2019-01-31 23:11] rvennam opened #3187 "Indented tips and warnings not rendering properly"
https://preliminary.istio.io/docs/setup/kubernetes/helm-install/
![image](https://user-images.githubusercontent.com/5502967/52091675-3e704780-2583-11e9-9c54-53424508d982.png)
![image](https://user-images.githubusercontent.com/5502967/52091714-62338d80-2583-11e9-820b-58ce463bfac0.png)

It looks fine when there are not indented

[2019-02-01 14:55] esnible opened #3191 "Reference page documenting annotations"
Istio supports many "annotations" which affect deployment.  For example, _pkg/kube/inject/inject.go_ includes sidecar.istio.io/inject, sidecar.istio.io/status, sidecar.istio.io/proxyImage, sidecar.istio.io/interceptionMode, status.sidecar.istio.io/port, readiness.status.sidecar.istio.io/initialDelaySeconds, readiness.status.sidecar.istio.io/periodSecond, readiness.status.sidecar.istio.io/failureTh

[2019-02-01 18:02] geeknoid commented on #3187
Uh ho, darn.

The markdown parser thinks the indented blocks are preformatted text.

[2019-02-01 18:04] geeknoid commented on #3191
Where does these annotations show up in the Istio source code?

[2019-02-01 18:31] geeknoid commented on #3187
Fixed by #3192

[2019-02-01 18:31] #3187 closed

[2019-02-01 21:37] ericvn commented on #3113
I'm out of the office for a few days but wanted to at least put something here for people to maybe give some initial feedback on (I didn't want to get this into a PR that I couldn't work on for a bit). I do have some other columns for TCP/UDP (but it's all TCP and one UDP port for DNS (53)), as well as MTLS. There are still a few questions and maybe some discrepancies between code and yaml's.

Not

[2019-02-01 22:10] johnma14 commented on #2566
@sdake I will take a look at this. Thanks for referencing this.

[2019-02-02 14:55] esnible commented on #3191
Perhaps related to https://github.com/istio/istio/issues/9710

[2019-02-03 19:38] sdake commented on #1233
@mabushey trying to "guess" at what this issue is - I suspect it has something to do with some of the ansible installation code not being packaged during deployment.  Uncertain.

[2019-02-03 19:39] sdake commented on #1299
@andraxylia - the docs have undergone significant revision by the community and the implementation is significantly different from when this issue was filed.  Do these problems still persist?  If so, could clarify what problems exist with the documentation?

Cheers
-steve

[2019-02-03 19:42] sdake commented on #3176
Thanks for finding these problems.  WIll work on submitting a bug fix.

Would be great if we could consolidate all of the helm installtion into one place so we don't have to maintain it all over the website.....  Not really sure how to do that.

Cheers
-steve

[2019-02-03 21:59] sdake commented on #3113
Cc @sdake

[2019-02-03 22:04] sdake commented on #3113
@linsun here is an audit I did for 1.0.  We can close my duplicate issue since it appears others are working on it:

https://github.com/istio/istio.io/issues/2565

[2019-02-03 22:09] sdake commented on #3113
I’d encourage whoever works on this to take a look at 2565.  This is an ANSI specification where other info is needed beyond the port list.  Most large firms require this for PCI compliance and others may generally have an interest in more aspects of the ports.

[2019-02-04 15:14] ibm-jason commented on #2765
@andraxylia, @vnugent - Issue bump. :-)

If there are no objections, I'm going to see if I can get a PR going for this issue.

[2019-02-04 15:31] freegroup commented on #2763
is there a way to deploy istio-remote without the `STATSD_POD_IP`?

I have the very same problem during the installation of the **Istio Multicluster** setup

[2019-02-06 16:45] willscripted opened #3202 "Code blocks in table headers are hard to read"
Code blocks in table headers are hard to read

![screenshot from 2019-02-06 11-39-33](https://user-images.githubusercontent.com/1069495/52357690-920be680-2a04-11e9-89bf-6dccb10c9795.png)

[code]

https://contrast-ratio.com/#%23d14-on-%23286ac7

[2019-02-07 00:22] therealmitchconnors opened #3203 "Confusing Upgrade Instructions"
It is unclear how the k8s upgrade section titled "Migrating to the new networking APIs" differs from the immediately prior section "Sidecar upgrade."  It appears to deal with API changes for the proxy that are specific to a particular upgrade, not generic to all upgrades.  If so, can we mark the section as applying only to upgrades traversing version X?

https://github.com/istio/istio.io/blob/mast

[2019-02-07 08:59] nsf opened #3208 "Wrong minikube service CIDR mentioned in docs"
Minikube service CIDR used to be 10.0.0.1/24 by default. But it was changed in this commit (note it's from 2017): https://github.com/kubernetes/minikube/commit/30667cb406029b1e74562c9196b522adfa916540

(default cluster ip was 10.0.0.1 and service CIDR was inferred from it by appending "/24")
https://github.com/kubernetes/minikube/commit/30667cb406029b1e74562c9196b522adfa916540#diff-137a7cb3794e369

[2019-02-07 11:46] wayne-o commented on #2425
Am I missing somthing? I can't see anything on those pages about adding grafana?

w

[2019-02-07 18:05] #3202 closed

[2019-02-07 20:52] esnible opened #3212 "Apigee and Trace Span examples do not work"
The example at https://preliminary.istio.io/docs/reference/config/policy-and-telemetry/adapters/apigee/ does not work.  It refers to an apigee.config.istio.io CRD which does not exist.

The example at https://preliminary.istio.io/docs/reference/config/policy-and-telemetry/templates/tracespan/
fails with `Error from server: error when creating "/Users/snible/Downloads/Trace Span.yaml": admission we

[2019-02-07 21:01] esnible opened #3213 "List Entry example wrong extension"
When the user visits https://preliminary.istio.io/docs/reference/config/policy-and-telemetry/templates/listentry/ and attempts to download the example it has an ".unknown" extension.  Other examples have the expected .yaml extension.

[2019-02-07 21:15] esnible opened #3214 "Incomplete doc and sample coverage of Istio CRDs"
I see 55 CustomResourceDefinitions on my Istio 1.1 system.  (`kubectl get customresourcedefinition | grep istio.io | wc`).  44 .config, 2 .authentication, 6 .networking, 4 .rbac.

The list follows.  CRDs marked with * have at least one example in the istio _samples_ directory.  CRDs marked with + have documentation on preliminary.istio.io.

(In most cases for *.config.istio.io CRDs the documentati

[2019-02-08 01:20] esnible commented on #3212
I don't expect the documentation CRD for Apigee to work.

I am concerned that _install/kubernetes/helm/istio-init/files/crd-10.yaml_ doesn't contain a CRD for Apigee.  The documentation suggests that Istio includes the ability to configure Apigee.  All of the other documentation on that page refers to CRDs from that file.

[2019-02-08 03:37] theganyo commented on #3212
I’ll update the documentation to make it  clear that a different image of mixer is required.

[2019-02-08 16:05] askmeegs opened #3216 "Document capability of `istioctl validate` command"
Currently the examples for istioctl validate: https://preliminary.istio.io/docs/reference/commands/istioctl.html#istioctl-validate%20Examples

Are not descriptive. Should document
1) what the istioctl validate checks against (the object schema for the provided YAML)
2) the limits of this command / what it does not check.

[2019-02-08 16:41] esnible commented on #3216
This is being discussed at https://discuss.istio.io/t/configuration-validation/738/4

Note: istioctl validate doesn't currently validate mixer types; for example `istioctl validate -f samples/https/nginx-app.yaml` shows `Error: error validating resource (/v1, Kind=Service Name=my-nginx Namespace=): mixer API validation is not supported`

It might be worthwhile to create an Issue in istio/istio req

[2019-02-08 17:35] #2979 closed

[2019-02-08 17:35] #3208 closed

[2019-02-08 17:58] geeknoid commented on #3213
Fixed.

[2019-02-08 17:58] #3213 closed

[2019-02-08 17:58] theganyo commented on #3212
Ok, docs are updated. The Apigee adapter now has a message near the top that reads:

[2019-02-08 18:00] geeknoid commented on #3212
Doug, could you look into the trace span portion of this issue?

[2019-02-08 19:06] frankbu commented on #868
Closing this issue since the design and docs have evolved a lot and I'm assuming that the reference docs plus [this task](https://preliminary.istio.io/docs/tasks/traffic-management/secure-ingress/#configure-a-tls-ingress-gateway-for-multiple-hosts) and [this blog](https://preliminary.istio.io/blog/2019/custom-ingress-gateway/) provide sufficient information now.

[2019-02-08 19:06] #868 closed

[2019-02-08 19:11] frankbu commented on #1958
Fixed in 1.1 docs
https://preliminary.istio.io/docs/reference/config/istio.networking.v1alpha3/#CorsPolicy

[2019-02-08 19:11] #1958 closed

[2019-02-08 19:27] frankbu commented on #2982
Fixed

[2019-02-08 19:27] #2982 closed

[2019-02-08 20:31] douglas-reid commented on #3212
@geeknoid sure. is the issue that the boolean just needs surrounding ""s?  cause that it is what it looks like...

@esnible can you try quoting the `false` in your local file?

[2019-02-08 20:35] esnible commented on #3212
@geeknoid Yes, `rewriteClientSpanId: "false"` is acceptable.

[2019-02-08 20:37] geeknoid commented on #3212
The field is defined a boolean in the proto. Then why are the quotas needed?

[2019-02-08 20:59] esnible commented on #3212
I looked at _mixer/template/tracespan/tracespan_handler_service.pb.go_.  There are three definitions of `RewriteClientSpanId` there.  Two are bool, **one is a string**!

[2019-02-08 21:22] douglas-reid commented on #3212
@geeknoid something about the yaml -> json -> proto translation in code generation?

Probably worth troubleshooting.

I've sent a PR to add quotes.

[2019-02-08 21:30] douglas-reid commented on #3212
@esnible @geeknoid https://github.com/istio/istio/pull/6559#discussion_r198649290

[2019-02-10 20:42] abonas opened #3223 "Galley should be added to the architecture diagram"
Galley is currently missing from
https://istio.io/docs/concepts/what-is-istio/arch.svg

[2019-02-11 07:27] sdake commented on #3111
@vadimeisenbergibm there is an existing tissue for this, closing this as a dup of https://github.com/istio/istio.io/issues/2566.

[2019-02-11 07:27] #3111 closed

[2019-02-11 17:50] #3203 closed

[2019-02-11 17:51] #3212 closed

[2019-02-11 20:35] geeknoid opened #3228 "Update Chinese content to use new <warning>, <tip>, and <idea> annotations"
Instead of blockquotes, Istio content now uses annotations to denote special kind of content:

{{< tip >}}
{{< idea >}}
{{< warning >}}

The Chinese content needs to have corresponding changes made.

You can find all places where block quotes are used by enabling the new lint check in scripts/lint_site.sh and then running "make lint".

[2019-02-11 21:23] #1324 closed

[2019-02-12 04:17] rootsongjc commented on #3228
There are 51 files need to change. To change so many files will cost a lot of time.

[2019-02-12 13:35] prune998 commented on #868
@frankbu I understand you want to see this issue closed, and the issue is partly linked to other resources (Cert-Manager, Acme...)

But the two links above does not solve the question.
Creating one Custom Ingress Gateway per SSL certificate (using Cert-Manager) is clearly an overhead to me.
Again, as the real solution seems to be on the Cert-Manager side, as Istio have no intension to integrate th

[2019-02-12 17:30] rcaballeromx opened #3239 "Add landing page for the Setup/Kubernetes section."
A clean landing page to point readers to the correct setup path is needed.
The documents themselves are to remain unchanged except for their titles and the folder they are in.
By grouping related documents, the goal is give readers clarity regarding what document or documents they need to follow.

[2019-02-13 03:28] geeknoid opened #3244 "Chinese content won't validate with HtmlProofer 3.10"
The latest version of htmlproofer produces a bazillion errors on the site's Chinese content, mostly relating to bad hash-related links. It's possible the tool is broken, I can't quite tell.

To repro this, you can change the -image field in .circleci/config.yml to:

      - image: gcr.io/istio-testing/website-builder:2019-02-06

Make a PR with this and submit it. CircleCi is then going to run with

[2019-02-13 04:58] fleeto commented on #3244
ok I'm on it.

[2019-02-13 16:39] frankbu commented on #868
@prune998, feel free to open an issue (feature request) in istio/istio, if you have a suggestion for how istio might more easily handle your use case. No guarantee it will be done, but it's good to record requirements and ideas :)

Closing this one makes sense, since this is a doc issue, but the requirement is functional.

[2019-02-13 17:52] rcaballeromx opened #3254 "Add task to setup gRPC loadbalancing with Istio"
Demonstrate how gRPC loadbalancing with Istio works where mesh-external clients connect via GCP external and internal LoadBalancers.

[2019-02-13 18:01] ericvn commented on #3113
@sdake Would you please review and add comments to #3183. Thanks.

[2019-02-13 18:21] sanjaypujare commented on #3254
So this covers the [ingress](https://istio.io/docs/tasks/traffic-management/ingress/) scenario? Is there a corresponding [egress](https://istio.io/docs/tasks/traffic-management/egress/) scenario that needs to be covered as well?

[2019-02-13 18:39] rcaballeromx commented on #3254
@sanjaypujare Yes, this issue is about configuring gRPC focusing on the ingress:
client_grpc_app (on GCE-VM) --> LB --> Istio --> Service
client_grpc_app (external) --> LB --> Istio --> Service
What path would you want for the egress?

[2019-02-13 18:51] sanjaypujare commented on #3254
A service (in a service-mesh) accessing endpoints external to the mesh or even external to GCP. There are 2 points to consider: policy enforcement and load balancing. gRPC LB can be used for LB but what about policy enforcement? Or there is no play here for gRPC LB?

I am just wondering and don't have specific suggestions or solutions.

[2019-02-13 18:55] rcaballeromx commented on #3254
@sanjaypujare Once I have a proposed draft in the form of a PR, it'll be easier for us to discuss specifics. We might need a separate doc for policy enforcement but it is hard to tell at this stage.

[2019-02-13 22:53] theganyo opened #3262 "https://preliminary.istio.io looks terrible on Chrome at the moment"
Screen shot:
<img width="1350" alt="screen shot 2019-02-13 at 2 49 14 pm" src="https://user-images.githubusercontent.com/772731/52749646-aae54080-2f9e-11e9-8fd8-2710d86635e7.png">

I tried clearing cached images and files without effect. Also, the website looks fine on Safari.

[2019-02-13 23:24] geeknoid commented on #3262
@douglas-reid

[2019-02-14 00:06] geeknoid commented on #3262
Turns out this is a problem with the theming logic. I'll have a fix shortly. In the meantime, if you select one of the themes from the gear menu (Light Theme or Dark Theme), things should fix themselves.

[2019-02-14 02:58] jpatokal commented on #2425
You can create a new Kubernetes manifest with Grafana enabled, then apply that to your GKE-managed Istio:
[code]
Beware that this will also restart all Istio services using the default configurations.  To avoid this, you can edit `istio.yaml` to include only those sections where Source: references grafana.  (There's probably an easier way to do this...)

[2019-02-14 04:35] geeknoid commented on #3262
All better now...

[2019-02-14 04:35] #3262 closed

[2019-02-15 02:50] Sanbornzhang opened #3265 "zh: web site private view issue"
error-url: https://istio.io/zh/docs/tasks/traffic-management/ingress/#使用浏览器访问-ingress-服务
code:
[code]
`VirtualService`  `spec.gateways[*].http` should be `spec.gateways.http`
route:  istio.io/content_zh/docs/tasks/traffic-management/ingress/index.md

[2019-02-15 05:20] #3244 closed

[2019-02-15 17:37] brian-avery opened #3269 "Istio 1.1 Minikube install instructions need to be updated"
The quickstart guide says that Istio 1.1 is tested on Kubernetes 1.10, 1.11, and 1.12 and then the minikube section talks about how to set up Kubernetes 1.9 or 1.10 (https://preliminary.istio.io/docs/setup/kubernetes/platform-setup/minikube/). The 1.9 option should be removed. Should the 1.10 instructions continue to refer to 1.10 or one of the newer tested versions?

On Kubernetes 1.9:

$ minikub

[2019-02-15 18:21] theganyo commented on #3176
There's an init chart here: `install/kubernetes/helm/istio-init`. Not sure how this dovetails into the doc's flow.

[2019-02-15 18:25] rcaballeromx commented on #3176
@sdake I can help with that. Do you know where all the pieces are?
@theganyo Is that the path that should appear in the docs? Does it work?

[2019-02-15 18:28] rcaballeromx commented on #3269
@brian-avery I can update the guide.
@geeknoid Do we want to maintain the 1.9 command or should I only include the Kubernetes 1.10 command?

[2019-02-15 18:29] theganyo commented on #3176
Well, it depends on what's intended on this page, I guess. The page flow will need to change, I think, as if you just run that, you'd need tiller installed.

[2019-02-15 18:31] rcaballeromx commented on #3176
Is there no way of doing it without Tiller? Could users apply the CRD with kubectl?

[2019-02-15 18:32] theganyo commented on #3176
I'm sure there's a way, I'm just not sure how it's intended to be run.

[2019-02-15 18:34] theganyo commented on #3176
Looks like `kubectl apply -f install/kubernetes/helm/istio-init/files` works.

[2019-02-15 18:35] rcaballeromx commented on #3176
Thank you @theganyo
@sdake @geeknoid What are your thoughts? I'm reluctant to add a dependency on Helm and Tiller to the  installation if it can be completed without it.

[2019-02-15 18:42] theganyo commented on #3176
@rcaballeromx Apparently @sdake already has a couple outstanding PRs to address the docs.

[2019-02-15 22:46] brian-avery opened #3271 "Istio 1.1 Odd wording in Visualizing Metrics With Grafana"
On (https://preliminary.istio.io/docs/tasks/telemetry/using-istio-dashboard), in the "About the Grafana add-on" section, the wording for step 3 is odd:

Individual Workloads View: This section provides metrics about requests and responses for each individual workloads within the mesh (HTTP/gRPC and TCP). Also, give metrics about inbound workloads and outbound services for this workload.

[2019-02-15 23:23] geeknoid commented on #3269
@rcaballeromx Yes, all the 1.9 stuff should be excised. But it's likely that 1.10 needs to go too, and we need to add 1.13 stuff.

@linsun @costinm @smawson @louiscryan @rshriram  Guys, what is our k8s support window for 1.1? For 1.0 we had:

supported_kubernetes_versions: ["1.10", "1.11", "1.12"]

Should we drop 1.10 and add 1.13?

[2019-02-17 14:04] sdake commented on #3176
@rcaballeromx I believe this is the best approach to handling the install is here: https://github.com/istio/istio.io/pull/3276

The T&R team has started distributing our helm charts via google storage.  We can then pull this down via `helm repo add`.

We have to take a dependency of helm, but not on tiller.  This hasn't changed.

[2019-02-18 13:21] atrifan opened #3280 "Mixer adapter scaling issue"
Hello,

I am unable to scale the mixer / my out of process adapter. I can set a bigger replicas number for both (mixer from the istio configuration yaml and my adapter directly from the yaml) the issue is that I don't receive any traffic on 3 out of 4 adapters.

My adapter is out of process, type authorization.

Istio version used: 1.0.5

Are there any additional things I need to enable? Can you h

[2019-02-18 16:43] linsun opened #3282 "Generate diffs for helm value files between releases"
It would be really cool if we can have a tool to compare the release X and release Y tree and generate differences of the helm value yaml files APIs for our users in istio.io (probably in the upgrade page or guide).  For examples, we need the difference between 1.0.5 and 1.0.6, and 1.0.6 to 1.1.  And we probably need this updated for every single new releases :).

@johnma14 could you check if this

[2019-02-18 18:11] johnma14 commented on #3282
@linsun will see what we can do. Thanks

[2019-02-18 18:39] brian-avery opened #3284 "Istio 1.1 Mutual TLS Migration Permissive Mode Instructions"
In the mutual TLS Migration guide, it tells you to install Istio: "without global mutual TLS enabled (e.g use install/kubernetes/istio-demo.yaml as described in installation steps, or set global.mtls.enabled to false using Helm)." Both of these options will install Istio in permissive mode. Further down, the section "Configure the server to accept both mutual TLS and plain text traffic" discusses

[2019-02-19 07:46] atrifan opened #3289 "Mixer adapter scaling issue"
Hello,

I am unable to scale the mixer / my out of process adapter. I can set a bigger replicas number for both (mixer from the istio configuration yaml and my adapter directly from the yaml) the issue is that I don't receive any traffic on 3 out of 4 adapters.

My adapter is out of process, type authorization.

Istio version used: 1.0.5

Are there any additional things I need to enable? Can you h

[2019-02-19 13:49] iam404 commented on #2107
Any update on this ?

[2019-02-19 13:59] vadimeisenbergibm commented on #2107
Documented here https://preliminary.istio.io/docs/examples/advanced-gateways/egress_sni_monitoring_and_policies

[2019-02-19 13:59] #2107 closed

[2019-02-19 14:31] #3271 closed

[2019-02-19 19:19] louiscryan commented on #3269
I think we should retire 1.9 and if probably 1.10 seeing as its almost a
year old.

On Fri, Feb 15, 2019 at 3:23 PM Martin Taillefer <notifications@github.com>
wrote:

[2019-02-19 20:43] brian-avery opened #3300 "Istio 1.1 Bookinfo Cleanup Scripts Don't execute"
Currently, the cleanup scripts on bookinfo don't execute because they are missing a ./.

[2019-02-19 22:16] #3300 closed

[2019-02-19 22:32] brian-avery opened #3302 "Istio 1.1 Issue with docs/examples/advanced-gateways/ingress-sni-passthrough/index.md"
In step 5, test that NGINX was deployed correctly, the command is incorrect. Executing the command as given yields:

kubectl exec -it $(kubectl get pod  -l run=my-nginx -o jsonpath={.items..metadata.name}) -c istio-proxy -- curl -v -k --resolve nginx.example.com127.0.0.1 https://nginx
.example.com

* Couldn't parse CURLOPT_RESOLVE entry 'nginx.example.com127.0.0.1'!
* Rebuilt URL to: https://nginx

[2019-02-19 22:39] brian-avery commented on #3302
This appears correct in https://github.com/istio/istio.io/blob/master/content/docs/examples/advanced-gateways/ingress-sni-passthrough/index.md but for some reason isn't shown correctly on the website. Parsing issue?

[2019-02-20 00:54] brian-avery commented on #3302
Fixed now. Was a parsing issue.

[2019-02-20 00:54] #3302 closed

[2019-02-20 16:14] brian-avery opened #3311 "Istio 1.1 Configuring an Egress Gateway Doesn't work in Minikube"
In the Configuring an Egress Gateway tutorial, you are instructed to create a network policy and test traffic flow afterwards to confirm that it no longer works. This does not work in Minikube due to the fact that it uses the "bridge" driver by default (https://github.com/kubernetes/minikube/issues/1572). Instead, when you execute the curl request, a 200 OK with content is returned.

Minikube vers

[2019-02-20 16:45] vadimeisenbergibm opened #3312 "Replace VirtualServices for egress traffic by ServiceEntry Endpoints"
Direct traffic thru egress gateway by using endpoints:

[code]

[2019-02-20 16:47] vadimeisenbergibm commented on #3312
@ibm-jason Could you please handle this is issue?
cc @linsun @rshriram

[2019-02-20 17:23] ibm-jason commented on #3312
@vadimeisenbergibm sure thing.

[2019-02-20 18:00] lbudai74 opened #3313 "The namespace scoped policy name should be default"
https://github.com/istio/istio.io/blob/405ad98764975bca7965d0317e6f30d89b277ffe/content/docs/reference/config/istio.authentication.v1alpha1/index.html#L343

[2019-02-20 18:08] brian-avery opened #3314 "Istio 1.1 Security/Concepts Authorization"
I see this in the preliminary docs. Is this correct?
https://preliminary.istio.io/docs/concepts/security/#authorization-permissive-mode

"If you set the permissive mode on a global authorization configuration, all policies switch to the permissive mode regardless of their own set mode."

Seems backwards that an enforced on an individual policy would be converted to a permissive by a global config.

[2019-02-20 21:11] brian-avery commented on #3311
@vadimeisenbergibm @geeknoid Is this a concern? Should I just add a comment to this section that this isn't supported in minikube?

[2019-02-20 21:12] brian-avery commented on #3269
Happy to make the changes, or @rcaballeromx can if he likes. Just need to know what versions to put.

[2019-02-20 21:13] geeknoid commented on #3311
I don't know about whether this should work or not, Vadim would. But in terms of the site, using {{< warning >}} for this kind of stuff would be appropriate IMO.

[2019-02-20 21:14] geeknoid commented on #3269
Already done. I've got it pegged at 1.11, 1.12, and 1.13 for Istio 1.1

On Wed, Feb 20, 2019 at 1:12 PM Brian Avery <notifications@github.com>
wrote:

[2019-02-20 21:23] brian-avery commented on #3269
Awesome. Thanks. I see the changes on "Quick Start with Kubernetes" already, but not the minikube setup guide.

[2019-02-20 22:21] brian-avery commented on #3314
Current behavior is that you can put your entire cluster in experimental mode or just some policies in experimental mode.

[2019-02-20 22:21] #3314 closed

[2019-02-21 03:06] yangminzhu commented on #3284
/cc @incfly @diemtvu We need to update the task to reflect this new default behavior. Maybe just remove the `Configure the server to accept both mutual TLS and plain text traffic` section?

[2019-02-21 14:29] linsun opened #3321 "IBM Cloud quick start guide use istio helm repo"
In addition to #3285, I think we should switch to use the istio helm repo, vs the ibm chart repo because it was not kept updated.

@Rachael-Graham

[2019-02-21 15:12] linsun commented on #3321
@ericvn

[2019-02-21 15:20] brian-avery opened #3322 "1.1 Egress Gateway TLS Origination Issues Updating Helm"
I installed Istio via both istio-demo.yaml and the helm template and had issues when I got to "Generate the istio-egressgateway deloyment" on both of them.

For istio-demo.yaml, obviously this won't work. There's no helm dependencies or other setup completed previously.

For the helm template, I am getting the following error:
kubectl apply -f ./istio-egressgateway.yaml
The Deployment "istio-egres

[2019-02-21 16:44] brian-avery commented on #3322
@geeknoid This doesn't work verbatim with two of our install options (istio-demo.yaml and istio-auth-demo.yaml). Should there be a workaround? Perhaps a pre-generated yaml that can be executed in the case that you used either of those install options?

[2019-02-21 17:26] utka opened #3325 "https://git.io/getLatestIstio gets 1.0.6"
https://preliminary.istio.io/docs/setup/kubernetes/download-release/
Wrong istio version

[2019-02-21 17:36] utka opened #3326 "Which versions of k8s we tested with"
https://preliminary.istio.io/docs/setup/kubernetes/platform-setup/

There is claim
"Istio 1.1 has been tested with these Kubernetes releases: 1.11, 1.12, 1.13."

Not sure which version we did test it with.

[2019-02-21 18:01] geeknoid commented on #3326
Those versions are what we've agreed to for 1.1

[2019-02-21 18:01] #3326 closed

[2019-02-21 18:06] geeknoid commented on #3325
This is expected behavior as 1.1 is not released yet. The script always installs the latest released version.

@sdake @costinm Any ideas on how to make this better? Should we publish a different script for each version and point the web site to that? So instead of getLatestIstio it would be getIstio-1-1, getIstio-1-2, etc.

[2019-02-21 18:11] #3289 closed

[2019-02-21 18:16] geeknoid commented on #3313
This is a bug in istio/api

[2019-02-21 18:20] douglas-reid opened #3331 "Helm install options should reflect warnings on security"
Running through install, I got the following warning from helm:

[code]

It feels like we should update our install instructions to use `--tiller-tls-verify` by default.

/cc @sdake @geeknoid @ostromart

[2019-02-21 18:27] ostromart commented on #3331
This is new, I think it comes in new versions of helm. I think it also only applies to tiller, not template.
I think we should mention it in the docs, although perhaps not necessarily recommend all users set it.
Something like:
If you are using tiller, see https://github.com/helm/helm/blob/master/docs/securing_installation.md to determine whether you should use a secure installation for helm.
wdyt

[2019-02-21 18:31] geeknoid commented on #2987
@jmazzitelli Can this issue be closed?

[2019-02-21 18:31] geeknoid commented on #2952
@jmazzitelli How should we proceed?

[2019-02-21 18:33] jmazzitelli commented on #2987
PR merged. We can close this.

[2019-02-21 18:33] #3035 closed

[2019-02-21 18:35] jmazzitelli commented on #2952
@geeknoid This would be up to the upstream Istio community - does it make sense to mention Kiali features in this Grafana Task documentation? Or is the Grafana Task documentation solely for describing Grafana itself and not other integrations with it.

[2019-02-21 18:38] #2587 closed

[2019-02-21 18:42] #1271 closed

[2019-02-21 18:45] lbudai74 commented on #3313
I just wanted to draw attention that there is a bug in the doc. In the example the name field should have the value "default" on line 343.

[2019-02-21 18:52] andraxylia opened #3336 "Uninstall mixed up with install"
https://preliminary.istio.io/docs/setup/kubernetes/helm-install/

Option 1 steps 6 and 7 belong to an uninstall section.

I should not be tempted to copy-paste those steps right after I just installed.

[2019-02-21 18:55] andraxylia commented on #3336
Option 1 steps 6 and 7 belong to an uninstall section.

[2019-02-21 18:56] geeknoid commented on #3228
All done. Thanks.

[2019-02-21 18:56] #3228 closed

[2019-02-21 19:21] douglas-reid opened #3338 "Conditional Rate Limits documentation issue"
In https://preliminary.istio.io/docs/tasks/policy-enforcement/rate-limiting/, the conditional rate limits section includes a cut/paste box for the following:

[code]

The problem is that the command is not separated from the bits that need to be updated, leading to the following:

[code]

[2019-02-21 19:24] bianpengyuan opened #3339 "Add rbac.permissive attributes into attributes vocabulary and default metric doc"
rbac.permissive.response_code and rbac.permissive.effective_policy_id are used in default prometheus metrics, but not show up in attributes vocabulary doc (https://preliminary.istio.io/docs/reference/config/policy-and-telemetry/attribute-vocabulary/) and default metric reference doc (https://preliminary.istio.io/docs/reference/config/policy-and-telemetry/metrics/). We want to add them into both do

[2019-02-21 19:25] bianpengyuan commented on #3339
@liminw @yangminzhu

[2019-02-21 19:36] douglas-reid opened #3340 "Conditional Rate Limits example does not work"
Logging in as a user to explore the conditional rate limits section of the Rate Limit task does not produce expected results. The rate limits are still applied to the logged-in user.

I believe this is because the bookinfo app doesn't send a "cookie" header with a "user=" field (instead, it looks like it is "session=".

Headers taken from a debug instance:

[code]

[2019-02-21 19:39] douglas-reid commented on #3340
Indeed, editing the rule to be:

[code]

works.

[2019-02-21 20:16] liminw commented on #3339
Authorization permissive mode is an experimental feature. It is likely that we will change the interface and the name of mentioned metrics. I prefer to leave it out of the documentation for now.

[2019-02-21 20:22] ozevren opened #3344 "Introspection page lacks details on how to use ctrlz in a running cluster"
@ozevren commented on [Thu Feb 21 2019](https://github.com/istio/istio/issues/11949)

https://preliminary.istio.io/help/ops/controlz/

It would be ideal to guide the user to reach the controlz page for the Kubernetes deployments as well. i.e.

[code]

[2019-02-21 20:22] ozevren opened #3345 "With gdb section is confusing / has missing items"
@ozevren commented on [Thu Feb 21 2019](https://github.com/istio/istio/issues/11948)

1. The kubectl exec line is missing a shell argument (i.e. sh as the last argument)
 kubectl exec -it PODNAME -c [proxy | mixer | pilot]

2. The page talks about debug images, but there is no info/link readily available for obtaining those.

---

@ozevren commented on [Thu Feb 21 2019](https://github.com/istio/is

[2019-02-21 20:26] liminw commented on #3313
Thanks for reporting it. The API documentation is inconsistent with Istio documentation. @diemtvu  Can you fix it?

[2019-02-21 20:29] liminw commented on #3313
I cannot reassign it to Diem. Leave it under my name for now.

[2019-02-21 20:33] #2987 closed

[2019-02-21 20:34] geeknoid commented on #2952
@douglas-reid ?

[2019-02-21 20:52] bianpengyuan commented on #3339
Ok, thanks for clarification.

[2019-02-21 20:52] #3339 closed

[2019-02-21 21:22] howardjohn opened #3348 "Demo Kiali default credentials not documented"
https://github.com/istio/istio/pull/11715/files adds a new default admin/admin login for Kiali when using the demo. This is not documented anywhere on https://preliminary.istio.io/docs/tasks/telemetry/kiali/ or the rest of the website.

[2019-02-21 21:23] douglas-reid commented on #2952
@jmazzitelli Do we want a page on Kiali itself?  Would seem to make sense. I think we used to have a page on the old ServiceGraph.

[2019-02-21 21:39] jmazzitelli commented on #2952
@douglas-reid We have one - https://preliminary.istio.io/docs/tasks/telemetry/kiali/
Or are you asking about something else?

[2019-02-21 21:40] douglas-reid commented on #2952
@jmazzitelli ok. so, i would think that any mention of kiali metrics integration should live there, right?

[2019-02-21 21:43] jmazzitelli commented on #2952
We could. I punted on that subject when I first wrote those docs - as you see with the blurb "This task does not discuss Jaeger and Grafana."... but we could now put that on the TODO list and add a little subsection on the Kiali task to talk about the Grafana (and Jaeger) integration.

[2019-02-21 22:22] geeknoid commented on #3348
@jmazzitelli

[2019-02-21 22:27] geeknoid commented on #3344
Fixed

[2019-02-21 22:27] #3344 closed

[2019-02-22 07:14] rootsongjc commented on #2396
@sdake @geeknoid @cuisongliu This issue is out-of-date, this page has been updated. https://preliminary.istio.io/zh/docs/setup/kubernetes/quick-start/

[2019-02-22 07:14] #2396 closed

[2019-02-22 15:45] geeknoid opened #3355 "Document all environment variable usage"
Our components use several environment variables. We need to have a reference page that shows them all with descriptions.

[2019-02-22 16:30] jmazzitelli commented on #3348
@geeknoid see PR #3356

[2019-02-22 18:45] jmazzitelli commented on #3348
PR is merged. See: https://preliminary.istio.io/docs/tasks/telemetry/kiali/#create-a-secret

We can close this issue.

[2019-02-22 18:56] liminw commented on #3313
The issue is fixed.

[2019-02-22 18:56] #3313 closed

[2019-02-22 20:39] geeknoid commented on #3348
Thanks.

[2019-02-22 20:39] #3348 closed

[2019-02-22 23:29] ozevren opened #3360 "istioctl authn tls-check documentation doesn't match implementation"
@esnible commented on [Fri Feb 22 2019](https://github.com/istio/istio/issues/11982)

https://preliminary.istio.io/docs/reference/commands/istioctl/#istioctl-authn-tls-check documentation doesn't match command.

The documentation says the syntax is `istioctl authn tls-check <pod-name[.namespace]> [<service>] [flags]`  If I actually give it two arguments it reports a syntax error:

[code]

The actu

[2019-02-22 23:31] yangminzhu commented on #3360
/cc @diemtvu

[2019-02-23 00:18] brian-avery commented on #3269
Fixed by #3351

[2019-02-23 00:18] #3269 closed

[2019-02-24 14:34] markserrano915 commented on #2425
I got the same issue as with the original poster.

As a context I installed `istio-1.1.0-rc.0` via Helm with the following commands:
[code]
Then I played around with https://istio.io/docs/tasks/telemetry/.

Then I found Grafana and Service Graph were not installed and disabled by default in the Helm chart.

**values.yaml**
[code]

I updated those values to **true**. Then I run the following helm u

[2019-02-25 07:37] vadimeisenbergibm commented on #2738
My understanding of Istio installation is as follows:
1. If you want to quickly evaluate Istio, use one of the provided demo configurations.
2. If you want to seriously work with Istio for the long term, use helm. You can either use `helm template` to generate a Kubernetes config or use` helm install` to install Istio directly. There is no other choice, especially if you need to change installatio

[2019-02-25 07:38] #2738 closed

[2019-02-25 09:24] kramerul opened #3371 "Issue with help/faq/metrics-and-logs/index.md"
[configuration for Prometheus](https://raw.githubusercontent.com/istio/istio/release-1.1/install/kubernetes/helm/subcharts/prometheus/templates/configmap.yaml) on the [preliminary page](https://preliminary.istio.io/help/faq/metrics-and-logs/) points to a 404.

[2019-02-25 15:42] c0d1ngm0nk3y opened #3373 "Quick Start on Docker: Unable find certificates for pilot"

[2019-02-25 15:42] #3373 closed

[2019-02-25 19:49] #3371 closed

[2019-02-26 15:50] stevekinder-ibm opened #3388 "1.0 doc IBM helm chart version does not match istio release"
The documentation on the quickstart page for IBM cloud indicates that the istio helm chart version in the IBM repo can be used to identify the Istio release.   At the time of this writing, the IBM Istio helm chart is version 1.0.5, but it installs 1.0.2 release.

Just because the helm change is updated, doesn't mean that the istio release was updated... and so the numbers drift apart.

That said,

[2019-02-26 16:45] ericvn commented on #3388
In the 1.1 documentation, PR https://github.com/istio/istio.io/pull/3327 changed to using the Istio Helm charts per https://github.com/istio/istio.io/issues/3321.

Do we want to put this change back in to 1.0 branch @linsun?

[2019-02-26 18:09] theganyo opened #3391 "incorrect # CRDs"
From https://preliminary.istio.io/docs/setup/kubernetes/helm-install/:

`Verify that all 58 Istio CRDs...` - actually, 56 CRDs are created

[2019-02-26 18:11] linsun commented on #3388
@gyliu513 @morvencao any objection for us to push this change back to 1.0?  We'd prefer that from IKS perspective.

[2019-02-26 18:38] esnible opened #3392 "Nit: orphan letter "m" in istioctl-experimental-metrics documentation"
Weird orphan letter `m` in https://preliminary.istio.io/docs/reference/commands/istioctl/#istioctl-experimental-metrics

I think the “m” is the command alias. See  _istioctl/cmd/istioctl/metrics.go_

Similar https://preliminary.istio.io/docs/reference/commands/istioctl/#istioctl-proxy-config and weird orphan "pc".  Also "ps" on proxy-status.

[2019-02-26 19:05] esnible opened #3394 "Nit: Capitalize "Envoy""
https://preliminary.istio.io/docs/reference/commands/istioctl/#istioctl-kube-inject says

[code]

Both "Envoy" and "Kubernetes" are being used here as trademarks and MUST be capitalized.

Also there is a missing space in

[code]

[2019-02-26 20:59] brian-avery opened #3398 "Egress Example Failing With Helm Install"
Step 5 in https://preliminary.istio.io/docs/examples/advanced-gateways/egress-gateway-tls-origination/ is failing if you use the helm install option due to the fact that values.yaml sets enabled to false. If you reinstall with the egress gateway enabled (helm template $HOME/istio-fetch/istio --name istio --namespace istio-system --set gateways.istio-egressgateway.enabled=true | kubectl apply -f -)

[2019-02-26 22:51] theganyo commented on #3391
fixed

[2019-02-26 22:51] #3391 closed

[2019-02-27 02:18] morvencao commented on #3388
Okay for me.

[2019-02-27 07:36] zuxahiz opened #3402 "Issue with docs/tasks/traffic-management/ingress/index.md"
[code]
Document in Chinese version is "http", however the original English version it is http2. New learner don't know why.

[2019-02-27 15:27] vadimeisenbergibm opened #3411 "Change "monitoring and access control for egress traffic blog post" to an example"

[2019-02-27 19:21] stevekinder-ibm opened #3416 "Another install doc nit - Helm version instructions seem to be backwards. (1.0.6)"
Page in question: https://istio.io/docs/setup/kubernetes/helm-install/

Related to customresourcedefinitions...  When I tried to install the helm chart with v2.9.1, it seems like the "CRD install" is not necessary, but the uninstall is.   The documentation says, you need v2.10 for the installs to happen, but if you try to install the crds and the helm chart; the helm chart install complains about

[2019-02-27 23:09] johnma14 commented on #3282
@linsun @sdake @geeknoid I have pushed a PR for this feature: https://github.com/istio/istio.io/pull/3420

[2019-02-28 02:37] rootsongjc commented on #3402
@zuxahiz Can you list the addresses of these errors in order we can fix them?

[2019-02-28 02:57] zuxahiz commented on #3402
Hi, the address is [确定使用 Node Port 时的 ingress IP 和端口](https://istio.io/zh/docs/tasks/traffic-management/ingress/#%E7%A1%AE%E5%AE%9A%E4%BD%BF%E7%94%A8-node-port-%E6%97%B6%E7%9A%84-ingress-ip-%E5%92%8C%E7%AB%AF%E5%8F%A3). Please help to check it. Thanks.

[2019-02-28 04:51] loverto commented on #3402
https://preliminary.istio.io/zh/docs/tasks/traffic-management/ingress/#%E7%A1%AE%E5%AE%9A%E4%BD%BF%E7%94%A8-node-port-%E6%97%B6%E7%9A%84-ingress-ip-%E5%92%8C%E7%AB%AF%E5%8F%A3

可以看这里

[2019-02-28 05:05] zuxahiz commented on #3402
For the issue I reported it's OK now. Thanks.

[2019-02-28 05:05] #3402 closed

[2019-02-28 14:24] ibm-jason commented on #3312
/cc @vadimeisenbergibm

I've taken a look at the documentation and identified these areas where VirtualServices have been defined for egress traffic:

- https://preliminary.istio.io/docs/examples/advanced-gateways/egress-gateway/#egress-gateway-for-http-traffic
  - Egress gateway for HTTP traffic, Step 4
  - Egress gateway for HTTPS traffic, Step 3
- https://preliminary.istio.io/docs/examples/adva

[2019-02-28 15:45] vadimeisenbergibm commented on #3312
@ibm-jason Note that VirtualServices are redundant only if they do not rewrite the port.

In https://preliminary.istio.io/docs/examples/advanced-gateways/egress-gateway-tls-origination/
* Perform TLS origination with an egress gateway, Step 4 - rewrite port 80 to 443

[2019-02-28 18:07] rcaballeromx opened #3431 "Change the CNI Installation guide to better convey what the feature is and how to use it."
Mixing up CNI in the Alibabi/IBM/Google instructions doesn't make any sense.  CNI is like istio-init - except that it is optional and comes with all of the madness of installing with or without tiller. The guide needs to reflect that fact and be moved to a better suited location. Ideally as an example.

[2019-02-28 18:10] rcaballeromx opened #3432 "Remove all references to Helm from the Install without Helm guide."
Helm should be purged from: https://deploy-preview-3422--preliminary-istio.netlify.com/docs/setup/kubernetes/install/kubernetes/ .  In generral, that page must undergo some serious rework.

[2019-02-28 18:19] rcaballeromx opened #3433 "Find and use a consistent alternative term to call the Installation "Paths""
The meaning of the word "Paths" can be different for readers and feels clunky.

[2019-02-28 18:28] vadimeisenbergibm opened #3434 "Provide a glossary definition to the "strong identity""

[2019-02-28 19:40] geeknoid commented on #3433
Approaches
Techniques
Models

[2019-02-28 21:33] rcaballeromx opened #3438 "Improve the links checker's performance locally and on CircleCI"
The links checker can take up to 4 minutes to complete with CircleCI and, depending on machine, it takes twice as long to complete.
This makes organizing and updating content needlessly time consuming.

[2019-03-01 00:30] geeknoid commented on #3438
We use htmlproofer for link checking. htmlproofer has a cache such that if it validates a link once, it won't try to validate it again for 2 days. Unfortunately, this cache cannot be used in CircleCi. But it should be used locally when you run lint yourself.

[2019-03-01 14:58] m-eaton opened #3453 "Install on a Kubernetes Cluster section uses nonexistent yaml files"
Option 1 and Option 2 on the [Install on a Kubernetes Cluster page](https://preliminary.istio.io/docs/setup/kubernetes/install/kubernetes/#installation-steps) instruct the user to `kubectl apply -f install/kubernetes/istio-demo.yaml` and `install/kubernetes/istio-demo-auth.yaml` respectively, when neither of those config files are included in the 1.1 release. I believe that the instructions need t

[2019-03-01 17:20] ayj commented on #3394
fixed by https://github.com/istio/istio.io/pull/3430

[2019-03-01 17:20] #3394 closed

[2019-03-01 17:20] ayj commented on #3392
fixed by https://github.com/istio/istio.io/pull/3430

[2019-03-01 17:38] ayj commented on #3392
`m` and `ps` are command aliases. These are generated by [pkg/collateral/control.go#L188-L192](https://github.com/istio/istio/blob/1686e3ccc6a98ce5f926bbc47a4262db1e4e1ad2/pkg/collateral/control.go#L188-L192.)

[code]

@geeknoid @esnible - the snippet above should probably include some text about what the values are (e.g. see below). Any thoughts on formatting?

[code]

[2019-03-01 18:18] esnible commented on #3392
Put the aliases in **bold** or _italics_ or `code` to indicate their specialness.

[2019-03-01 18:27] ayj commented on #2851
https://github.com/istio/api/tree/master/mixer/v1/config/client is missing the "location" tag in the original proto.

[2019-03-01 19:56] geeknoid commented on #3392
What I'd like to do is repeat the example command-line that's produced but using the aliased names instead of the full name. This makes it clear what the use case is. Let me see how hard that would be to incorporate in the collateral package.

[2019-03-01 20:29] m-eaton opened #3458 "Incorrect chart name for installing w/ Helm and Tiller"
After first adding the istio.io repo in the [Installation steps](https://preliminary.istio.io/docs/setup/kubernetes/install/helm/#prerequisites) and then following the steps in [Option 2](https://preliminary.istio.io/docs/setup/kubernetes/install/helm/#option-2-install-with-helm-and-tiller-via-helm-install) to install Istio 1.1 with Helm and Tiller, I get an error on step 5:

[code]

This can be f

[2019-03-01 20:36] m-eaton commented on #3458
Related to istio/istio#12081

[2019-03-01 22:32] frankbu commented on #3433
I would suggest the title can just be `Installation`, and change:
[code]
to
[code]
I would also move `Mulicluster Installation` to the `Additional Setup Guides` subsection and then rename `Additional Setup Guides` to `Advanced Guides` (or something similar to mean not just your basic install).

The overall layout would then look pretty clean IMO:
* Downloading the Release
* Platform Setup
* Instal

[2019-03-01 22:47] frankbu opened #3460 "Various installation instructions need to say what's included/excluded"
The install instructions for the various installation profiles (minimal, demo, standard) need to say what exactly they install. The minimal install instructions, for example, currently says `This minimal install provides traffic management features of Istio`, which doesn't say what components are/aren't included.

Related to this, all the instructions should have a `Verify Installation` step. Curr

[2019-03-04 15:17] frankbu commented on #3460
Another thought: we need a (ideally generated) table that lists all the components in rows, and the columns correspond to the various Istio profiles (minimal, demo, standard, other?) with an `x` in each row if the component is included. This table could be referenced from the install instructions.

I also wonder if instead of having different install instructions for the various profiles, all we r

[2019-03-04 15:29] frankbu commented on #3453
I thought that `istio-demo.yaml` and `istio-demo-auth.yaml` are supposed to be there for users that want to try out Istio without needing to download Helm. Is there a bug in the release build that should be generating and adding them to the release?

[2019-03-04 15:35] linsun commented on #3453
@mandarjog is it possible your recent clean up that removed these 2 files?

We need to have these generated yaml for quick start per the last env WG mtg.  @sdake @costinm

[2019-03-04 15:48] frankbu commented on #3453
@m-eaton The two yaml files are in the latest 1.1 candidate: https://github.com/istio/istio/releases/tag/1.1.0-rc.2, so it must have been a bug in the particular build you were testing.

[2019-03-04 16:47] linsun commented on #3460
@frankbu i think having a table is a good idea.  We have a few profiles and it is good to highlight what is unique about each profiles.

To find out what is different than each profiles, you can refer to its corresponding values.yaml file, e.g. values-istio-{profile}.yaml and compare the difference from the base values yaml file.

[2019-03-04 16:54] m-eaton commented on #3453
I just confirmed that the two demo manifests are in the latest release candidate - there must've been a bug in the build somehow when I originally downloaded RC-1.

[2019-03-04 16:54] #3453 closed

[2019-03-04 17:15] ericvn commented on #3460
I will see if I can come up with an acceptable table.

[2019-03-04 21:10] incfly opened #3496 "Have a syntax to refer current release"
I encountered a problem where we ask users to download a mesh expansion sdiecar debian package. The download URL has release version encoded, which requires manually updated very time we ship even a minor release, 1.1-rc0 to 1.1-rc1.

[code]

Would be great if we have a website level settings for this strings or a syntax to do this. Instead of hardcoding and manually remember to update.

[2019-03-04 21:49] geeknoid commented on #3496
We do already. Checkout https://preliminary.istio.io/about/contribute/creating-and-editing-pages for the right form for your use.

[2019-03-04 22:00] sdake commented on #3458
@m-eaton thanks for filing the bug and correcting this problem.  Sadly I didn't see this was fixed by you and submitted a PR sunday which was merged here: https://github.com/istio/istio.io/pull/3483.

Since this issue is fixed, I am closing this issue.  Thanks again for the contribution and hopefully we will have less duplication of work in the future (my bad).

[2019-03-04 22:00] #3458 closed

[2019-03-04 22:03] geeknoid commented on #3392
Fixed by #3497

[2019-03-04 22:03] #3392 closed

[2019-03-04 22:11] sdake commented on #2992
this issue is no longer relevant with the current state of the installation procedures as subcharts and `helm dep update` have been removedd.

[2019-03-04 22:11] #2992 closed

[2019-03-04 22:13] sdake commented on #2787
this issue has alot of subissues in it, but I think all is fixed.  It needs a more thorough look though.

[2019-03-04 22:16] sdake commented on #2642
Ansible has been deprecated and all mentions of it should be removed from the documentation.

[2019-03-04 22:16] #3496 closed

[2019-03-04 22:18] sdake commented on #1262
ansible is deprecated and should be deleted from all documentation.

[2019-03-04 22:20] sdake commented on #784
Istio requires RBAC.  Closing this issue as there is no way to run Istio sans RBAC.

[2019-03-04 22:20] #784 closed

[2019-03-04 23:42] wattli commented on #2950
@diemtvu Can you take a look please? Somehow i can't reassign it to you.

[2019-03-04 23:43] wattli commented on #2953
@myidpt , are we already have the page?

[2019-03-04 23:45] #3137 closed

[2019-03-04 23:45] #3284 closed

[2019-03-04 23:46] wattli commented on #3360
@diemtvu , is this fixed now?

[2019-03-04 23:46] wattli commented on #3360
Fixed in https://github.com/istio/istio.io/pull/3343

[2019-03-04 23:55] JimmyCYJ commented on #2584
There is one here https://istio.io/blog/2019/custom-ingress-gateway/. Please let us know if that is sufficient. Thanks!

[2019-03-05 00:01] #2584 closed

[2019-03-05 00:20] geeknoid commented on #3223
Done.

[2019-03-05 00:20] #3223 closed

[2019-03-05 00:25] geeknoid opened #3501 "Some strings to translate"
I've added a few strings to i18n/zh.toml which need to be translated.

[2019-03-05 00:28] geeknoid opened #3502 ""Work in progress" banner?"
Hi there,

Looks like should be able to release Istio 1.1 soon. I expect there to be a large number of doc checkins in the next couple days, leading up to the release. Even though you guys have been doing a great job in keeping up with all the docs, I'm afraid that when 1.1 launches, the Chinese docs will still be somewhat out of date with the latest English docs.

Should we put a disclaimer somew

[2019-03-05 01:04] myidpt commented on #2953
It's actually not quite trivial if you want to generate a "meaningful" cert. This one points you to a website with instructions on how to generate a cert chain:
https://github.com/istio/istio.io/pull/3443
But if you just want to test, take a look at this directory:
https://github.com/istio/istio/tree/master/security/pkg/pki/testdata/multilevelpki

[2019-03-05 01:21] sdake commented on #3146
I would encourage this as a p0.  IMO Istio lives and dies by performance results.  If the latency is 10msec, thats fine, if its 1msec, the documentation should reflect as much.

Cheers
-steve

[2019-03-05 04:16] rootsongjc commented on #3502
As it's really a lot of docs not sync with the English version, check [here](https://github.com/servicemesher/istio-official-translation/issues), I think it's ok but the key point is where to show this message? After all, not all of the Chinese docs are out of date.

[2019-03-05 05:03] fleeto commented on #3502
There are 34 new/moved documents and 51 updated documents in the queue.
I think this may be a normal, we should let the reader know that the Chinese document may be out of date.

[2019-03-05 10:50] abonas commented on #3223
where is this reflected? the website still shows the old one. thanks

[2019-03-05 14:31] #3501 closed

[2019-03-05 14:32] rcaballeromx commented on #3460
@frankbu Do you think it would be more useful if the table had features instead of components?
The components are implementation details, readers usually care more about what features the installation enables.

[2019-03-05 14:37] geeknoid commented on #3502
How about we put this in the footer on every page then?

I'll add a spot for that, and a new translated string that you guys can fill out.

[2019-03-05 14:50] frankbu commented on #3460
Maybe both or some combination in the future, but most urgently, for the purposes of installation, I think what components are installed needs to be clear so that we can have a verification step that checks what's running, and other tasks that need certain components (e.g., egressgateway) can refer to the table.

[2019-03-05 14:50] geeknoid commented on #3223
https://preliminary.istio.io/docs/concepts/what-is-istio

This will be published to istio.io when 1.1 is released.

[2019-03-05 15:17] ericvn commented on #3176
Looking at the subject pages, and I believe the changes have already been made and possibly the issue could be closed.

One question I have is if we want to use `kubectl apply -f install/kubernetes/helm/istio-init/file` or `for i in install/kubernetes/helm/istio-init/files/crd*yaml; do kubectl apply -f $i; done`. Today we have both and maybe we should standardize on one. The later would be better

[2019-03-05 15:18] rootsongjc commented on #3502
Do you mean put it here? OK for me.
![image](https://user-images.githubusercontent.com/3328185/53815585-e4f1a300-3f9c-11e9-959d-f0b7cd090317.png)

[2019-03-05 15:40] ericvn commented on #1167
Looking at this page, I see that the wording is now: `If there is any critical issue with the new control plane, you can rollback the changes by applying the yaml files from the old version.` so there is no longer a missing second option.

I think this issue can be closed unless we need to create a similar change in prior releases.

[2019-03-05 17:51] duderino commented on #3458
@m-eaton Thank you for the contribution.  Sorry for the mixup

[2019-03-05 18:02] geeknoid commented on #3502
Exactly.

On Tue, Mar 5, 2019 at 7:19 AM Jimmy Song <notifications@github.com> wrote:

[2019-03-05 18:28] andraxylia commented on #1384
For 1.1 this depends on the outcome of the discussion in istio/istio#12259 and actual support for k8s ingress, marking as P0 for now.

[2019-03-05 18:31] andraxylia commented on #2487
Has anything changed in this area for 1.1 that we need to document?

[2019-03-05 18:32] andraxylia commented on #2640
@cm any update for this?

[2019-03-05 18:34] vadimeisenbergibm commented on #2487
@andraxylia No, nothing changed in this area as far as I know.

[2019-03-05 18:46] andraxylia commented on #3312
@ibm-jason I maked this as a P0, please let me know if you are working on this for 1.1.

[2019-03-05 18:47] andraxylia commented on #3398
@vadimeisenbergibm I marked issues related to the installation as P0 for 1.1 since this can impact UX.

[2019-03-05 19:12] geeknoid opened #3517 "Need to produce the release notes for 1.1"
I've checked the current version of the 1.1 release notes. Many more changes are necessary. Please submit PRs accordingly.

@linsun @sdake @frankbu Can you address the remaining Helm items?

@liminw I added a new suggested items in the security section with a TBD. Please tell me what that needs to be, or we can delete the entry.

@costinm @sdake Can you suggest the needed stuff for the multicluste

[2019-03-05 19:18] ericvn commented on #3460
A very quick table I put together by looking at the yamls. Still working on details on how to generate this file. I wasn't sure of a good feature/component breakdown.

  | Citadel (Security) | CoreDNS | CNI plugin | Egress Gateway | Enable Tracing | Galley | Gateway | Grafana | Ingress | Ingress Gateway | Kiali | Mixer | CPSecurity enabled + mTLS | NodeAgent | Pilot | Policy | Prometheus | Proxy P

[2019-03-05 19:35] geeknoid opened #3519 "Need to update the Feature Status page for 1.1"

[2019-03-05 19:37] geeknoid commented on #3502
OK, the change to support this is in. Just update the advisory string in zh.toml with whatever you'd like you say.

For now, I just left that string white. We can tweak the color if you'd like, just let me know.

Thanks!

[2019-03-05 20:11] duderino commented on #3398
@vadimeisenbergibm we need to know whether you can work on this or whether we should find another owner

[2019-03-05 20:59] ibm-jason commented on #3312
@andraxylia Yes, I am working on this for 1.1.

[2019-03-05 21:05] brian-avery commented on #3398
@duderino @andraxylia I know this area will be rewritten to better encompass the install options, but is https://github.com/istio/istio.io/pull/3399 good enough for now? Clarifies that helm is disabled and where to go to figure out how to enable it.

[2019-03-05 21:14] incfly commented on #3496
@geeknoid hmm, the download URL I used for now are "1.1.0-rc.0". But I assume once we have a official 1.1 release, the suffix "rc" part will disappear? And we can then replace with the syntax you linked above?

Am I right?

[2019-03-05 21:15] geeknoid commented on #3496
Yes, I believe so.

On Tue, Mar 5, 2019 at 1:14 PM Jianfei Hu <notifications@github.com> wrote:

[2019-03-05 21:26] brian-avery commented on #3311
@vadimeisenbergibm any opinions on this?

[2019-03-05 22:04] esnible opened #3521 ""Installing the sidecar" verification step incorrect"
https://preliminary.istio.io/docs/setup/kubernetes/additional-setup/sidecar-injection/

The step says "Verify that the sidecar has been injected into the deployment."

[code]

I tested with _kubectl_ version 1.13 against a server running 1.13.  Although the injection was correct, the IMAGES and CONTAINERS fields show only one container because the injection happens to the _pod_, not the _deploymen

[2019-03-05 22:47] #3432 closed

[2019-03-06 02:20] vadimeisenbergibm commented on #3398
@andraxylia @duderino @brian-avery This issue will be handled by
https://github.com/istio/istio.io/pull/3444, and then referencing the instructions in it in other examples.

I am waiting for https://github.com/istio/istio.io/pull/3444 to be merged, then will submit a PR to update all other examples.

[2019-03-06 02:32] vadimeisenbergibm commented on #3311
@brian-avery Sorry, I missed this issue. I do not think we can support in the documentation examples all the possible Kubernetes environments with their peculiarities, it would make the documentation hard to read. Especially supporting all the examples on Minikube. Note also the motivation for the example, as appears in
https://preliminary.istio.io/docs/examples/advanced-gateways/egress-gateway/#u

[2019-03-06 03:50] linsun commented on #3521
how about this?

[code]

[2019-03-06 03:51] linsun commented on #3521
BTW, this returned nothing because I didn't use the annotation to inject sidecar.

[code]

[2019-03-06 05:54] zanven42 opened #3528 "Issue with docs/concepts/policies-and-telemetry/index.md"
top left icon that spins on hover is not centred. :).

[2019-03-06 14:06] #3521 closed

[2019-03-06 14:56] geeknoid commented on #3528
I think it's close enough for my taste.

I do welcome any improvements someone wants to submit to the site's art/design.

[2019-03-06 14:56] #3528 closed

[2019-03-06 15:06] geeknoid opened #3532 "Need content around scaling"
The doc web site contains almost no information about scaling Istio. The only page we have right now is https://preliminary.istio.io/docs/concepts/performance-and-scalability/ which isn't very good as a high-level customer-oriented concept page. It talks about Go microbenchmarks for example. The page contains pointers back to the developer wiki on github. Etc.

We need:

- A real customer-oriented

[2019-03-06 15:24] esnible commented on #3191
https://github.com/istio/istio.io/pull/3349#issuecomment-466539382 says we need to fix in the code.  Will need to be post 1.1.

[2019-03-06 18:49] geeknoid commented on #3239
Can we close this?

[2019-03-06 18:59] geeknoid commented on #3146
I think we need more than just minor updates here, our scalability docs are sorely lacking. I opened #3532 to reflect this.

[2019-03-06 19:02] geeknoid opened #3536 "Document incompatible changes in 1.1"
We need to clearly document things that have changed such as disabling policy checks.

This probably should be captured as a FAQ entry, probably an ops guide section, a mention in the release notes, and a stand-alone page in the setup & upgrade section.

[2019-03-06 19:18] geeknoid commented on #3325
I don't know how stuff on git.io gets updated. But if instead, this script was located in the istio/istio repo, it could contain different stuff depending on the branch it's in. Then we can have the web site point to the appropriate branch for the doc set.

So maybe instead of getLatestVersion.sh, this is just getIstio.sh and it gets you the latest for the specific branch you're running it from.

[2019-03-06 19:19] geeknoid commented on #3132
@douglas-reid Turns out this is already tracked.

[2019-03-06 19:22] vadimeisenbergibm commented on #3398
I've updated the documentation, closing the issue.

[2019-03-06 19:23] geeknoid commented on #2549
@linsun Do you think we should just remove the AWS stuff?

[2019-03-06 19:24] geeknoid commented on #1262
Per #2642, perhaps we'll just delete the Ansible content.

[2019-03-06 19:38] #3338 closed

[2019-03-06 19:40] geeknoid commented on #2983
@liminw, can you take a look?

Thanks.

[2019-03-06 19:44] geeknoid commented on #3132
See #2735

[2019-03-06 21:43] geeknoid commented on #1311
@oaktowner will take care of this.

[2019-03-06 21:45] brian-avery commented on #3311
Thanks. Opened PR to address this.

[2019-03-06 22:23] liminw commented on #2983
/cc. @diemtvu

[2019-03-06 22:59] yxun commented on #2983
I checked https://preliminary.istio.io/docs/tasks/security/authn-policy/
All above changes have been included in  https://preliminary.istio.io/docs/tasks/security/authn-policy/
So release 1.1 doc looks fine.

[2019-03-06 22:59] #2983 closed

[2019-03-06 23:00] douglas-reid commented on #3132
We should make sure that we run this after the dust has settled on the release.

[2019-03-06 23:07] yxun commented on #2981
This has been fixed in https://preliminary.istio.io/docs/tasks/security/mtls-migration/
So release 1.1 doc looks good

[2019-03-06 23:07] #2981 closed

[2019-03-06 23:18] cmluciano commented on #2640
The implementation I added has been supplanted by https://github.com/istio/api/pull/709 . cc @itaysk

[2019-03-07 14:37] #3398 closed

[2019-03-07 14:51] #3311 closed

[2019-03-07 18:15] #2386 closed

[2019-03-07 19:49] frankbu commented on #3431
Fixed in #3538. It is now moved to additional guides and referenced from the helm install instructions.

[2019-03-07 19:49] #3431 closed

[2019-03-07 19:51] frankbu commented on #3336
This is fixed now: https://preliminary.istio.io/docs/setup/kubernetes/install/helm/

[2019-03-07 19:51] #3336 closed

[2019-03-07 19:56] ldemailly commented on #3325
the script is in istio/istio and does already have provisions to download a specific version
as documented in the header

eg
[code]

btw see also https://github.com/istio/istio/pull/11028#issuecomment-470669763

[2019-03-07 20:09] rvandegrift commented on #2787
I just reviewed the preliminary docs for 1.1, the original issue with helm+tiller deployment has been fixed.  Thanks!

[2019-03-07 20:09] #2787 closed

[2019-03-07 20:28] #2600 closed

[2019-03-07 20:51] esnible opened #3561 "Incorrect Fortio path"
https://preliminary.istio.io/docs/tasks/traffic-management/circuit-breaking/#adding-a-client says "kubectl exec -it $FORTIO_POD  -c fortio /usr/local/bin/fortio -- load -curl  http://httpbin:8000/get"

The Fortio image is at /usr/bin/fortio.  There is no "local".

Used in three different places each in two files
./content/docs/tasks/traffic-management/circuit-breaking/index.md
./content_zh/docs/ta

[2019-03-07 21:25] esnible opened #3562 "Circuit Breaking sample no longer records statistics"
Step 3 of https://preliminary.istio.io/docs/tasks/traffic-management/circuit-breaking/#tripping-the-circuit-breaker claims to produce statistics but there is no output.

See https://github.com/istio/istio/pull/10184 for why the data doesn't appear.

We could get rid of part 3, as it is purely informational.

I am going to look into using the new `sidecar.istio.io/statsInclusionPrefixes` annotation

[2019-03-07 21:57] #3239 closed

[2019-03-07 21:58] rcaballeromx commented on #3239
Fixed with: #3422

[2019-03-07 22:00] rcaballeromx commented on #2642
Issue solved with #3422

[2019-03-07 22:00] #2642 closed

[2019-03-07 22:01] rcaballeromx commented on #1262
Removed the Ansible installation content in #3422

[2019-03-07 22:01] #1262 closed

[2019-03-07 22:11] rcaballeromx commented on #3176
@frankbu Can you confirm this is no longer a problem? I think you solved this with #3538
If so, please feel free to close the issue.

[2019-03-08 03:17] ajanthan opened #3566 "Small typo in concepts/performance-and-scalability page"
There is a typo in the concepts/performance-and-scalability page as bolded as in following sentence.

[2019-03-08 03:29] vadimeisenbergibm commented on #3312
@rshriram @ibm-jason @frankbu @esnible @linsun I have reservations regarding this issue. Let me explain the situation:

There are two incompatible types of egress gateways, the old one and the new one. The new one has `ISTIO_META_REQUESTED_NETWORK_VIEW: “external”` environment variable set. The old one is configured by ServiceEntry + VirtualServices, and most of the examples with Egress Gateway us

[2019-03-08 09:00] ferrarimarco commented on #2599
Also note that it should be `global.meshExpansion.enabled`

[2019-03-08 13:53] #3561 closed

[2019-03-08 13:57] #3566 closed

[2019-03-08 14:09] geeknoid opened #3573 "Expand glossary and use {{< gloss >}}"
We should expand the glossary, and make use of the site's {{< gloss >}} feature that allows pop ups for glossary terms. Some terms to include:

Mesh Configuration Protocol
Secret Discovery Protocol
Ingress Gateway
Egress Gateway
Sidecar

I'll add more as I think of 'em.

[2019-03-08 14:12] geeknoid commented on #3433
Installation Strategies

[2019-03-08 14:14] #3502 closed

[2019-03-08 14:14] geeknoid commented on #3573
See #3434

[2019-03-08 14:18] frankbu commented on #3176
Yes, this has been fixed.

[2019-03-08 14:18] #3176 closed

[2019-03-08 14:54] frankbu commented on #3416
Closing this issue because I think the latest doc explains the CRD create/delete procedure better, and hopefully works properly.

https://preliminary.istio.io/docs/setup/kubernetes/install/helm/

Feel free to reopen if you are still seeing this problem.

[2019-03-08 14:54] #3416 closed

[2019-03-08 15:03] frankbu commented on #3322
@brian-avery Which instructions are you referring to by `when I got to "Generate the istio-egressgateway deloyment"`?

`istio-demo.yaml` now includes the egressgateway, and for helm install, the gateway examples all point to this instruction to add it: https://preliminary.istio.io/docs/examples/advanced-gateways/egress-gateway/#deploy-istio-egress-gateway

Does this address your issue?

[2019-03-08 15:03] jamesyoungman opened #3574 "Fault injection test has incorrect success description"
The current text of https://istio.io/docs/tasks/traffic-management/fault-injection/ is:

Create a fault injection rule to send an HTTP abort for user jason:

$ kubectl apply -f samples/bookinfo/networking/virtual-service-ratings-test-abort.yaml

Confirm the rule was created:

$ kubectl get virtualservice ratings -o yaml
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name

[2019-03-08 15:05] jamesyoungman commented on #3574
Oh, this is already fixed in https://preliminary.istio.io/docs/tasks/traffic-management/fault-injection/

[2019-03-08 15:05] #3574 closed

[2019-03-08 15:26] linsun opened #3575 "regenerate install options page for 1.1"
Mariam, could we regenerate the install options page for 1.1?  Ideally - we want to avoid manual editing of it, for example:  [istio/istio.io] Clarify that egress gateway is disabled by default if Helm was used to install (#3399)

cc @frankbu

[2019-03-08 15:28] linsun opened #3576 "investigate auto generate of the install option page"
as part of istio.io build so that we don't need to do it manually.

[2019-03-08 15:28] linsun commented on #3576
for post 1.1 :)

[2019-03-08 15:29] rcaballeromx commented on #3433
"Installation Flows"
That was the consensus in my tech. writing team.
It conveys a sense of easy progress forward to readers.
The first sentence would become:

@frankbu "Instructions" is problematic because some readers use the it to refer to "commands".
I don't disagree with your structure suggestion but I think that is something we can tackle post 1.1

@geeknoid @frankbu Do we have consensus aro

[2019-03-08 15:38] rcaballeromx commented on #3460
I wouldn't advice starting the install instructions with such a large complex table.
@ericvn Is there a way to generate the table in such a way, that only the columns with a value are shown for a specific row?
That way we could add to the minimal installation guide, for example, only the "Minimal" row with only the columns that show values in your table, Citadel, Egress Gateway, etc.

[2019-03-08 15:38] linsun commented on #3132
yes, I've opened an issue for this.  Mariam did one first pass of updating  #3173

see https://github.com/istio/istio.io/issues/3575

[2019-03-08 15:38] #3132 closed

[2019-03-08 15:39] linsun commented on #3575
cc @douglas-reid @sdake @geeknoid

[2019-03-08 15:40] linsun commented on #2735
seems this is done by @johnma14 (Thank you!) but needs to be regenerated this week:  https://github.com/istio/istio.io/issues/3575

[2019-03-08 15:40] #2735 closed

[2019-03-08 15:52] geeknoid commented on #3433
Flow sounds pretty good to me.

On Fri, Mar 8, 2019 at 7:29 AM Rigs Caballero <notifications@github.com>
wrote:

[2019-03-08 16:12] linsun commented on #3460
+1 on generate the table content... seems we'll need it like the helm options.

It may be as simple as a list of components that are enabled using comma, like
minimal: pilot
demo: all
default: pilot, citadel, etc

[2019-03-08 16:17] ericvn commented on #3460
@rcaballeromx, @linsun  I agree the table as I posted above is too big. I can generate it any way we want. Let me manually create something based on the comments and get some feedback. Then I can work on coding that piece.

[2019-03-08 16:21] linsun commented on #3388
this is only a 1.0 issue

[2019-03-08 16:22] linsun commented on #3331
Agreed, we should probably only mention in the tiller portion of the install.

[2019-03-08 16:25] linsun commented on #3312
+1 on switch to the new gateway style.  our egress gateway is confusing enough - anything that can simplify it, i'm all in favor of it.

[2019-03-08 16:26] linsun commented on #3312
for 1.1, i think that is p0 is that  we have docs updated for this - "vs is no longer needed when using service entry to allow outbound traffic".  cc @andraxylia

[2019-03-08 16:55] frankbu commented on #3433
Actually, path is growing on me. Since #3538 I think it looks fine as is. There aren't so many paths/flows/whatever now that the instructions have been consolidated. I think there's really just a choice between the quick-start or helm installation. The other things are (or should be, after further cleanup) really just additional details for specific cases, not really a different path/flow

[2019-03-08 17:13] frankbu commented on #3460
I suggest switching the rows and columns.

The columns should be profile names: **default** (is that "Normal" in your table?), **demo**, **minimal**, etc.

I imagine the rows that show only the controlplane services that you will get (e.g., pilot, mixer, etc). This kind of table would not be nearly as big, so the sparseness issue with your current table would probably go away.

Maybe another table

[2019-03-08 17:28] geeknoid commented on #3433
I don't like "path" since it makes me instantialy think of file system
paths.

On Fri, Mar 8, 2019 at 8:55 AM Frank Budinsky <notifications@github.com>
wrote:

[2019-03-08 17:37] ericvn commented on #3460
I created some mock ups (hoping the lists are actually correct but they are manual at the moment) @rcaballeromx @linsun @frankbu

Some questions:
 - We have both an `Ingress Gateway` and `Egress Gateway`. Does it make sense to keep them separate (they aren't by each other alphabetically? Maybe we change to `Gateway - Egress` and `Gateway - Ingress` or maybe it's `Gateway(Ingress)` & `Gateway (egre

[2019-03-08 17:59] frankbu commented on #3460
This looks much better!

I would:
* use the actual controlplane service name for the component, e.g., `istio-pilot` instead of Pilot.
* only include services in the rows (remove Control Plane Security, mTLS, SDS).
* order the services (core components first, addons second). Btw, isn't "Service Graph" obsolete?
* by only including services in the rows, I think that the auth/no-auth profiles become

[2019-03-08 18:03] frankbu commented on #3460
Also, why does it say X (no sidecar) for the minimal profile. I think the fact that there is no X for the Sidecar Injector covers that.

[2019-03-08 18:13] jamesyoungman opened #3579 "tcp-echo example should run docker with sudo"
Our test command at https://preliminary.istio.io/docs/tasks/traffic-management/tcp-traffic-shifting/ is this:

for i in {1..10}; do \
docker run -e INGRESS_HOST=$INGRESS_HOST -e INGRESS_PORT=$INGRESS_PORT -it --rm busybox sh -c "(date; sleep 1) | nc $INGRESS_HOST $INGRESS_PORT"; \
done

But for docker to work (on this machine at least) I have to run it as "sudo docker".    That makes the example w

[2019-03-08 18:20] frankbu commented on #3460
Btw, I would put this table around here: https://preliminary.istio.io/docs/setup/kubernetes/#installing-istio-for-production

@ericvn maybe you can send a PR to add it (manually created) for now (1.1) but then you can look at a way to generate it (and maybe a similar feature-profile table) for the future. WDYT?

Then we can also point to it from the install instructions (e.g., tell users to check

[2019-03-08 18:37] linsun opened #3580 "See also section is often confusing"
@rvennam raised this during doc day which I agree.  Our see also page appears to be auto generated from go, however it doesn't always reflect what we want users to do next.

For example:
see also on this page doesn't precisely suggest what users should do next.
https://preliminary.istio.io/docs/setup/kubernetes/install/kubernetes/

[2019-03-08 18:37] linsun commented on #3580
@geeknoid @frankbu @rcaballeromx

[2019-03-08 18:40] geeknoid commented on #3580
See also is generated based on the keywords in each document's front-matter.

For any strange looking See also section, look at the document's keywords and make sure they are reasonable. Compare to other keywords to make sure the right things are there, using the right words.

[2019-03-08 18:42] venilnoronha commented on #3579
The problem is that the `nc` installation can differ on different platforms and the command arguments don't match. This is the reason for choosing `busybox` for testing.

[2019-03-08 18:50] linsun commented on #3325
remaining of this is to ensure this script can download 1.1 when it is out.

[2019-03-08 18:51] #1167 closed

[2019-03-08 18:53] geeknoid commented on #3325
Let's fix this in a way this automatically works across doc releases so
won't need to do anything manual.

On Fri, Mar 8, 2019 at 10:50 AM Lin Sun <notifications@github.com> wrote:

[2019-03-08 19:04] linsun commented on #3580
Thanks @geeknoid!

ok so we probably should go through each of the page's see also see if it makes sense. :) For the quick start, I'm thinking  inject side car, examples (or just point to bookinfo), telemetry, traffic management, security, policies

[2019-03-08 19:05] rvennam commented on #3580
On that page, it would make sense for these pages to be listed in the See Also section:
https://preliminary.istio.io/docs/examples/bookinfo/
https://preliminary.istio.io/docs/tasks/*
https://preliminary.istio.io/docs/concepts/
https://preliminary.istio.io/about/community/join/

[2019-03-08 19:10] rcaballeromx commented on #3460
Agreed.

I'm fine with that, particularly since we want the table to be generated from the YAML, but it the components should be inside back-ticks: \`component\`

I think it is useful to readers to know what security features are available. I would leave them in but maybe group related rows together.

Agree, the release note clearly state that it's been deprecated. Please remove it.

However havin

[2019-03-08 19:11] geeknoid commented on #3580
Note that we only generate up to 6 items in See also

On Fri, Mar 8, 2019 at 11:05 AM Ram Vennam <notifications@github.com> wrote:

[2019-03-08 19:11] ldemailly commented on #3325
the script will download 1.1 automatically as soon as the release is marked as released and not pre release (read the code)

[2019-03-08 19:14] rcaballeromx commented on #3433
For 1.1 #3577 implemented "flow" consistently. We can revisit after.

[2019-03-08 19:14] #3433 closed

[2019-03-08 19:17] geeknoid commented on #3325
What I mean is that I'd like to download the version of the product
associated with the doc set. So the 1.1 docs always show how to download
the 1.1 binaries, even after 1.2 is released.

On Fri, Mar 8, 2019 at 11:11 AM Laurent Demailly <notifications@github.com>
wrote:

[2019-03-08 19:28] linsun opened #3587 "Inconsistent helm install page"
for 1.2, I'd like us to have some consistency for the helm install page

We have 2 helm options (template vs helm install).   one requires downloading istio binary, one doesn't but asks users to do helm fetch.

Then at the end we ask users to do helm fetch (which some of them already did earlier) to clean up CRDs. (https://preliminary.istio.io/docs/setup/kubernetes/install/helm/#deleting-crds-and-

[2019-03-08 19:37] rvennam opened #3589 "Control Egress Traffic - outbound traffic allowed by default"
https://preliminary.istio.io/docs/tasks/traffic-management/egress/

The page currently says: "By default, Istio-enabled services are unable to access URLs outside of the cluster because the pod uses iptables to transparently redirect all outbound traffic to the sidecar proxy, which only handles intra-cluster destinations. "

I believe outbound traffic is allowed by default in 1.1 @linsun

[2019-03-08 19:43] frankbu commented on #3460
Let me clarify what I meant. I don't think you can cleanly display one table that mixes components and security features. If it was possible, I do agree that the security features are important, and we should show them. But I'm pretty sure that will complicate this particular table, defeating it's main purpose.

I'm suggesting we treat security features as an orthogonal concern. They are not diffe

[2019-03-08 19:45] linsun commented on #3589
@frankbu I closed my PR because you said you'll take a pass at editing this.

see https://github.com/istio/istio.io/pull/3429

[2019-03-08 19:46] linsun commented on #3589
if you already have an in flight PR pls link it :)

[2019-03-08 19:56] linsun opened #3590 "platform install page left side navigation too long"
https://preliminary.istio.io/docs/setup/kubernetes/install/platform/

I noticed the left side navigation is really long.  Could we shorten it to just the platform name?  Does the title of the page have to match what is on the left side navigation?

cc @geeknoid @rcaballeromx

[2019-03-08 20:11] geeknoid commented on #3590
@rcaballeromx Can we shorten the names a bit?

I'll have to check, but I think it you use:

titlte: my doc titlte
linktitle: shorter

Then the shorter name will be used in the sidebar.

[2019-03-08 20:15] geeknoid commented on #3590
Yep, it works. If you use linktitle: you can force the text in the sidebar to be different.

It'll also affects the text use for the left-right arrows at the bottom of each page, as well as in the breadcrumb at the top of each page.

[2019-03-08 20:21] linsun opened #3591 "sidecar injection understand what happened"
page is confusing:  https://preliminary.istio.io/docs/setup/kubernetes/additional-setup/sidecar-injection/#understanding-what-happened

it mentioned about `The sidecar injector pod(s) should be restarted after modifying the mutatingwebhookconfiguration` however, it didn't mention what/why someone needs to modify the mutatingwebhookconfiguration.

[2019-03-08 20:22] linsun commented on #3591
this is also confusing `The set of namespaces in which injection is applied can be changed by editing the MutatingWebhookConfiguration ` while the example earlier showed to use label namespace to indicate if a namespace should be auto injected.

[2019-03-08 20:23] ayj commented on #3591
/assign ostromart

[2019-03-08 20:40] ostromart commented on #3591
I propose text like:
"The set of namespaces in which injection is applied can be changed by editing the MutatingWebhookConfiguration with kubectl edit mutatingwebhookconfiguration istio-sidecar-injector. For example, the MutatingWebhookConfiguration could be modified to always inject the sidecar into every namespace, unless a label is set. Note that editing this configuration is an advanced operat

[2019-03-08 20:55] ericvn commented on #3460
Let me through yet another intermediate table in here as I was just going to start putting this in. Not sure how it'll look yet on the markdown page. I moved the add-ons down and was thinking of adding a section at the end for the security features.

Component | Default | Demo | Minimal | Remote | SDS
-- | -- | -- | -- | -- | --
`istio-citadel` | X | X |   | X | X
Gateways |   |   |   |   |  
`ist

[2019-03-08 21:09] johnma14 commented on #3575
@linsun @douglas-reid @sdake @geeknoid I have opened a PR for this: https://github.com/istio/istio.io/pull/3592. Thanks

[2019-03-08 21:18] rvennam commented on #3589
@frankbu says he has a PR in the world. I'll hold off

[2019-03-08 21:27] rvennam commented on #3590
I noticed that things are just generally bigger in preliminary. This includes the font-size for body and headings... causing lots of wraps and multi-line titles. Is this change intentional?

<img width="1324" alt="Screen Shot 2019-03-08 at 4 26 28 PM" src="https://user-images.githubusercontent.com/5502967/54056727-f619fa00-41be-11e9-9bf6-9e6d9a44e041.png">

[2019-03-08 22:22] ericvn commented on #3460
Note that this page talks about the configuration profiles.

[2019-03-08 22:58] geeknoid commented on #3590
It's possible I messed up the styles and the fonts are different sizes than
before, I'll check it out.

The sidebar has actually more room than before due to tuned layout. So it
should be wrapping less than in 1.0.

However, there's only so much one can do with formatting. Some of our
titles just need to be cut down and less engineer literal-minded
geek-speak. It's OK to leave some of the meat of

[2019-03-08 23:34] geeknoid commented on #2528
This is by design, Grafana is an optional addon.

Additionally, we're deprecating use of Grafana in favor of Kiali instead.

Thanks.

[2019-03-08 23:34] #2528 closed

[2019-03-08 23:43] geeknoid commented on #2751
Content updated to just use the latest version.

[2019-03-08 23:43] #2751 closed

[2019-03-08 23:45] geeknoid commented on #3590
@rvennam I've just compared several pages between istio.io and preliminary.istio.io and I don't see any font size differences, except for the headers in the left-hand sidenav.

Can you point out specifically where you see differences?

[2019-03-08 23:50] geeknoid commented on #2762
@rcaballeromx We should move the current "Requirements for Pods and Services" page up one level, right below "Downloading the Release". This page shows clear requirements needed in Kubernetes before you can consider using Istio, it's not an "Additional Install Guide".

[2019-03-08 23:50] geeknoid commented on #2762
@frankbu FYI

[2019-03-08 23:52] oaktowner commented on #2762
+1 on this. I've seen many, many problems that boiled down to "not following the naming conventions."

Let's move this at the very top level of the Kubernetes section so it is _much_ more likely that people see it when they install.

[2019-03-09 00:25] #3589 closed

[2019-03-09 00:44] frankbu commented on #3460
I think this is getting close!

Should remove the yaml files, too noisy and the install instructions will include them in the commands.

What is the "Gateway" row? Move it up and say "Core Components" would make sense.

I still say don't include the auth rows, we'll cover that in other places.

Maybe the all the `istio-` prefixes should be removed, since it's a bit noisy. Maybe we should look at h

[2019-03-09 01:00] svargascsod opened #3600 "Update docs to reflect using hosts for non-HTTP protocols, i.e. mongo, in Istio 1.0.6"
Currently docs, https://istio.io/docs/reference/config/istio.networking.v1alpha3/#ServiceEntry,  state that "[f]or non-HTTP protocols such as mongo/opaque TCP/even HTTPS, the hosts will be ignored". However we are able to configure our service entry to connect to our atlas mongo instance hosted on GCP using hostnames as follows:
[code]

[2019-03-09 03:30] #3579 closed

[2019-03-09 15:29] rvennam commented on #3590
@geeknoid I was mistaken - I had the zoom set to 90% on istio.io :)

[2019-03-09 16:42] rvennam opened #3604 "Links inside warnings are not rendered"
![image](https://user-images.githubusercontent.com/5502967/54074424-58770700-4260-11e9-8e3b-95159e532670.png)

Examples:
https://preliminary.istio.io/docs/examples/multicluster/split-horizon-eds/
https://preliminary.istio.io/docs/setup/kubernetes/install/helm/#installation-steps

[2019-03-09 17:06] askmeegs opened #3606 "Issue with docs/examples/multicluster/gateways/index.md"
Typo in `Cleanup` section: https://preliminary.istio.io/docs/examples/multicluster/gateways/#cleanup

Under "clean up cluster 1," the command is

[code]

but it should be

[code]

[2019-03-10 15:02] geeknoid commented on #3604
Shoot, that's due to a "bug fix" last week to support {{ text }} inside warnings. The warning code is assuming its content is HTML and so doesn't do any markdown conversion.

All right, back to the drawing board on that bug fix.

[2019-03-10 16:36] garystafford opened #3613 "Issue with docs/reference/config/istio.networking.v1alpha3/index.html"
The link https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/load_balancing.html is broken. This is referenced in here:
Load balancing policies to apply for a specific destination. See Envoy’s load balancing [documentation](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/load_balancing.html) for more details.
May now be https://www.envoyproxy.io/docs/envoy/latest/intro/

[2019-03-10 17:21] #3606 closed

[2019-03-10 17:23] geeknoid commented on #3613
This might already be fixed (if the report was against istio.io instead of preliminary.istio.io). Check the proto in istio/api.

[2019-03-10 18:51] geeknoid opened #3615 "Add a lint check to limit the number of callouts used per page"
Callouts (tips, warnings, ideas, quotes) are intended to be infrequently used and so trigger an impact on the user. We've been using these way too often, and they lose their impact and clutter up pages.

We probably should impose a limit. Say, no more than 3 callouts for a given page.

cc: @rcaballeromx

[2019-03-10 18:53] #3604 closed

[2019-03-11 02:43] rvennam opened #3618 "A few invalid values in Installation Options table"
https://preliminary.istio.io/docs/reference/config/installation-options/

![image](https://user-images.githubusercontent.com/5502967/54097082-efd57a80-4384-11e9-8461-57a4551a6e39.png)

This table is generated using scripts/tablegen.py  Looks like it's struggling with values with comments on the same line:
https://github.com/istio/istio/blob/release-1.1/install/kubernetes/helm/istio/values.yaml#L27

[2019-03-11 13:54] rvennam commented on #3618
cc @johnma14

[2019-03-11 14:58] frankbu commented on #3613
Yes, this is fixed: https://preliminary.istio.io/docs/reference/config/networking/v1alpha3/destination-rule/#LoadBalancerSettings

[2019-03-11 14:58] #3613 closed

[2019-03-11 15:46] linsun opened #3621 "need to validate this example iks and icp"
with 1.1 RC builds.

https://preliminary.istio.io/docs/examples/multicluster/iks-icp/

@ibm-jason can you help?

[2019-03-11 16:48] geeknoid commented on #3590
Fixed by #3603

[2019-03-11 16:48] #3590 closed

[2019-03-11 17:25] vadimeisenbergibm commented on #3312
@ibm-jason Please check that the endpoints can be used in *all the cases*. Please remember to use the `ISTIO_META_REQUESTED_NETWORK_VIEW: “external”` annotation in the deployment of the egress gateway. To set the annotation, use the following values snippet:
[code]

or set the value of `gateways.istio-egressgateway.env.ISTIO_META_REQUESTED_NETWORK_VIEW` in `helm template`.

[2019-03-11 17:33] esnible opened #3623 "Sidecar example invalid"
The second sidecar example YaML at https://preliminary.istio.io/docs/reference/config/networking/v1alpha3/sidecar/ is invalid.

To reproduce, find the second example.  (The example with `defaultEndpoint: unix:///var/run/someuds.sock`).  Click to copy it to clipboard; paste it to a file _/tmp/default.yaml); use `istioctl validate -f /tmp/default.yaml` to validate it.

The output will be
[code]

[2019-03-11 17:39] esnible commented on #3623
Feel free to close as a duplicate of https://github.com/istio/api/issues/847

[2019-03-11 18:30] esnible commented on #3623
While we are on the subject, there are two examples in _api/networking/v1alpha3/sidecar.proto_ and the related .go and .html files that did not make it to preliminary.istio.io.  These are the Sidecar examples _no-ip-tables_ and _partial-ip-tables_.  I am not sure why.

[2019-03-11 18:38] geeknoid commented on #3623
I haven't update the snapshot of the reference docs in a while. I'm doing it now, so it'll bring in any new content.

[2019-03-11 18:38] #3623 closed

[2019-03-11 19:19] #2950 closed

[2019-03-11 19:58] frankbu commented on #3600
This documentation has been updated. https://preliminary.istio.io/docs/reference/config/networking/v1alpha3/service-entry/#ServiceEntry

[2019-03-11 19:58] #3600 closed

[2019-03-11 20:29] mandarjog commented on #3340
@bianpengyuan can you take this please?

[2019-03-11 20:44] mandarjog commented on #1723
@bianpengyuan Can you take this one too ?

[2019-03-11 20:50] mandarjog commented on #3146
I am closing this in favor of #3532

[2019-03-11 20:50] #3146 closed

[2019-03-11 21:09] geeknoid commented on #2762
Done

[2019-03-11 21:09] #2762 closed

[2019-03-11 21:15] bianpengyuan commented on #1723
/assign

[2019-03-11 21:15] istio-testing commented on #1723
@bianpengyuan: GitHub didn't allow me to assign the following users: bianpengyuan.

Note that only [istio members](https://github.com/orgs/istio/people) and repo collaborators can be assigned.
For more information please see [the contributor guide](https://git.k8s.io/community/contributors/guide/#issue-assignment-in-github)

<details>

In response to [this](https://github.com/istio/istio.io/issues

[2019-03-11 21:37] geeknoid commented on #3331
This is a P0 blocking the 1.1 release. When you believe this issue can be addressed? If you don't have time, please assign to someone else that can address this issue.

Thanks.

[2019-03-11 21:37] geeknoid commented on #3331
This is a P0 blocking the 1.1 release. When you believe this issue can be addressed? If you don't have time, please assign to someone else that can address this issue.

Thanks.

[2019-03-11 21:38] geeknoid commented on #3170
This is a P0 blocking the 1.1 release. When you believe this issue can be addressed? If you don't have time, please assign to someone else that can address this issue.

Thanks.

[2019-03-11 21:38] geeknoid commented on #3131
This is a P0 blocking the 1.1 release. When you believe this issue can be addressed? If you don't have time, please assign to someone else that can address this issue.

Thanks.

[2019-03-11 21:38] geeknoid commented on #2765
This is a P0 blocking the 1.1 release. When you believe this issue can be addressed? If you don't have time, please assign to someone else that can address this issue.

Thanks.

[2019-03-11 21:38] geeknoid commented on #2549
This is a P0 blocking the 1.1 release. When you believe this issue can be addressed? If you don't have time, please assign to someone else that can address this issue.

Thanks.

[2019-03-11 21:39] geeknoid commented on #1384
This is a P0 blocking the 1.1 release. When you believe this issue can be addressed? If you don't have time, please assign to someone else that can address this issue.

Thanks.

[2019-03-11 21:39] geeknoid commented on #3312
This is a P0 blocking the 1.1 release. When you believe this issue can be addressed? If you don't have time, please assign to someone else that can address this issue.

Thanks.

[2019-03-11 21:39] geeknoid commented on #3532
This is a P0 blocking the 1.1 release. When you believe this issue can be addressed? If you don't have time, please assign to someone else that can address this issue.

Thanks.

[2019-03-11 21:39] geeknoid commented on #3536
This is a P0 blocking the 1.1 release. When you believe this issue can be addressed? If you don't have time, please assign to someone else that can address this issue.

Thanks.

[2019-03-11 21:39] ibm-jason commented on #2765
@geeknoid I'll ask for the best option we have here, and submit the PR ASAP.

[2019-03-11 21:40] geeknoid commented on #3575
Does #3592 completely address this or is there more work remaining for 1.1?

[2019-03-11 21:50] brian-avery commented on #3322
Hi Frank,

I know the docs have gone through a lot of cleanup since this issue was opened. I think the problem I had originally was that the egress gateway was not enabled in istio-demo.yaml and the only instructions were helm specific. I'll try again and let you know.

Thanks,
Brian

[2019-03-11 22:09] frankbu commented on #1384
I think we just tell people to convert their ingress to gateway + virtual service. We can point them at https://preliminary.istio.io/docs/reference/commands/istioctl/#istioctl-experimental-convert-ingress
which they can use to help get started. Does anybody disagree?

A blog entry to walk through a simple example would be nice, but I don't see that as P0 for 1.1. We can get it in a little later. A

[2019-03-11 22:23] #3340 closed

[2019-03-11 22:25] geeknoid commented on #1384
OK, making this a P1.

[2019-03-11 23:15] bianpengyuan commented on #1723
Do we want to add more instruction about how to operate with timestamp/duration attributes or with duration field in adapter config?

For timestamp/duration attributes, we could add more to attributes description and examples in attributes manifest page. For duration field in adapter config, we could add more comments/examples to adapter configs in istio/istio repo. I am not sure if there is a bet

[2019-03-11 23:19] geeknoid commented on #1723
I think a new section in https://preliminary.istio.io/docs/reference/config/policy-and-telemetry/attribute-vocabulary/ would go a long way. You could add a link to that material in https://preliminary.istio.io/docs/reference/config/policy-and-telemetry/expression-language/.

And adding more useful examples in the comments in istio/istio would also be useful, but I'd like a formal definition first.

[2019-03-12 00:51] mandarjog commented on #3532
@geeknoid We are working on it.
https://docs.google.com/document/d/1-1G-e38WzrTNNKQY6JwCTks08bMebAlkiRC8mVXeCVo/edit#heading=h.e1r1ew2wioo8
This is for the concepts page and here is the tuning guide doc. https://docs.google.com/document/d/1-1G-e38WzrTNNKQY6JwCTks08bMebAlkiRC8mVXeCVo/edit#heading=h.e1r1ew2wioo8

PRs should be coming shortly.

[2019-03-12 01:09] linsun commented on #2765
is this a prob?  I can't recreate it on Mac.  Basically, it is using minikube self signed certs.  Check out:  https://github.com/kubernetes/minikube/issues/1647#issuecomment-311138886

Please try recreate this on latest minikube.  I'm using

[code]

[2019-03-12 01:09] linsun commented on #2765
@vnugent @ibm-jason ^^

[2019-03-12 01:13] linsun commented on #2765
BTW, this is changed to use https://preliminary.istio.io/docs/setup/kubernetes/prepare/platform-setup/minikube/ in 1.1

[2019-03-12 01:14] linsun commented on #2765
@geeknoid I marked it as 1.0 because this is not an issue for 1.1

[2019-03-12 01:39] sdake commented on #2549
@geeknoid I'll take a look - no guarantees though.  One big question is AWS EC2, or AWS EKS?

Cheers
-steve

[2019-03-12 01:41] sdake commented on #2549
that doc recommends using kops - not familiar with that bootstrapping tool.  I can look into documenting running Istio after an EKS cluster is provisioned.  Most of the documentation for that is maintained by AMZN upstream.

[2019-03-12 01:46] rvennam commented on #3618
Thanks for the fix @johnma14! Closing.

[2019-03-12 01:46] #3618 closed

[2019-03-12 01:51] linsun commented on #2549
@geeknoid yes, if no one is willing to step up to validate this, we should remove it. I'd prefer to have accurate working docs than wrong docs.

[2019-03-12 01:58] linsun commented on #1384
there is a few patterns:
1. you can continue use k8s ingress with istio enabled services.  There is no mTLS in between k8s ingress to the entry of the istio enabled services.  This is perfectly valid, I believe a lot of users are still using this.
2. you can convert k8s ingress resource to istio ingress gateway + vs that @frankbu suggested.
3. you can chain k8s ingress with istio ingress gateway.

[2019-03-12 02:36] rootsongjc commented on #3170
@geeknoid Could you assign it to someone else, I am a little busy nowadays.

[2019-03-12 03:43] frankbu commented on #1384
1. doesn't give users Istio functionality at the edge.
3. introduces an extra hop.

So, neither of these options seem practical for real production applications. That's why I think we need to recommend number 2.

If @esnible has a blog entry in the works, I think it would be great if he can finish it up. It could have a short intro that mentions options 1 and 3 as short term solutions to get start

[2019-03-12 04:02] frankbu opened #3638 "Api proto doc ISTIO_META_INTERCEPTION_MODE displays mixed italic in html"
The symbol ISTIO_META_INTERCEPTION_MODE in the proto doc here:

https://github.com/istio/api/blob/75f0c6603d0b9118dd23df09ce5d26fae5d68f04/networking/v1alpha3/sidecar.proto#L106

Produces a strange mixed italic symbol in the generated html: ISTIO _META_ INTERCEPTION_MODE

https://preliminary.istio.io/docs/reference/config/networking/v1alpha3/sidecar/

[2019-03-12 04:10] geeknoid commented on #3638
The markdown parser is treating the underscores as introducing _italics_. Put the symbol in backticks and the problem should go away.

[2019-03-12 04:11] geeknoid commented on #3638
Note that I've turned on spell checking support in the istio/api repo and it would flag this as a typo. We just need to fix all the spell check errors and then we can turn it on as a checkin gate.

[2019-03-12 04:49] geeknoid commented on #3638
If you search for instance of `<em>` in content/docs/reference/*.html, you'll find all the oddball cases where incorrect italicizing is taking place, along with with a few legitimatish cases. Some of these cases (like `_percentage_`) actually need to be turned into normal code sequences since they are field names.

Anyway, all these uses of <em> need to be scrutinized and  the source cleaned up in

[2019-03-12 09:10] sdake commented on #2549
I attempted validating it - easier said than done.  I think the approach we should take here is to document what magic may be needed on EKS to get Istio to run.  As far as I can tell, there isn't anything specific to that platform.  The existing docs had to do with enabling automatic injection and galley support (webhooks).  I believe EKS has solved this for the general case.

I am submitting a PR

[2019-03-12 09:16] sdake commented on #2549
https://github.com/istio/istio.io/pull/3642

[2019-03-12 09:30] sdake opened #3644 "addons need gateways + certmanager documentation"
The addons need a new document for how to use certmanager to create certificates to replace the gateway implementation that was removed from release-1.0.  The toc and wg leads agreed this was a P0 blocker, but couldn't be fixed in code in a timely manner or at all.

The solution was to move this problem to documentation, where @philrud has a document in progress or completed that describes how thi

[2019-03-12 09:58] sdake commented on #3331
@ostromart great suggestion, I have implemented your suggestion here: https://github.com/istio/istio.io/pull/3646

[2019-03-12 10:24] sdake commented on #3325
@geeknoid how about something like

```curl -L https://git.io/getLatestIstio | ISTIO_VERSION={{ insert_doc_branch_version_here }} sh -```

Where the documentation site automatically inserts the latest z stream from whatever y stream the docs branch is on?  IOW istio.io latest release is 1.0.6 - istio.io docs website is at release-1.0, istio.io docs website pulls the latest release tag for its z st

[2019-03-12 10:27] sdake commented on #3575
@geeknoid lgtm - I took a look at the options in the PR - looks like they represent 1.1 release with all the stuff we removed over the weekend gone.

Thanks @johnma14 !

Cheers
-steve

[2019-03-12 11:09] sdake commented on #3587
@linsun given the code muave, I suspect 1.2 will be some time after Helm v3 releases.  The securing Helm docs for Helm 2.10+ actually recommend using `helm fetch` with tiller, and tiller will be (hopefully) long gone from 1.2.  FWIW I  agree, the two workflows are not ideal and lead to inconsistency.  I'd like to just move on from helm or *only* use it as a templating engine.

Cheers
-steve

[2019-03-12 12:33] geeknoid commented on #3325
Here's a braindump:

- git.io is a URL shortener run by GitHub. I don't know how easy it is to update a link already in there.

- git.io/getIstio points to https://raw.githubusercontent.com/istio/istio/master/downloadIstio.sh

- PR istio/istio#11028 deleted downloadIstio.sh, breaking the aforementioned getIstio short link.

- git.io/getLatestIstio points to https://raw.githubusercontent.com/istio/

[2019-03-12 12:34] #3575 closed

[2019-03-12 14:00] ibm-jason commented on #2765
@linsun - I tried this out and you're correct- this does not affect 1.1.

[2019-03-12 14:09] geeknoid commented on #2765
Closing...

[2019-03-12 14:09] ibm-jason commented on #2765
@linsun Additionally, this cannot be created with the latest version of minikube, as you've suggested. When this issue was originally filed, the most recent version of minikube was [v.0.30.0](https://github.com/kubernetes/minikube/releases/tag/v0.30.0).

[2019-03-12 14:12] geeknoid commented on #3638
Fixed

[2019-03-12 14:12] #3638 closed

[2019-03-12 14:43] sdake commented on #2765
fwiw, prior to 1.0 timeframe I could not reproduce this problem without cert config.  They cert config lneis were added prior to the 1.0 docs release and I think they have added confusion.  I'm not sure why they were added, or what the corrective action should be for this PR.

Is the extra config required?  @wattli @andraxylia

The OP filed issue seems to indicate Istio does not function with them

[2019-03-12 15:43] ibm-jason commented on #2765
@sdake Here are the results from running the command w/o the extra configs:

[code]

[2019-03-12 16:52] douglas-reid commented on #3644
@sdake i have a PR out for this right now. ptal at #3625

[2019-03-12 17:43] geeknoid commented on #2549
Deleted the page.

[2019-03-12 17:43] #2549 closed

[2019-03-12 17:44] geeknoid commented on #3331
Fixed.

[2019-03-12 17:46] wattli commented on #2765
1) It is a 1.0 issue and does not block 1.1 release
2) @sdake , what is the "OP filed issue"?

[2019-03-12 17:48] vnugent commented on #2765
Yes this was 1.0 issue. I can't reproduce this in 1.1

[2019-03-12 18:23] sdake commented on #3331
@ostromart great suggestion.  I have implemented that here:
https://github.com/istio/istio.io/pull/3646

[2019-03-12 23:33] #3587 closed

[2019-03-13 03:03] ibm-jason commented on #2765
@wattli, I'll defer to @sdake, but I think that "OP filed issue" = operator filed issue.

[2019-03-13 05:21] #3331 closed

[2019-03-13 05:25] sdake commented on #2765
Here is the issue as I understand it:

[code]
minikube start --memory=8192 --cpus=4 --kubernetes-version=v1.10.0 \
    --vm-driver=`your_vm_driver_choice````

would not be confusing.  The question is, does this command work with Istio and bookinfo.  I tested this exact scenario in 1.0, and it worked for me.  Then the cert overrides were added back in, causing confusion as referenced by the 6 thumb

[2019-03-13 06:08] sdake commented on #2765
Here was my workflow:
[code]

Here were the results:
<img width="1013" alt="Screen Shot 2019-03-12 at 10 59 00 PM" src="https://user-images.githubusercontent.com/755849/54257075-660be580-451b-11e9-9ad8-7f13b3a39767.png">

People are confused by the certs specified in the command line.  They don't make sense now, and I don't think they made sense in 1.0.

Might also help to document `minikube tunne

[2019-03-13 06:12] sdake commented on #2765
@linsun - I missed your comment and didn't look at preliminary....

Moving to 1.0 and reducing priority.

MIght be helpful to document the minikube tunnel command as it is not obvious.

Cheers
-steve

[2019-03-13 06:14] #2765 closed

[2019-03-13 06:16] sdake commented on #3170
assign @howardjohn

[2019-03-13 06:16] sdake commented on #3170
/assign @howardjohn

[2019-03-13 06:16] istio-testing commented on #3170
@sdake: GitHub didn't allow me to assign the following users: howardjohn.

Note that only [istio members](https://github.com/orgs/istio/people) and repo collaborators can be assigned.
For more information please see [the contributor guide](https://git.k8s.io/community/contributors/guide/#issue-assignment-in-github)

<details>

In response to [this](https://github.com/istio/istio.io/issues/3170#iss

[2019-03-13 06:19] #3170 closed

[2019-03-13 07:30] #3265 closed

[2019-03-13 08:37] pettervondolwitz commented on #2549
@sdake @mabushey Can I ask which version of kops and kubernetes that was used to trigger this issue? I just tried to reproduce but I do not get the error you are seeing. We are using Kubernetes 1.11.7, Kops 1.11.0 and Istio 1.1.0-rc.3. We deploy on AWS EC2 only (i.e not using EKS). Is the admission control section not needed any longer?

[2019-03-13 09:30] pettervondolwitz commented on #2549
Seems like `enableAdmissionPlugins` is deprecated in https://github.com/kubernetes/kops/pull/5221 in favour of `admissionControl`. Both should be accepted though so I still don't understand how the error is produced.

[2019-03-13 10:15] jansmets commented on #3094
Is this reverted? Don't see it @ https://preliminary.istio.io/docs/reference/config/installation-options/#kiali-options
And when installing istio through helm+tiller the grafanaURL in the kiali ConfigMap is empty.

[2019-03-13 13:32] jmazzitelli commented on #3094
Hmmm... yes, it appears the jaeger and grafana settings have gone missing again.

[2019-03-13 13:38] jmazzitelli commented on #3094
@johnma14 can you put those back? Looks like you accidentally removed them in your PR https://github.com/istio/istio.io/pull/3188 -- see here where the lines are deleted but should not be:

https://github.com/istio/istio.io/commit/149f9ddfbc34dbbf65ff009d62f22a478a2edd3a#diff-d88b59ce29807bd5e0d25dcdcd678f46L183

Put back kiali.dashboard.jaegerURL and kiali.dashboard.grafanaURL

Rather than re-ope

[2019-03-13 13:40] jmazzitelli opened #3660 "[Kiali] put back a couple settings that were accidentally deleted in previous PR"
@johnma14 can you put these settings back? Looks like you accidentally removed them in your PR https://github.com/istio/istio.io/pull/3188 -- see here where the lines are deleted but should not be:

https://github.com/istio/istio.io/commit/149f9ddfbc34dbbf65ff009d62f22a478a2edd3a#diff-d88b59ce29807bd5e0d25dcdcd678f46L183

Put back `kiali.dashboard.jaegerURL` and `kiali.dashboard.grafanaURL`

This

[2019-03-13 14:39] #3562 closed

[2019-03-13 14:46] geeknoid commented on #3131
@linsun Can you take care of this?

[2019-03-13 14:47] geeknoid commented on #3312
@vadimeisenbergibm @ibm-jason @linsun @frankbu @rshriram

Can someone take a look at this issue please? This is blocking the 1.1 release

[2019-03-13 14:48] ibm-jason commented on #3312
@vadimeisenbergibm @linsun I'm going to reach out to you about this.

[2019-03-13 15:03] linsun commented on #3660
@johnma14 could you look into this?  Many thanks.

[2019-03-13 15:38] johnma14 commented on #3660
@linsun @jmazzitelli I will take a look at this and push a fix soon

[2019-03-13 15:43] geeknoid commented on #3519
Fixed

[2019-03-13 15:43] #3519 closed

[2019-03-13 15:54] johnma14 commented on #3660
@jmazzitelli @linsun with the latest changes made to the script that generates this index.md, we read the values.yaml file for a given configuration option from its corresponding charts directory (for e.g:, in the case of kiali, we read the key-values from /istio/install/kubernetes/helm/istio/charts/kiali/values.yaml file. In this file, https://github.com/istio/istio/blob/release-1.1/install/kuber

[2019-03-13 15:58] jmazzitelli commented on #3660
@johnma14 Just so I understand clearly, the istio.io docs will only show values in the table if they exist in the chart values.yaml? Is that correct?

If so, then I guess we should uncomment (but leave the values empty) in the kiali values.yaml so they show up in the istio.io docs.

While I am here, the comments in that values.yaml is not correct. Where it says:

[code]

Kiali no longer automatica

[2019-03-13 16:01] johnma14 commented on #3660
@jmazzitelli you understood it correct regarding how we process the configuration option values. I will go ahead and update the values.yaml file for kiali to reflect the exact value and description as in release-1.0 for grafana and jaguarURL. Should I do the same for the other options as well or just those 2?

[2019-03-13 16:19] geeknoid opened #3665 "Add 1.1 announcement blog post"

[2019-03-13 16:28] jmazzitelli commented on #3660
Kiali set up is different in istio 1.0 versus 1.1. So when in doubt, look at the release-1.1 (or master branch since release -1.1 has been merged in the master recently).

Just do the grafanaURL and jaegerURL - I think those are the only ones that need fixing.

Note that for the demo.yaml and demo-auth.yaml, both kiali.enabled and kiali.createDemoSecret will have defaults of true. We turn those on

[2019-03-13 16:36] ldemailly commented on #3325
you can't update git.io links, it's write only by design (otherwise it would need some kind of permission and account management which afaik it does not)

personally I do think the short url is more valuable than a long script copy paste so I would maintain them rather than get rid of them but that's up to you (I also don't think it's really a huge deal that the doc install by default gets the lat

[2019-03-13 16:55] frankbu commented on #3312
@ibm-jason have you been able to check if all of @vadimeisenbergibm examples still work if you configure the gateway  with `ISTIO_META_REQUESTED_NETWORK_VIEW: "external"? If so, then I think this is just a simple one line change to turn on the new style in the command for starting the gateway. Right?

Otherwise, I agree that if all of his examples can not be made to work with the new style egress

[2019-03-13 17:01] ibm-jason commented on #3312
@frankbu I think you're correct, but I've yet to check all the examples, and this is what I wanted to chat with Vadim about.

[2019-03-13 17:26] vadimeisenbergibm commented on #3312
@frankbu I agree with you, except for port rewriting - it seems now that port rewriting can be done with the new style too. So it seems everything can be done with the new style, but it has to be verified.

[2019-03-13 17:45] geeknoid commented on #1723
Fixed

[2019-03-13 17:45] #1723 closed

[2019-03-13 17:45] #3644 closed

[2019-03-13 20:15] duderino opened #3668 "Add FAQ entry: containerPorts must be explicitly declared to avoid Istio bypass"
From https://istio.io/docs/tasks/traffic-management/app-health-check/

[code]

This needs to be called out prominently in https://istio.io/help/faq/security/

[2019-03-13 21:21] geeknoid opened #3670 "Introduce in-process adapter model depracation notices"
We need to advertise that the in-process adapter model is being deprecated in 1.1 and will be completely removed in 1.2. So:

- Put advisory on the in-process adapter page wiki page.

- Put a bullet in the 1.1 release notes

- Add an entry in the feature status page.

- Post a note on discuss.istio.io

[2019-03-13 22:53] kyessenov commented on #3536
We should also document how to "unbreak" the change, e.g. steps to enable policy checks.

[2019-03-13 22:56] wattli commented on #3668
It's already documented in 1.1 https://preliminary.istio.io/docs/setup/kubernetes/prepare/requirements/

[2019-03-13 22:56] #3668 closed

[2019-03-13 23:17] ocontant opened #3672 "Documentation Deprecated"
The preparation step prior to install istio is using obsolete parameter for minikube.
https://istio.io/docs/setup/kubernetes/platform-setup/minikube/

minikube start --memory=8192 --cpus=4 --kubernetes-version=v1.10.0 \
->    --extra-config=controller-manager.cluster-signing-cert-file="/var/lib/localkube/certs/ca.crt" \
->    --extra-config=controller-manager.cluster-signing-key-file="/var/lib/loc

[2019-03-13 23:22] douglas-reid opened #3671 "Document how to re-enable istio-policy in docs (tasks)"
With disabled-by-default, we should add clear instructions on enable policy in the appropriate locations (and possibly in a FAQ).

[2019-03-13 23:38] douglas-reid opened #3673 "Document route directive usage (Task)"
Need user docs for `**Control Headers and Routing**. Added the option to create adapters to influence an incoming request's headers and routing.`

This should be at a different level than the wiki-based developer focused docs.

[2019-03-13 23:53] geeknoid commented on #3672
@frankbu I just assigned this to you, 'cause I'm not sure who should get this one.

[2019-03-14 03:01] sdake commented on #3536
This is a pretty solid diff of the API changes in Helm: https://github.com/istio/istio.io/pull/3420.  Analyzing these changes will take some time and probably won't be ready by Friday.  Any suggestions?

Cheers
-steve

[2019-03-14 04:53] sdake opened #3679 "Add custom resource backup/restore procedure to the documentation"
Upgrade in this scenario is super fragile.  I have a workflow that works well:

https://github.com/istio/istio/pull/12484#issuecomment-472702527

We need a page that documents this with copious warnings.

I hate to move the goal post, but this seems like a P0 given the dedication our early adoptors have placed in our product.

Cheers
-steve

[2019-03-14 05:10] geeknoid commented on #3679
Why haven't these early adopters upgraded to 1.0 in the last 8 months? I'm not inclined to bend over backwards to support someone that didn't upgrade in all this time.

Clearly 0.8 users aren't in a rush to upgrade, so if we do decide to support this, we don't have to rush to do it for the 1.1 release and it can wait until we have time. Right?

[2019-03-14 05:13] sdake commented on #3679
@geeknoid 0.8 folks have upgraded to 1.0.  But if they originally deployed on 0.8, and then upgraded to 1.0, there are ankle-breakers awaiting when they move to 1.1 because of various tiller bugs in the 0.8 and 1.0 release timeframes.

Cheers
-steve

[2019-03-14 05:37] geeknoid commented on #3679
Ah, that's different. Than yeah, we should help these folks.

[2019-03-14 05:41] sdake commented on #1233
The ansible implementation has been deprecated and removed from the documentation.  Closing this issue.  Thank you for your help.

Cheers
-steve

[2019-03-14 05:41] #1233 closed

[2019-03-14 05:46] sdake commented on #2486
@mabushey thank you for the report.  Nothing was done intentionally to keep anyone away.  I think you will find the 1.1 docs much improved with relationship to installation.  Can you take a look at https://preliminary.istio.io?  We have worked very hard to make a significant improvement to the documentation for onboarding to Istio.  If you find the preliminary docs (or the 1.1 docs deficient in so

[2019-03-14 05:46] sdake commented on #2486
I believe these problems are resolved, however, escalating to a P0 for more visibility among the documentation wg.

[2019-03-14 06:46] sdake commented on #2566
@johnma14 nice work on this area!  This really adds alot of value.  We plan to release the docs Friday for 1.1.  I'd like to see this in 1.1, but if it's not ready by Friday don't be concerned - we can easily backport this work.  I'd make this a P0, but it just doesn't block the release.

[2019-03-14 06:47] sdake commented on #1384
iirc @philrud has some instructions and information in this area.

[2019-03-14 13:40] sdake commented on #3325
@geeknoid the bad news is that if we intend to solve this before Friday - we would have to potentially spin a new release candidate, which we really don't want to do to implement your proposal.

A middle ground is to implement this post-release and backport the script you propose. (meaning this issue would trail the 1.1 release).

Cheers
-steve

[2019-03-14 14:26] dwradcliffe commented on #3325
Throwing in my opinion here, but I think it's completely reasonable to have to pass in a version if you want something other than $latest. Maybe that means adding the proper ISTIO_VERSION variable to the install docs?

[2019-03-14 14:34] johnma14 commented on #2566
@sdake I am pretty confident I can get this done by tomorrow. Will do my best towards that goal. Thanks.

[2019-03-14 14:58] sdake commented on #3679
One way to handle this is:

"If you have ever upgraded from 0.8 or prior when using Helm's Tiller, please read this".  We can add this as a warning to the upgrade page (and possibly the install page).

where this includes a description of gotchas and warnings about the upgrade procedure between 1.0 and 1.1.  The goal is to get people to *precisely* follow the instructions).

I can help today produ

[2019-03-14 15:01] geeknoid commented on #3325
OK, I guess we'll have to go with an explicit version indication.

I don't like the fact it's called getLatestIstio and yet you pass it a version number...

[2019-03-14 15:03] linsun commented on #3536
i agree it is good to put everything on one page.  a few i have in mind: 1) helm api change in #3420 that @johnma14 is working on and @sdake has menioned 2) outbound traffic is changed to all allowed.  3) service graph is now deprecated in favor of kiali 4) egress is off by default in addition to mixer off.

[2019-03-14 15:05] dwradcliffe commented on #3325
New link: `downloadIstio`?

[2019-03-14 16:12] nrjpoddar opened #3686 "Inconsistent use of "workload" terminology in Istio 1.1 preliminary docs"
Authentication Policy [docs](https://preliminary.istio.io/docs/reference/config/istio.authentication.v1alpha1/) have always used the term "workloads" when describing targets:

[code]

The workload as described in AuthenticationPolicy refers to services in the registry and you're only allowed to use short names as described [here](https://preliminary.istio.io/docs/reference/config/istio.authenticat

[2019-03-14 16:38] thomschke opened #3687 "incorrect # CRDs since 1.1.0-RC5"
Since 1.1.0-RC5 there are (again :-) 56 CRDs (instead of 58) to check during helm install:

https://github.com/istio/istio.io/blame/master/content/docs/setup/kubernetes/install/helm/index.md#L123-L128
https://github.com/istio/istio.io/blame/master/content/docs/setup/kubernetes/install/helm/index.md#L242-L247

[2019-03-14 16:40] philrud commented on #1384
here's what we currently have on k8sIngress via ingressgateway:
* https://preliminary.istio.io/docs/examples/advanced-gateways/ingress-certmgr/
* https://preliminary.istio.io/docs/tasks/telemetry/gateways/

[2019-03-14 16:40] costinm commented on #3536
1) Gateway resources should be configured in the namespace where the ingress service is running ( istio-system with the default installer). The VirtualService should use GATEWAY_NAMESPACE/GATEWAY_NAME ( example "istio-system/ingressgateway") when binding.
This mode is activated for any namespace that has a Sidecar.

2) In case of multiple DestinationRule for a service, the lookup order will start

[2019-03-14 16:41] costinm commented on #3536
@rshriram  - please confirm (2) (DR lookup path), it went in different directions...

[2019-03-14 17:57] rcaballeromx commented on #3686
@nrjpoddar I've assigned this but to myself because I'm working on several consistency issues we want to address using glossary terms https://preliminary.istio.io/about/contribute/creating-and-editing-pages/#glossary-terms
I'll be addressing this post 1.1 Thanks for filing the issue.

[2019-03-14 17:58] sdake commented on #3679
My original concern was less about early adopter upgrade and more about data loss.  I did not express that clearly, as it wasn't clear in my head until @howardjohn had a look at the workflow and verified my work.

Pasting this here from the review.

@frankbu I think @howardjohn and I are on the same page that the following corrective action should be taken with this issue:

- A problem description

[2019-03-14 17:59] rcaballeromx commented on #3573
See #3686
Also related. I've assigned this bug to myself to tackle these terminology taxonomy issues for 1.2.

[2019-03-14 18:00] nrjpoddar commented on #3686
Thanks @rcaballeromx, how can I help?

[2019-03-14 18:11] rcaballeromx commented on #3591
@ostromart I'm taking a pass at the entire section and pushing a PR later today. I'll try to integrate a version of your suggestions and will add you and @linsun as reviewers. Thank you for your patience.

[2019-03-14 18:18] linsun commented on #3131
waiting on official 1.1 is published to update the url.

[2019-03-14 18:28] duderino commented on #3517
@linsun @sdake @frankbu @liminw @costinm @sdake @douglas-reid @mandarjog

Heads up, we need this by end of day Friday 3/15

[2019-03-14 18:28] duderino commented on #3517
@rcaballeromx @geeknoid ^^

[2019-03-14 18:30] duderino commented on #3325
@costinm @utka @sdake heads up, regardless of the mechanism, we need this ready to be flipped by end of day Friday (the actual flip will probably occur on Monday since we'd like to enjoy our weekend)

[2019-03-14 18:31] duderino commented on #3131
@sdake @linsun @ostromart @geeknoid this means 1.1 published in a helm repo.  Who should do that?

[2019-03-14 18:44] geeknoid commented on #3686
@esnible @rshriram

Could we do a quick pass through the reference API to make sure we use consistent terms for this:

Workload is a deployment/replicaset
Workload Instance is a  pod/vm.

[2019-03-14 18:45] geeknoid commented on #2367
Another terminology thing

[2019-03-14 18:50] geeknoid commented on #3325
I'm going deal with this today one way or another.

[2019-03-14 19:22] olegchorny opened #3690 "wrong n2-k8s-config file"
source: https://preliminary.istio.io/docs/examples/multicluster/split-horizon-eds/

by some reason this set of commands doesn't apply the filter by context
[code]
as a result, when we generate the n2-k8s-config file, it's populated by wrong values which lead to unsuccessful configuration of the entire setup.
[code]
Can someone double check it?
Thanks.

[2019-03-14 19:38] geeknoid commented on #3665
Done.

[2019-03-14 19:38] #3665 closed

[2019-03-14 20:52] #3325 closed

[2019-03-14 21:04] douglas-reid commented on #3670
I've posted a note, updated the wiki, and sent a PR for the other two action items.

[2019-03-14 21:04] #3178 closed

[2019-03-14 21:06] #2955 closed

[2019-03-14 21:06] douglas-reid commented on #658
Added new docs on remote access. Going to close this issue.

[2019-03-14 21:06] #658 closed

[2019-03-14 21:07] #3671 closed

[2019-03-14 21:10] douglas-reid commented on #2800
I'm going to close this, as I'm unsure of any future actions. Istio uses b3 headers to carry trace information. There is a doc on [b3 propagation](https://github.com/openzipkin/b3-propagation). Further, there are several client libraries for extracting and injecting contexts.

[2019-03-14 21:10] #2800 closed

[2019-03-14 21:13] douglas-reid commented on #3670
Since that PR has been merged I will close this issue.

[2019-03-14 21:13] #3670 closed

[2019-03-14 21:19] adinunzio84 commented on #2800
There are a couple of small caveats though that I think are worth mentioning in the docs:
* If you wish to make child spans in your app, you need to use the OpenTracing API with HTTP header carriers to extract the context and create a child span.
* You cannot do anything with the incoming SpanContext (like add tags, logs, etc. to it). Similarly, you cannot get a Span from a SpanContext. You have t

[2019-03-14 21:38] nrjpoddar commented on #3686
Thanks @geeknoid for jumping on this. May be this is for the security WG but I think we should revisit the use of *service* short name in the Target field of the Authentication policy. Can we instead use workload selectors there as eventually the workloads representing the service implement this functionality on the server side.

[2019-03-14 22:01] frankbu commented on #3679
@sdake Let me know if you still need any help.

[2019-03-14 22:04] frankbu commented on #3672
This has already been fixed: https://preliminary.istio.io/docs/setup/kubernetes/prepare/platform-setup/minikube/

[2019-03-14 22:04] #3672 closed

[2019-03-14 22:07] ocontant commented on #3672
Hi @frankbu,

I noticed the URL are differents and some link in Internet point to the URL I provided which is misleading.

Would you mind to setup a redirect from the old URL, toward the new URL?  This will avoid other people being misled.

[2019-03-14 22:42] sdake commented on #2486
@geeknoid - FYI I don't htink this is a blocker as it is resolved.  I have simply added this to the P0 list so we can as a team validate if this problem is solved.

Cheers
-steve

[2019-03-14 23:14] geeknoid commented on #3672
To clarify Frank's comment:

This issue has been fixed in our preliminary doc set which will be released as part of Istio 1.1 in a few days. The content on istio.io will be replaced by this fixed content then. No redirects needed.

[2019-03-14 23:16] geeknoid commented on #3686
Yes, I do think we'll be consolidating things around workloads as appropriate.

When we started Istio, we didn't have a clear line between workloads and services and it has caused confusion on a number of occasions. Although our understanding here has progressed, our API definitions haven't all caught up yet...

[2019-03-15 00:35] duderino commented on #3536
@sdake @geeknoid @linsun @linsun @costinm @rshriram @mandarjog  please fill in your sections in https://docs.google.com/document/d/1usQiZgj43em9HiPTud-rj0RGNwX13vYmIDozNQ6oTCk/edit#

We'll worry about formatting later.  Right now I'm just trying to get all the content in so someone has a fighting chance of making it look nice later.

We need this asap.  Sorry

[2019-03-15 01:34] linsun commented on #3312
@ibm-jason can you pls update which egress page you have validated and which are remaining?

[2019-03-15 01:35] linsun commented on #3517
anything else we need besides https://github.com/istio/istio.io/pull/3558 which is merged?

[2019-03-15 01:37] linsun commented on #3532
Could the doc be made avail to public?  I don't have permission to view either

[2019-03-15 01:39] linsun commented on #3517
nm, i saw many todos.

[2019-03-15 02:02] sdake commented on #3131
@duderino the release manager (@hklai) did this in the past.  It was pretty much automated afaik.  This can lag Friday a few days if it takes some time to sort out.

[2019-03-15 02:04] sdake commented on #3517
@geeknoid I have a list of helm changes formulated.  Will submit a PR after hotdogs.

[2019-03-15 02:09] sdake commented on #3536
@duderino thanks to @johnma14 's essential work, producing this list of changes was relatively easy.  I need a little help on the list - not sure what lightstep iis, not sure how to enable k8s ingress initeegration.

[2019-03-15 02:11] sdake commented on #3536
@duderino note the doc you link has incompatible and compatiible changes merged together.  I think we can just copy & paste (after wordsmithing) these to the release notes.  As for incompatible changes, I'll separate those in a different buckets, and we can list the incompatible changese in a separate document.

Would help to have pointers to the files in the repo where these two related topics ar

[2019-03-15 02:14] sdake commented on #3536
pr #3420 wont be ready for merge by tomorrow.  We will need to backport that.  Not a blocker.

[2019-03-15 02:49] geeknoid commented on #3536
Here's what I'd like to do:

- Create a stand-alone page with the breaking changes and associated procedures. We can put this in docs/setup/upgrade-notes

- Add a reference to this doc to the top of the release notes, in the 1.1 announcement, and at the top of the upgrade instructions.

[2019-03-15 12:40] sdake commented on #3131
@duderino the reason this can lag is because the instructions that referenced the istio.io repo were removed in PR: https://github.com/istio/istio.io/pull/3689#issuecomment-473051635.  TLDR - we are producing an SRE guide in the documentation WG that delivers helm charts via this mechanism.

Some developers have still grown fond of the technique of using helm as a distribution mechanism, so we wil

[2019-03-15 13:49] frankbu commented on #3672
@geeknoid, actually the backward-compatibility aliases of some of the moved files are also wrong.

https://github.com/istio/istio.io/pull/3702

[2019-03-15 14:12] frankbu commented on #3131
I would suggest closing this issue because, as @sdake mentioned, we no longer reference the helm repo in the helm install instructions (PR: #3689) so nothing else is needed before 1.1 goes live.

Let's open a different issue for the SRE guide with repo-based helm installation instructions. This one should be high priority for after 1.1 goes live.

[2019-03-15 14:13] suryadu commented on #3532
We are working on a 3-pronged strategy for Performance and Scalability. 1) We are revamping the main Performance and Scalability Section cleaning it up and updating with v1.1 data(almost done) 2) We are creating a new short blog (almost done) to highlight v1.1 performance and host it on istio.io and socialize this through various channels when we release v1.1 3) We are working on a tuning guide to

[2019-03-15 14:15] suryadu commented on #3532
@geeknoid Mandar and I have another meeting to review and finalize all these later today. @linsun

[2019-03-15 14:15] linsun commented on #3131
Looking at the latest doc, I concur we no longer uses helm repo in our helm install doc.  Agreed, we can close this.

[2019-03-15 14:15] #3131 closed

[2019-03-15 14:15] linsun opened #3703 "Need to produce helm repo related doc"
it was suggested in SRE doc by @sdake and @frankbu -- We'll need some doc on how to use helm repo.

from https://github.com/istio/istio.io/issues/3131

[2019-03-15 14:37] linsun opened #3705 "update page update"
a couple of update I think we need to inform users:
1. link to the to be created compatibility page.  Highlight the need to look over this page and default required resource changes.
2. move  k8s rolling update before helm update

[2019-03-15 14:37] linsun commented on #3536
https://github.com/istio/istio.io/issues/3705

[2019-03-15 14:51] geeknoid commented on #3703
This can wait till after 1.1 launches, right?

[2019-03-15 15:19] johnma14 commented on #2566
Hopefully this latest PR should clear all the related linter issues.

[2019-03-15 15:20] sdake commented on #3679
@frankbu I think we need help on how to dump the custom resources into a file.  I think I know how to do this, but can't get it done today.

[2019-03-15 16:43] vadimeisenbergibm commented on #3312
Blocked by https://github.com/istio/istio/issues/12522.

[2019-03-15 17:05] ibm-jason commented on #3312
@linsun To summarize, @vadimeisenbergibm and I worked on creating a EgressGateway using a ServiceEntry definition that uses an endpoint, and we found that testing it via the `curl` command in the documentation returns a `404` response. See istio/istio#12522 for details.

[2019-03-15 17:06] #3591 closed

[2019-03-15 18:11] sdake commented on #3703
post 1.1 is fine @geeknoid.  See https://github.com/istio/istio.io/issues/3131#issuecomment-473301078.

[2019-03-15 18:13] sdake commented on #3705
https://github.com/istio/istio.io/issues/3536#issuecomment-473139212

[2019-03-15 18:15] sdake commented on #3536
https://github.com/istio/istio.io/pull/3704

[2019-03-15 18:33] sdake commented on #3517
release notes for install: https://github.com/istio/istio.io/pull/3704

[2019-03-15 18:38] sdake commented on #3687
the actual issue here is that crds change depending on install procedure.  With --set certmanager.enabled=true they arer one value, without, they are another.

@frankbu attempted boilerplating this, but from my understanding it didn't work properly.

[2019-03-15 22:11] brian-avery commented on #3687
I don't see --set certmanager.enabled=true mentioned on  https://preliminary.istio.io/docs/setup/kubernetes/install/helm/ though. Is this a special install case? Are there any other arguments that change the number of CRDs when enabled? Perhaps something more in line with "by default you should see 56 CRDs, but enabling other options may install additional ones"

[2019-03-15 22:25] rcaballeromx opened #3714 "Add guidance and support for units of measure."
Units of measure need to be used consistently on our docs following best practices.
To avoid spell checking errors, we've been using the `code` markup for key values with units.
This is not ideal since the rendering of code is not intended for emphasis and other formats like *italics* or **bold** would be better suited.

This issue is to track the three different tasks involved:

1. Update the `.s

[2019-03-15 23:40] mandarjog commented on #3532
1.1 perf blog: https://github.com/istio/istio.io/pull/3710
perf and scale page: https://github.com/istio/istio.io/pull/3657

[2019-03-16 01:09] liminw commented on #3517
Adding @myidpt @wattli See the last TBD bullet in https://preliminary.istio.io/about/notes/1.1/#security.

TBD: How about adding 11667 as well? As this is also a significant feature for security which can enable end user to set different CA and Certs for different namespaces.

[2019-03-16 04:06] #3673 closed

[2019-03-16 04:08] myidpt commented on #3517
The multi-namespace security feature isn’t mature yet, and it should be part of the Istio multi-namespace solution. I think we can remove it from the release notes. Maybe claim it in the next release would be better.

[2019-03-16 04:11] geeknoid commented on #3312
So what should we do? Can we lower this to P1?

[2019-03-16 04:26] #3517 closed

[2019-03-16 05:09] sdake commented on #3687
it (was) mentioned in a PR related to release notes as the certmanager option was  just merged thursday evening.  The only special option is --set certmanager.enabled=true for istio-init.  No other rarguments change the number of CRDs when enabled.  I believe the plan is to add a setup-update docs page that provides additional context.

Cheers
-steve

[2019-03-16 05:28] sdake commented on #3687
@brian-avery

Can you try using boilerplate for this - @geeknoid has said it is fixed.  This will make maintenance alot easier going forward.

Cheers
-steve

[2019-03-16 05:28] sdake commented on #3687
@geeknoid should likely be a P0 as people will get jammed up on the CRD count.

Cheers
-steve

[2019-03-16 08:15] vadimeisenbergibm commented on #3312
@geeknoid, @linsun told us that its priority is lowered to P1 already.

[2019-03-18 12:30] suryadu commented on #3532
@mandarjog can you also add the Tuning guide PR that we have created for 1.1?

[2019-03-18 13:59] geeknoid commented on #3536
Done

[2019-03-18 13:59] #3536 closed

[2019-03-18 14:01] geeknoid commented on #3687
We've got a couple perf docs in flight that will land this morning. This is the only other P0 left. Let's do the most expedient change possible here, the boilerplate stuff can wait til after launch.

Thanks.

[2019-03-18 14:59] duderino commented on #3536
Addressed by https://github.com/istio/istio.io/pull/3724

[2019-03-18 15:54] sdake commented on #3679
@howardjohn and I worked out a backup and restore technique.  They are both one-iners:

backup:
[code]

restore:
[code]

I would use verbiage such as the following:

[code]

[2019-03-18 16:11] geeknoid commented on #3532
Dropping this to a P1, since the concept page and blog posts are in. The tuning guide can come after launch since it doesn't represent a day 1 kind of thing.

[2019-03-18 16:38] howardjohn commented on #3679
Actually think there may be an issue. When we have all the extra fields we can restore fine, but then it is messed up later. I did a backup and restore, then tried to apply some changes to a CRD I had and got error:  `metadata.resourceVersion: Invalid value: 0x0: must be specified for an update`.

We are close.. just need to get rid of all the extra fields (at least resource version?)

[2019-03-18 18:05] esnible opened #3739 "Installation Options page doesn't describe global.meshNetworks"
The page https://preliminary.istio.io/docs/reference/config/installation-options/ just says the default for meshNetworks is `{}` but doesn't say what it should be.

https://preliminary.istio.io/docs/examples/multicluster/split-horizon-eds/ shows an example of setting

[code]

Almost certainly we need to document meshNetworks.  It is unclear if the user is supposed supply JSON and what it should lo

[2019-03-18 18:07] esnible commented on #3739
This is unrelated, but there seem to be missing whitespace issues with this page.  For example `global.enableHelmTest` is missing whitespace around punctuation, and `global.meshExpansion.useILB` links up some words.

[2019-03-18 18:08] esnible opened #3740 "Missing whitespace on Installation Options"
In reference to https://preliminary.istio.io/docs/reference/config/installation-options/

There seem to be missing whitespace issues with this page. For example global.enableHelmTest is missing whitespace around punctuation, and global.meshExpansion.useILB links up some words.

[2019-03-18 19:57] #3687 closed

[2019-03-18 20:28] #3679 closed

[2019-03-18 22:32] howardjohn opened #3748 "CRD Backup restore fails"
Steps:
Create a CRD (can be whatever):
[code]

Run backup script

It will create
[code]

Apply this.

Now apply original config and get: `The destinationrules "outlier" is invalid: metadata.resourceVersion: Invalid value: 0x0: must be specified for an update`

[2019-03-18 22:32] howardjohn commented on #3748
@sdake

[2019-03-19 00:11] linsun opened #3750 "quick start install - use verify-install cmd"
Can we use verify-install cmd instead?  It is much easier than checking services and pods today:  https://preliminary.istio.io/docs/setup/kubernetes/install/kubernetes/

Example:
[code]

[2019-03-19 00:40] linsun opened #3752 "update doc missing usage of ISTIO_RESTORE_DATA.yaml"
We asked folks to create this file (ISTIO_RESTORE_DATA.yaml) however we never mention how it may be used in case of issues.

The instruction also isn't clear on which scenarios user should be creating this ISTIO_RESTORE_DATA.yaml file.

Is this only applicable when user has used `helm install` previously?

[2019-03-19 00:41] linsun commented on #3752
@sdake @frankbu cc @howardjohn

[2019-03-19 00:44] howardjohn commented on #3752
maybe we should expand on "if necessary" - its necessary if after you install all your CRDs managed to get delete

And it should only be needed by users that use Tiller, but its just a backup of CRDs so anyone could do it

[2019-03-19 00:44] linsun commented on #3752
there is also missing a space in this cmd. -o yaml
[code]

[2019-03-19 00:45] howardjohn commented on #3752
`-oyaml` should work

[2019-03-19 00:46] linsun commented on #3752
ok cool, it did :)

[2019-03-19 01:44] sdake commented on #3752
@linsun i had an appointment today and mentioned to @frankbu on slack mobile the PR looked good - but mobile github is a suboptimal review experience.

This backup procedure should only apply to helm.

I agree the restore procedure needs some attention.  Perhaps we should have operators create a temporary virtual service prior to upgrading, validate it is present, if it isn't, they know their cust

[2019-03-19 01:48] sdake commented on #3705
@linsun didn't your work here merge?  If so, can you close the issuee.

Cheers
-steve

[2019-03-19 01:48] linsun commented on #3705
yep, thanks @sdake !

[2019-03-19 01:48] #3705 closed

[2019-03-19 01:51] sdake opened #3753 "update CR procedure for backup to include certmanager."
1.0 only had certmanager, 1.1 separates certmanager crds from Istio's CRDs at @stono's request.

The current backup procedure only handles istio custom resources.

[2019-03-19 02:55] #3753 closed

[2019-03-19 02:59] sdake commented on #3748
@howardjohn I attempted to duplicate.  Here was my workflow:

[code]

[2019-03-19 03:05] sdake commented on #3748
the breaker is a followup apply of `kubectl apply -f jhs.yaml`

[2019-03-19 03:10] frankbu commented on #3752
I think we may be over analyzing this. Basically the warning message in the upgrade instructions says that we don't think there will be any problems with the upgrade, but back up the CRDs just in case things go bad. It provides both the backup command and restore command, if needed. I think that's good enough for now. If people do, in fact, run into problems, we'll hear from them and we can update

[2019-03-19 07:55] qiaozhi58 opened #3757 "How can I open the Jaeger UI in a remote browser, not the localhost machine"
The official document said:
We can access the Jaeger UI by the following action:
kubectl port-forward -n istio-system $(kubectl get pod -n istio-system -l app=jaeger -o jsonpath=’{.items[0].metadata.name}’) 16686:16686 &

Then can use http://localhost:16686.
But the localhost is a Linux machine, there haven’t a browser.
I must open the browser on a remote machine.
How can I do?
thanks.

[2019-03-19 09:26] johnma14 commented on #3740
@esnible @geeknoid a PR has been created for this: https://github.com/istio/istio.io/pull/3762. Thanks.

[2019-03-19 09:46] johnma14 commented on #3739
@esnible There is a way to print the documentation here: https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/values.yaml#L411 for meshNetworks, but the reason I do not print it now is because of this case: https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/charts/grafana/values.yaml#L18 (where according to ruamel, the comments for persist:  false is the c

[2019-03-19 12:41] linsun commented on #3757
I ran into this too, see https://github.com/istio/istio.io/pull/3754

[2019-03-19 12:44] linsun commented on #3757
sorry read too fast :). one alternative is to wire it with our ingress gateway. https://preliminary.istio.io/docs/tasks/telemetry/gateways/

the other alternative is to expose it as a k8s node port service or load balancer service.