[2018-01-22 21:39] ldemailly commented on #868
The acme cert-manager setup asks for all the certs at once (with multiple `dnsNames`), so the special setup for cert-manager itself is only once for all your https cert need (per cluster)

And is a 1 time thing.

See cert-manager-ingress2 in the files above to get /.well-known/acme-challenge to go through

[2018-01-22 21:39] andraxylia opened #879 "Document pilot telemetry collection"

[2018-01-22 22:42] nmittler commented on #879
@andraxylia what is this? To this point, it doesn't exist and it may never.

[2018-01-22 22:47] nmittler commented on #879
@andraxylia ah ok, I think we can call this a duplicate of https://github.com/istio/istio/issues/2175 and just identify those subtasks that require documentation on the website.

[2018-01-22 22:54] andraxylia commented on #879
This one is just about adding some documentation on istio.io website, about what metrics are exposed or general troubleshooting. If there is nothing relevant, please close it.

[2018-01-22 22:56] nmittler commented on #879
I plan on covering everything required for completion of the issue in the subtasks of the epic.  If documentation is required, it should be there.  Please comment on those issues if you feel something is missing.

[2018-01-22 22:56] nmittler commented on #879
@andraxylia also, I don't seem to have permission to close this issue :)

[2018-01-23 00:36] andraxylia commented on #879
It's not a duplicate, but a child issue, 2175 is the Epic, it has 4 issues. When all 4 are closed, we can close the Epic and call it done.

[2018-01-23 00:38] andraxylia commented on #879
@ldemailly can you please add @nmittler to Doc hackers so he can operate in this repo?

[2018-01-23 01:31] ldemailly commented on #879
done

[2018-01-23 12:41] kameshsampath commented on #872
@GnawNom - you are right i had issue because of no route rules , hence thought call it out in the example

[2018-01-23 13:26] prune998 commented on #868
I don't get it :)

Let's say I have 10 websites with 10 domain names, what you're saying is that I have to add all the 10 domain names  to a single `Certificate` entry, right ?

I then change the DNS so my 10 domains point to the Istio Ingress IP.

Then I create 10 `services`, one for each domain name, and use the `pod` that was created by cert-manager as the selector. (this pod is running `cert-m

[2018-01-23 13:28] prune998 commented on #868
and once the SSL cert is gathered and installed, I change the Ingress to send all requests (path /*) to the right `service` of each domain ?

[2018-01-23 14:16] prune998 commented on #868
got it almost working, sounds better now and I'll be able to update the doc with a walkthrough.
Except that it's still not working :
[code]

So Istio-ingress is looking for certs in `/etc/istio/ingress-certs/tls.crt` when the cert in stored inside a `secret` named `test-default-tls`

[2018-01-23 16:10] nmittler commented on #879
@ldemailly thanks!

[2018-01-23 17:33] ldemailly commented on #868
if you have 10 domains, you only need 1 service but you do need 10 "host" sections (well 20 actually, 10 http and 10 https)

you have to use the hardcoded secret name the ingress expect

[2018-01-23 19:35] ldemailly commented on #879
I think andra wanted this one to be closed only after the doc is live on site - is there a PR for the doc ?

[2018-01-23 19:44] nmittler commented on #879
oh my apologies .... I had missed https://github.com/istio/istio.github.io/issues/879#issuecomment-359626536. Re-opening.

[2018-01-23 19:48] nmittler commented on #879
@andraxylia regarding your comment https://github.com/istio/istio.github.io/issues/879#issuecomment-359626536, are you suggesting to leave this issue open? It seems that you're not opposed to closing this, but maybe I'm reading it wrong.

[2018-01-23 21:07] prune998 commented on #868
OK got it working... thanks !

[2018-01-23 22:41] andraxylia commented on #879
We close this issue only after the doc is available on istio.io.

[2018-01-23 23:12] nmittler commented on #879
@andraxylia going back to my point on https://github.com/istio/istio.github.io/issues/879#issuecomment-359597091, we're tracking the same issue twice. https://github.com/istio/istio/issues/2175 was created a month ago and is mapped directly to the spreadsheet, so it's not clear why we have this issue. Documentation (if needed) should be added to the requirements for completion of the https://githu

[2018-01-23 23:30] andraxylia commented on #879
Feel free to handle it as you see fit, as long as some documentation is added (when it makes sense).  Docs update are not always needed. In the past to tracked docs separately because they are in a separate repo, plus they were added/updated later in the cycle, and people preferred to close the coding issue sooner.

[2018-01-24 14:54] prune998 commented on #868
@ldemailly, I updated the `Certificate` to add another domain and it sounds that Cert-Manager did not pick up the change, so I had to kill the pod for a restart... Do you confirm this behaviour ?

Link to my blog post about my setup : https://medium.com/@prune998/istio-envoy-cert-manager-lets-encrypt-for-tls-14b6a098f289

[2018-01-24 15:20] nmittler commented on #879
@andraxylia yeah, makes sense. The epics that are mapped to the spreadsheet are a little different .. the requirements for closing them are that they're "feature complete", which includes docs (if necessary).

I'll close this issue and we can track docs in the other repo.

Thanks!

[2018-01-24 15:20] #879 closed

[2018-01-24 17:21] ayj commented on #877
/subscribe

[2018-01-24 18:22] ldemailly commented on #868
can you share the logs of the cert-manager pod when you resent your cert.yaml ?
I haven't tried that myself but I can try

you beat me to writing it up :-) I may still write up something or at least a task here

[2018-01-24 18:45] prune998 commented on #868
OK so I just reproduced a change, like adding a new domain name to the `certificate`.
I don't know why but it went well this time. Of course, to have it working you need to create the associated `service` + `ingress`.
Then the cert is updated.
`Istio-ingress` also detected the change and reloaded itself. It's giving a little bit too much logs though :
[code]
Envoy is deployed with otpion `-v 2`, t

[2018-01-25 08:46] ldemailly commented on #877
/me too

[2018-01-26 17:47] ldemailly opened #883 "Issue with _docs/reference/config/traffic-rules/routing-rules.md"
- ./_site/docs/reference/config/traffic-rules/routing-rules.html
  *  External link https://www.envoyproxy.io/docs/envoy/latest/api-v2/rds.proto.html#routeaction-requestmirrorpolicy failed: 404 No error

[2018-01-26 17:49] christian-posta commented on #883
Will update this asap. Thx

[2018-01-26 17:49] ldemailly commented on #883
@kyessenov matt mentioned you changed v2 on envoy side, what's the new link/can you update our doc ? and think about how we can automatically keep those in sync maybe ?

[2018-01-26 18:01] christian-posta commented on #883
I'll update to this:

https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/route/route.proto.html#route-routeaction-requestmirrorpolicy

Also relevant:

https://github.com/envoyproxy/data-plane-api/blob/3efeaf53c64c0f5edd2f4ea5d38ae91aba6ded5d/envoy/api/v2/route/route.proto#L420

[2018-01-26 18:18] #883 closed

[2018-01-26 23:35] ayj opened #885 "Update automatic sidecar injection prerequisites for k8s 1.9 (minikube)"
https://istio.io/docs/setup/kubernetes/sidecar-injection.html#prerequisites for minikube need to be updated for k8s 1.9 to enable support for mutating webhooks.

[code]

See https://archive.istio.io/v0.4/docs/setup/kubernetes/sidecar-injection#prerequisites for previous 0.4.0 doc version.

[2018-01-26 23:36] ayj opened #886 "Update automatic sidecar injection prerequisites for k8s 1.9 (AWS/Kops)"
https://istio.io/docs/setup/kubernetes/sidecar-injection.html#prerequisites for AWS/Kops need to be updated for k8s 1.9 to enable support for mutating webhooks.

[code]

See https://archive.istio.io/v0.4/docs/setup/kubernetes/sidecar-injection#prerequisites for previous 0.4.0 doc version.

[2018-01-26 23:38] ayj commented on #886
@jsenon, looks like you added the original aws/kops steps. Would you be able to update them for k8s 1.9 with admissionregistration.k8s.io/v1beta1 and MutatingWebhook plugin enabled?

[2018-01-26 23:39] ayj opened #887 "Update automatic sidecar injection prerequisites for k8s 1.9 (IBM CCS)"
https://istio.io/docs/setup/kubernetes/sidecar-injection.html#prerequisites for IBM CCS need to be updated for k8s 1.9 to enable support for mutating webhooks.

[code]

See https://archive.istio.io/v0.4/docs/setup/kubernetes/sidecar-injection#prerequisites for previous 0.4.0 doc version.

[2018-01-26 23:48] jsenon commented on #886
@ayj sure. I will do

[2018-01-27 23:44] ldemailly commented on #852
was fixed

[2018-01-27 23:44] #852 closed

[2018-01-29 14:46] geeknoid opened #893 "Improve table layout to avoid silly word wrapping"
Tables that hold reference material tend to wrap the field names to make room for descriptions. We should give more space to the field columns to avoid this as much as possible.

[2018-01-31 00:52] kyessenov commented on #464
closing since we have a new fancy proto doc tool

[2018-01-31 00:52] #464 closed

[2018-01-31 09:16] patricekrakow opened #900 "Issue with _docs/setup/kubernetes/quick-start-gke-dm.md"
I am currently reviewing the page "Quick Start with Google Kubernetes Engine" while I am experimenting it...

1/ I am again fixing some easy typos ;-)
2/ But, I have also noticed that "deploy/istio-initializer" is not part of my installation. Has it been removed? May I update the documentation accordingly in my branch? Or do I have an issue with installation?

[2018-01-31 18:53] ayj opened #907 "Update https://istio.io/docs/setup/kubernetes/quick-start.html for sidecar injection webook"

[2018-01-31 19:04] andraxylia opened #908 "Need doc for support for MongoDB"

[2018-01-31 20:40] cmluciano commented on #885
@ayj For https://istio.io/docs/setup/kubernetes/sidecar-injection.html#installing-the-webhook

Should `./install/kubernetes/webhook-create-signed-cert.sh` be bundled in the release?

[2018-01-31 21:20] ayj commented on #885
Yes, see https://github.com/istio/istio/issues/3030

[2018-01-31 22:08] ldemailly opened #910 "add release status page"
document the state:

latest release : 0.5.0

stable release: 0.2.12

possibly mentioning https://archive.istio.io/v0.2/docs/
and
`curl -L https://git.io/getIstio` (pointing to 0.2.12)
vs
`curl -L https://git.io/getLatestIstio `

cc @costinm per slack chat, @hklai (about when we want 0.5.0 to be mentioned)

[2018-01-31 22:11] ldemailly opened #911 "add section for performance and scalability"

[2018-01-31 22:12] ldemailly commented on #96
I think this is settled/working fine ?

[2018-01-31 22:12] #96 closed

[2018-01-31 22:13] ldemailly commented on #352
fixed by switching to new presubmit

[2018-01-31 22:13] #352 closed

[2018-01-31 22:14] ldemailly commented on #538
this was fixed recently afaik

[2018-01-31 22:14] #538 closed

[2018-01-31 22:16] ldemailly commented on #676
Istio trying to encourage best practices, I don't think we need to document how to install without RBAC

[2018-01-31 22:16] #676 closed

[2018-01-31 22:42] ldemailly commented on #910
it looks like this:

![screen shot 2018-01-31 at 2 40 23 pm](https://user-images.githubusercontent.com/3664595/35651530-ea1782ba-0694-11e8-8349-da2cfa1925d5.png)

[2018-02-01 00:04] #910 closed

[2018-02-01 00:12] ldemailly opened #913 "(cosmetic) new `command line example` is pink, not matching blockquote"
the new `command line example` style, without border also appears lighter/pink color and is a bit hard to make out on a white background:

![screen shot 2018-01-31 at 4 08 28 pm](https://user-images.githubusercontent.com/3664595/35654248-1c2dfe8a-06a1-11e8-9f96-08abdc2da669.png)

it should be the same color as in a blocquote (```):

![screen shot 2018-01-31 at 4 10 58 pm](https://user-images.githu

[2018-02-01 01:43] skyao opened #914 "duplicated content in "Istio Ingress Controller""
In this page:

https://istio.io/docs/tasks/traffic-management/ingress.html

"Verifying ingress" displayed two times, all the content in the two place are exactly the same.

Please check and fix it

[2018-02-01 01:49] ldemailly commented on #913
if you point me to the css I can make the change if you want

[2018-02-01 02:30] skyao commented on #914
Sorry, I have a mistake that the command in the two place have some small difference.

[2018-02-01 02:30] #914 closed

[2018-02-01 02:36] geeknoid commented on #913
I think that comes from syntax.css. But I'd have to track it down...

On Wed, Jan 31, 2018 at 5:49 PM, Laurent Demailly <notifications@github.com>
wrote:

[2018-02-01 09:30] gyliu513 commented on #885
@ayj one question, I found that the api aggregator of `admissionregistration.k8s.io/v1beta1` was enabled by default in Kubernetes 1.9.x, why do we still file this issue?

[2018-02-01 17:18] douglas-reid opened #917 "Update docs to reflect: Periodic Reporting for TCP connections."
With https://github.com/istio/proxy/pull/971, we need to validate the behavior and then update the TCP telemetry docs.

[2018-02-01 17:28] moderation commented on #885
The quick start documentation has been updated to refer to 0.5 but is still referring to `istio-initializer.yaml` files that don't existing in 0.5 - https://istio.io/docs/setup/kubernetes/quick-start.html

[2018-02-01 17:38] ayj commented on #885
@gyliu513, older versions of minikube don't support 1.9 out of the box. See https://github.com/istio/istio/pull/2883 for updated minikube setup steps.

[2018-02-01 17:41] ayj commented on #885
@moderation, this should be fixed by https://github.com/istio/istio.github.io/pull/909

[2018-02-01 19:30] #907 closed

[2018-02-02 10:11] becile opened #927 "istioctl kube-inject have no error and any error output,but does not produce inject sidecar yaml"
istioctl kube-inject have no error and any error output,but does not produce inject sidecar yaml.
in my env.it's because there is no ~/.kube/config file,but istioctl has no error info,so can we add "in the env,there is must exsit available ~/.kube/config file"

[2018-02-02 10:38] becile commented on #927
[root@localhost istio-0.4.0]# istioctl version
Version: 0.4.0
GitRevision: 24089ea97c8d244493c93b499a666ddf4010b547
GitBranch: 6401744b90b43901b2aa4a8bced33c7bd54ffc13
User: root@cc5c34bbd1ee
GolangVersion: go1.9.1

[root@localhost istio-0.4.0]# /opt/cloudlink/phoenix/bin/kubectl version
Client Version: version.Info{Major:"1", Minor:"7", GitVersion:"v1.7.4", GitCommit:"793658f2d7ca7f064d2bdf606519

[2018-02-02 10:38] becile commented on #927
when there is no kubeconfig file,error:
[root@localhost istio-0.4.0]# ll ~/.kube/config
ls: cannot access /root/.kube/config: No such file or directory
[root@localhost istio-0.4.0]#
[root@localhost istio-0.4.0]# istioctl kube-inject -f samples/sleep/sleep.yaml

when there is kubeconfig file,correct:
[root@localhost istio-0.4.0]# ll ~/.kube/config
-rw-------. 1 root root 219 Feb  1 22:54 /root/.kub

[2018-02-02 10:41] becile commented on #927
when there is no kubeconfig file,error:
[root@localhost istio-0.4.0]# ll ~/.kube/config
ls: cannot access /root/.kube/config: No such file or directory
[root@localhost istio-0.4.0]#
[root@localhost istio-0.4.0]# istioctl kube-inject -f samples/sleep/sleep.yaml

when there is kubeconfig file,correct:
[root@localhost istio-0.4.0]# ll ~/.kube/config
-rw-------. 1 root root 219 Feb  1 22:54 /root/.kub

[2018-02-03 20:37] ohellman opened #929 "The docs referenced in the 0.5 version are not open to the public"
The links for "learn more" under Open Policy Agent and RBAC links to a google document that is not open to the public.

(https://docs.google.com/document/d/1U2XFmah7tYdmC5lWkk3D43VMAAQ0xkBatKmohf90ICA/edit#heading=h.fmlgl8m03gfy) and (https://docs.google.com/document/d/1dKXUEOxrj4TWZKrW7fx_A-nrOdVD4tYolpjgT8DYBTY/edit#)

https://istio.io/about/notes/0.5.html

[2018-02-03 23:12] geeknoid commented on #929
This is normal for Istio design documents. You can request access and get in without any requirement.

Note that there is currently an outage in the underlying infrastructure which prevents us from granting access to anyone asking. Hopefully, this issue will be resolve in the next few days. Everyone in the queue will be allowed in at that time.

[2018-02-03 23:12] #929 closed

[2018-02-05 17:17] srinandan opened #932 "Testing Istio mutual TLS authentication - format"
On the page: https://istio.io/docs/tasks/security/mutual-tls.html, step 4 has formatting issues (markdown format appears as text)

[2018-02-05 17:25] srinandan opened #933 "Testing Istio mutual TLS authentication - cURL"
The instruction on the page https://istio.io/docs/tasks/security/mutual-tls.html ask that you test mTLs using cURL. cURL is not installed on any of pods. You also cannot install it (unless I'm missing something). Maybe we need a different set of instructions or add cURL into the bookinfo app.

[2018-02-05 18:26] ldemailly commented on #913
fixed in #924

[2018-02-05 18:26] #913 closed

[2018-02-06 17:58] sdake opened #939 "GKE Documentation incompatible with automatic sidecar injection"
https://istio.io/docs/setup/kubernetes/quick-start-gke-dm.html

Has no mention of `whitelisting` for Kubernetes 1.9.2 which I'm not sure how to do.  The docs as is crater badly when bookinfo is deployed with the sidecar.

[2018-02-06 18:40] ldemailly commented on #933
curl is present on the _debug images you get when you `istioctl kube-inject --debug=true`

we probably need to add that reminder now that the default changed

[2018-02-06 18:50] ldemailly commented on #939
a pr (https://github.com/istio/istio/pull/2997) is waiting to make it work, one of the issue is it's still using istio 0.3 yet fetches files from master on github

[2018-02-06 21:20] #885 closed

[2018-02-07 00:31] ayj commented on #697
https://istio.io/docs/reference/commands/istioctl.html#istioctl dcs for kube-inject have been updated to reflect that automatic injection is supported. https://github.com/istio/istio/pull/3249 removes the original stale docs for kube-inject.

[2018-02-07 00:31] #697 closed

[2018-02-07 00:45] sdake commented on #939
@ldemailly sure - aware of that PR (but thanks for the pointer, as I couldn't find it), however, the docs also need a rev after that merges.

[2018-02-07 01:30] ldemailly commented on #939
totally agree the doc needs update too

[2018-02-08 06:06] ldemailly commented on #932
thanks for reporting this, it's fixed now

[2018-02-08 06:06] #932 closed

[2018-02-08 06:07] ldemailly commented on #893
Seems ok now ? (or do you have a link to an example of bad table?)

[2018-02-08 16:24] geeknoid commented on #893
I fixed this already...

[2018-02-08 16:24] #893 closed

[2018-02-08 20:12] ldemailly opened #955 "make all external links open in a new window/tab"
follow up on #951

[2018-02-09 07:13] mailtovivek87 commented on #886
is there any existing document that we can use for setting up automatic sidecar injection with AWS/Kops and K8 1.9 ?

[2018-02-09 07:27] jsenon commented on #886
AFAIK no, but I will try to document it

[2018-02-09 07:27] mailtovivek87 commented on #886
Thanks ..

[2018-02-09 08:31] jsenon commented on #886
`admissionregistration.k8s.io/v1beta1` is already configured with admission control:

`--admission-control=Initializers,NamespaceLifecycle,LimitRanger,ServiceAccount,PersistentVolumeLabel,DefaultStorageClass,DefaultTolerationSeconds,NodeRestriction,Priority,ResourceQuota `

Just notice that script `install/kubernetes/webhook-create-signed-cert.sh` to launch create CA is not in the repo. Could you

[2018-02-09 09:54] jsenon commented on #886
I've submit #958 for AWS automatic sidecar injection with aws using kops utility

[2018-02-09 09:58] jsenon opened #959 "Missing webhook-create-signed-cert.sh"
Script `install/kubernetes/webhook-create-signed-cert.sh` is missing on archive when perform `curl -L https://git.io/getLatestIstio | sh -`

Plateform:
`Darwin 17.4.0 Darwin Kernel Version 17.4.0: Sun Dec 17 09:19:54 PST 2017; root:xnu-4570.41.2~1/RELEASE_X86_64 x86_64`

[2018-02-09 14:37] geeknoid commented on #664
Done!

[2018-02-09 14:37] #664 closed

[2018-02-09 14:38] geeknoid commented on #615
Has this been addressed?

[2018-02-09 17:25] ldemailly commented on #615
there is no regex support afaik

[2018-02-09 17:27] ldemailly commented on #959
this is fixed in master / next release afaik

[2018-02-09 17:56] mandarjog opened #962 "Add a link to [download istio] to istio.io front page"
On the istio.io front page, there is no "Download" link, or a link that points to istio releases page.

One has to scroll down all the way to "Get Started"  --> "Setup"  and then select "Install" to be able read about what to download.

[2018-02-09 18:52] ayj commented on #939
GKE 1.9 should be GA now, so no white listing is required.

cc @salrashid123 @selmanj for GKE doc updates

[2018-02-09 19:36] jsenon commented on #959
Do I have to update docs according to your comment?

[2018-02-09 20:43] salrashid123 commented on #939
thanks.  I'll submit the doc bug PR over the weekend

@selmanj   will remove the ```enableKubernetesAlpha: true``` setting in the DM template thats there now

[2018-02-10 01:16] geeknoid commented on #962
Should it be a link to https://github.com/istio/istio/releases?

[2018-02-10 01:21] geeknoid commented on #900
@salrashid123 Mind taking a look?

[2018-02-10 01:25] geeknoid commented on #842
Done!

[2018-02-10 01:25] #842 closed

[2018-02-10 01:27] ldemailly commented on #959
@ajy ^

[2018-02-10 01:32] geeknoid commented on #827
Dumping the full content of a blog post into an RSS description element doesn't seem right. I'm no RSS expert, but I just checked several sources online and they all indicate "description" is for a synopsis. Pouring a whole HTML document in there doesn't seem appropriate.

Is there a de facto standard where people are doing this and readers support that?

[2018-02-10 01:34] geeknoid commented on #281
This is no longer a supported feature of the site.

[2018-02-10 01:34] #281 closed

[2018-02-10 01:40] salrashid123 commented on #900
@patricekrakow
Thanks.  LMK if you want to submit the PR.  I already have one pending to fix the alpha cluster requirement in the docs as well as update it for ```0.5.0``` release next week.

If you're already inflight with the PR, i'll just resync with yours.

[2018-02-10 02:22] #962 closed

[2018-02-10 02:22] ldemailly commented on #962
Fixed in #965 ! nice !

[2018-02-10 02:23] ldemailly commented on #900
ps: use 0.5.1 if possible or make it easy to switch to 0.5.1 as it's coming early next week
(and ditto for 0.6 in a couple of weeks)

[2018-02-10 03:39] salrashid123 commented on #900
@selmanj

hes got a PR pending for ```0.5.0```  so he can alter for ```0.5.1``` as needed

[2018-02-10 03:47] geeknoid commented on #827
Here's a nice post explaining this stuff: https://developer.mozilla.org/en-US/docs/Archive/RSS/Article/Why_RSS_Content_Module_is_Popular_-_Including_HTML_Contents

[2018-02-11 04:52] #874 closed

[2018-02-12 14:43] linsun opened #977 "Need to refer to subsection in any of our doc easily as a url"
i noticed on istio.io site, i can’t click on a subsection to point to a url, for example, installation steps in k8s quick start:  https://istio.io/docs/setup/kubernetes/quick-start.html

 i would like to click on “installation steps” section in this doc, and give people the link pointing to that section.

Per @geeknoid - this can only be done using the TOC on the right side but not from main text

[2018-02-12 16:21] geeknoid commented on #977
Do you like how this site does it?

https://getbootstrap.com/docs/4.0/getting-started/introduction

When you hover on a heading, it shows a hash sign to click on, which gives you the URL of that particular heading.

[2018-02-12 16:36] linsun commented on #977
@geeknoid Yes that looks great!  I personally prefer a hyperlink icon vs a # icon, but either one is okay.

[2018-02-12 18:49] frankbu commented on #615
We've ended up simplifying ingress (removed the regex cleverness), and are planning to use the new Gateway/RouteRules in v1alpha2 to do the more advanced things. I think we still need to document the behavior of Istio Ingress, and also mention that Gateway is the recommended way to define the ingress in istio, once that's working.

[2018-02-12 19:53] ldemailly commented on #977
what github does with markdown is nice sections is nice (mouse over showing link)

![screen shot 2018-02-12 at 11 52 35 am](https://user-images.githubusercontent.com/3664595/36116480-4699aba8-0feb-11e8-92ef-7118df1317a1.png)

https://github.com/istio/istio/blob/master/README.md#issue-management

[2018-02-13 02:53] linsun commented on #977
Yes, that was the icon I was looking for.  thanks @ldemailly

[2018-02-13 06:33] neeravarora opened #981 "Copy button not responsive in nature"
Copy button seems to be not responsive in nature when the command is huge or when the  user needs to scroll horizontally . It appears to be fixed in a particular position and causes problems while reading the command .
![image](https://user-images.githubusercontent.com/17734724/36136317-d378a0c2-10b5-11e8-861c-ca4c6871aa44.png)

[2018-02-13 17:14] #886 closed

[2018-02-13 18:31] #977 closed

[2018-02-13 18:51] ldemailly opened #985 "new light electric blue is poor contrast on white"
![screen shot 2018-02-13 at 10 47 12 am](https://user-images.githubusercontent.com/3664595/36167744-c38590e4-10ab-11e8-9fe5-244ea438d2f7.png)

[2018-02-13 18:55] ldemailly commented on #985
before, which was much better:
![screen shot 2018-02-13 at 10 54 42 am](https://user-images.githubusercontent.com/3664595/36167943-6aa12834-10ac-11e8-9392-6e176f90909f.png)

[2018-02-14 15:39] mailtovivek87 commented on #886
@jsenon @ayj I have installed Kubectl 1.9 using KOPS 1.8 with below comands :

export KUBERNETES_VERSION=${KUBERNETES_VERSION:-https://storage.googleapis.com/kubernetes-release/release/v1.9.0/}

kops create cluster --cloud=aws --zones=ap-southeast-1a --name=kops.example.com --network-cidr=192.168.0.0/16 --dns-zone=example.com --master-zones=ap-southeast-1a --zones=ap-southeast-1a --master-size=t2.

[2018-02-14 16:10] jsenon commented on #886
Hi @mailtovivek87, could you try with kubernetes version 1.9.2? find my kops create used for the docs:

[code]

[2018-02-14 16:31] mailtovivek87 commented on #886
Sure. Just want to confirm that after **kops create cluster** command, i can directly follow the steps mentioned https://istio.io/docs/setup/kubernetes/sidecar-injection.html#aws-with-kops, nothing in between. Right ?

[2018-02-14 16:39] jsenon commented on #886
Indeed, just notice that I don't I've launch with `kops create --yes`

[2018-02-14 16:41] mailtovivek87 commented on #886
Oh, so you didn't launched cluster. Just created a config first, updated it and then rolled out update to create cluster with updated settings.

[2018-02-14 16:43] jsenon commented on #886
indeed. I will try with:

1. Create cluster
2. Apply configuration
3. Edit Cluster
4. Rolling Update cluster

[2018-02-14 17:26] jsenon commented on #886
I was not able to reproduce your issue, with steps mention earlier

[2018-02-14 18:59] linsun opened #987 "we need to clarify jaeger doesn't work"
when zipkin yaml is applied... as jaeger also contains zipkin.

[2018-02-14 20:18] mailtovivek87 commented on #886
Still not able to apply changes. Steps i followed :
- kops create cluster (KOPS 1.8 with Kubernetes 1.9.2)
- kops edit cluster
- kops update cluster --yes
- kops rolling-update cluster --yes

After last step, KOPS launch new masters and nodes but only etcd R53 entry is updated and entries like api.example.com and api.internal.example.com still points to old ones (waited 30 min after rolling step).

[2018-02-14 20:34] jsenon commented on #886
Perhaps have a look on Kubectl logs on master. AFAIK seems not an issue with istio but i can help you.

[2018-02-15 07:18] ldemailly opened #996 "issue with gear + drop down triangle"
I didn't notice until now but 2 things:

<img width="382" alt="screen shot 2018-02-14 at 11 13 51 pm" src="https://user-images.githubusercontent.com/3664595/36244864-f4abc36e-11dc-11e8-9383-b4875f956e91.png">

the triangle looks a bit odd below the gear and the 2 quite tall - and/or need at least to be centered, now it's slightly to the left below the gear

related, I'm concerned I didn't see a pr

[2018-02-15 07:32] ldemailly opened #997 "url errors / timeout bluemix -> container-service"
https://www.ibm.com/cloud-computing/bluemix/containers

takes a long time to redirect to Location: https://www.ibm.com/cloud/container-service
and thus cause errors on circleci

can you change the ref
https://circleci.com/gh/istio/istio.github.io/944

cc @geeknoid

[2018-02-15 10:51] mailtovivek87 commented on #886
My bad, I missed out few admission controllers from the list and after adding those it worked perfectly for me.
Thanks @jsenon

[2018-02-15 11:26] jsenon commented on #886
Cool 👍  ! Thanks for this update

[2018-02-15 14:17] geeknoid commented on #996
The triangle sometimes "travels" to below the gear, I haven't tracked down why. On a wide enough display, the triangle is next to the gear.

There are no checkboxes in the older branche for which version is displayed. This only shows up in the 0.5 snapshot and beyond. The logic doesn't exist in the older site snapshots.

[2018-02-15 16:07] ldemailly commented on #996
oic it changes at about 1400 pixel wide - I guess it's the responsive design, you can probably make the gear + drop down a single non responsive small block

unrelated / forgot where I mentioned it but it is important if we're switching the main site to pre 0.6:
please sync the 0.5 branch (minus the data/version dir) before pushing - I merged late last night PRs that do apply to 0.5.1

[2018-02-15 16:50] geeknoid commented on #996
Please go ahead and cherry pick whatever PRs you'd like to have in the 0.5
archive. They'll get reflected next time archive.istio.io is rebuilt.

On Thu, Feb 15, 2018 at 8:07 AM Laurent Demailly <notifications@github.com>
wrote:

[2018-02-15 16:55] andraxylia opened #1000 "Need FAQ on Ingress support for mTLS"
From Slack:

"I think in order for external service to ingress mTLS to work, the story would be similar to the internal mTLS. Both the external caller and the ingress would need a workload cert issued by Istio CA, and both of them have to trust the Istio CA cert."
...
"how do we tell the ingress controller to only allow connections which perform the mtls though?  is there a flag?"

[2018-02-15 18:28] myidpt commented on #1000
By configuring ingress in the following way, the ingress will only allow mTLS traffic.
https://istio.io/docs/tasks/traffic-management/ingress.html#configuring-secure-ingress-https
More info on securing K8s ingress:
https://kubernetes.io/docs/concepts/services-networking/ingress/#tls

[2018-02-15 18:50] myidpt commented on #1000
I can add a FAQ item about this.

[2018-02-15 20:03] #1000 closed

[2018-02-15 21:27] wmwong opened #1004 "Issue with https://istio.io/docs/setup/kubernetes/sidecar-injection.html#automatic-sidecar-injection"
Under "Manual sidecar injection" it has this command:
kubectl apply -f <(~istioctl kube-inject -f samples/sleep/sleep.yaml)

It doesn't work. There is an extra '~'.

It works with this command:
kubectl apply -f <(istioctl kube-inject -f samples/sleep/sleep.yaml)

[2018-02-15 21:39] wmwong opened #1005 "Manual sidecar injection instructions are not clear"
Doc: https://istio.io/docs/setup/kubernetes/sidecar-injection.html#automatic-sidecar-injection

It is not clear that this section describes 2 ways of performing manual sidecar injection and then a verification step.

The commands look like they should just be run in order:
1. Apply sleep.yaml
2. Generate yamls.
3. Generate sleep-injected.yaml
4. Apply sleep-injected.yaml
5. Verify

However, it sho

[2018-02-15 21:53] selmanj opened #1006 "Bookinfo guide has confusing headings"
https://istio.io/docs/guides/bookinfo.html#running-on-kubernetes

It's easy to follow the steps under the 'Running on Kubernetes' section, and then get to the next heading 'Running on Docker with Consul or Eureka' and not realize it's an alternative environment. At least one user has proceeding with setting up Docker, not realizing that they should skip this section in favor of the 'What’s Next' s

[2018-02-18 20:14] geeknoid commented on #996
Addressed by #1007

[2018-02-18 20:14] #996 closed

[2018-02-18 20:14] geeknoid commented on #985
Fixed in #1007

-

[2018-02-18 20:28] #985 closed

[2018-02-18 20:29] geeknoid commented on #981
Ouch.

[2018-02-18 20:29] geeknoid commented on #955
Done.

[2018-02-18 20:29] #955 closed

[2018-02-18 20:31] geeknoid commented on #419
Don't need this anymore since we have a fixed TOC instead.

[2018-02-18 20:31] #419 closed

[2018-02-19 01:33] ldemailly commented on #981
related, when the line is long, it's hard to click copy and have it copy, it seems to select the text under it

[2018-02-19 13:31] #356 closed

[2018-02-19 15:23] #981 closed

[2018-02-20 17:31] thrawn01 opened #1018 "Reviews services never start for BookInfo demo"
Version: istio-0.5.1
OS: High Serria 10.13.3
[code]

[2018-02-20 23:41] qiwzhang opened #1019 "Document JWT auth feature implemented in Envoy proxy."
JWT auth feature for Envoy proxy is implemented with some limited features.  Need a document to describe its usage.

Here is the detail:

we have is the README and code in this folder.
https://github.com/istio/proxy/tree/master/src/envoy/auth

  and proto definition here.

https://github.com/istio/api/blob/master/mixer/v1/config/client/auth.proto#L43

There are two ways to use it
1) Not via Istio,

[2018-02-21 20:42] ayj commented on #959
fixed by https://github.com/istio/istio.github.io/pull/979

[2018-02-21 20:42] #959 closed

[2018-02-21 21:22] ayj commented on #1019
Similar https://github.com/istio/istio.github.io/issues/877

[2018-02-21 23:55] thrawn01 commented on #1018
Removed all images from docker and reset K8 and the containers started properly.
[code]

[2018-02-21 23:55] #1018 closed

[2018-02-22 05:24] ldemailly commented on #1018
strange but thanks

ps: next time please file issues like that in https://github.com/istio/issues/issues/new

[2018-02-22 05:25] ldemailly commented on #1019
I'd focus on 2. - this being istio and all :-)

[2018-02-25 23:29] ldemailly opened #1034 "selecting 0.5 reloads the page as same 0.6 preliminary"

[2018-02-27 02:46] danehans opened #1036 "Pilot Troubleshooting"
Troubleshooting connectivity to Pilot is a common practice and should be documented.

[2018-02-28 03:10] linsun opened #1039 "disable mTLS instruction isn't accurate"
I don't think the instruction is entirely correct after mTLS among istio components is enabled:  https://istio.io/help/faq/security.html#enabling-disabling-mtls

I followed the instruction but after I describe the pilot pod, I still see mTLS for the istio-proxy that is on the same pod as pilot container.

[code]

[2018-02-28 03:34] linsun commented on #1039
I think we need to modify all containers that use istio-proxy image to use the following args:

      --controlPlaneAuthPolicy
      NONE

anything else?

[2018-02-28 03:43] ldemailly commented on #1039
that sounds like a pretty bad regression if that's the case, are you sure?

[2018-02-28 12:38] john-a-joyce opened #1042 "Udate trouble shooting guide regarding Automatic injection and proxy settings"
If the kube-apiserver is started with proxies set then automatic side car injection will fail
as the API server will incorrectly proxy the request away from the sidecar injector pod.

[2018-02-28 12:59] john-a-joyce commented on #1042
Opened in wrong place

[2018-02-28 12:59] #1042 closed

[2018-02-28 13:01] john-a-joyce opened #1043 "Update troublecshooting guide due to sidecar injection failures with proxy settings"
If the kube-apiserver is started with proxies set then automatic side car injection will fail
as the API server will incorrectly proxy the request away from the sidecar injector pod.

[2018-02-28 15:08] linsun commented on #1039
why is this a regression?  i think we just need to update the doc.

[2018-02-28 15:45] costinm commented on #1039
Things changed in 0.6:  now pilot has 2 ports, one with mTLS and one
without
(similar with how http/https work)

To avoid breakages, port 8080 and 15003 are left as they are in previous
versions.

Control-plane security is separate from dataplane security: if you have
data-plane
apps already using TLS it's very reasonable to disable istio mtls, but
talking to
pilot still needs to be secured, since

[2018-02-28 15:50] ldemailly commented on #1039
since 0.2 you could switch mtls on/off for the mesh with 1 edit of configmap and 1 restart of pilot, if now you have to edit all the deployments that seems like a regression to me but maybe I am missing something

[2018-02-28 16:03] linsun commented on #1039
That is a really corner scenario.  Most scenario is I want to get something working with istio, let me disable mTLS to get my app working first.  That is what I'm doing. I can't debug my app easily when the control plane security is enabled as I can't access my app using LB service ip or node port when the control plane security is turned on.  I think we are making users on board to istio much har

[2018-02-28 20:02] ayj commented on #1043
Possibly related to https://github.com/kubernetes/kubeadm/issues/666. According to https://github.com/kubernetes/kubernetes/pull/58698#issuecomment-359867326,

Do you see anything in the kubeadm logs for the when this problem occurs? You may need to add pod-cidr / service-cidr ranges to your no_proxy settings.

cc @sdake @john-a-joyce

[2018-03-01 15:09] #1036 closed

[2018-03-01 15:18] linsun opened #1046 "Moving service from k8s to Istio"
I spent a day to debug a problem encountered when moving a simple service from k8s to Istio.  It turned out I'm not using http as the name of the service port.

@frankbu kindly pointed to me doc:  https://archive.istio.io/v0.1/docs/tasks/integrating-services-into-istio

We need to move (and validate/update as needed) the doc back to master as it is an important scenario.

[2018-03-01 18:29] cmluciano commented on #911
Do we want a dedicated page that shows things like https://github.com/istio/istio/wiki/Istio-Performance-oriented-setup-FAQ#automatic-proxy-injection and fortio.istio.io ?

[2018-03-01 18:42] ldemailly commented on #911
yes it would present in a operator consumable way the perf related setup and tweaks,
inline (maybe iframe!) the key results from https://fortio.istio.io as well as IBM's setup
with explanations on how to interpret the results as well as key take aways from the Perf&Scale WG

[2018-03-01 19:56] ldemailly commented on #1034
ping ? it's quite odd to not be able to select the 0.5 release which has been out for weeks
also 0.6 is out now as well and needs release notes

[2018-03-01 23:49] ldemailly commented on #1034
part of the fix in #1048

[2018-03-05 20:21] ldemailly commented on #1034
@geeknoid ping - how do users get to 0.5.1 docs ?

[2018-03-05 20:24] ldemailly commented on #1034
guessing #1052 is part of the solution (it'd be great to link PRs to issues...) but still not working

can you just make 0.5 go to 0.5 archive/why not ? (how is it different from 0.4, 0.3...)

[2018-03-05 22:01] geeknoid commented on #1034
​The solution is the DNS changes I emailed you about on Friday. Once these
changes are in place, then I can get everything working as expected.
​

On Mon, Mar 5, 2018 at 12:24 PM, Laurent Demailly <notifications@github.com>
wrote:

[2018-03-06 00:31] geeknoid commented on #1034
Got it working prior to the DNS changes.

[2018-03-06 00:31] #1034 closed

[2018-03-06 01:07] rkpagadala opened #1055 "Docs out of date for Mesh Expansion"
Mesh expansion docs refer to installing three debian packages and are out of date.

[2018-03-06 02:17] ldemailly commented on #1034
thanks!
so we just need 0.7pre now ?

[2018-03-06 02:18] #1055 closed

[2018-03-06 15:09] geeknoid commented on #1034
Yes, that's the part that needs the DNS work.

On Mon, Mar 5, 2018 at 6:17 PM, Laurent Demailly <notifications@github.com>
wrote:

[2018-03-06 23:31] adityats2020 opened #1058 "Issue with _docs/tasks/traffic-management/ingress.md"
Following the wiki, it looks like I have to create two ingresses to be able to allow http and https access.

[code]

This ensures access to httpbin with tls termination at istio ingress.
`kubectl describe ingress secure-ingress` does show up both ports 80 and 443.
But, I have to create the following ingress as well so as to be able to access using http.

[code]

When I tested using two ingresses a

[2018-03-07 18:37] ldemailly commented on #911
will have a link to http://ibmcloud-perf.istio.io/regpatrol/ as well

[2018-03-08 15:29] blaketastic2 commented on #615
@frankbu You mentioned some documentation. Is this started/ready somewhere? If not, any thoughts on where I can dig into code to start getting something together on this?

[2018-03-08 16:17] frankbu commented on #615
@blaketastic2 The documentation is still a WIP but you can look at the APIs here: https://github.com/istio/api/tree/master/networking/v1alpha3

The `v1alpha3` model is mostly working, but there are still some bugs and incomplete functionality, esp. with the Gateway.

Updated Bookinfo sample rules (mostly working) in this branch: https://github.com/istio/istio/tree/v1alpha3-routing/samples/bookinfo

[2018-03-08 21:14] ldemailly commented on #1039
maybe move this to istio/istio as it's not really a doc issue

[2018-03-08 22:23] wattli commented on #1039
Lin, what version are you using? If you are using the lastest daily build, you should not see 15003.

[2018-03-09 00:07] #1043 closed

[2018-03-09 13:08] dinostheo commented on #868
Hi,

I was following your [guide](https://github.com/istio/admin-sites/commit/a40d45e019c57a3371ca0d3922b814cccc742f67), but I could not understand how the secret `istio-ingress-certs` would be created.

Here's what I'm getting in the logs of the cert manager
[code]

Your approach have worked for both of you apparently, so I convinced that I miss some information around `istio-ingress-certs`.

[2018-03-09 13:35] prune998 commented on #868
@dinostheo I think this secret is created when installing istio... what do you see using `kubectl -n istio-system get secrets` ?

[2018-03-09 13:39] dinostheo commented on #868
@prune998 I have quite a few secrets there, but not the one I 'm looking for

[code]

[2018-03-09 16:55] ldemailly commented on #868
it gets created when it doesn’t exist / when you first start (by cert manager)

[2018-03-12 09:57] scraly opened #1071 "Missing helpful informations in "Upgrading Istio" page"
The page https://istio.io/docs/guides/upgrading-istio.html is not very helpful for the moment ;-).

![upgrading_istio](https://user-images.githubusercontent.com/2543381/37277144-282c1fca-25e4-11e8-9d0f-423858ed7192.png)

[2018-03-13 08:37] jsenon commented on #1071
AFAIK, we prefer to uninstall and reinstall istio from scratch. Be sure to restart your POD that have envoy attached. @geeknoid @ldemailly @ayj correct me if i'm wrong.

[2018-03-13 08:44] ldemailly commented on #1071
@jsenon it's not a practical solution for real installations. @yusuoh is working on upgrade path
(and we are starting to test backward compatibility too in CI, so does @costinm before each release)

[2018-03-13 13:52] dinostheo commented on #868
Eventually, I have it working.
The Certificate manifest it did not create the `istio-ingress-certs` secret as I was expecting. Trying to run it one more time after everything else was created and running, it did the work.

[2018-03-13 15:56] yusuoh commented on #1071
We have a draft document describing the upgrade process. I will update the web page once it got approved.
https://docs.google.com/document/d/1oxrlCgL7R0b_r4aIIFyBne2IxN1Lof3edo9YPy6h2Yk/edit

[2018-03-13 19:40] davidquarles commented on #868
i know there's a ton of in-flight work around `istio-ingress` right now, so i'm curious:
- how many of these workarounds will be necessary moving forward
- if there's any corresponding work that isn't captured in existing issues (we can help!)
- whether or not acme v2 / wildcard certs buy us anything in this domain

[2018-03-13 20:14] ldemailly commented on #868
wildcard certs would simplify the setup of some multi domain with common suffix but it's not a major change, imo

[2018-03-14 05:59] scraly commented on #1071
Thanks guys 😉.
I've read the document @yusuoh, seems to be very complete ^^, just one typo i've found:

UPDATED_DEPLOTMENT_WITH_SIDECAR_YAML

->

UPDATED_DEPLOYMENT_WITH_SIDECAR_YAML

Thanks.

[2018-03-14 06:12] yusuoh commented on #1071
Thanks for pointing it out. Fixed the typo.

[2018-03-19 20:24] wattli commented on #1039
Lin, i tested last week and do not see the error. And i used daily build of 03/13. And I will update the doc soon.

[2018-03-21 18:49] wailua commented on #800
Issue seems to be fixed now.

[2018-03-21 19:29] prune998 commented on #868
@dinostheo I did completly re-installed Istio, and lost my setup. When re-deploying Istio and the cert-manager, I also had the issue where `istio-ingress-certs` is not created...
For the moment I created it by hand using :

[code]
Will have to investigate....

[2018-03-22 00:07] douglas-reid commented on #917
@JimmyCYJ Would you have some time to take a look at this docs update?

[2018-03-22 00:09] JimmyCYJ commented on #917
Sure.

[2018-03-22 14:40] sdake commented on #1005
I tend to agree this has tripped people up in the past including me.  Not quite sure how to fix it in the documentation.  Note in the implementation, sidecar injection is being automated, so this doc will likely change rapidly prior to 0.8 of Istio.  It makes more sense to me to spend the time tidying this document once that automated sidecar injection work completes (e.g. all of the manual steps

[2018-03-22 14:51] sdake commented on #462
@gyliu513  would you mind closing?  I think we have a good Helm approach now and master of this repo documents the helm chart.  Although the Helm chart documentation is outdated, I am shortly submitting a PR to update the contents.

RE bookinfo, not certain the best way to demonstrate that via a helm chart.  I think the `helm template`/`updateVersion.sh` removal effort has taught us it takes alot

[2018-03-22 19:52] ldemailly commented on #462
@vadimeisenbergibm was looking at bookinfo restructuring I think

[2018-03-22 21:44] geeknoid opened #1088 "Enable checkin bots"
We need to enable the bots to enforce the OWNERS file discipline in the istio.github.io repo in order to make sure the right people are involved in reviewing our docs.

Thanks.

cc @frankbu

[2018-03-22 22:12] hklai commented on #1088
istio.github.io is another good candidate to enable Tide.

[2018-03-23 04:25] #1004 closed

[2018-03-23 06:44] sebastienvas commented on #1088
Tide does not support required check now, it needs all checks to pass. I am working on it.

[2018-03-23 17:19] #1088 closed

[2018-03-28 04:13] imjoey commented on #658
@linsun did you get it working? I tried but not worked in istio-ingress without mutual TLS. Thanks.

[2018-03-28 13:43] geeknoid opened #1113 "Update Helm docs"
https://istio.io/docs/setup/kubernetes/helm.html probably needs some updates. In particular, it states in bright red letters that helm support is currently broken.

[2018-03-28 13:46] geeknoid commented on #872
There is now a task for circuit-breaking.

[2018-03-28 13:46] #872 closed

[2018-03-28 21:00] linsun commented on #658
No I don't believe i got it working other than the nginx based ingress controller.  I had issues with configuring the ingress for istio-ingress, even when mTLS is disabled...

[2018-03-28 21:28] adityats2020 commented on #1058
Another effect of this behavior is that istio does not auto upgrade http requests to https. If client requests for http connection to a service that has an ingress with tls, he will get a 404.

[2018-03-28 23:47] ldemailly opened #1116 "Issue with TOC (in _docs/setup/kubernetes/sidecar-injection.md and elsewhere)"
https://istio.io/docs/setup/kubernetes/sidecar-injection.html

I wanted to hyperlink the "Pod Spec Requirements" section but I can't

the toc is missing the top level entries

![screen shot 2018-03-28 at 4 45 14 pm](https://user-images.githubusercontent.com/3664595/38062224-a83383d2-32a7-11e8-9e2c-18716b7dde42.png)

any idea why @geeknoid  ?

( a work around I suppose is to add 1 # to every # xxx

[2018-03-28 23:53] geeknoid commented on #1116
The problem is in the doc. We only use h2..h6 in .md files, h1 is used by the web site infrastructure itself to put the title at the top of the page.

I'll patch up the doc.

[2018-03-29 00:16] ldemailly commented on #1116
probably should document that h1 is illegal (and make rake test or grep for it because my guess is it's likely to be a problem in other pages)

[2018-03-29 00:19] ldemailly commented on #1116
it's hard to grep with all the snippet with comments - it does look that's the only page unless I missed something

[2018-03-30 18:12] ldemailly commented on #1116
Injection is still not in the TOC

https://github.com/istio/istio.github.io/pull/1117#issuecomment-377079399

[2018-03-30 18:16] geeknoid commented on #1116
This is fixed on preliminary.istio.io, so it'll be pushed to istio.io as
soon as 0.7 is launched.

On Fri, Mar 30, 2018 at 11:12 AM, Laurent Demailly <notifications@github.com

[2018-03-30 18:19] ldemailly commented on #1116
again, it is not

![screen shot 2018-03-30 at 11 17 57 am](https://user-images.githubusercontent.com/3664595/38148654-39f342c0-340c-11e8-856c-325492b4bed4.png)

[2018-03-30 22:07] ldemailly commented on #1116
fixed in #1126

[2018-03-30 22:07] #1116 closed

[2018-03-31 15:45] sdake commented on #1113
Totally agree; I have been waiting for dust to settle on the `helm template` work before reworking this page.

Current task list:
Use syntax similar to my rework on the Ansible install docs in https://github.com/istio/istio.github.io/pull/1130
- [X] Define bottom pin on Istio Helm version support - PR: https://github.com/istio/istio.github.io/pull/1125
- [X] Refine Header and overview section and

[2018-03-31 15:49] sdake commented on #462
Helm update issue tracker: https://github.com/istio/istio.github.io/issues/1113

[2018-03-31 15:57] sdake opened #1131 "add MD linter to jekyll container"
I use the MD linter here:
http://dlaa.me/markdownlint/

Which is based upon this upstream:
https://github.com/markdownlint/markdownlint

The web page works pretty well but increases the dev cycle time of documentation as lint errors are resolved.  It would be nice if the jekyll container spit out any markdown errors (some MD lint rules would need to be excluded such as table heading checking).

An

[2018-04-02 09:59] sdake opened #1135 "istio.github.io repo sometimes blocks on changes to references to istio.io"
There are a lot of links to istio/istio (edited: was istio/istio.io) in the istio.github.io repository.  Would be helpful to have a cross-repo gate in istio/istio that was voting (i.e. required).  I don't know if this is viable with circleci, but would help prevent blockages on the documentation repository.

Chees
-steve

[2018-04-03 19:45] geeknoid commented on #1135
Could you clarify? I can't make out what you're asking for.

Thanks.

[2018-04-04 17:29] #849 closed

[2018-04-04 17:32] ldemailly commented on #997
this was fixed (not sure when, but no more bluemix
[code]
)

[2018-04-04 17:32] #997 closed

[2018-04-04 17:33] ldemailly commented on #567
I think creating a new tag for references into our source tree would be good

also we should enforce that people use a tag and not master so they don't keep breaking when we move files around (or we should stop moving files around)

[2018-04-04 17:35] ldemailly commented on #427
if you want some tips for setup:

https://laurentsv.com/blog/2017/08/06/comments.html

[2018-04-04 17:36] ldemailly commented on #363
goood news, no http://istio.io
and https:// one seem to be all in generated code:
[code]

going to close this

[2018-04-04 17:36] #363 closed

[2018-04-04 17:46] geeknoid commented on #567
We could also show the file contents upon hovering over the link.

[2018-04-04 17:54] ldemailly commented on #567
hover may be a lot of downloads but click could pop up the content yes

[2018-04-04 17:55] ldemailly commented on #567
unless we would fetch the content at build time, that would avoid  also 404s when file move after the site is built

[2018-04-04 18:49] linsun commented on #887
Think this can be closed via #1072

[2018-04-04 18:49] #887 closed

[2018-04-04 22:22] wattli opened #1152 "Add example to support enable TLS (not mTLS) for a service"

[2018-04-04 22:24] linsun commented on #1152
Thanks Tao!

[2018-04-04 22:36] diemtvu commented on #1152
For early adopter, here is an example authentication policy that can be used to setup hybrid mTLS/TLS on a service. A details docs for authentication policy is WIP

[code]

[2018-04-05 13:42] linsun commented on #1152
@wattli does this apply to external service too?  see https://github.com/istio/istio/issues/4764. cc @elevran

[2018-04-05 16:18] diemtvu commented on #1152
Authn policy is currently focus on services inside the mesh. While it can be used to 'disable' mTLS for external services, it may not feasible to config TLS/mTLS for external services (yet), as Istio doesn't have way to enforce on the server side.

[2018-04-05 20:18] jsenon opened #1156 "Quick Start Kubernetes"
Hi,

In Quick start Kubernetes documentation path in `Installation steps` section 3 is not correct, I would like to modify it but it's automatically replace by git branch name. So we have `cd istio-0.7` but Its `cd istio-0.7.1`. Appreciate If somebody explain me how to correct this (create branch release-0.7.1 seems not the correct way to do)

[2018-04-06 10:36] sdake commented on #1156
@jsenon good catch with this problem.  I believe the documentation is suitable as is, but it is a little confusing and will need a resolution prior to 1.0.z.  I'm not really sure the best way to solve this problem.

A branch from the 0.7 branched hash would solve this problem, however, I'm not sure we want to get into branching z streams for documentation prior to 1.0.z.

One solution (that may be

[2018-04-06 16:06] geeknoid commented on #1131
Should I close this then, or do you think we need more?

[2018-04-06 16:13] geeknoid commented on #1156
We definitely don't want to branch docs on patch versions, that'd be too much.

I think the text is clear enough as-is, it's just stating an example.

[2018-04-07 21:09] sdake commented on #1131
I can't think of additional work.  I'll close.

[2018-04-07 21:09] #1131 closed

[2018-04-08 12:34] sdake commented on #1135
Sure - this may be a minor issue and not worth  the trouble however. :)

If istio/istio repository is changed and a file in istio.github.io references it, the LinkChecker will fail, temporarily blocking all commits to the documentation repository until istio.github.io is modified to address the changed links in istio/istio.  The proposal is to add a check to istio/istio that runs the linkchecker a

[2018-04-08 18:03] sdake opened #1167 "sentence in Istio upgrade missing second option"
https://github.com/istio/istio.github.io/blame/master/_docs/setup/kubernetes/upgrading-istio.md#L46
[code]

what is plan B?

[2018-04-08 18:03] sdake commented on #1167
cc @yusuoh

[2018-04-09 12:39] sdake commented on #939
this looks resolved.

[2018-04-09 12:39] #939 closed

[2018-04-09 17:25] #332 closed

[2018-04-09 17:26] geeknoid commented on #427
Steering committee decided against this.

[2018-04-09 17:26] #427 closed

[2018-04-09 17:40] salrashid123 commented on #900
@selmanj  We can close this out (we've updated the docs (i verified it last week)

the latest DM is using  [0.6.0](https://github.com/istio/istio/blob/master/install/gcp/deployment_manager/istio-cluster.jinja.schema#L46)

[2018-04-09 18:14] #900 closed

[2018-04-09 21:15] yusuoh commented on #1071
Here is the updated doc:
https://istio.io/docs/setup/kubernetes/upgrading-istio.html

[2018-04-09 21:15] #1071 closed

[2018-04-10 15:45] BusCommander commented on #1005
Also the command for kube-inject does not work (at least on windows)
`kubectl apply -f <(istioctl kube-inject -f samples/sleep/sleep.yaml)`

My suggestions would be something like
`istioctl kube-inject -f samples/sleep/sleep.yaml | kubectl apply -f -`
which i find a little clearer to read and should work on every machine

[2018-04-11 17:17] wattli commented on #1039
No activities for 23 days.

[2018-04-12 12:46] ChingizMard opened #1174 "Missing character 's'"
Under "Setup -> Kubernetes"

"Installation with Ansible. Install Itio with the included Ansible playbook."

's' is missing in 'Itio'

[2018-04-12 17:03] #917 closed

[2018-04-12 19:04] linsun opened #1176 "headers in distributed tracing doc is confusing"
I have 2 services (A -> B)  and I followed the doc to update the A's code so that i can see the 2 trace spans (A & B) in a single request.

What is confusing is that the doc (https://istio.io/docs/tasks/telemetry/distributed-tracing.html#understanding-what-happened) asked me to propagate these headers and I did.   Of course, stuff never works on first try :)   However, From capturing of headers, I

[2018-04-12 20:13] linsun commented on #1176
Or if we are missing headers in our ingress impl in 0.7.1

[2018-04-13 15:39] ZackButcher opened #1177 "Add a gRPC task"
Istio supports gRPC but we should have a task that calls out using gRPC explicitly. (I could not find one searching the site, please point me to one if I'm wrong.)

[2018-04-13 15:54] ZackButcher opened #1178 "Document port naming in Istio"
We require port names be prefixed by protocol to be able to take advantage of protocol level knowledge (e.g. to be able to do L7 request matching vs only being able to do L4 request matching). There are a few references to port naming scattered across docs (e.g. in tasks [1](https://istio.io/docs/setup/kubernetes/sidecar-injection.html#pod-spec-requirements), [2](https://istio.io/docs/tasks/traffi

[2018-04-14 13:03] geeknoid commented on #1156
As I said, I think it's OK.

[2018-04-14 13:03] #1156 closed

[2018-04-14 13:04] #927 closed

[2018-04-14 13:04] geeknoid commented on #927
Issue moved to [istio/istio #4959](https://github.com/istio/istio/issues/4959) via [**ZenHub**](https://www.zenhub.com/)

[2018-04-14 13:06] geeknoid commented on #469
We have this.

[2018-04-14 13:06] #469 closed

[2018-04-14 13:11] geeknoid commented on #1174
This has been fixed, will show up when 0.8 is published.

[2018-04-14 13:11] #1174 closed

[2018-04-14 13:43] #786 closed

[2018-04-14 13:50] #342 closed

[2018-04-16 21:36] wattli commented on #933
It's already done, see step 4 of this page.

[2018-04-16 21:36] #933 closed

[2018-04-16 22:16] wattli commented on #877
Refer here https://github.com/istio/istio.github.io/issues/1019

[2018-04-16 22:16] #877 closed

[2018-04-16 22:55] wattli commented on #1019
It's in 0.8 doc already: https://preliminary.istio.io/docs/tasks/security/authn-policy.html#setup-end-user-authentication

[2018-04-16 22:55] #1019 closed

[2018-04-17 06:31] mustafaakin opened #1185 "Issue with _docs/setup/kubernetes/sidecar-injection.md"
Hi,

After running

[code]

It fails with:

[code]

However, after I run:

[code]

It should be okay I guess?

[code]

[2018-04-17 16:01] #1113 closed

[2018-04-17 20:42] ayj commented on #1185
It looks like you're using minikube. Please verify you've configured the cluster signing cert/key per https://istio.io/docs/setup/kubernetes/quick-start.html#minikube.

The CSR is approved, but it doesn't not contain a signed certificate (.status.certificate is empty).

[2018-04-18 05:28] mustafaakin commented on #1185
You are right, it works now

[2018-04-18 05:28] #1185 closed

[2018-04-25 20:35] douglas-reid opened #1203 "Update troubleshooting guide for Mixer metrics"
At minimum:

Fix prometheus config references to "istio-mixer", update metrics to inspect, etc.

[2018-04-27 18:27] linsun commented on #1039
Dan tried this again on 0.7.1, still doesn't work when following the steps to change istio from non mTLS to mTLS

[2018-04-27 18:28] linsun commented on #1039
[code]

[2018-04-27 19:31] wattli commented on #1039
See my comment above, i tested before and it worked. Will test it again and get back to you soon.

[2018-04-27 19:35] wattli commented on #1039
@incfly

[2018-04-27 19:37] tiswanso opened #1210 "Fix manual sidecar inject doc after 0.8 template changes"
The section referencing the sidecar-injector-configmap appears to be no longer valid for 0.8 as make installgen no longer generates the configmap's manifest.

[code]

The configmap approach was very useful for testing with different versions of istio-proxy params and/or different istio-proxy images than what is in the installed istioctl version.

[2018-04-27 19:38] tiswanso commented on #1210
@ayj  @sdake  -- here's the issue per our slack discussion

[2018-04-28 02:33] wldandan opened #1213 "Question about the fault injection description."
In the documentation, there is a phase described "we will inject a 7s delay between the reviews:v2 and ratings microservices, for user “jason”. **Since the reviews:v2 service has a 10s** timeout for its calls to the ratings service, we expect the end-to-end flow to continue without any errors"
I am not clear where can get the more information about "Since the reviews:v2 service has a 10s? Is relat

[2018-04-29 11:20] sdake opened #1215 "Enforce trailing / on link-checks in the gate"
@ldemailly had mentioned URLs that have trailing directories but don't include a trailing backslash result in needless redirects triggering timeouts in the CI.  I think it should be fairly easy to linkcheck for this condition, but I am not sure the best way to implement it.  One idea I had was to scan the URL for ".html" - if present don't require a trailing backslash, otherwise, require one.

The

[2018-04-30 18:03] wattli commented on #1039
@incfly , please help to verify, thanks.

[2018-04-30 18:57] linsun opened #1220 "Need to update traffic management concept"
Found this page is still using the old route rule, open this issue to track.

https://preliminary.istio.io/docs/concepts/traffic-management/rules-configuration.html

@frankbu FYI this may already be on your todo list

[2018-04-30 19:09] linsun commented on #1039
yes, that was the prob.  @dcberg  also tried uncomment on `controlPlaneAuthPolicy: MUTUAL_TLS` too and he could not get it work.  As long as you can get control plane started fine after the configuration change to switch from non mTLS to mTLS, please go head update the doc and i will do another validation.

[2018-05-01 01:02] linsun opened #1225 "Document known 0.8 issues"
Gateway with virtual service to headerless service won't work.   https://github.com/istio/istio/issues/5005

Istio-ingress won't have any route rule support.  User must move to the new Gateway and new route rule to get this path working.  https://github.com/istio/issues/issues/296

[2018-05-02 12:43] apichick opened #1230 "Issue with _docs/guides/bookinfo.md"
This diagram is very confusing because it only shows the envoy sidecar proxy for the productpage service.

https://istio.io/docs/guides/img/bookinfo/withistio.svg

Shouldn't it be also shown for the rest of the services?

[2018-05-02 15:27] geeknoid commented on #1225
Please add known issues to _about/notes/0.8.md

Thanks.

[2018-05-02 16:07] frankbu commented on #1230
The envoy label on productpage is pointing to the black box as an example, meaning all the black boxes (sidecars) in the diagram are envoys. We don't want to clutter the diagram anymore.

[2018-05-02 16:07] #1230 closed

[2018-05-03 00:27] mabushey opened #1233 "Issue with _docs/setup/kubernetes/ansible-install.md"
Sounds great, but where do I clone the repo from? Need to get main.yml from somewhere.

[2018-05-03 09:44] gyliu513 opened #1235 "istio mc does not work"
I deployed @sdake 's demo at https://github.com/istio/istio.github.io/pull/1217#issuecomment-385999899 , but found that it does not work. The request cannot goes to `reviews-v3`.

After I create the route rules as follows, product page info report error.

[code]

![image](https://user-images.githubusercontent.com/4461983/39565383-4d7b46aa-4eea-11e8-9e14-5b2faeb6c5d6.png)

serivcegraph has no info

[2018-05-03 09:45] #1235 closed

[2018-05-03 09:45] gyliu513 commented on #1235
Issue moved to [istio/istio #5381](https://github.com/istio/istio/issues/5381) via [**ZenHub**](https://www.zenhub.com/)

[2018-05-03 10:18] vadimeisenbergibm opened #1236 "the v1alpha3 blog post clarifications"
Several points regarding the blog post https://preliminary.istio.io/blog/2018/v1alpha3-routing.html are confusing for me:

1. > Such entries are treated just like all other internal services, unlike external ones where Istio’s mTLS authentication is disabled and policy enforcement is performed on the client-side as opposed to server-side.

I see that external ones are those with location Mesh.Exte

[2018-05-03 14:04] frankbu commented on #1236
@vadimeisenbergibm thanks for the feedback. Fixes in https://github.com/istio/istio.github.io/pull/1238

[2018-05-03 22:40] #1236 closed

[2018-05-04 17:00] cmluciano opened #1241 "sidecar-injector: document namespace creation"
The [helm generate](https://preliminary.istio.io/docs/setup/kubernetes/sidecar-injection.html#installing-the-webhook) command yields a template with namespaced resources. These resources require the istio-system namespace to be created else deployments fail.

[2018-05-07 12:48] YunSangJun opened #1245 "It seems to be typo."
It seems to be typo on the following page.
https://github.com/istio/istio.github.io/blob/8e271cc89653a70dab088daee2fc5b8268be34d4/_docs/tasks/traffic-management-v1alpha3/fault-injection.md

In `Fault injection using HTTP Abort -> 3.Observe application behavior` section

I suppose that `ratings v1` is right than `ratings v2`.

Login as user “jason”. If the rule propagated successfully to all pods,

[2018-05-07 15:34] frostyandy2k opened #1248 "'What's next' Links Broken in documentation"
Hi then 'What's next' links at the bottom of the page are broken:
https://github.com/istio/istio.github.io/blob/master/_docs/concepts/what-is-istio/overview.md

[code]

https://github.com/istio/istio.github.io/blob/master/_docs/concepts/what-is-istio/%7B%7Bhome%7D%7D/docs/concepts

[2018-05-07 15:36] frostyandy2k commented on #1248
My bad, you are compiling with jekyll so the source is probably not clickable.

I stumbled upon this because the main Istio Docs are down (https://istio.io/docs/ -> Time Out)

[2018-05-07 17:40] #1248 closed

[2018-05-08 00:12] hklai opened #1249 "Quick Start with GKE Problems"
1. The IAM screenshot needs to be updated (the UI had changed).

2. Deploying using Launch Deployment Manager failed with the following foe me.

istio-cluster-1 has resource warnings
istio-cluster: {"ResourceType":"container.v1.cluster","ResourceErrorCode":"400","ResourceErrorMessage":{"code":400,"message":"Version \"1.9.6-gke.0\" is invalid.","status":"INVALID_ARGUMENT","statusMessage":"Bad Reque

[2018-05-08 13:50] frankbu commented on #1245
Fixed in https://github.com/istio/istio/pull/5471

[2018-05-08 16:10] YunSangJun commented on #1245
@frankbu
In the guide page which is prerequisite of [fault-injection](https://istio.io/docs/tasks/traffic-management/fault-injection.html) tutorial, only `ratings: v1` service was deployed.
https://istio.io/docs/guides/bookinfo.html#deploying-the-application

Therefore, i suppose that the route to `ratings: v2` will not be valid.
https://istio.io/docs/tasks/traffic-management/fault-injection.html

[2018-05-08 16:27] frankbu commented on #1245
The bookinfo guide deploys ALL versions of the `reviews` service. This task needs to work with `reviews:v2` because it's testing faults on the `ratings` service which is not called by `reviews:v1`.

[2018-05-08 16:37] frankbu commented on #1245
Oh sorry, you are right @YunSangJun. I was confused because I thought we were configuring the version of the `reviews` service, but it's `ratings:v2` that this is about. I will revert the change I made to the yaml files.

The actual fix in the doc is to say that you should see "reviews v2", not "ratings v2". That's what threw me off. I'll fix the doc as well.

Thanks for your help @YunSangJun.

[2018-05-09 03:55] ahmetb opened #1256 "Some missing clarifications around Egress rules"
I just read this section: https://istio.io/docs/concepts/traffic-management/rules-configuration.html#egress-rules

1. It's unclear what happens if I drop `spec.ports[]` field. (does it allow all ports? please clarify in docs.) (Is it allowed to omit this field at all?)

2. It looks like in this case Istio actually requires changes to your application code if you're calling external HTTPS services.

[2018-05-09 06:14] ymesika commented on #1213
The 10s timeout is hardcoded within the [reviews microservice implementation](https://raw.githubusercontent.com/istio/istio/master/samples/bookinfo/src/reviews/reviews-application/src/main/java/application/rest/LibertyRestEndpoint.java).
Line 89: `String timeout = star_color.equals("black") ? "10000" : "2500";`

[2018-05-09 15:38] geeknoid commented on #1249
@salrashid123 do you want to update this doc page?

[2018-05-09 17:11] ayj commented on #1210
fixed by #1244

[2018-05-09 17:11] #1210 closed

[2018-05-09 22:10] mabushey commented on #1233
The location is here: https://github.com/istio/istio/tree/master/install/ansible

[2018-05-09 23:24] mabushey opened #1261 "Issue with _docs/reference/config/adapters/index.md"
Bottom link for `Adapter Developer’s Guide` gives a 404.

[2018-05-09 23:35] mabushey opened #1262 "Issue with _docs/setup/kubernetes/ansible-install.md"
This does not work, it still installs zipkin

[code]

[2018-05-09 23:41] mabushey commented on #1262
Changing `- "zipkin"` to `- "jager"` in istio/vars/main.yml allowed jaeger to be installed instead of zipkin

[2018-05-10 02:58] #1241 closed

[2018-05-10 04:54] ymesika commented on #1262
/assign @ymesika

[2018-05-10 04:58] ymesika commented on #1261
Works for me.
Current [prelim doc](https://preliminary.istio.io/docs/reference/config/adapters/) links to [alive guide](https://github.com/istio/istio/wiki/Mixer-Adapter-Dev-Guide).

[2018-05-10 07:38] ymesika commented on #1262
The command `ansible-playbook main.yml -e '{"istio": {"jaeger": true}}'` no longer appears in the 0.8 doc.
The document has been updated in #1130

[2018-05-10 08:57] ymesika commented on #1213
Hopefully it's better explained now in #1266

/close

[2018-05-10 08:57] istio-testing commented on #1213
@ymesika: The close prow plugin is deprecated, please migrate to the lifecycle plugin before April 2018

<details>

In response to [this](https://github.com/istio/istio.github.io/issues/1213#issuecomment-387995732):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/devel/pull-requests.md).  If you have questions or suggestions re

[2018-05-10 08:57] #1213 closed

[2018-05-10 21:27] mabushey commented on #1262
I've been using istio .7 and .8. I was hoping .8 would allow ingress but it does not appear to.

[2018-05-11 15:29] geeknoid commented on #1261
We moved the guide a few weeks back, but haven't yet refreshed istio.io accordingly. The fix will come in when we update istio.io for 0.8.

[2018-05-11 15:29] #1261 closed

[2018-05-11 17:01] gargnupur opened #1271 "Suggestions for Quick Start Guide"
1) Google Kubernetes Engine:
gcloud container clusters create <cluster-name> \
    --cluster-version=1.9.4-gke.1 \
    --zone <zone> \
    --project <project-name>
Cluster version above is incorrect.. update to 1.9.7-gke.0 or latest?

2) IBM Cloud Container Service
Nit: Add link to IBM cloud kubernetes tools? -> https://console.bluemix.net/docs/containers/cs_tutorials.html#cs_cluster_tutorial

3)

[2018-05-11 17:29] gargnupur opened #1272 "Problems with Quick Start Guide"

[2018-05-11 17:30] gargnupur commented on #1272
Sorry.. sent too soon.. will add issues in this bug..

[2018-05-11 19:51] gargnupur commented on #1272
1) Open Shift Origin Cloud(https://preliminary.istio.io/docs/setup/kubernetes/quick-start.html#openshift-origin-version-37-or-later):

I followed steps here to setup this cloud(https://github.com/openshift/origin/blob/master/docs/cluster_up_down.md#mac-os-x-with-docker-machine) and then deployed latest Istio 0.8 RC(https://gcsweb.istio.io/gcs/istio-prerelease/daily-build/release-0.8-20180504-17-20

[2018-05-11 19:51] gargnupur commented on #1272
/cc @hklai

[2018-05-12 04:05] linsun opened #1273 "Document a traffic management migration task from v1alpha1 to v1alph3"
- use conversion tool to convert to new plan
- deploy new plan
- scale up # of replicas as needed
- roll out envoy v2 image on the deployments for a given app deployed into the mesh.  Hope old side car has old route rule in effect, new side car has new rule in effect.
- scale down # of replicas as needed.

[2018-05-12 15:29] LuigiBaute opened #1274 "Logo Proposal"
Greetings,

I was sent here after proposing a logo to the wrong repo of the @istio site
now I'm here to let you know that I'd like to collaborate with the project
by delivering a logo that suits the project and hopefully It'll be a great help
for this project!

I'm Just a Graphic Designer but also a Open Source Enthusiast!

Cheers!
- Luigi.

[2018-05-14 23:06] mabushey commented on #1262
I've been using istio .7 and .8. I was hoping .8 would allow ingress but it does not appear to.

[2018-05-16 17:14] ymesika commented on #1271
/assign

[2018-05-16 17:37] ymesika commented on #1271
@gargnupur Thanks for your suggestions.
1. I'm not sure it's critical as long as it's +1.9
2/3. The title are links to the relevant provider. Do you suggest adding another link?
4. AWS link is indeed missing

[2018-05-17 06:16] ymesika commented on #1271
/assign @PatrickAuld

[2018-05-17 06:16] istio-testing commented on #1271
@ymesika: GitHub didn't allow me to assign the following users: PatrickAuld.

Note that only [istio members](https://github.com/orgs/istio/people) and repo collaborators can be assigned.

<details>

In response to [this](https://github.com/istio/istio.github.io/issues/1271#issuecomment-389756829):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/commu

[2018-05-17 09:39] ymesika commented on #1271
/unassign

[2018-05-17 10:34] ymesika opened #1294 "Write a guide for running Istio Pilot/Ingress only using helm"
Write a guide for the case where user want to adopt Istio for pilot only via helm.
How to set it up and what features users can use with it

As discussed in [this thread](https://groups.google.com/forum/#!topic/istio-dev/pXmGtKsXurk).

[2018-05-17 10:34] ymesika commented on #1294
/assign

[2018-05-17 15:50] gargnupur commented on #1271
@ymesika : Thanks for looking.. answers inline
1) https://cloud.google.com/kubernetes-engine/versioning-and-upgrades -> 1.9.4 is not a supported version :(
How about changing it to latest? so that we don't run into this problem again?
2+3) Links I suggested are basically how to setup these clouds with kubernetes.. do you think it would be good to add them?
4) I also didn't notice that.. to keep it

[2018-05-17 16:28] PatrickAuld commented on #1271
I created a PR for this #1291.

[2018-05-17 19:03] andraxylia opened #1299 "Friction log when using helm to install Istio"
Followed this:

https://preliminary.istio.io/docs/setup/kubernetes/helm-install.html

- missing instructions on how to install helm

- Not sure what this is, followed the link but not clear what is the action

	•	"If you want to manage Istio releases with Tiller, the capability to install service accounts is required."

- very misleading, it indicates sidecar injector must be installed before anyt

[2018-05-17 20:01] andraxylia opened #1303 "Bookinfo doc with auto-injection misses instruction"
Automatic injection is not enabled by default, even when sidecar injector is deployed.

Bookinfo instuctions must tell the user to label the namespace so that injection works.

[2018-05-17 20:04] andraxylia commented on #1303
@hklai please add kind/blocking release label or some other way to indicate priority of doc issues.

[2018-05-17 22:12] andraxylia opened #1306 "Replace name with host for subsets"
The cat command here does not work becayse name has been replaced with host:
https://preliminary.istio.io/docs/tasks/traffic-management/request-timeouts.html

Also, must be changed whereever the output of VirtualService is displayed.

Ideally, create files for those rules for maintainability.

[2018-05-18 01:46] sdake commented on #1299
@andraxylia perhaps the docs have been updated, but the docs state:

helm install install/kubernetes/helm/istio --name istio --namespace istio-system --set sidecar-injector.enabled=true

the name of the deployment is required.  This works for with the 5-18 build.

[2018-05-18 01:49] sdake commented on #1299
RE: ```If you want to manage Istio releases with Tiller, the capability to install service accounts is required.``` - the action is to enable the capability to install service accounts for this step:
[code]

[2018-05-18 01:53] sdake commented on #1299
Note working from these docs: https://preliminary.istio.io/docs/setup/kubernetes/helm-install.html

[2018-05-18 10:17] vadimeisenbergibm opened #1311 "Rewrite the instructions on installing Istio on Google Cloud Endpoints Services using the new Ingress Gateway"
The article to rewrite https://preliminary.istio.io/docs/guides/endpoints.html.

[2018-05-18 23:10] wattli opened #1321 "istio-demo.yaml does not exist"
The tutorial (https://preliminary.istio.io/docs/setup/kubernetes/quick-start.html) mentions to install control plane by "kubectl apply -f istio-demo.yaml", but istio-demo.yaml does not exist in the daily package: https://gcsweb.istio.io/gcs/istio-prerelease/daily-build/release-0.8-20180517-03-38/

@hklai , please feel free to reassign.

[2018-05-18 23:11] wattli commented on #1321
@hklai , @jasmine-jaksic , we need to fix this before 0.8 release

[2018-05-18 23:12] hklai commented on #1321
The doc was updated after the RC was cut.
https://github.com/istio/istio.github.io/pull/1304/files

[2018-05-19 00:04] wattli commented on #1321
Does it mean it will work for the next daily release ?

[2018-05-19 00:09] hklai commented on #1321
I expect so. Daily release test was failing due to the exact change (i.e. istio.yaml is replaced by istio-demo.yaml), hence no daily release today.

[2018-05-19 02:54] wattli commented on #1321
ok, nice to hear. And actually the productpage cannot be open in url. Hope it's the same cause.

[2018-05-19 05:05] olegchorny opened #1324 "Update required for docs/tasks/telemetry/metrics-logs.html"
Followed the instructions here:
https://preliminary.istio.io/docs/tasks/telemetry/metrics-logs.html

this command doesn't work anymore
$ kubectl -n istio-system logs $(kubectl -n istio-system get pods -l istio=mixer -o jsonpath='{.items[0].metadata.name}') mixer | grep "instance":"newlog.logentry.istio-system"

because items[0] equals to istio-policy-* while we need to refer to items[1] (equals to

[2018-05-21 10:01] ymesika commented on #1294
### Detected Issues

#### Citadel Always Included
When disabling all components but `ingress`, `ingressgateway` and `pilot` the following 4 pods are being installed:
[code]

`istio-citadel` is being installed because there is no toggle flag to disable its creation by helm.
PR #5675 is intended to allow this toggling.

#### Proxy Crash
Both `ingress` and `ingressgateway` fail to start with an error

[2018-05-21 17:17] wattli commented on #1321
The 0520 daily build has istio-demo.yaml, verified.

[2018-05-21 17:27] #1321 closed

[2018-05-22 21:21] jsenon opened #1335 "v1alpha3 in istio 0.7 documentation"
If I'm right traffic v1alpha3 is not available if you don't use proxyv2.

Could we add warning in the documentation or delete section mentioning  v1alpha3 and link this part only for v0.8?

[2018-05-22 21:34] jsenon opened #1337 "Istio 0.8: istio sidecar injection"
Following [documentation](https://preliminary.istio.io/docs/setup/kubernetes/sidecar-injection.html#installing-the-webhook): proxyv2 is not used with helm installation

Could we update documentation with:

`helm template install/kubernetes/helm/istio --name istio --namespace istio-system --set sidecar-injector.enabled=true --set global.proxy.image=proxyv2 > istio.yaml`

[2018-05-23 12:53] geeknoid commented on #1335
Frank, it's your call.

We're just about to switch istio.io to have the 0.8 content, and 0.7 will be moved into the archive, so this would be of short-term value to fix.

If we do want to fix this, the fix would have to be done in the release-0.7 branch.

[2018-05-23 12:58] geeknoid commented on #1274
Hi Luigi,

We're not currently looking for a new logo, but we could use some art on our web site (istio.io). Would you be interested?

[2018-05-23 15:04] frankbu commented on #1335
This doesn't seem worth it, since 0.8 is only days away now.

[2018-05-23 15:10] ymesika commented on #1306
Updated in #1342

[2018-05-23 17:54] nrjpoddar opened #1345 "Egress task in v1alpha3 with 0.8 pre-release doesn't work"
The [Egress task](https://preliminary.istio.io/docs/tasks/traffic-management/egress.html#setting-route-rules-on-an-external-service) documentation doesn't work with Istio [0.8 pre-release version](https://gcsweb.istio.io/gcs/istio-prerelease/daily-build/release-0.8-20180520-18-17/).

Applying the example virtual service `httpbin-ext` configuration returns the following error:
[code]

[2018-05-24 05:32] prabuddhg commented on #1249
@salrashid123 Thanks for your comments. I was unable to find the "Location" drop-down option.

Do you see the option "Location" when you click "Istio GKE Deployment Manager" from page

The reason I am asking this question is that istio cluster deployment failed for me with this issue:

istio-cluster-1 has resource warnings
istio-cluster-1-istio-cluster-1-waiter: {"ResourceType":"runtimeconfig.v1be

[2018-05-24 15:01] salrashid123 commented on #1249
@prabuddhg  hi-

The screenshot i provided above isn't from the 'quick-start'; its just the plain GKE configurtion settings on the GCP cloud console (its just there to list the active versions that are available).

In your case, I"m not sure what the issue would be here (debugging the DM setup is challenging since we can't surface the underlying error easily to you).
I'd suggest precisely verifyin

[2018-05-24 17:11] linsun commented on #1337
This is not really needed after this PR is in 5741

[2018-05-24 17:11] #1337 closed

[2018-05-24 18:03] Tahler opened #1352 "Control Ingress Traffic - duplicate firewall names"
The [instructions](https://preliminary.istio.io/docs/tasks/traffic-management/ingress.html#determining-the-ingress-ip-and-ports-for-a-nodeport-ingress-gateway) creates two firewalls, but they both have the same name which is disallowed by GCP.

Also seems like the name, "allow-book" is a relic of bookinfo but correct me if I'm wrong.

Easy fix: call them "allow-httpbin-http" and "allow-httpbin-htt

[2018-05-24 18:32] #1352 closed

[2018-05-24 22:20] #1335 closed

[2018-05-28 05:55] ymesika opened #1368 "Istio Prelim 0.8 Guide Should Clarify Setup of Routes with Minikube & VirtualBox"
@brian-avery commented on [Fri May 25 2018](https://github.com/istio/issues/issues/357)

**Is this a BUG or FEATURE REQUEST?:**
Bug

**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**:
Yes

**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Aut

[2018-05-29 22:19] brian-avery opened #1375 "Istio Prelim Guide Copied Content Incorrect on Traffic Management->Mirroring"
**Is this a BUG or FEATURE REQUEST?:**
Bug

**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**:
Yes

**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?**
Istio Auth is not enabled.

Did you install the stable istio.yaml, i

[2018-05-30 01:39] ldemailly opened #1377 "perf and scalability followup"
from @linsun https://github.com/istio/istio.github.io/pull/1076#issuecomment-392995416

- pls provide guidance to users on the values of synthetic e-2-e and realistic application benchmark.
- pls update Latency cost/overhead is approximately [10 millisecond] for 0.8, as this is 0.8 doc.  Else, the content should go into 0.7 doc.
- "* Split mixer check and report pods.".   Is there any value to men

[2018-05-30 01:42] #911 closed

[2018-05-30 05:48] gyliu513 opened #1381 "Add demo cases for istio mc support"
We already have multiple cluster support document at here https://preliminary.istio.io/docs/setup/kubernetes/multicluster-install/ , but there is no demo cases for how to use multiple cluster in istio. Will try to add an example of bookinfo based on @sdake 's bookinfo demo later.

[2018-05-30 17:18] andraxylia opened #1384 "Unclear how k8s ingress is to be used with 1.1"

[2018-05-30 18:12] jsenon opened #1388 "Quick Start Guide v0.8"
Quick [start](https://preliminary.istio.io/docs/setup/kubernetes/quick-start/#verifying-the-installation) guide say:

But in output istio-ingress is replace by istio-ingressgateway

Correct me if I'm wrong but we can add the both. (I can submit PR if modification is needed)

[2018-05-30 18:28] jsenon commented on #1178
Do you want to add it on [help](https://preliminary.istio.io/help/faq/) page?

[2018-05-31 00:21] deepvish23 commented on #1185
Hi, can you please tell what steps you followed to resolve this issue? I have run into the same issue and not finding the solution anywhere!

[2018-05-31 07:33] jsenon commented on #1388
PR #1392

[2018-05-31 08:05] LuigiBaute commented on #1274
I'll consider it all tho my goal is to help open source projects with logotypes to improve my portfolio!

I'll close this issue for now, I'll reopen when I can start helping with this really cool project!

[2018-05-31 08:05] #1274 closed

[2018-05-31 08:12] jsenon commented on #1178
@ZackButcher I propose #1393

[2018-06-01 01:36] linsun commented on #1225
close out, think #4911 is no longer an issue.

[2018-06-01 01:36] #1225 closed

[2018-06-01 02:24] linsun opened #1402 "update feature status page"
We need to get this page updated for 0.8:

https://istio.io/about/feature-stages/

[2018-06-01 15:48] mukundha opened #1409 "Issue with docs/setup/kubernetes/helm-install.md"
[Here](https://istio.io/docs/setup/kubernetes/helm-install/#option-1-install-with-helm-via-helm-template), at the section
-With automatic sidecar injection (requires Kubernetes >=1.9.0):

`helm template install/kubernetes/helm/istio --name istio --namespace istio-system`
 is missing
`> $HOME/istio.yaml` at the end

[2018-06-01 15:51] mukundha opened #1410 "Issue with docs/setup/kubernetes/quick-start-gke-dm.md"
[GKE Deployment manager](https://raw.githubusercontent.com/istio/istio/master/install/gcp/deployment_manager/istio-cluster.jinja&followup=https://console.cloud.google.com/launcher/config?templateurl=https://raw.githubusercontent.com/istio/istio/master/install/gcp/deployment_manager/istio-cluster.jinja&flowName=GlifWebSignIn&flowEntry=ServiceLogin)  has only support for 0.6 & 0.5, can we add suppor

[2018-06-01 15:57] mukundha opened #1411 "Issue with docs/setup/kubernetes/quick-start.md"
in section - setup/kubernetes/quick-start/#google-kubernetes-engine

creating a cluster resulted in error for me
[code]

[code]

Looks like the only supported versions are
<img width="438" alt="screen shot 2018-06-01 at 4 55 45 pm" src="https://user-images.githubusercontent.com/1277515/40850515-b404f798-65bc-11e8-9ac8-ed5012c1b8d1.png">

[2018-06-02 18:19] mukundha opened #1416 "Issue with docs/setup/kubernetes/mesh-expansion.md"
I tried this in GCP, it works only for the Ubuntu VMs and did not work for the default instance type `Debian GNU/Linux 9` - maybe a note on this would be helpful for developers trying first time

[2018-06-03 18:14] mcasimir opened #1424 "Document JWT auth a bit more"
I'm quite confused about https://preliminary.istio.io/docs/tasks/security/authn-policy/#setup-end-user-authentication.

Please explain more about the JWT end-user authentication. Just looking at the docs it seems the JWT just disappears after a successful verification. I really hope that is not the case cause it would make it just unusable, I assume the behavior is somehow what stated in https://g

[2018-06-04 05:53] ymesika commented on #1409
/close

[2018-06-04 05:53] #1409 closed

[2018-06-04 06:00] ymesika commented on #1411
/close

[2018-06-04 06:00] #1411 closed

[2018-06-04 06:16] ymesika commented on #1272
We've updated the 0.8 docs pretty much since you opened this issue.
Can you please let us know if something is still inaccurate there?

[2018-06-04 08:12] gyliu513 opened #1433 "Flag --includeIPRanges has been deprecated"
[code]
[code]

But the document here https://preliminary.istio.io/docs/tasks/traffic-management/egress/#calling-external-services-directly still using `--includeIPRanges`.

/cc @geeknoid @linsun

[2018-06-04 08:28] gyliu513 commented on #1433
/cc @mandarjog @ayj

[2018-06-04 13:22] linsun commented on #1433
@vadimeisenbergibm could you comment on this?   Should we advise folks to use the new allowAny option?

cc @costinm @rshriram @frankbu

[2018-06-04 13:56] geeknoid commented on #1410
@salrashid123

[2018-06-04 14:01] gyliu513 commented on #1433
I still prefer that we can enable end user can use parameters but not only configmap or configfile which is more easy to use.

[2018-06-04 15:09] imjoey commented on #1433
@gyliu513  Adding the annotation `traffic.sidecar.istio.io/includeOutboundIPRanges: "172.21.0.0/20"` for pods definition in `Deployment` yaml could also take effect, which is much more simple than the flags `--injectConfigMapName` and  `--injectConfigFile`. Maybe this method could be added to official document.

By the way, the same happens to flag `--debug`. But I could not find the similar appro

[2018-06-04 15:40] salrashid123 commented on #1410
pls see:
* template https://github.com/istio/istio/pull/6010
* docs https://github.com/istio/istio.github.io/pull/1437

[2018-06-04 17:21] wattli opened #1438 "Quick start page error"
https://istio.io/docs/setup/kubernetes/quick-start/

Change directory to istio package. For example, if the package is istio-0.8
$ cd istio-0.8

This istio-0.8 should be istio-0.8.0 since the package is istio-0.8.0.

[2018-06-04 17:43] #1438 closed

[2018-06-04 20:01] #1375 closed

[2018-06-04 21:03] vadimeisenbergibm commented on #1433
@linsun @gyliu513 let me check this

[2018-06-04 22:03] gyliu513 commented on #1433
@imjoey  based on my test, the istio-proxy have `curl` available by default now with 0.8, can you check?

[2018-06-04 22:34] mandarjog commented on #1433
individual arguments are hard to audit and store, so using `--injectConfigFile` is preferred.
You can customize the template in any way you like and then you it for inject.

Deployment/pod annotations `traffic.sidecar.istio.io/*`  is the preferred way to provide specific overrides for these parameters.

[2018-06-05 01:08] imjoey commented on #1433
@gyliu513 It seems to be missing in my case. Kind of weird.

[code]

Istio version:
[code]

I upgraded to v0.8.0 from v0.7.1 by following https://istio.io/docs/setup/kubernetes/upgrading-istio/ . Always without auth and sidecar-autoinjection enabled. I **did not** upgrade the sidecar image to `docker.io/istio/proxyv2:0.8.0` from `docker.io/istio/proxy:0.8.0`. So, did I miss something?

[2018-06-05 01:37] gyliu513 commented on #1433
@imjoey I was using `docker.io/istio/proxyv2:0.8.0` and it always have the curl command.

[2018-06-05 02:50] imjoey commented on #1433
@gyliu513  OK, thanks. I'll upgrade the proxy image soon. 😄

[2018-06-05 12:15] klarose opened #1446 "Add providerUrl content format to list adpater documentation"
The list adapter allows users to specify the location of a list from which to fetch entries to validate against. From the documentation, it sounds like the content should be formatted as a simple list. However, this is not the case. Rather, the list must be a property of a "WhiteList" node. For example:

`WhiteList: ["10.0.0.1", "192.168.200.1", "10.0.0.2"]
`

This is not intuitive -- I had to rea

[2018-06-06 02:07] salrashid123 opened #1452 "Update request routing usage docs to use -mtls.yaml if mTLS was enabled"
We'll want to update the docs here
https://istio.io/docs/tasks/traffic-management/request-routing/

to show the commands to apply if mTLS was enabled

eg, use
```istioctl create -f samples/bookinfo/routing/route-rule-all-v1-mtls.yaml```
instead

[2018-06-06 02:33] salrashid123 commented on #1452
btw, i have an exsting open PR (#1437).  I can add this minor change in for the ```release-0.8``` branch.
after that, i'll add one in for ```master``` if the same applies for ```1.0``` onward.
any objections to combining into the one PR cited?

[2018-06-06 11:52] geeknoid commented on #1452
SG

[2018-06-06 15:21] #567 closed

[2018-06-06 20:20] ldemailly opened #1460 "image tag shouldn't force user to calculate a ratio, default should be to preserve original"
image tag shouldn't force user to calculate a ratio, default should be to preserve original

right now it's both cumbersome and error prone (not say under [documented](https://istio.io/about/contribute/writing-a-new-topic/#adding-images), is it X/Y or Y/X,...)

computers should do that if it's required by the underlying system

ps: normal HTML does not require both x/y specified, eg
[code]
works f

[2018-06-06 20:32] ldemailly commented on #1460
cool,
[code]
the build phase could load the image (if only to check it exists/is valid etc....) and extract its size for us ?

[2018-06-06 20:43] geeknoid commented on #1460
Yes, in theory. The "build phase" is "run Hugo" and hugo doesn't support
plugins or other means of integration.

The alternative is to have a tool that grovels over the images and outputs
a global YAML file with the dimensions of all images. Hugo could consume
and consult this file for the sizes, and then we could derive the ratio
automatically.

On Wed, Jun 6, 2018 at 1:32 PM Laurent Demailly <no

[2018-06-06 21:59] ldemailly commented on #1460
maybe the imgbot could do that for us (check/fix ratios?)

[2018-06-06 22:00] ldemailly commented on #1377
fixing the diagram / fortio scenarios in
https://github.com/istio/istio/issues/6059

[2018-06-07 16:28] tiswanso opened #1477 "Update remote cluster RBAC instructions for kubernetes multicluster setup"
The guide [1] currently doesn't give instructions or an example for creating the remote cluster's kubeconf.  The reference should include info on setting up a service-account and binding to a clusterrole with the minimum required access.

[1] content/docs/setup/kubernetes/multicluster-install.md

[2018-06-08 02:22] #1452 closed

[2018-06-11 17:34] brian-avery opened #1498 "Enabling Rate Limits Task Applies Quotas to Incorrect Namespace"
**Is this a BUG or FEATURE REQUEST?:**
Bug

**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**:
Yes

**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?**
Istio Auth is Not enabled.

Did you install the stable istio.yaml, i

[2018-06-12 15:14] #462 closed

[2018-06-12 16:49] todkap opened #1502 "Issue with docs/setup/kubernetes/quick-start.md"
Installation steps link to non-existent resources...

$ kubectl apply -f install/kubernetes/istio-demo.yaml --> https://raw.githubusercontent.com/istio/istio/release-0.8/install/kubernetes/istio-demo.yaml
&&
kubectl apply -f install/kubernetes/istio-demo-auth.yaml --> https://raw.githubusercontent.com/istio/istio/release-0.8/install/kubernetes/istio-demo-auth.yaml

[2018-06-12 16:59] #1178 closed

[2018-06-12 17:12] rshriram commented on #908
The only requirement for any protocol is to document how to name the ports so that we can install the appropriate filters. @jsenon already added a nice FAQ entry #1393 detailing this. So closing this issue

[2018-06-12 17:12] #908 closed

[2018-06-12 20:06] jasmine-jaksic commented on #1402
Updated the site with 0.8 features

[2018-06-12 20:06] #1402 closed

[2018-06-12 20:12] jasmine-jaksic commented on #1272
Closing this issue. @gargnupur please open a new one if you find deficiencies in 0.8 docs.

[2018-06-12 20:12] #1272 closed

[2018-06-12 20:15] jasmine-jaksic commented on #1306
Closing this issue. @andraxylia feel free to reopen if you still encounter this issue.

[2018-06-12 20:15] #1306 closed

[2018-06-12 20:22] brian-avery commented on #1498
Moving to [istio/issues/6206](https://github.com/istio/istio/issues/6206) since the fix is in the yaml used by the documentation rather than the documentation itself.

[2018-06-12 20:22] #1498 closed

[2018-06-13 17:50] incfly commented on #1039
@jasmine-jaksic No, at least I didn't.

But now with new model to turn on mTLS globally, [design doc](https://docs.google.com/document/d/1rM4TvMRwsvGx_qP0ysAHcFD7YN-QUn9AsIMIDt1aEPM/edit?ts=5b197f95#), and we discourage people to use `authPolicy` config map flag, and even deprecate it sometime https://github.com/istio/istio/issues/5900

I think we should document the new intended usage.
@diemtvu @

[2018-06-13 21:17] wattli commented on #622
Tested it multiple times and it should work. Feel free to reopen it if the issue still exists. @douglas-reid

[2018-06-13 21:17] #622 closed

[2018-06-13 21:19] wattli commented on #832
So far this is not supported. Customer can pass their root cert when installing Citadel (Istio CA). But so far we don't have plan to support external CA issuing Istio certs directly.

[2018-06-14 00:28] #827 closed

[2018-06-14 00:40] geeknoid commented on #854
Lets leave this to the outside world.

[2018-06-14 00:40] #854 closed

[2018-06-14 00:40] #866 closed

[2018-06-14 00:41] geeknoid commented on #987
Is this issue still relevant?

[2018-06-14 00:43] geeknoid commented on #1005
@ayj Could you please make sure this all makes sense and works?

[2018-06-14 00:49] geeknoid commented on #1135
Issue moved to [istio/istio #6269](https://github.com/istio/istio/issues/6269) via [**ZenHub**](https://www.zenhub.com/)

[2018-06-14 00:49] #1135 closed

[2018-06-14 00:54] geeknoid commented on #1433
Can this issue be closed, or is there still more to do here?

[2018-06-14 01:03] #1410 closed

[2018-06-14 01:04] #1388 closed

[2018-06-14 03:01] geeknoid commented on #1273
Is this still relevant and/or worth it?

[2018-06-14 03:11] geeknoid commented on #620
Is this bug still relevant?

[2018-06-14 04:32] diemtvu commented on #1152
@wattli, this option is removed; we will support only http/mTLS (multiplex) or mTLS only. Can we close this issue

[2018-06-14 04:41] diemtvu commented on #1039
I think the FAQ was  meant for data plane mTLS. Changing control plane auth policy should not be done by this.
Regardless, we could re-write the instruction only for > Istio 0.8, i.e using authentication policy + destination rule.

[2018-06-14 13:39] #1502 closed

[2018-06-14 13:42] geeknoid opened #1515 "Prune away most What's next sections"
We now auto-generate See Also sections, so What's next is not that interesting anymore

[2018-06-14 13:44] geeknoid opened #1516 "Allow localized content to use non-localized URLs to content"
Right now, links in Chinese content must be written as:

/zh/docs/foo

But in English it's just

/docs/foo

We should see if its possible to manipulate the baseURL setting in Hugo to make it so translated content can use the simpler form too.

[2018-06-14 18:03] wattli commented on #1152
Yes, close it for now, this is not gonna happen in 1.0

[2018-06-14 18:03] #1152 closed

[2018-06-14 20:57] #1006 closed

[2018-06-15 02:36] #1433 closed

[2018-06-15 13:21] #1477 closed

[2018-06-18 13:36] craigbox opened #1536 "Please stop istioldie and prelim from appearing in Google search results"
We should ask web crawlers not to index documentation that is not from the current release. This applies especially to preliminary, but I've seen it with old versions too.

- search for "istio multicluster" on Google, see 1.0 docs above 0.8 docs
- search for "istioldie" on Google, see results, expect none

![istio-search-results](https://user-images.githubusercontent.com/132510/41539174-04452700-7

[2018-06-18 13:45] craigbox opened #1537 "Issues with the RSS feed"
a) When you go to /blog/, you are given a "subscribe" link to https://istio.io/feed.xml.  That contains all the posts in oldest-first, where I would expect it to show them in newest-first.

b) Every few days lately, recent items have been reappearing in the feed, out of order:

<img width="1534" alt="screen shot 2018-06-18 at 2 42 40 pm" src="https://user-images.githubusercontent.com/132510/415396

[2018-06-18 20:00] ChingizMard opened #1545 "Verifying new certificates section."
I was going through the section [here](https://istio.io/docs/tasks/security/plugin-ca-cert/#verifying-the-new-certificates).

When I was trying to execute the following command:
`kubectl exec -it $RATINGSPOD -c istio-proxy -- /bin/cat /etc/certs/root-cert.pem > /tmp/pod-root-cert.pem`

I got the following error: `command terminated with exit code 126`

After sshing into container and doing it manu

[2018-06-18 22:30] #1005 closed

[2018-06-19 15:57] geeknoid commented on #1537
Hi,

I'll have a fix for the ordering issue shortly. As for your #2 point, I don't know why that would happen. Each item is tagged with a unique id (it's URL). We changed our URL generation approach in 0.8 (pretty vs ugly URLs) so maybe that's the issue.

I also found that the publication date format we used was incorrect. Maybe that's why your feed items weren't listed in the correct order in the

[2018-06-19 16:33] #1537 closed

[2018-06-19 16:48] geeknoid commented on #1536
I updated the robots.txt file on preliminary.istio.io, but not on archive.istio.io. This is because we do want the archive to be indexed so it can be searched. If I disallow robots on the archive site, then we wouldn't be able to use the site's own search function (which depends on robots crawling the site)

[2018-06-19 16:48] #1536 closed

[2018-06-19 20:43] ldemailly commented on #868
maybe the doc swat team can tackle this

[2018-06-20 06:43] cmeury opened #1560 "Searching returns 404 Not Found"
Entering a keyword and searching results in a 404.

### Command-Line for reference
[code]

[2018-06-20 09:34] ymesika opened #1563 "Updated docs to follow new structure of gateways within Helm's values.yaml"
Following the structure change in `values.yaml` after https://github.com/istio/istio/pull/6350 there might be places in the docs that may need to be updated.
E.g. command where user specifically enable/disable (ingress/egress)gateway.

[2018-06-20 09:34] ymesika commented on #1563
/assign @ymesika

[2018-06-20 09:47] ymesika commented on #1563
Searching the docs for `ingressgateway` or `egressgateway` brought no relevant results.
This affects the command in #1512 which will be updated.

[2018-06-20 09:47] #1563 closed

[2018-06-20 11:59] brunoban opened #1564 "Issue with Request Routing Task"
I am trying to get the Request Routing to work. I followed this tutorial:

https://istio.io/docs/tasks/traffic-management/request-routing/

First I deployed on Kubernetes Docker, changing the ingressgateway to be a NodePort and accessing the productpage through there, but no matter what I did, I always got the round robin style stars. Absent, Black and Red.

Then I figured that maybe it was an iss

[2018-06-20 13:13] geeknoid commented on #1560
Ouch. Thanks for the report.

[2018-06-20 13:41] ymesika commented on #1294
Section added

[2018-06-20 13:41] #1294 closed

[2018-06-20 14:15] frankbu commented on #1564
It sounds to me like you don't have envoy sidecars attached to the services. Did you start the bookinfo app using manual or automatic injection? If you look at the pods, do they have the expected containers (i.e., READY: 2/2)?
[code]

[2018-06-20 16:19] ymesika commented on #1545
The command works for me.
Writing into `/tmp` should be permitted. It's the `/etc/certs/` which is RO.

[2018-06-20 18:17] ldemailly commented on #1377
+ @jnativio

[2018-06-20 18:42] geeknoid commented on #1377
You can only assign members of the Istio org I believe.

On Wed, Jun 20, 2018 at 11:19 AM Laurent Demailly <notifications@github.com>
wrote:

[2018-06-20 18:45] ldemailly commented on #1377
can you add jose to the org (I thought he already was, at least for istio/istio)

[2018-06-20 18:58] geeknoid commented on #1377
Jose, you should have an invitation to join the Istio org in your mailbox.

On Wed, Jun 20, 2018 at 11:45 AM Laurent Demailly <notifications@github.com>
wrote:

[2018-06-21 11:31] prune998 commented on #868
not sure it's still valid for 0.8.0.. ?

[2018-06-21 18:31] prune998 commented on #868
For the moment I have no clue of how it's going to work with  v1alpha3 traffic management API and ingressGateway
I'm looking into it right now, but, heh, no docs right ? 😄

[2018-06-22 08:28] brunoban commented on #1564
Hey @frankbu,

You are absolutely right. The automatic sidecar injection is not working in these clusters.

However I did follow the guide multiple times while trying to do the automatic injection. I attempted it on Kubernetes Docker, a GKE cluster and on Minikube (deployed using the guides). They all failed to do automatic injection.

The commands I used to install Istio and the Bookinfo were rou

[2018-06-22 11:14] prune998 commented on #868
Thanks @ldemailly
I've gone through this already but I may have missed something.
Let's say I have www.site1.com and www.site2.com, I understood that it would requite 2 `Gateways` and 2 `VirtualServices`.

Gateways :
[code]

But as soon as I deploy that, I have errors like :

[code]

So, my guess in that I should have only ONE Gateway, defining the 80 and 443 ports and listing all the possible hos

[2018-06-22 11:39] prune998 commented on #868
After some testing, I was able to get it working with :
[code]

Meaning that :
- I can use SNI this way
- all the SSL certificates have to be defined in the same secret named `istio-ingressgateway-certs`
- I have to modify the same `Gateway` everytime I add a new website
- updating an SSL certificate will require to restart the istio-ingressgateway pod or delete/add the website from the Gateway (I

[2018-06-22 14:09] frankbu commented on #1564
I'm not sure if helm install enables automatic injection by default or not.
@ayj do you know?

[2018-06-22 16:45] danielmenezesbr opened #1574 "Broken links (Option 1: Install with Helm via helm template)"
Some links [1] are broken.

Instead of point to
`https://raw.githubusercontent.com/istio/istio/release-0.8/install/kubernetes/helm/istio`

Should point to
`https://github.com/istio/istio/tree/release-0.8/install/kubernetes/helm/istio`

[1] https://istio.io/docs/setup/kubernetes/helm-install/#option-1-install-with-helm-via-helm-template

[2018-06-22 17:30] ayj commented on #1564
The `sidecarInjectorWebhook` is enabled by default in the default `istio.yaml` helm value files (see
[here](https://github.com/istio/istio/blob/3adc9dfe8d7d3ff540448f005ac4b2e004a32e2c/install/kubernetes/helm/istio/values.yaml#L206-L210))

[2018-06-22 17:49] geeknoid commented on #1516
I don't believe this is possible, so I'm closing.

[2018-06-22 17:49] #1516 closed

[2018-06-22 18:48] jasmine-jaksic opened #1575 "Update “Setup/Performance and Scale” section for istio.io"
@jasmine-jaksic commented on [Fri Jun 22 2018](https://github.com/istio/istio/issues/6534)

As part of doc items needed for 1.0, add a section that describes the consideration and techniques for scaling a mesh.

Refer to: https://docs.google.com/document/d/1WSmAwmVBoGoGz5Hek5rGK1JnXjnGKdCO9tqpbvv9404/edit#

[2018-06-22 18:52] ldemailly commented on #1575
https://github.com/istio/istio.github.io/issues/911 was "add" what remains is improvements and update for 1.0 data - #1377 (possibly reshuffle if we want a different layout)

[2018-06-22 18:52] jasmine-jaksic opened #1576 "Revamp troubleshooting guide for 1.0 launch"
As part of 1.0 launch, we need to do the following for the troubleshooting guide:
- Add more content (we haven't added much in a year)
- Add themes/groupings if possible
- May be rename it to SRE playbook
- May be move it to a different place within istio.io so it's easier to access (it's currently under help)

[2018-06-25 15:21] brunoban commented on #1564
So I guess it should have worked, since I used the default values. I'm not sure how to debug this any further, any advice?

[2018-06-25 18:38] frankbu commented on #1564
Seems strange that it doesn't work for you on several different platforms. Have you tried to just `kubectl apply -f install/kubernetes/istio-demo.yaml`? If that works, it would imply you have some kind of strange `helm` issue. Also, if you do the manual injection, is everything working as expected then?

[2018-06-25 18:42] frankbu commented on #1564
@ayj any advice how to check that the auto injection is set up properly?

[2018-06-25 21:09] jasmine-jaksic commented on #1575
@suryadu @geeknoid is there anything else that need to be added to perf section, other than what's listed in #1377?

[2018-06-25 22:40] ayj commented on #1564
https://istio.io/docs/setup/kubernetes/sidecar-injection/#automatic-sidecar-injection is a good start.

If pods are successfully created with no sidecar (1/1), verify the mutatingwebhookconfiguration is created and that the target namespace is labeled with `istio-injection=enabled`. The sidecar-injector is fail-close -a correctly configured mutatingwebhookconfiguration and namespace should result

[2018-06-25 23:46] costinm commented on #1177
We also need to verify grpc works via Gateway - there was a bug about h2 clients not talking h2 all the way, not sure if grpc was tested e2e via gateway.

[2018-06-26 19:50] geeknoid opened #1592 "Need to document gRPC use"
We need to explicitly document what is needed to use gRPC with Istio. Some FAQ entries, maybe a "Using gRPC with Istio" page, etc.

[2018-06-27 07:48] brunoban commented on #1564
I'll try that as soon as I get the chance and will update here. Thanks for the help guys!

[2018-06-27 10:01] bweston92 opened #1601 "Service Graph YAML isn't in the location specified."
Related to page: https://github.com/istio/istio.github.io/blob/master/content/docs/tasks/telemetry/servicegraph/index.md

The linked file "https://raw.githubusercontent.com/istio/istio/release-0.8/install/kubernetes/addons/servicegraph.yaml" is not found.

[2018-06-27 10:17] gyliu513 opened #1602 "Issues for referencing svg files from Chinese Content"
In order for easy maintain, for all of the Chinese content, I prefer that we use a symlink for the svg files and link it from English content to Chinese content, this is easy to maintain, as once the svg files are updated sometime, the Chinese content will be updated automatically.

/cc @geeknoid @rootsongjc @fleeto

Please show your comments if any.

[2018-06-27 10:46] fleeto commented on #1602
Perhaps it's not a good option.
When  an image in the original version is updated, the text in it will be changed together, they should be updated in the same time. Keeping the same images only means nothing.
The The most stupid way is to copy images to zh, and reference them with the related path like 'img/abc.png'. This approach is more stable and independent.

Or we can do nothing about image f

[2018-06-27 14:29] geeknoid commented on #1602
If you're going to do a symlink to the original, then why not just use an absolute link in the markdown file instead? That is link="/docs/concepts/overview/foo.svg"

[2018-06-27 14:33] gyliu513 commented on #1602
Thanks @fleeto and @geeknoid

Using symlink can enable us do not change the file location but just copy the location directly from english version. Using absolute link will request all links in Chinese document needs to be updated which is different with english version. So seems using symlink is better?

[2018-06-27 14:39] fleeto commented on #1602
I think copy images to zh folders is the best, sharing data is not the style of microservices :)
And the 2nd way , as @geeknoid said, just ` link="/docs/concepts/overview/foo.svg"`

[2018-06-27 14:39] ymesika opened #1603 "Inaccurate instructions to setup INGRESS_HOST environment variable"
@arun-gupta commented on [Wed Jun 27 2018](https://github.com/istio/istio/issues/6663)

Instructions to setup `INGRESS_HOST` at https://istio.io/docs/tasks/traffic-management/ingress/#determining-the-ingress-ip-and-ports says:

[code]

Where as, what worked was:

[code]

[2018-06-27 14:42] sdake commented on #1603
I think this is platform dependent unfortunately.  ip works for me, but hostname does not.

[2018-06-27 14:51] gyliu513 commented on #1602
OK, then I think we can go ahead with the solution of using absolute path. @fleeto @geeknoid @rootsongjc

[2018-06-27 14:59] rootsongjc commented on #1602
What should we do right now? At least it works nowadays. Should we change the pictures reference?

[2018-06-27 20:32] geeknoid opened #1612 "Should we bulk-machine-translate the site?"
Would it be useful to use machine translation to do a first pass of translating all web site content, and then use humans to fix that up? Is our techno-jargon too much for machine translation at this point?

@rootsongjc WDYT?

[2018-06-27 21:41] geeknoid commented on #1602
Can we close this then?

[2018-06-28 01:12] gyliu513 commented on #1602
yes, let me close this one. Thanks all for the comments here.

[2018-06-28 01:12] #1602 closed

[2018-06-28 02:17] gyliu513 commented on #1603
Yes, I was using https://github.com/gyliu513/work/tree/master/k8s/charts/keepalived , and the ip works fine in my case.

Perhaps we need add some option in the document to let customer select the command based on their requirement.

[2018-06-28 03:44] geeknoid opened #1616 "Use Snippets to fix our examples"
On an ongoing basis, we have a non-trivial percentage (20-30%?) of our examples which are broken in some way. This is because we cut&paste examples and as the system evolves, the examples get stale. Or maybe, some of these examples just never worked in the first place!

I implemented a solution for this described here: https://preliminary.istio.io/about/contribute/writing-a-new-topic/#displaying-f

[2018-06-28 13:18] arun-gupta commented on #1603
A clarification would be really helpful

[2018-06-29 04:51] fleeto commented on #1612
There are about 70 files left in the [queue](https://github.com/servicemesher/istio-official-translation/issues). Now the translation process works well, so we've invited more Chinese users to join the team, and they have started now, more PR is coming.

btw, @gyliu513 is the only one who can review Chinese translations, can I also join as a member?

[2018-06-29 06:12] rootsongjc commented on #1612
@geeknoid  We have a great community which can help us to translate the docs, in order to accelerate the translation process, we need to assign more members and owners for the Chinese content. We hope that the docs will have a Chinese version as istio 1.0 release.

[2018-06-29 13:54] #1612 closed

[2018-06-29 14:17] geeknoid opened #1637 "Document all Mixer expression language functions."

[2018-06-29 18:14] danielmenezesbr opened #1640 "Broken link - Generating a Service Graph"
The link "install/kubernetes/addons/servicegraph.yaml" [1] in section [2] is broken.

[1] https://raw.githubusercontent.com/istio/istio/release-0.8/install/kubernetes/addons/servicegraph.yaml
[2] https://istio.io/docs/tasks/telemetry/servicegraph/#cleanup

[2018-07-02 22:59] jasmine-jaksic commented on #1575
@dcberg @suryadu Has there been any progress on this so far?

@geeknoid Given that a page already exists, I'm going to downgrade this to P1. Let me know if you disagree.

[2018-07-04 02:08] fleeto opened #1670 "CI process is blocked for days"
#1669 #1652 #1659 ...
Chinese translation has been blocked for a few days.

Same logs appeared in CI console of each PR:

[code]

[2018-07-04 02:17] rootsongjc commented on #1670
All of the PRs are blocked, see the [list](https://github.com/servicemesher/istio-official-translation/projects/2#column-2980860)

[2018-07-04 02:27] LillyWu opened #1672 "isito install yaml file is mixed with istio.yaml and istio-demo.yaml"
In doc files,  the guidance shows install/cleanup istio with

`kubectl apply -f install/kubernetes/istio.yaml`
and
`kubectl apply -f install/kubernetes/istio-demo.yaml`

It looks confusing. And all the links to the source are broken as this yaml file doesn't exist in [istio/istio](https://github.com/istio/istio/tree/master/install/kubernetes)

In release-0.8, the file is `istio-demo.yaml`. Besides

[2018-07-06 14:22] geeknoid commented on #1670
Tests are now passing.

[2018-07-06 14:22] #1670 closed

[2018-07-06 14:23] geeknoid commented on #1672
The broken links are now fixed.

@sdake Care to add anything re the content?

[2018-07-06 17:33] sdake commented on #1672
@geeknoid sure.

[2018-07-07 14:12] sdake commented on #1672
Fixed here: https://github.com/istio/istio.github.io/pull/1696

This can be closed.

[2018-07-09 06:17] LillyWu commented on #1672
@sdake could you show me the link of the istio.yaml file, I still can't find it in  https://github.com/istio/istio/tree/master/install/kubernetes
and https://raw.githubusercontent.com/istio/istio/release-1.0/install/kubernetes/istio.yaml returns 404

[2018-07-09 11:39] tedyyan commented on #1601
I don't find it in 0.8 still.

[2018-07-09 16:14] tiswanso opened #1711 "Update setup->kubernetes->multicluster to reflect latest helm chart changes"
Several changes have merged to the istio-remote helm charts and the multicluster procedure needs updates to be compatible.  ie. remote cluster auto-sidecar injection support

[2018-07-09 16:18] tiswanso commented on #1711
I'm working on this

[2018-07-09 16:20] sdake commented on #1711
/assign @tiswanso

[2018-07-09 22:50] danehans opened #1719 "Prelim-1.0 Enabling Rate Limits Missing Code Blocks"
https://preliminary.istio.io/docs/tasks/policy-enforcement/rate-limiting/ code blocks contain:
`
ERROR: markdown specified a bash syntax, but first line didn't start with $
`
instead of the example `istioctl` command.

[2018-07-10 00:16] geeknoid opened #1723 "Document the format of Duration and Timestamp values"
Our protos use Duration and Timestamp values, in particular in adapter config, and yet we don't document the format operators are expected to use in order to specify such values.

[2018-07-10 06:41] ymesika opened #1727 "Citadel health checking should be updated"
Following https://github.com/istio/istio/issues/6922
Depends on https://github.com/istio/istio/pull/6961

Two updates:
1. The [Before you begin](https://preliminary.istio.io/docs/tasks/security/health-check.html#before-you-begin) section shouldn't have the option to install from `istio-auth.yaml` as it isn't part of releases anymore
1. When installing or templating Istio using Helm in the [Before

[2018-07-10 12:06] #1719 closed

[2018-07-10 15:37] danehans opened #1736 "Track Istio 1.0-release"
According to https://groups.google.com/forum/m/#!topic/istio-dev/tcDEwvBaTgw, the 1.0-release branch is being used for the 1.0 release. Currently, a disconnect between istio and istio.github.io exists because istio.github.io is tracking Istio master instead of Istio 1.0-release. This makes it difficult to validate documentation.

[2018-07-10 16:30] john-a-joyce commented on #1576
I started looking at this issue based on some discussions with @sdake but it's not that clear on what should be done or what is already being worked on by others.   Is there another forum where the restructuring is being discussed or coordinated?

We could definitely add some content along the troubleshooting lines based on our developer experiences.  Is that the biggest deficiency or is more of a

[2018-07-10 16:48] geeknoid commented on #1576
There is no forum for discussion of this stuff at this point. I suggest the docs channel on Slack is probably the easiest at this point.

We have one outstanding doc for security, one for telemetry/policy, and none yet for networking.

The idea is to:

- Extract any useful stuff from the existing troubleshooting guide and move to this new spot.

- Extract any relevant stuff from the FAQ and move t

[2018-07-10 17:59] ymesika opened #1739 "Doc issue / grafana addon missing?"
@krancour commented on [Tue Jul 10 2018](https://github.com/istio/istio/issues/6972)

In [Viewing the Istio Dashboard](https://istio.io/docs/tasks/telemetry/using-istio-dashboard/#viewing-the-istio-dashboard), the very first step fails:

[code]

---

@ymesika commented on [Tue Jul 10 2018](https://github.com/istio/istio/issues/6972#issuecomment-403873036)

With which version/release?

---

@kranco

[2018-07-10 18:53] jasmine-jaksic commented on #1736
#1715 should fix this

[2018-07-10 18:53] #1736 closed

[2018-07-10 20:29] wattli commented on #1727
@lei-tang , can you take this please? Thanks.

[2018-07-10 20:47] lei-tang commented on #1727
@wattli Sure.

[2018-07-11 08:05] ymesika opened #1752 "Upgrading Istio using Helm"
In the instructions of [Upgrading Istio](https://preliminary.istio.io/docs/setup/kubernetes/upgrading-istio/) I think that users who installed Istio 0.8.0 using Helm should simply be instructed to execute:
[code]
to upgrade.

Also upgrade commands seems to be not updated (no more `istio.yaml` in releases, proxy image incorrect, are those the right values to be used?).

[2018-07-12 01:57] sdake commented on #1752
/assign rbaballeromx

[2018-07-12 01:57] istio-testing commented on #1752
@sdake: GitHub didn't allow me to assign the following users: rbaballeromx.

Note that only [istio members](https://github.com/orgs/istio/people) and repo collaborators can be assigned.

<details>

In response to [this](https://github.com/istio/istio.github.io/issues/1752#issuecomment-404365071):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/commun

[2018-07-12 01:58] sdake commented on #1752
@rcaballeromx - see https://github.com/istio/istio.github.io/issues/1752#issuecomment-404365076 - but feel free to work on it and resolve it.

Cheers
-steve

[2018-07-12 06:43] ymesika commented on #1220
Close suggestion - Seems to be updated by #1320

[2018-07-12 06:46] ymesika commented on #1271
Close suggestion - Fixed by #1291

[2018-07-12 13:08] #1220 closed

[2018-07-12 14:01] #1711 closed

[2018-07-12 15:35] rcaballeromx commented on #1752
/assign rcaballeromx

[2018-07-12 15:35] istio-testing commented on #1752
@rcaballeromx: GitHub didn't allow me to assign the following users: rcaballeromx.

Note that only [istio members](https://github.com/orgs/istio/people) and repo collaborators can be assigned.

<details>

In response to [this](https://github.com/istio/istio.github.io/issues/1752#issuecomment-404554738):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io

[2018-07-12 18:12] sekka1 commented on #868
I am running into the same problem but what was propose above is not working on my cluster.

I dont have the cert files like above so i removed the 443 endpoints and applied this:

[code]

Looking at the `istio-ingressgateway` logs I get:
[code]

Am i missing something else here?

[2018-07-12 18:21] geeknoid opened #1779 "Need a glossary entry for TLS Origination"
TLS Origination is used in https://istio.io/docs/tasks/traffic-management/egress-tls-origination/ but is not a well-known concept.

[2018-07-12 19:48] geeknoid opened #1783 "Need a glossary entry for Service Registry"
We assume readers understand "service registry" in a few places. A crisp definition with expected behavior would be useful.

[2018-07-12 20:53] frankbu commented on #1779
Fixed: https://github.com/istio/istio.github.io/pull/1782

[2018-07-12 20:53] #1779 closed

[2018-07-12 22:41] geeknoid opened #1786 "Fix GKE Install docs"
From an email:

I am running the steps on: https://preliminary.istio.io/docs/setup/kubernetes/quick-start-gke-dm/
However, the link to get the Istio GKE Deployment Manager is broken.
That is a stopper for the doc, meaning me, and users, cannot continue.

@salrashid123

[2018-07-12 22:42] geeknoid commented on #1786
@rcaballeromx

[2018-07-12 22:48] andraxylia commented on #1786
Duplicate of istio/istio#7049

We need to wait for the release to be created before updating the .jinja file.

[2018-07-12 22:54] andraxylia commented on #1786
why did you re-open?

[2018-07-12 23:01] geeknoid commented on #1786
I think we need a doc review as well.

[2018-07-12 23:15] salrashid123 commented on #1786
yeah, the link in the docs points back to a DM template that is verison specific

for example, the current link on istio.io and on ```preliminary.istio.io```  both point to a DM template for ```release-0.8```

eg, the docs have a link like this in it to launch:
[code]

its going to be slightly werid update on this and parts will span this pr and the one i'm working on for the template...what i can

[2018-07-12 23:20] geeknoid commented on #1786
Oh, in the .md file, the
https://raw.githubcontent.com/istio/istio/release-0.8 string should be
replaced with {{<github_file >}}. This will create a link that always
points to the right branch for the repo.

On Thu, Jul 12, 2018 at 4:15 PM salrashid123 <notifications@github.com>
wrote:

[2018-07-13 10:52] sdake commented on #1672
@LillyWu within the tarball distributed by the test and release team, `istio-demo-auth.yaml `and `istio-demo.yaml` are produced.  In the repo, these files are not present.

[2018-07-13 13:32] sdake commented on #1752
@ymesika validated upgrade here: https://github.com/istio/istio/pull/7062

[2018-07-13 13:36] sdake opened #1798 "upgrade docs could use a rev"
* The proxy image is recommended (instead of proxyv2)
* Sidecar injection is described.  During an upgrade, sidecar upgrade should be invisible.
* Helm upgrade commands unlisted.
* Kubernetes version listed.  We should really have a separate page which lists the requirements so the Requirements for Kubernetes, Helm, and other dependencies are not duplicated throughout the documentation.  This make

[2018-07-13 14:15] #1672 closed

[2018-07-13 14:18] geeknoid commented on #1752
Related to #1798

[2018-07-13 15:48] rcaballeromx commented on #1786
I am already editing this doc and can make the changes. Just let me know the correct links and I'll replace them.

[2018-07-13 16:24] sekka1 commented on #868
Playing around with it more, doing it this way works for me:

[code]

I guess you are telling it to open 1 port and listen for these hostnames on the port.

Then i thought to try this and this works also:

[code]
However this gateway only works in the name space I created it in and the pods for these ingresses has to be in that namespace also.

So i guess you have to create another istio inbound i

[2018-07-13 16:50] rcaballeromx commented on #1752
/assign rcaballeromx

[2018-07-13 19:10] brian-avery opened #1806 "Istio 1.0 Prelim Documentation Quickstart VM Driver link doesn't list vm-driver values"
On https://preliminary.istio.io/docs/setup/kubernetes/quick-start.html under setting up Minikube, it says Select a VM driver and substitute your_vm_driver_choice below with the installed virtual machine (VM) driver. and links to a page with links to VM drivers, but no listing of valid values for your_driver_name. It might be better to link to this instead: https://kubernetes.io/docs/setup/minikube

[2018-07-13 19:53] #1783 closed

[2018-07-13 20:21] #1806 closed

[2018-07-14 01:51] quanjielin opened #1818 "get rid of global.proxy.image=proxy"
we should get rid of ```global.proxy.image=proxy``` in cmdlets that used in  https://preliminary.istio.io/docs/setup/kubernetes/upgrading-istio/, 1.0 proxy image should always be v2.

[2018-07-14 03:11] geeknoid commented on #1818
Covered by #1798

[2018-07-14 03:11] #1818 closed

[2018-07-14 03:12] #1575 closed

[2018-07-14 03:12] geeknoid commented on #1515
Done.

[2018-07-14 03:12] #1515 closed

[2018-07-14 03:17] #1273 closed

[2018-07-14 03:20] geeknoid commented on #761
We're OK on this front.

[2018-07-14 03:20] #761 closed

[2018-07-14 03:26] #1215 closed, assigned to nobody

[2018-07-14 04:01] salrashid123 commented on #1249
yeah, this one can get closed out.    it was addressed on
https://github.com/istio/istio.github.io/pull/1260

however, we still need to update the docs (i think there's some minor formatting and what not to address; we'll handle that on issue#1786)

[2018-07-14 05:40] sdake commented on #1215
@geeknoid agreed with the restructure to index.md - not necessary.

Cheers
-steve

[2018-07-14 11:32] geeknoid opened #1820 "Add back examples of the list checker and denier adapters"
In #1780, Limin deleted the examples we had of denier and list checker use. We should bring these two items back under content/tasks/policy-enforcement. We can term this "Whitelists and Blacklists" to avoid reusing the term "access control"

[2018-07-14 11:34] #1249 closed

[2018-07-14 17:20] rshriram commented on #615
No. Let’s close this.

[2018-07-15 03:46] #615 closed

[2018-07-16 19:08] spikecurtis opened #1836 "Docs refer to istio-citadel-plugin-certs.yaml but it doesn't exist"
https://preliminary.istio.io/docs/tasks/security/plugin-ca-cert.html says to run the following command

[code]

but the file does not exist in the release zip, nor does it appear in the istio.io/istio source tree, nor is it created by `updateVersion.sh`.  I'm not sure how to get this file!

[2018-07-16 19:50] liminw commented on #1836
/cc lei-tang

[2018-07-16 19:51] liminw commented on #1836
/cc @lei-tang

[2018-07-16 19:58] #1603 closed

[2018-07-16 20:08] liminw commented on #1836
According to @lei-tang, this was due to PR https://github.com/istio/istio/pull/6585, where all the templates are removed, but the corresponding helm charts are not created.

A similar problem happened for health check (https://github.com/istio/istio/issues/6922).

Two options:
1. Revert PR https://github.com/istio/istio/pull/6585. We should remove templates only after all the helm charts are creat

[2018-07-16 20:16] frankbu commented on #1564
Closing this because it is not a problem with the request routing task.
If anything, this is a problem with automatic sidecar injection.

@brunoban, if auto-injection is still not working, please open an issue in the istio/istio, or if you conclude that it's because the docs are wrong, open another istio/istio.gitub.io issue.

[2018-07-16 20:16] #1564 closed

[2018-07-16 20:20] frankbu commented on #1564
@brunoban, maybe this is your problem #1746 ?

[2018-07-16 20:30] frankbu commented on #1303
Duplicate of https://github.com/istio/istio/issues/6957

[2018-07-16 20:30] #1303 closed

[2018-07-16 21:05] frankbu commented on #572
Closing because I believe the instructions are correct now. Please reopen if there's still something missing.

[2018-07-16 21:05] #572 closed

[2018-07-16 21:15] frankbu commented on #1245
Fixed by removing any mention of ratings service version, since that's not relevant.

[2018-07-16 21:15] #1245 closed

[2018-07-16 21:32] frankbu commented on #1046
documented here: https://istio.io/docs/setup/kubernetes/sidecar-injection/#pod-spec-requirements and in troubleshooting: https://istio.io/help/troubleshooting/#route-rules-have-no-effect-on-my-application

[2018-07-16 21:32] #1046 closed

[2018-07-16 21:41] frankbu commented on #1368
Docs have been updated to use `minikube ip` in this case.
https://preliminary.istio.io/docs/tasks/traffic-management/ingress/#determining-the-ingress-ip-and-ports-when-using-a-node-port

[2018-07-16 21:41] #1368 closed

[2018-07-16 22:59] geeknoid commented on #505
Done

[2018-07-16 22:59] #505 closed

[2018-07-17 00:30] liminw commented on #1836
I plan to revert this PR istio/istio#6585, because it caused several issues of missing yaml files. @ymesika, let me know if you have any concern.

[2018-07-17 02:46] frankbu commented on #1836
Don't revert https://github.com/istio/istio/pull/6585. Fix the problems one by one. The instructions need to be changed to use helm.

There is already a PR that fixes this specific issue: https://github.com/istio/istio.github.io/pull/1757

[2018-07-17 04:22] wattli commented on #1836
@frankbu , i don't think it is a good idea to simply remove all files that are still actively listed in our web page, and wait for people to find them out one by one, and fix them one by one. For this issue it's one file, but that PR deleted 20+ of them, which should not happen.

I suggest to revert #6585 and update the reference to every single of them before we actually delete it.

@rshriram @ge

[2018-07-17 05:53] brunoban commented on #1564
Hey @frankbu ,

That might be it. I've been a bit busy with some work things that made me pause my Istio experimentations so I do apologize for not following up on this. I'm going to attempt this again asap and will open the proper issue if I find any problems.

Thanks!

[2018-07-17 06:06] ymesika commented on #1836
@wattli What 20+ files? The output of the old `updateVersion.sh` generated 13 yamls (+ addons)
Not generated Citadel stuff by the new one are:
- `istio-citadel-plugin-certs.yaml`
- `istio-citadel-standalone.yaml`
- `istio-citadel-with-health-check.yaml`

The last one has been covered by https://github.com/istio/istio/pull/6961 which raise a question of @rshriram, which I tend to agree with, of why

[2018-07-17 06:47] ymesika opened #1841 "Wrong metric name in "Querying Metrics from Prometheus""
@ozevren commented on [Tue Jul 17 2018](https://github.com/istio/istio/issues/7169)

https://preliminary.istio.io/docs/tasks/telemetry/querying-metrics/

Instructions ask to enter "istio_request_count", but this doesn't exist. "istio_request_bytes_count" works.

[2018-07-17 06:48] ymesika opened #1842 "Missing cleanup step in the telemetry task."
@ozevren commented on [Tue Jul 17 2018](https://github.com/istio/istio/issues/7167)

https://preliminary.istio.io/docs/tasks/telemetry/metrics-logs/

This page starts a port-forwarder for accessing Prometheus, but does not instruct to clean it up in the cleanup stage.

---

@ozevren commented on [Tue Jul 17 2018](https://github.com/istio/istio/issues/7167#issuecomment-405403220)

Ditto for https:/

[2018-07-17 06:49] ymesika opened #1843 "Consider using kubectl instead of istioctl for all CRUD operations"
@ozevren commented on [Mon Jul 16 2018](https://github.com/istio/istio/issues/7163)

https://preliminary.istio.io/docs/examples/bookinfo/#if-you-are-running-on-kubernetes

"Define the ingress gateway for the application" step is using istioctl, whereas all other commands are kubectl. Use of istioctl is not necessary as it does "-f apply".

---

@ozevren commented on [Mon Jul 16 2018](https://githu

[2018-07-17 07:00] ymesika commented on #1843
First comment seems to be fixed by #1837
For the 2nd comment, do you mean that Confirm shutdown is not necessary?

[2018-07-17 09:20] ymesika commented on #1836
I think the easiest solution is to just add back those 3 missing files to the release: https://github.com/istio/istio/pull/7178

[2018-07-17 13:19] frankbu commented on #1836
@wattli I'm not suggesting we wait around for users to find them one by one, I'm suggesting that whoever is responsible for these tasks (who wrote them?) should fix them one by one asap.

[2018-07-17 13:38] sdake commented on #1836
Re the citadel standalone helm PR here: https://github.com/istio/istio/pull/5292

This needs significant work and will not be ready for 1.0 - so suggest following @frankbu 's guidance.

Cheers
-steve

[2018-07-17 15:48] frankbu commented on #1836
fixed by #1757

[2018-07-17 15:48] #1836 closed

[2018-07-17 16:00] ozevren commented on #1843
No, the page is using a mix of istioctl & kubectl. Use of istioctl is not necessary. It is better to simply use one (i.e. kubectl).

[2018-07-17 16:43] wattli commented on #1836
@frankbu, my point is we should not make breaking change especially at this pre-1.0 moment.

[2018-07-17 18:19] frankbu commented on #1256
EgressRule has been replaced by ServiceEntry, which addresses these issues.

https://preliminary.istio.io/docs/concepts/traffic-management/#service-entries
https://preliminary.istio.io/docs/reference/config/istio.networking.v1alpha3/#ServiceEntry
https://preliminary.istio.io/docs/tasks/traffic-management/egress/

[2018-07-17 18:19] #1256 closed

[2018-07-17 18:37] frankbu commented on #623
Closing because this seems to have been addressed in 0.8. This task also seems to be gone in 1.0.
Please reopen if I've missed something.

[2018-07-17 18:37] #623 closed

[2018-07-17 18:40] frankbu commented on #624
FIxed in https://github.com/istio/istio.github.io/pull/639

[2018-07-17 18:40] #624 closed

[2018-07-17 19:37] ozevren opened #1859 "BookInfo guide page is missing injection labelling step"
@ozevren commented on [Mon Jul 16 2018](https://github.com/istio/istio/issues/7161)

The apply step for automatic injection in the Bookinfo page is missing details about creation of a namespace (or tagging with istio-injection).

https://preliminary.istio.io/docs/examples/bookinfo/#if-you-are-running-on-kubernetes

If the guide is followed in isolation, it is very easy to miss this and end up with

[2018-07-17 19:55] frankbu commented on #1859
This was fixed earlier today: https://github.com/istio/istio.github.io/pull/1746

[2018-07-17 19:55] #1859 closed

[2018-07-17 21:32] frankbu commented on #1843
We encourage people to use istioctl instead of kubectl for Istio specific resources. Better validation and command output. I'm not sure what the benefit is of trying to keep istioctl out of the picture entirely. I agree that it makes sense to create the Gateway using kubectl, since that's sort of just another deployment step, but cleanup makes more sense to stick to istioctl commands, since all th

[2018-07-17 21:52] ozevren commented on #1843
We already have a validation webhook getting installed as part of standard deployment. Is the kubectl output for gateway and virtualservice is considered bad? (I didn't feel that way, but I am not the customer).

Sticking to a single command-line tool in the tasks will be less confusing, given that the user is already learning through new concepts. Kubectl seems to be more heavily used on the page

[2018-07-17 22:47] jasmine-jaksic commented on #1820
@mandarjog , do you have an ETA for fixing this?

[2018-07-17 22:49] jasmine-jaksic commented on #1752
@rcaballeromx Do you have a PR for fixing this?

[2018-07-19 18:47] jasmine-jaksic commented on #1739
PR in flight, closing this issue

[2018-07-19 18:47] #1739 closed

[2018-07-19 19:41] ymesika commented on #1752
Fixed by #1883

[2018-07-19 19:41] #1752 closed

[2018-07-19 20:13] #620 closed

[2018-07-20 05:51] gyliu513 commented on #765
We already mentioned how to use istio on IBM Cloud Private at here https://istio.io/docs/setup/kubernetes/quick-start/#ibm-cloud-private

[2018-07-20 05:51] #765 closed

[2018-07-20 13:33] #1820 closed

[2018-07-20 14:48] frankbu commented on #1843
Good point about the validation, I guess that excuse is no longer valid :-)

`istioctl get` commands are certainly a better choice than `kubectl get`:
[code]

That said, for cleanup, they are both expected to simply return `No resources found`.

But ... I have just made this worse with https://github.com/istio/istio.github.io/pull/1885, where there are now instructions in the bookinfo sample to cr

[2018-07-20 16:19] gargnupur commented on #1841
istio_request_count has been changed to istio_requests_total and https://github.com/istio/istio.github.io/pull/1742 fixed this.

[2018-07-20 18:09] #1841 closed

[2018-07-20 19:50] sdake opened #1895 "multicluster: if ZIPKIN is not deployed (the default) - the instructions produce garbage output for ZIPKIN_POD_IP"
[code]

[2018-07-20 20:03] m-eaton opened #1896 "Incorrect ingress configuration in basic authentication policy example"
In this [section](https://preliminary.istio.io/docs/tasks/security/authn-policy.html#setup-end-user-authentication) the sample ingress configuration uses the old Kubernetes ingress API, which was deprecated in Istio v0.8.

Ingress should be configured with a Gateway and Virtual Service resource, as described [here](https://preliminary.istio.io/docs/tasks/traffic-management/ingress/#configuring-ing

[2018-07-20 20:03] sdake opened #1898 "{CLUSTER_NAME} is undefined on control plane"
[code]
from:
https://preliminary.istio.io/docs/setup/kubernetes/multicluster-install/#instantiate-the-credentials-for-each-remote-cluster

[2018-07-20 20:03] sdake commented on #1898
$WORK_DIR and ${NAMESPACE} are also undefined.

[2018-07-20 20:53] #1842 closed

[2018-07-20 22:18] liminw commented on #1896
/cc @diemtvu

[2018-07-21 05:01] ymesika commented on #1262
/unassign @ymesika

[2018-07-21 05:06] ymesika commented on #1727
@lei-tang The file exists again in releases so you may want to revert your changes.

[2018-07-21 05:06] #1727 closed

[2018-07-23 15:14] tiswanso commented on #1898
The values are defined in this section:  https://preliminary.istio.io/docs/setup/kubernetes/multicluster-install/#generate-kubeconfigs-for-remote-clusters

Maybe we need to clarify that the values are from that section.  If the user uses the same shell and just switch between clusters using `kubectl config use-context <cluster context>` the env vars would be still set.  But if the user is using a

[2018-07-23 15:35] sdake commented on #1898
@tiswanso agree - I am using the second workflow which is probably the cause of confusion.  The docs don't mention anything about `use-context`.  Whatever can be done to simplify the docs would be great 👍 .  Most people reading these docs will cut and paste, and not apply a whole lot of reasoning to their actions and expect things to work.  It took me a few hours (and I'm familiar with this stuff)

[2018-07-23 17:32] tiswanso commented on #1895
/assign tiswanso

[2018-07-23 17:32] wattli opened #1919 "Document how to config workload cert's TTL"
Add an item at here https://preliminary.istio.io/help/faq/security/ to describe how to config workload's cert when deploying citadel. And also include the limitation of current key/cert rotation, i.e., envoy has to restart after the rotation.

[2018-07-23 18:33] #1919 closed

[2018-07-23 23:04] m-eaton commented on #1896
Fixed [#1891](https://github.com/istio/istio.github.io/pull/1891/)

[2018-07-23 23:04] #1896 closed

[2018-07-23 23:17] geeknoid opened #1923 "Evaluate whether Chinese is ready for 1.0"
Istio 1.0 will become official on July 31. Do we believe the Chinese translation is in good enough shape to feature it in the 1.0 timeframe? The English docs have been evolving quickly and will likely continue to evolve, so can we ensure the Chinese version is up to date and reflects all changes accurately?

What should we do about the reference documentation? This documentation is generated from

[2018-07-23 23:45] lei-tang commented on #1727
@ymesika The PR https://github.com/istio/istio.github.io/pull/1924 is created to revert the PR #1744.

[2018-07-24 02:58] rootsongjc commented on #1923
Hi, Martin and [ServiceMeshers](https://github.com/servicemesher), I think it's okay to release the Chinese docs when Istio 1.0 becomes official. That's should be a big news.

I prefer the second way. [This](https://github.com/servicemesher/istio-official-translation/projects/2) is the current translation progress, you can see that there'e only a few part need to be translated, we will check the u

[2018-07-24 10:59] sdake opened #1936 "Istio multicluster documentation doesn't explain how to use --set meshexpansion=true"
SSIA

[2018-07-24 10:59] sdake commented on #1936
cc @tiswanso

[2018-07-24 11:10] sdake commented on #1936
/assign @tiswanso

[2018-07-24 14:19] ebullient commented on #1384
I found this really confusing. I _had_ an ingress defined before (to get things working without istio) .. what do I do if I'm adding istio now? Should I delete it? A little clarity would really help! For example: "If your application had a kubernetes ingress defined previously, the kubernetes ingress configuration can be replaced by an Istio Gateway, _following steps x, y, z_." .. something.

[2018-07-24 14:25] ebullient opened #1939 "In Concepts, don't assume people new to Istio know what TCP layers are.."
What is Istio?

Traffic Management

Some kind of reference to networking layers would help clarify these for people that aren't sysadmins or network admins with a background in operating systems or networking that want to give Istio a try. A cross-reference or footnote to https://en.wikipedia.org/wiki/OSI_model would suffice, at a minimum.

[2018-07-24 14:36] linsun commented on #1384
Agreed, this is very confusing.  A few paths we are exploring for documentation:

1. Recommend people to use the istioctl converter tool to convert their ingress to the new gateway and VS resources.   Then users can deploy the new resources and work with the new gateway, and delete the old ingress once they are happy with the new gateway.

2. Check if the ingress is working out of box with istio e

[2018-07-25 11:32] ebullient opened #1958 "Bad link to CORS"
Broken link at docs/reference/config/istio.networking.v1alpha3/#CorsPolicy

Functioning link: https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS, or for all CORS references: https://developer.mozilla.org/en-US/docs/tag/CORS

[2018-07-25 14:58] geeknoid commented on #1958
This is a reference doc from istio/api

[2018-07-25 15:00] geeknoid commented on #1923
Note that content_zh currently contains many links that point back to English content. I think someone needs to do a cleanup pass to make sure Chinese content refers back to Chinese content.

[2018-07-25 15:02] rootsongjc commented on #1923
I will check the whole contents in content_zh  tomorrow.

[2018-07-25 15:13] fleeto commented on #1923
I'd like to  choose the language manually, and it would be better if the language button could be conspicuous.

[2018-07-25 15:18] rootsongjc commented on #1923
Both methods are OK, no matter leave the users to choose language manually or present Chinese content to them directly, we should make the user know that there is Chinese content there. @fleeto We will inform it to Chinese people throught [ServiceMesher](http://www.servicemesher.com) community.

[2018-07-25 16:36] rcaballeromx commented on #1798
@jasmine-jaksic  I'm starting to work on this now that the security docs got merged. @sdake Can you give me the path where you would want to see these docs? Is there an existing doc that I should update?

[2018-07-25 16:38] rcaballeromx commented on #1786
@geeknoid Can you give me the complete {<github_file >}} link I should use?

[2018-07-25 16:42] andraxylia commented on #1786
The release 1.0 is not yet published.

[2018-07-25 17:07] vadimeisenbergibm opened #1964 "Update the HTTPS egress traffic task, HTTPS requires ServiceEntry with VirtualService"
Once https://github.com/istio/istio/pull/7394 is merged.

[2018-07-26 01:08] fleeto opened #1974 "code blocks in "docs/setup/kubernetes/platform-setup/openshift/""
<img width="884" alt="image" src="https://user-images.githubusercontent.com/6958477/43235385-40dbac90-90b3-11e8-8062-8fe91c249a20.png">

[2018-07-26 01:16] gyliu513 commented on #1923
+1 to choose language manually, and I also think the 1.0 Chinese document should also be released together with Istio 1.0 announcement, this can attract more Chinese users.

[2018-07-26 02:40] geeknoid commented on #1974
Thanks. I pushed a fix.

[2018-07-26 02:40] #1974 closed

[2018-07-26 04:14] sdake opened #1977 "chinese translation: Please translate the platform-setup PRs:"
in order:
https://github.com/istio/istio.github.io/pull/1948
https://github.com/istio/istio.github.io/pull/1960

Fast action would be appreciated, as the site links to these PRs all over the place.

Cheers
-steve

[2018-07-26 05:37] fleeto commented on #1977
OK, I'll do it. #1953 had been pushed, just waiting for the #1948 and #1960, now I'll close it and make new PRs.

[2018-07-26 07:44] #1895 closed

[2018-07-26 07:46] sdake commented on #1798
@rcaballeromx https://preliminary.istio.io/docs/setup/kubernetes/upgrading-istio/ is the documentation we have thus far.

Cheers
-steve

[2018-07-26 08:08] rootsongjc commented on #1923
@fleeto is working on this. @geeknoid As the links in Chinese contents head to the English docs now, how do we make it redirect to the right Chinese pages?

[2018-07-26 08:48] rootsongjc commented on #1977
@sdake Can we close this issue now?

[2018-07-26 09:10] fleeto commented on #1923
About the links:

There are 4 kinds of links:
1. external url: `http://ext.url/page.htm`
2. internal image: `link="/docs/image.svg"`
3. internal page reference: `![page][/docs/page/]`
4. internal anchor reference: `![pae][/docs/page/#anchor]`

Here is my opinion:

- Type 1 & 2, just keep it;
- Type 3, search -> validate -> replace, can be done by script;
- Type 4, #anchor should be replaced into C

[2018-07-26 14:14] brian-avery opened #1985 "Istio 1.0 - Manual sidecar injection Outputs to file but does not supply file name"
**Describe the bug**
The manual sidecar injection here: https://preliminary.istio.io/docs/setup/kubernetes/sidecar-injection.html provides instructions to execute the following:

Kubectl apply -f expects a file, but istioctl kube-inject is outputting to sleep-injected.yaml instead of the console. Because of this, we see the error: no objects passed to apply.

**Expected behavior**
The command woul

[2018-07-26 15:46] #1985 closed

[2018-07-26 21:09] sdake commented on #1977
@rootsongjc nice work!  Closing.

[2018-07-26 21:09] #1977 closed

[2018-07-26 23:17] ayj commented on #1843
API resource categories is already supported today with Istio 1.0 on kube-apiserver >= 1.10 (see below).

[code]
Here's a current breakdown of istioctl CRUD operation usage.

[code]

AFAICT, there's only one place in the docs that relies on the custom column output [here](https://preliminary.istio.io/docs/examples/bookinfo/#apply-default-destination-rules). Everything else uses `-o yaml` option to

[2018-07-27 02:04] rootsongjc opened #2003 "Add Chinese community portal on the website"
For the following reasons, I recommend adding a Chinese community portal to the website:

- To acknowledge the community for their contributions to Chinese documents.
- To help them quickly get familiar with and understand the project.
- To help Chinese developers quickly integrate into the project.
- In order to overcome the jet lag problem, it is possible to communicate smoothly online.

**Respo

[2018-07-27 08:11] myidpt commented on #2003
https://istio.io/community/ might be a good place to add a link to the community http://www.servicemesher.com/.

If you want to add more content to introduce the Chinese how to take part in the community, you might want to put it somewhere under https://preliminary.istio.io/zh. This gives you more flexibility to present/advertise, and most Chinese developers will see the Chinese web pages.

[2018-07-27 12:51] geeknoid commented on #1923
@fleeto Yep, I agree, that's what you have to do.

[2018-07-27 13:05] rootsongjc opened #2014 "Check the links in Chinese content to ensure them refer to the right place"
As the Chinese content will be released at the same time as Istio 1.0, so we should check the links in it to ensure the links refer to the right place.

For example:
There is a link `/docs/reference/config/policy-and-telemetry/expression-language/`, if the Chinese content exist then replace the link as `/zh/docs/reference/config/policy-and-telemetry/expression-language/`.

This may be a lot of wor

[2018-07-27 15:53] krancour opened #2017 "preliminary / 1.0.0 docs do not document required admission controllers for minikube"
Compare:

https://preliminary.istio.io/docs/setup/kubernetes/platform-setup/minikube/

to:

https://istio.io/docs/setup/kubernetes/quick-start/#minikube

And observe that critical details are missing-- namely required admission controllers are not explicitly enabled.

[2018-07-27 21:31] andraxylia commented on #2017
This got removed by @sdake , not sure where the truth lies anymore, re-assigning.

[2018-07-27 23:41] thisisnotapril opened #2026 "Add Galley to the istio concepts page"
Currently it's hard for users to find info on what Galley is. We should add info on it to the [What Is Istio](https://preliminary.istio.io/docs/concepts/what-is-istio/) page that introduces the other components.

[2018-07-29 18:39] #1843 closed

[2018-07-29 21:30] geeknoid opened #2038 "Fix Chinese spelling errors"
PR #2037 removed a bunch of words from the spelling dictionary which shouldn't have been in there in the first place. Most of the fixes involved adding backticks around words, replacing double quotes by backticks, and replacing the use of mTLS & config with mutual TLS and configuration.

Removing these words led to a few dozen errors in the Chinese content. I fixed some of these since they were ea

[2018-07-30 11:35] geeknoid commented on #2038
Fixed by #2044

[2018-07-30 11:35] #2038 closed

[2018-07-30 19:18] esnible opened #2066 "bookinfo/index.md output no longer includes 'hosts'"
_istio.github.io/content/docs/examples/bookinfo/index.md_:148-149
shows the output of `istioctl`, not `kubectl`.  For `kubectl get gateway` the output should be

[code]

[2018-07-30 19:39] esnible commented on #2066
No.  Elsewhere we use `-o yaml` so the _istioctl_-specific output was never included.
I had expected to find the problem in _content_zh/docs/examples/bookinfo/index.md_ but that code snippet doesn't occur at all in that file.

[2018-07-30 21:45] diemtvu opened #2070 "Direct HTTPS traffic through an egress gateway task may be incorrect"
Apart from missing `apiVersion: networking.istio.io/v1alpha3` for the CRD, this [task](https://preliminary.istio.io/docs/tasks/traffic-management/egress-gateway/#direct-https-traffic-through-an-egress-gateway) doesn't work for me (curl returns with `command terminated with exit code 35`)

My system set up with mTLS enabled.

[2018-07-30 21:46] diemtvu commented on #2070
/assign @andraxylia
/assign @costinm

[2018-07-30 23:36] #1898 closed

[2018-07-31 00:03] geeknoid commented on #1923
Release is tomorrow. I'm worried that the Chinese content is incomplete, and it doesn't contain a lot of the latest content including the blog posts and other changes which will be coming tonight.

I feel uncomfortable having docs which aren't complete and contain many known errors (that have been fixed in English). I think we should remove the language selection menu for the time being. The Chine

[2018-07-31 03:55] rootsongjc commented on #1923
I will post the address https://istio.io/zh of the Chinese page to everyone, hoping to call for more people to participate the Chinese documentation. Will this link works https://istio.io/zh when 1.0 release? Maybe now it's not the best to advertise it officially, it's a good choice to ask the visitors to enter the URL directly, while everything is sycn to English we will add the switch button the

[2018-07-31 03:58] vadimeisenbergibm commented on #2070
@diemtvu Could you please specify the Istio build version you used?

[2018-07-31 04:16] diemtvu commented on #2070
I use istio-release-1.0-20180730-18-29

[2018-07-31 04:26] vadimeisenbergibm commented on #2070
OK, I am testing it now on https://github.com/istio/istio/releases/tag/1.0.0, with https://github.com/istio/istio.github.io/pull/1942. Will update you.

[2018-07-31 05:35] geeknoid commented on #1923
Yes, that link will work. The only thing that's different is that the menu
item is gone. As soon as you guys are ready, I'll bring back the menu item
and we can publish a blog advertising the translation.

On Mon, Jul 30, 2018 at 8:55 PM Jimmy Song <notifications@github.com> wrote:

[2018-07-31 11:26] vadimeisenbergibm commented on #2070
@diemtvu After https://github.com/istio/istio.github.io/pull/1942 is merged, the instructions will be correct for https://github.com/istio/istio/releases/tag/1.0.0.

[2018-07-31 21:59] diemtvu commented on #2070
Fix verified.

[2018-07-31 21:59] #2070 closed

[2018-07-31 23:55] #2066 closed

[2018-08-01 08:18] vadimeisenbergibm opened #2107 "Document "catch-all" egress traffic control with monitoring"
Based on the request in https://groups.google.com/d/msg/istio-users/ILcOBnjetD4/61Q0SEJOCQAJ

[2018-08-01 14:34] #1923 closed

[2018-08-01 18:45] quanjielin opened #2116 "one cmd/result not match in authN policy"
https://istio.io/docs/tasks/security/authn-policy/

In section Globally enabling Istio mutual TLS, after applying destRule, the cmd/result not match,
should be

[code]

[2018-08-01 18:45] quanjielin commented on #2116
/cc @diemtvu

[2018-08-01 19:07] #2017 closed

[2018-08-01 21:49] #2116 closed

[2018-08-01 23:53] mandarjog opened #2121 "Search not working correctly on istio.io"
Perhaps this is ok, because the layout has changed.

https://istio.io/search.html?q=Headless

If you click on any results it takes you to a different place via redirect.

[2018-08-02 00:14] geeknoid commented on #2121
Yeah, that's normal. It'll take a while for the index to be regenerated. I'll go poke the search console thingie to ask it to reindex sooner.

[2018-08-02 00:14] #2121 closed

[2018-08-02 14:19] geeknoid opened #2127 "Translate keywords"
The keywords: in the front-matter of documents should be translated just like the main content is.

[2018-08-02 20:02] ayj commented on #2026
fixed by https://github.com/istio/istio.github.io/pull/2113

[2018-08-02 20:02] #2026 closed

[2018-08-03 01:56] linsun opened #2136 "oraganize helm configuration table"
From the helm doc file (https://preliminary.istio.io/docs/reference/config/installation-options/ ), the configuration is a huge table. We should categorize them a bit, based on category and common configurations maybe listed on the top for each category and make them bold...

Is it possible to automate this in the py file ( https://github.com/istio/istio.github.io/blob/master/scripts/tablegen.py)?

[2018-08-04 03:10] rootsongjc commented on #2127
The keywords have been translated by @fleeto I think we can close the issue. @geeknoid

[2018-08-04 03:35] rootsongjc commented on #2003
Hi, @geeknoid Since istio 1.0 has been released for a few days, we need to consider when we can add the Chinese language switch button.
There are a few things to do before adding the button:
- [x] check the links in Chinese content to ensure it refers to the right address, see #2014
- [x] translate the keywords in the front-matter of documents, see #2127
- [ ] evluate if the Chinese documents have

[2018-08-04 12:42] geeknoid commented on #2127
Thanks.

[2018-08-04 12:42] #2127 closed

[2018-08-04 15:24] geeknoid opened #2149 "Chinese linting problems"
In PR #2148 , I disabled checks on the Chinese content since it currently has errors. To reenable, uncomment the line

#check_content content_zh --zh-cn

from scripts/lint_site.sh and fix the warnings you see.

In addition, I would like to enable a new linting rule to ensure that page descriptions end with periods. Some of the Chinese page descriptions end with 。, some don't. Should they all finis

[2018-08-04 15:31] geeknoid commented on #2014
Unfortunately, I see some new incorrect links in new content.

We should probably figure out a good way to add a lint check to prevent this from happening.

[2018-08-05 07:09] vadimeisenbergibm opened #2152 "Add DestinationRules to the Canary Deployment Blog"
The Blog https://istio.io/blog/2017/0.1-canary/, omits Destinationrules.

A related stack overflow question - https://stackoverflow.com/questions/51673906/does-istio-virtualservice-always-needs-a-destinationrule.

[2018-08-05 13:48] geeknoid commented on #2149
You need one extra step, which is to rebuild the site before you lint it. These linting errors are detected in the final generated HTML and not in the original markdown.

When I do the changes, build the site, and then run lint, I get:

docker run -t -i --sig-proxy=true --rm -v /Users/mtail/go/src/istio.io/istio.github.io:/site -w /site gcr.io/istio-testing/website-builder:2018-07-14 scripts/lint_

[2018-08-05 13:55] geeknoid commented on #2014
It's not that the links are broken, it's that the Chinese content has many
links pointing to English pages.

For example, content_zh contains many uses of "/docs and (/docs in .md
files. These should generally be "/zh/docs and (/zh/docs instead.

Once everything is translated, we could have a lint rule that makes sure
content_zh doesn't reference content, and vice-versa.

On Sat, Aug 4, 2018 at 7:

[2018-08-05 13:58] geeknoid commented on #2003
I've got to say that you guys have been doing an amazing job. You're all
very dedicated, it's impressive. Thanks for doing this work, it'll make
Istio more accessible to more people.

On Fri, Aug 3, 2018 at 8:36 PM Jimmy Song <notifications@github.com> wrote:

[2018-08-05 14:04] fleeto commented on #2014
in #2105 , I'd changed most links into  `/zh/`, except links to some documents - they had not been translated into Chinese yet.

In this week end, I'm preparing some scripts  to scan, check and follow the difference between content & content_zh, now the team have a clearer vision, to keep up with the English version.

[2018-08-06 02:25] fleeto commented on #2149
@rootsongjc @gyliu513
I can't reproduce this scenario, can you try it?

[2018-08-06 05:15] rootsongjc commented on #2149
Me too, can't reproduce this issue, @geeknoid

[2018-08-06 13:55] geeknoid commented on #2149
Please see https://github.com/istio/istio.github.io/pull/2155.

[2018-08-06 18:12] geeknoid commented on #2149
Thanks for fixing.

[2018-08-06 18:12] #2149 closed

[2018-08-10 14:14] phanibalaji opened #2203 "Issue with docs/tasks/traffic-management/request-routing/index.md"
Hi,

Without the corresponding DestinationRules defined for the VirtualServices listed, the routing does NOT work as I tested. Only when I create a DestinationRule, for example, for **review** virtual service it works. The below virtualservice along with the DestinationRule when applied routes to **review-v2** service. Moreover we also need to specify **ISTIO_MUTUAL** in destination rule to make t

[2018-08-10 16:35] phanibalaji commented on #2203
Thanks for clarification. It helps! I did not setup the destination rules earlier

[2018-08-10 16:43] rcaballeromx commented on #2203
Awesome! Glad I was able to help. I'm closing the issue then.

[2018-08-10 16:43] #2203 closed

[2018-08-15 11:45] phanibalaji opened #2254 "Issue with docs/tasks/traffic-management/circuit-breaking/index.md"
While creating the destination rule below , we need to specify the tls traffic policy as ISTIO_MUTUAL if mTLS is enabled in ISTIO env.

[code]

The above should be

[code]
Otherwise the calls to httpbin service fails in the subsequent step with http 503 error. Do we need to mention this in the doc??

[2018-08-16 15:21] mossuchida opened #2271 "Autoscaled pods need gradual load increase to avoid errors"
Currently, when a new pod is provisioned by autoscale, suddenly it is fully loaded. Depending on the application language, the error rate varies (e.g. less error on Node.js apps, significant errors on Java apps/IBM Liberty).  Please provide a mechanism to gradually increase the load so that newly created pod is able to catch up the loads without application errors (maybe it can be optional so that

[2018-08-16 16:45] #2152 closed

[2018-08-17 18:21] rajasekarjayapal opened #2284 "default pod not create"
I could see Product,Rating and Review Services in Default name space.
PS C:\mufg\istio-1.0.0> kubectl get services
NAME TYPE CLUSTER-IP EXTERNAL-IP PORT(S) AGE
details ClusterIP 10.100.10.177 9080/TCP 35m
eurekaserver-deployment LoadBalancer 10.100.211.163 a968daad18e56... 8761:30987/TCP 25d
guestbook LoadBalancer 10.100.21.83 ae439a52d8b5b... 3000:30545/TCP 29d
kubernetes ClusterIP 10.100.0.1 443

[2018-08-17 18:37] rajasekarjayapal commented on #2284
I can see Product,Rating and Review Services in Default name space.
PS C:\mufg\istio-1.0.0> kubectl get services
NAME                      TYPE           CLUSTER-IP       EXTERNAL-IP        PORT(S)          AGE
details                   ClusterIP      10.100.10.177    <none>             9080/TCP         35m
eurekaserver-deployment   LoadBalancer   10.100.211.163   a968daad18e56...   8761:30987/TCP

[2018-08-17 22:34] mabushey opened #2287 "Issue with docs/setup/kubernetes/platform-setup/aws/index.md"
When I enter `kops edit cluster k8s.my.dm --state=s3://company-k8s` and append the given blob of text in #2, then enter :wq I get this error

[code]

Here is the orgonial kops command:
`kops create cluster --name=k8s.my.dm --state=s3://company-k8s --master-count=3 --master-zones=us-west-2a,us-west-2b,us-west-2c --zones=us-west-2a,us-west-2b --node-count=2 --node-size=t2.micro --master-size=t2.micr

[2018-08-18 05:11] geeknoid commented on #2284
Please post questions to the istio-users@ mailing list.

Thanks.

[2018-08-18 05:11] #2284 closed

[2018-08-18 05:13] #2271 closed

[2018-08-18 05:13] geeknoid commented on #2271
Issue moved to [istio/istio #8053](https://github.com/istio/istio/issues/8053) via [**ZenHub**](https://www.zenhub.com/)

[2018-08-18 05:45] geeknoid opened #2290 "Funny HTML output"
Checkout the CI failure in this PR: https://github.com/istio/istio.github.io/pull/2289

There's one file which has bogus CDATA content. Can you look at the .md file and see if there's anything funny that could trigger this bad HTML?

Thanks

[2018-08-19 14:44] #2290 closed

[2018-08-19 19:06] sdake commented on #2136
@linsun as I was working on a refactor for tablegen.py that I had to table for a short while, I was thinking it would be helpful to render the docs with each major section as a header (e.g.)

## Global Variables

A table

## Security variables

A table

`...`

Unfortunately I am wrapped up in other things at present, and can't immediately work on this.  I'll add to my backlog.

Cheers
-steve

[2018-08-20 13:35] rootsongjc opened #2316 "ServiceMesher community logo is missing"
The ServiceMesher community logo disappeared at https://preliminary.istio.io/about/community/ page.
![image](https://user-images.githubusercontent.com/3328185/44343623-f8399700-a4c0-11e8-8652-38cae418e37f.png)

[2018-08-20 14:16] frankbu commented on #2254
Yes, thanks for pointing it out @phanibalaji.

I think the mirroring task also has this issue.

[2018-08-20 14:34] #2316 closed

[2018-08-23 13:15] vadimeisenbergibm opened #2367 "Envoy Sidecar vs. Sidecar proxy"
In cases where we need to write about Envoy Sidecars, as opposed to, for example, Envoys in gateways, why shouldn't we use the term "Sidecar proxy"? See this style guide item - https://istio.io/about/contribute/style-guide/#envoy.

The service mesh terminology becomes pretty standard, with the following three concepts:
1. Control Plane
2. Data Plane
3. Sidecar proxy

See https://blog.envoyproxy.io

[2018-08-23 18:28] vadimeisenbergibm commented on #2367
Just sidecar can mean other things, not necessarily a sidecar proxy. See for example https://docs.microsoft.com/en-us/azure/architecture/patterns/sidecar.

Matt Klein in his blog calls the sidecar proxy "sidecar proxy", see https://blog.envoyproxy.io/service-mesh-data-plane-vs-control-plane-2774e720f7fc.

In a complex setting with gateways a-la carte, you can have one proxy in a gateway, e.g. NGIN

[2018-08-25 04:34] rkochman opened #2386 "Issue with docs/concepts/policies-and-telemetry/index.md"
The "Handlers" section doesn't actually use the word handler. It would be great to make clear what a handler is in this section.

[2018-08-26 07:40] cuisongliu opened #2396 "[translation] Issue with docs/setup/kubernetes/quick-start/index.md"
kubectl apply -f install/kubernetes/istio.yaml

to

kubectl apply -f install/kubernetes/istio-demo.yaml

this version is  **1.0.1** not **1.1** ,please fix it.
in the 1.0.1 version,not exists   install/kubernetes/istio.yaml .its rename is  istio-demo.yaml.

[2018-08-27 19:14] #2136 closed

[2018-08-27 20:40] rvennam opened #2425 "No grafana install steps in /docs/tasks/telemetry/using-istio-dashboard/"
https://istio.io/docs/tasks/telemetry/using-istio-dashboard/ says "As part of this task, you will install the Grafana Istio add-on", but no install steps are outlined.

Grafana is not installed by default when installed using helm:
https://istio.io/docs/setup/kubernetes/helm-install/ Option 1
[code]

[2018-08-27 20:55] rvennam commented on #2425
Same issue with servicegraph https://istio.io/docs/tasks/telemetry/servicegraph/

[2018-08-28 18:50] myidpt commented on #832
You can plug in your CA signing cert and key into Citadel: https://preliminary.istio.io/docs/tasks/security/plugin-ca-cert/

[2018-08-29 07:08] maheshvra opened #2455 "Document telemetry setup instructions for docker setup (non k8s environment)"
Organizations are still catching up on k8s adoption. Enabling Istio on docker environment would certainly help teams to address immediate needs.

- Add setup instructions for the following integrations
  -  Prometheus
  -  Grafana
  -  Servicegraph

[2018-08-29 13:21] costinm commented on #832
Updating the bug as well: networking allows the use of any certificate or CA, as long as the file is mounted in the sidecar in the expected location. Destination rules allow control over client verification, and server will load any cert type.

The actual requirement that some parts of the system have is on having spiffe URL SAN.

[2018-08-31 19:52] mabushey opened #2486 "Issue with docs/setup/kubernetes/helm-install/index.md"
Docs show: `helm template install/kubernetes/helm/istio --name istio --namespace istio-system > $HOME/istio.yaml`

[code]

The docs skipped how to download install/kubernetes/helm/istio

[2018-08-31 20:02] mabushey commented on #2486
$ `helm repo update`
Hang tight while we grab the latest from your chart repositories...
...Skip local chart repository
...Successfully got an update from the "stable" chart repository
Update Complete. ⎈ Happy Helming!⎈
$ `kubectl apply -f install/kubernetes/helm/helm-service-account.yaml`
error: the path "install/kubernetes/helm/helm-service-account.yaml" does not exist

[2018-08-31 20:05] mabushey commented on #2486
$ `kubectl get all --all-namespaces | grep tiller`

kube-system   pod/tiller-deploy-895d57dd9-8jt6z                                         1/1       Running   0          21h
kube-system   service/tiller-deploy                    ClusterIP      100.67.119.55   <none>                                                                  44134/TCP                    21h

kube-system   deployment.apps/til

[2018-08-31 20:08] mabushey commented on #2486
How can anyone install istio with the doc pages being wrong/extremely incomplete?

[2018-08-31 20:09] mabushey commented on #2486
$ `helm version`
Client: &version.Version{SemVer:"v2.10.0", GitCommit:"9ad53aac42165a5fadc6c87be0dea6b115f93090", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.10.0", GitCommit:"9ad53aac42165a5fadc6c87be0dea6b115f93090", GitTreeState:"clean"}

[2018-08-31 21:19] mabushey commented on #2486
Please add `git clone https://github.com/istio/istio.git && cd istio` into the directions. My guess is this was done on purpose to keep "noobs" away so I doubt anyone is going to pay attention this this report, but hopefully it will be indexed by Google and be able to help out the next person who finds the incomplete directions rather broken.

[2018-08-31 22:06] mabushey opened #2487 "Issue with docs/tasks/traffic-management/secure-ingress/index.md"
This page goes into massive detail on generating and applying a cert. I have a wildcard cert in cert manager (AWS). With plain kubernetes I use:

[code]

Why does istio have be so insanely more complex to do the same thing? Can istio ingress work as simple as kubernetes for this?

[2018-09-02 01:48] cuisongliu commented on #2396
I'm sorry.I mean is chianese page.
![_20180902094747](https://user-images.githubusercontent.com/4150905/44951380-4b362580-ae95-11e8-8cf3-6dea1de5b116.png)

[2018-09-02 01:50] cuisongliu commented on #2396
look:
![_20180902094747](https://user-images.githubusercontent.com/4150905/44951391-8d5f6700-ae95-11e8-93c1-a62e40ee29b3.png)

[2018-09-03 05:02] fleeto opened #2502 "`text_dynamic` had rendered the yaml file into a single line"
﻿https://istio.io/about/contribute/writing-a-new-topic/#dynamic-content

[2018-09-04 14:31] geeknoid commented on #2502
Looks fine right now. Does it still look bad for you?

[2018-09-05 05:15] fleeto commented on #2502
Hi  @geeknoid, thx.

This looks like a Firefox compatibility issue, it’s working perfect on Chrome and Safari.

![image](https://user-images.githubusercontent.com/6958477/45072473-b38f3c00-b10d-11e8-84f3-ea372da73619.png)

[2018-09-05 16:36] #2502 closed

[2018-09-05 20:28] mabushey opened #2528 "Issue with docs/setup/kubernetes/helm-install/index.md"
The install process:
`cd istio && git pull && helm install install/kubernetes/helm/istio --name istio --namespace istio-system` installs prometheous, but NOT grafana. Is this a flag that must be added to the docs or a bug?

[code]

[2018-09-05 22:23] mabushey opened #2529 "Issue with docs/setup/kubernetes/quick-start/index.md"
To Install Istio and enforce mutual TLS authentication between sidecars by default:

$ kubectl apply -f install/kubernetes/istio-demo-auth.yaml

[code]
istio-demo-auth.yaml is not at this location.

[code]
updateVersion.sh is broke:
[code]
Yes, updateVersion.sh is in the parent directory of istio/install/kubernetes. In the event they mean the parent directory of the repo:
[code]

[2018-09-05 22:29] mabushey commented on #2529
Glad it error-ed on helm, I would't want it overwriting 2.10 with 2.9.1

[2018-09-06 21:45] m-eaton opened #2542 "Default mutual TLS setting is unclear in documentation"
When no MeshPolicy is defined, mTLS is disabled in the cluster by default.

While the default behavior is implied by explaining how to enable mTLS for the cluster with a MeshPolicy (see [Policy Storage Scope](https://istio.io/docs/concepts/security/#policy-storage-scope) and [Globally enabling Istio mTLS](https://istio.io/docs/concepts/security/#policy-storage-scope)), the default behavior is not

[2018-09-06 22:46] mabushey commented on #2528
It looks like I have to use help template and pass `--set grafana.enabled=true  --set grafana.security.enabled=true  --set grafana.security.adminUser=admin --set grafana.security.adminPassword=mypass`

[2018-09-06 23:58] mabushey opened #2548 "Issue with help/ops/security/repairing-citadel/index.md"
The syntax for this is wrong

[code]

[2018-09-07 00:15] mabushey commented on #2487
Sounds like there needs to be a Kubernetes fork of Istio so it can integrate better.

[2018-09-07 00:29] mabushey opened #2549 "Issue with docs/setup/kubernetes/platform-setup/aws/index.md"
Is this page 100% obsolete?

Step 2 is completely invalid, after adding the definition here is the error:
[code]

[2018-09-09 16:38] sdake opened #2564 "Document list of processes expected to be run by Istio"
Would be nice to be able to check aspects of `ANSI T1.276-2003 Baseline Security Requirements for the Management Plane` off Istio's compliance requirements.

Informal requirements for each Istio system process:

* The name of the process as shown via ps
* A brief description of the process including how it is used by Istio
* Any TCP/IP services provided by each process including its ports
* which

[2018-09-09 17:02] sdake opened #2565 "Document list of ports in use and which can be completely blocked by the operator"
Would be nice to check aspects of `ANSI T1.276-2003 Baseline Security Requirements for the Management Plane` off the Istio compliance list.

For each TCP/IP service provided by Istio (internally, as in within the pod network):

* The name of the service
* a brief description of the service, how it used by Istio, and the impact of disabling the service
* accessibility requirements (e.g. required by

[2018-09-09 18:55] sdake opened #2566 "tablegen.py should parse comments and add them to the generated documentation"
The https://github.com/istio/istio.github.io/blob/master/scripts/tablegen.py script does not possess any logic to process comments.

The choice of YAML parser (ruamel) is a good one as it permits the ordering and consumption of comments (vs pyyaml which throws away comments and does not preserve ordering).

The code needs enhancements to read comments from the parsed yaml and store them in the app

[2018-09-09 18:55] sdake commented on #2566
Looking for community help across any issues in Istio, and especially this one :)

[2018-09-09 22:55] sdake commented on #1798
@rcaballeromx apologies for the terse response on July 26th.  I think we met all of these goals prior to 1.0.  I'm not sure what I meant in my https://github.com/istio/istio.github.io/issues/1798#issuecomment-408008069 response.

Going to close - if folks feel otherwise, please reopen.

Cheers
-steve

[2018-09-09 22:55] #1798 closed

[2018-09-09 22:57] sdake commented on #1384
@linsun i'm a bit out of the loop on the istioctl converter - I remember there being discussion on it, but not sure if it was implemented in 1.0.  Do you know?

cheers
-steve

[2018-09-09 23:03] sdake commented on #784
@hmalphettes apologies for the long delay in responding to this issue.  Is this currently desirable after the big gap in time between the submission of this RFE and today?

The Istio community highly recommends production deployments use RBAC, RBAC is highly stable in both Kuberentes and Istio's implementation, and generally developers prefer to test one scenario (RBAC on) vs two (RBAC on / RBAC o

[2018-09-09 23:05] sdake commented on #784
@ironstine @mwjsanders ^^

[2018-09-09 23:11] sdake commented on #832
@myidpt did the implementation make the 1.0 release?  I seem to recall it did as I'm pretty sure I tested this scenario prior to July and have not since, but YMMV on dependence on my memory :).  If so, we may wish to backport the documentation (if not already backported and a backport is feasible).  If not, looks documented for 1.1 and this issue could be closed.

@rambo45 are you satisfied with t

[2018-09-10 05:36] sdake opened #2567 "annotations often have periods within them - document how to use that with helm"
See https://github.com/istio/istio/issues/8501 for specifics.

[2018-09-10 22:59] medyagh opened #2571 "Inconsistent GKE creation example and number of node suggestion"
in [this page](https://istio.io/docs/examples/bookinfo/#if-you-are-running-on-kubernetes), the doc suggests to have at least 4 nodes for GKE :

[code]

However in the [setup page](https://istio.io/docs/setup/kubernetes/platform-setup/gke/) the command that is used to create example GKE cluster creates them with 3 nodes.

[code]

Following the example is inconstant.

[2018-09-10 23:01] andraxylia commented on #2549
I did not write the initial AWS, and I do not have access to an AWS cluster, somebody else needs to pick it up.

[2018-09-11 03:14] geeknoid commented on #2571
@salrashid123 Could you take a look?

[2018-09-11 05:30] salrashid123 commented on #2571
our suggestion is 4 nodes and its what we use on the DM template too.

however:

The gke cluster verison specifies fully qualified  `1.10.5-gke.4`
while the DM template specifies the version alias  `1.10.5` alone

both are wrong at the moment  `1.10.5` doens't exist so deployments will fail (esp the DM version).  I'll submit an issue about it right now.

https://cloud.google.com/kubernetes-engine/

[2018-09-11 18:13] EddiG opened #2584 "Example of using certmanager"
**Describe the feature request**
It would be very helpful to have an example of using the `certmanager` option in the documentation of Istio.

**Additional context**
Currently, we have the [options](https://preliminary.istio.io/docs/reference/config/installation-options/#certmanager-options) for leveraging it, but there is no corresponding example/task in the [documentation](https://preliminary.is

[2018-09-12 00:41] mabushey opened #2587 "Issue with docs/reference/commands/_index.md"
This pages lists 12 binary utilities, but only `istioctl` is included in the istio release tarballs. If these are available someplace please provide a URL.
[code]

[2018-09-12 00:46] mabushey commented on #2548
Weird... I upgraded from istio 1.0.1 to 1.0.2 today. Not sure of that did it, but this command is working now:
[code]

[2018-09-12 02:38] salrashid123 commented on #2571
The PR i submitted above removes the whole GKE version spec in the command.  Would recommend removing it in the gcloud command here too

[2018-09-12 21:02] jwb opened #2599 "Issue with Mesh Expansion setup page"
The [Mesh Expansion page](/istio/istio.github.io/blob/master/content/docs/setup/kubernetes/mesh-expansion/index.mdl) includes a warning that mesh expansion is broken in Istio 1.0.0. The [release notes for 1.0.1](https://istio.io/about/notes/1.0.1/#environment) indicate there are fixes. If 1.0.1 contains the necessary fixes, it would be good to update the Mesh Expansion documentation.

[2018-09-12 22:21] rad91 opened #2600 "Ambiguous mention of Helm in Istio Upgrade Instructions"
https://github.com/istio/istio.github.io/blob/master/content/docs/setup/kubernetes/upgrading-istio/index.md

There is a section titled "Helm Upgrade" that states:

But it's not very obvious if the user did not use helm for installing istio.  The next section directs the user to actually use helm because:

- Should the user infer that helm needs to be installed?  If so, please say so directly.
- In

[2018-09-14 20:00] mabushey commented on #2487
I want the SSL offloaded to the Load Balancer. That is the proper place for SSL termination.

[2018-09-15 03:12] vadimeisenbergibm commented on #2487
@mabushey

That's fine, Istio supports multiple scenarios, in particular plain HTTP ingress traffic.

[2018-09-17 08:22] fleeto opened #2636 "missing sub-commands of istioctl in reference."
Are these commands intentionally deleted?

 `context-create, create, get, replace`

[2018-09-17 09:06] rootsongjc commented on #2636
Use `kubectl` instead?

[2018-09-17 10:13] #2571 closed

[2018-09-17 14:48] cmluciano opened #2640 "Add task for header manipulation in virtual services"
We are currently missing docs for adding and removing headers (else I can't find them easily) . We should add a simple task to show the format and explain where along the line something like https://github.com/istio/api/blob/master/networking/v1alpha3/virtual_service.proto#L392-L393 happens.

[2018-09-17 14:49] cmluciano commented on #2640
/assign

[2018-09-17 18:50] rad91 opened #2642 ""Deploy with Ansible" section redundant"
https://github.com/istio/istio.github.io/blob/master/content/docs/setup/kubernetes/ansible-install/index.md

Please consider the "Deploy with Ansible" and "Default Installation" sections to be merged for two reasons:
1) It seems redundant.
2) The "Deploy with Ansible" section assumes that OpenShift is used and is best-practice.

[2018-09-18 02:49] fleeto commented on #2636
We can still see these commands in `istioctl help`, but we can't find it in the [reference](https://preliminary.istio.io/docs/reference/commands/istioct) now.

[2018-09-18 15:21] rvandegrift opened #2645 "GCP services don't work with VirtualService"
According to https://istio.io/docs/tasks/traffic-management/egress/ an external HTTPS service requires a ServiceEntry and VirtualService.  I couldn't get the GCP API to work with the configuration in that document.

I was able to fix it by creating an HTTPS ServiceEntry for `*.googleapis.com` on port 443, and removing all of the `VirtualService` entries.

[2018-09-19 11:34] fleeto commented on #2636
Hi @geeknoid,  Any comments?

[2018-09-19 14:29] geeknoid commented on #2636
Yes, these have been deprecated. Use kubectl instead. They are marked as deprecated in the code and will be deleted completely in the 1.2 release.

[2018-09-19 14:29] #2636 closed

[2018-09-19 19:26] frankbu commented on #2645
The `resolution` of a `ServiceEntry` needs to be `NONE` if the host is a wildcard, because the proxy won't resolve `DNS` in that case. https://preliminary.istio.io/docs/reference/config/istio.networking.v1alpha3/#ServiceEntry-Resolution

That said, I think the `VirtualService` is not actually needed in any simple passthrough ServiceEntry (wildcard or not). Probably needs to be clarified in the egr

[2018-09-20 00:01] andraxylia commented on #2645
Maybe for SNI? @vadimeisenbergibm any idea?

[2018-09-20 01:47] jaygorrell commented on #1672
Just curious, what's the reason behind the "demo" name? It makes it sound like that's not intended for _really_ running Istio, outside of a concept demo.

[2018-09-21 13:30] sjdweb commented on #2425
Hey, hit this too.

[code]

grafana.enabled is set to `false` in the default values.

Although I'm not yet seeing any stats in grafana.

[2018-09-24 01:39] missourian55 commented on #2425
I had the same problem. However, scraped all Grafana related configurations from `istio-demo.yaml` and manually applied to the cluster to see the dashboard.

[code]

[2018-09-25 02:36] rvandegrift commented on #2645
Now I'm confused - my current pods seem to work with `*.googleapis.com` and `resolution: DNS`.  At least for `pubsub.googleapis.com` and `logging.googleapis.com` I don't see any problems.  But @frankbu is right, the docs appear to say that this cannot work.

Stepping back what's the intended developer experience here?
* Do I individually create `ServiceEntry` objects for each cloud service endpoin

[2018-09-25 16:00] andraxylia commented on #2645
It will work with both resolution NONE and DNS, but do an extra DNS lookup if DNS is used, based on the actual host header.

Assume a call to translate.googleapis.com: client app does a DNS lookup , resolves to IP x.x.x.x and sends the packet to Envoy with dest IP x.x.x.x and host "translate.googleapis.com".

For resolution NONE: we configure orig dest IP, so packet is sent to x.x.x.x

For resolut

[2018-09-25 19:10] aeneasr opened #2687 "Document open source alternatives to closed-source OIDC providers"
I think it's great that Origin Authentication works with JSON Web Tokens and that it is documented that closed source providers like Auth0, Google Auth, and Firebase Auth are compatible with this. I want to suggest to include well-adopted open source alternatives such as [Keycloak](https://www.keycloak.org) and [ORY Hydra](https://github.com/ory/hydra) as well. Both are OpenID Connect Certified fo

[2018-09-25 19:16] geeknoid commented on #2687
Sounds like a great idea, please send a PR.

[2018-09-25 19:19] geeknoid opened #2688 "Translate a few extra strings"
I recently moved a variety of site strings to istio/istio.io/i18n/zh.toml which should get translated.

Thanks.

[2018-09-25 19:28] aeneasr commented on #2687
[Done](https://github.com/istio/istio.io/pull/2689)!

[2018-09-26 04:02] sdake commented on #2642
agreed is redundant.

[2018-09-26 04:07] sdake commented on #1233
@mabushey the files should be located in the release tarball.  Can you confirm one way or another this is not the case?   I don't want people to be required to clone the repository to access the installation tooling.

Cheers
-steve

[2018-09-26 04:08] sdake commented on #2396
@cuisongliu thanks - I am the wrong person to fix this as i don't speak Chinese.

I've assigned someone that can help.

/assign @gyliu513

[2018-09-26 18:08] andraxylia commented on #2645
Merging ServiceEntries is also needed for multi-cluster.

[2018-09-26 18:09] andraxylia commented on #1964
@vadimeisenbergibm istio/istio#7394 has been merged a long time ago.

Is this PR about *removing* the need to create VirtualService for Https? We got another report #2645 where external service worked once VirtualService is removed. In what case we need SNI for external services? cc @vadimeisenbergibm @ostromart

[2018-09-26 18:11] andraxylia commented on #2645
Still unclear when do we use SNI for external, since this is configured in the VirtualService in the current documentation, and I see istio/istio#3876 mentioned SNI as a solution.

cc @ostromart @loewenstein

[2018-09-26 18:36] mabushey commented on #1233
@sdake
[code]

No, it is not in the 1.0.2 release tarball

[2018-09-26 18:57] rshriram commented on #2645
Sorry for the sloppy documentation. I can't comment on why DNS works until I see the full service entry spec.
In terms of dns resolution, if you specify resolution as DNS, then envoy will do dns resolution periodically, and route to one of the endpoints returned by the DNS. DNS is not resolved for each request. If you use resolution NONE, then envoy will use the IP address that the application pro

[2018-09-26 20:33] frankbu commented on #2645
@rshriram I noticed the same behavior that @rvandegrift mentions above, it does seem to work with `resolution: DNS`. What exactly does Envoy do if wildcards are use in the DNS case? Instead of sending an error response when there's no sni, does it maybe first check if there is a resolved destination IP from application and use it? That would explain what's happening wouldn't it?

[2018-09-26 20:34] rshriram commented on #2645
I don't think its envoy.. somewhere in Pilot, we are ignoring the DNS and setting it as NONe if the host has wildcards

[2018-09-26 21:35] rvandegrift commented on #2645
Here's my config that's working with `pubsub.googleapis.com` and `logging.googleapis.com`:
[code]

If this permits all cluster-external traffic on port 443, that's great for me - so long as it still enforces mutual TLS inside the cluster.

[2018-10-04 06:49] Nethminiromina opened #2731 "Issue with /docs/tasks/traffic-management/ingress/#accessing-ingress-services-using-a-browser"
Please review the documentation of accessing ingress services using a browser.

Entering the httpbin service URL in a browser won’t work because you can’t tell the browser to pretend to be accessing httpbin.example.com like with curl. In a real world situation, this is not a problem **because because** you configure the requested host properly and DNS resolvable. Thus, you use the host’s domain na

[2018-10-04 06:53] Nethminiromina opened #2732 "Issue with /docs/tasks/traffic-management/secure-ingress/"
Please review the task explanation of Securing Gateways with HTTPS. Its bit confusing **this task** and **that task** whether this task is Securing Gateways with HTTPS task or Control Ingress Traffic task.

The Control Ingress Traffic task describes how to configure an ingress gateway to expose an HTTP endpoint of a service to external traffic. **This task** extends **that task** to enable HTTPS a

[2018-10-04 14:21] linsun opened #2735 "Need to update the script to generate helm value table"
cc @sdake @ymesika due to

https://github.com/istio/istio/pull/9106

[2018-10-04 21:40] navinger opened #2738 "Clarify Calling external services directly"
The Calling external services directly section (https://preliminary.istio.io/docs/tasks/traffic-management/egress/#calling-external-services-directly) is confusing.

1. It assumes that you have Helm installed.
2. It assumes that you used Helm to install Istio.
3. It requires Helm to change the Envoy sidecars to prevent them from intercepting the external requests.

I downloaded the latest Istio sn

[2018-10-05 01:51] geeknoid opened #2739 "Bad description for CloudMonitor adapter"
content_zh/docs/reference/config/policies-and-telemetry/adapters/cloudmonitor/index.md has a URL in the description string. The description string is not markdown, just plain text so it shouldn't contain URLs.

[2018-10-05 02:06] fleeto commented on #2739
I will fix it later

[2018-10-05 02:17] navinger commented on #2738
To recap, I have an existing GKE cluster with Istio, and I didn't use helm to install it.

Subsequently:
1. I installed helm following instructions here: https://docs.helm.sh/using_helm/#installing-helm
2. Ran the following: helm init
3. Ran the following to get the IP ranges:
gcloud container clusters describe cluster-1 --zone us-central1-a | grep -e clusterIpv4Cidr -e servicesIpv4Cidr
4. In the

[2018-10-05 15:54] #2739 closed

[2018-10-05 16:52] #2731 closed

[2018-10-05 16:52] #2732 closed

[2018-10-05 18:16] geeknoid commented on #2688
I just added a few more strings to zh.toml.

[2018-10-05 19:36] sdake commented on #2738
@navinger when PR is ready please use the /assign sdake feature in the PR to assign to me for review so I know where to find it :)

Cheers
-steve

[2018-10-06 07:46] aeneasr opened #2747 "Linter output removes color encoding"
This makes it particularly difficult to find spelling errors. This is what it should look like:

<img width="1188" alt="bildschirmfoto 2018-10-06 um 09 43 45" src="https://user-images.githubusercontent.com/3372410/46568860-655b9b80-c94c-11e8-87c4-b7906f051ab0.png">

This is what it looks like:

<img width="1200" alt="bildschirmfoto 2018-10-06 um 09 44 06" src="https://user-images.githubusercontent

[2018-10-06 14:46] #2687 closed

[2018-10-08 08:40] vadimeisenbergibm commented on #2645
Back from vacation, did not see this issue earlier, sorry.

@rvandegrift Please note that as @rshriram wrote:

So while your `ServiceEntry` allows access to `*.googleapis.com`, it also allows access to `yahoo.com`, which you may not want. You may want to define a `VirtualService` to limit access to `*.googleapis.com` only.

[2018-10-08 13:16] vadimeisenbergibm commented on #1964
@andraxylia Sorry, I was on vacation.

As @rshriram wrote:

Closing this issue since the documentation was updated in https://github.com/istio/istio.io/pull/2080. The issue is about documenting using VirtualService in addition to ServiceEntry.

[2018-10-08 13:16] #1964 closed

[2018-10-08 19:53] rvandegrift commented on #2645
@vadimeisenbergibm With `VirtualService` entries for e.g. `pubsub.googleapis.com`, pods were not able to connect.  At this point I forget the details of the deployment - I'm currently traveling, but will try to get a test case put together next week.

[2018-10-08 22:28] askmeegs opened #2751 "GKE Platform Setup uses an unsupported version"
#### Problem

Following the steps here: https://istio.io/docs/setup/kubernetes/platform-setup/gke/
With the Google Cloud SDK, version: `219.0.1`

I ran the `gcloud clusters create` command with the GKE version listed, and got this error:

[code]

On the GKE [release notes](https://cloud.google.com/kubernetes-engine/release-notes), version `1.10.5-gke.4` is no longer available for new clusters as o

[2018-10-09 05:31] #2747 closed

[2018-10-11 06:40] kgoralski commented on #2425
for EKS I recommend this and `1.0.0.`
[code]

[2018-10-11 15:50] esroberts opened #2762 "Add more references for service and pod requirements"
Recently I was bitten by an issue related to service port names not meeting istio's port name spec expectations documented here https://istio.io/docs/setup/kubernetes/spec-requirements/.  Debugging why my services weren't showing up in any of the Grafana dashboards (https://istio.io/docs/tasks/telemetry/using-istio-dashboard/) was tough as a result.

I'd like to help improve this by adding trouble

[2018-10-12 09:26] Steiniche opened #2763 "Issue with docs/setup/kubernetes/multicluster-install/index.md"
The docs say that to do the multicluster install the following must be exported:

`export STATSD_POD_IP=$(kubectl -n istio-system get pod -l istio=statsd-prom-bridge -o jsonpath='{.items[0].status.podIP}')`

However, docs and charts.yml/values.yml states that the statsd-prom-bridge is deprecated.
I can definitely create a PR removing it but I want to check if I am correct about that it should not

[2018-10-12 17:13] vnugent opened #2765 "Start up instructions should mention cert files"
Starting up instructions should tell users cert files must already exist:
 https://istio.io/docs/setup/kubernetes/platform-setup/minikube/

Unsuspecting new users (myself included) would likely copy and run the provided commands just to find out later minikube won't work without a valid ca.crt and ca.key.
[code]

[2018-10-12 22:38] rvandegrift commented on #2645
I did some testing today on a fresh GKE 1.10.7 cluster & Istio 1.0.2.  I was able to get `*.googleapis.com` working in ServiceEntry and VirtualService as expected.  Not sure what the original issue was.

I did discover some problems/unexpected behavior with wildcard ServiceEntry and VirtualService objects.  But I'll open a new issue for that.

[2018-10-12 22:38] #2645 closed

[2018-10-12 23:02] rvandegrift opened #2766 "Wildcard ServiceEntry/VirtualService provide surprising access"
Using wildcard entries in ServiceEntry and VirtualService can have some surprising interactions.  On an otherwise empty cluster (I'm using GKE 1.10.7 w/Istio 1.0.2) both of the configs below permit access to any host in `googleapis.com` - for instance, I can reach `container.googleapis.com`.  It feels like neither configuration should permit this.

Non-wildcard ServiceEntry with wildcard VirtualSe

[2018-10-12 23:59] andraxylia commented on #2645
@rvandegrift please cc me in the new issue.

[2018-10-13 00:03] rvandegrift commented on #2766
CC @andraxylia

[2018-10-18 13:54] crunchie84 opened #2780 "Logo hover state is not centered"
Chrome - Version 69.0.3497.100 (Official Build) (64-bit)
https://istio.io/

When you hover over the logo it rotates. But the animation is not centered properly

![istio-logo_hover](https://user-images.githubusercontent.com/570645/47159276-cb053b80-d2ed-11e8-992a-718478ab7395.gif)

# expected behaviour

The logo should rotate without the circular moving its position

[2018-10-18 15:42] frankbu commented on #2766
@rvandegrift I can't reproduce this problem. Maybe the code has been fixed, since you tried it? I'm using the latest code in istio master and both of your configurations rightfully do not allow access to either `pubsub.googleapis.com` or `container.googleapis.com`.

Your first example doesn't work because the ServiceEntry host is `pubsub.googleapis.com` while the destination in the VirtualService

[2018-10-19 18:14] #2780 closed

[2018-10-19 23:21] rvandegrift opened #2787 "Installation with helm fails on git master"
The following works fine with istio 1.0.2, but fails on git master:
[code]

Using GKE 1.11.7, helm 2.11.0.

[2018-10-19 23:22] rvandegrift commented on #2766
Hi @frankbu - I tried to re-run my test cases on git master, but the helm install isn't working.  I opened #2787 on that, and will retest as soon as I can get master running.

[2018-10-22 18:58] rshriram commented on #2766
@rvandegrift the configuration for service entry is invalid. We had accidentally disabled service entry validation and forgot to re-enable it for release. Thanks to @frankbu for spotting that.. This should be fixed with https://github.com/istio/istio/pull/9455