[2019-03-19 13:21] esnible commented on #3739
I don't understand how the documentation is generated from values.yaml.

Is it possible to have two kinds of comments, `#` and `##`, and one goes to documentation and one doesn't?

Is it possible to have a comment for value that is something like `# see https://istio.io/help/ops/component-logging/#controlling-output`

Many of the installation options don't have descriptions.  In many cases that is

[2019-03-19 14:13] linsun commented on #3752
thanks all for the feedback?

Should we move the warning down to the helm upgrade option?  This can reduce confusion and steps for our users.

[2019-03-19 14:16] geeknoid commented on #3740
Fixed

[2019-03-19 14:16] #3740 closed

[2019-03-19 14:38] frankbu commented on #3750
I think we should consider it post 1.1, but before we use something like that in the official docs, I think it needs to:
1. not be experimental
2. report what it's checking: e.g., `deployed services: passed`, `pods running: passed`, etc., not just a single `Istio is installed` message.
3. I also think it's important to show what components are deployed, so if we don't tell the user to run `kubectl

[2019-03-19 14:42] linsun commented on #3750
Maybe there can be a --verbose option that prints out what (list of pods/services/crds etc) have been checked?    I am comfortable with a message installed successfully but others may want to see more.

I agree it needs to graduate from experimental.

@irisdingbj can you look into this improvement?

[2019-03-19 14:42] linsun commented on #3750
cc @esnible @rvennam

[2019-03-19 15:14] frankbu commented on #3750
As long as `--verbose` default is `true` :)

I also don't think it will work in general if the verify command requires the yaml file argument, because with helml users don't need or want to generate a yaml file, the config is just piped to kubectl apply or handled by helm install.

[2019-03-19 15:28] esnible commented on #3750
There is already a PR for more output https://github.com/istio/istio/pull/12174 waiting for 1.1.1 to open.

It might be nice to bake in a minimal list of deployments to check and make the .yaml parameter optional.  (It might also be nice to make the output more like `linkerd check` by checking other things like versions).

[2019-03-19 15:38] douglas-reid commented on #3757
I believe @linsun has done a good job summarizing the options.  Closing.

[2019-03-19 15:38] #3757 closed

[2019-03-19 15:40] linsun commented on #3750
Agreed, I think we should make yaml file optional for folks who want to provide the yaml file for more thorough checking.  Then we can check against each builtin profiles and their associated list of deployments?

[2019-03-19 17:05] johnma14 commented on #3739
@esnible @geeknoid @sdake @linsun the script that parses through the values.yaml files uses ruamel to parse yaml and get the description for each configuration option. To give a very high level view of how it works - as long as user provides documentation in this format:

-
[code]
OR

-
[code]

we can process the documentation for it without any problem. The option `global.meshNetworks` has docume

[2019-03-19 18:48] abonas opened #3786 "different definition of Gateway"
https://istio.io/docs/concepts/traffic-management/#rule-configuration
in this page, it says that Gateway "...most commonly operating at the edge of the mesh to enable ingress traffic for an application", but other pages like
https://istio.io/docs/reference/config/istio.networking.v1alpha3/#Gateway
say that Gateway is "a load balancer operating at the edge of the mesh receiving incoming or outgoing

[2019-03-19 21:29] jaygorrell opened #3788 "Image used in Grafana was removed with the 1.1 docs release"
Grafana displays the image at https://istio.io/img/istio-logo.svg on the Mesh Dashboard in 1.1. This was removed in the 1.1 docs.

I originally opened this on istio/istio but I think it's best to just make available again here to address for any existing users.

![image](https://user-images.githubusercontent.com/12174604/54644273-5f2b2880-4a6f-11e9-9e6d-1f16d15eb123.png)

[2019-03-19 21:40] rcaballeromx commented on #3788
@jaygorrell The logo was moved to keep the repo organized. You can find it here: https://github.com/istio/istio.io/blob/master/assets/inline_images/landing/istio-logo.svg

[2019-03-19 22:29] lblackstone opened #3789 "Document https://istio.io/charts"
https://istio.io/charts/ started returning a 404 today

[2019-03-19 23:25] geeknoid commented on #3788
For now, you can find the following images in istio.io/img:

istio-bluelogo-nobackground-unframed.svg
istio-bluelogo-whitebackground-unframed.svg
istio-whitelogo-bluebackground-unframed.svg
istio-whitelogo-nobackground-unframed.svg
istio-bluelogo-nobackground-framed.svg
istio-bluelogo-whitebackground-framed.svg
istio-whitelogo-bluebackground-framed.svg
istio-whitelogo-nobackground-framed.svg

I ca

[2019-03-19 23:27] rootsongjc opened #3792 "Release note button render failed on Chinese docs"
![image](https://user-images.githubusercontent.com/3328185/54648547-a4883e00-4ae1-11e9-9e89-a56dc50d4da3.png)
https://istio.io/zh/blog/2019/announcing-1.1/

[2019-03-20 00:13] geeknoid commented on #3792
I pushed a fix.

Please see the two new strings to translated in i18n/zh.html.

[2019-03-20 00:13] #3792 closed

[2019-03-20 00:13] geeknoid commented on #3788
The image file is back now.

Thanks.

[2019-03-20 00:13] #3788 closed

[2019-03-20 00:22] geeknoid commented on #3789
@hklai Deleted the charts here: https://github.com/istio/istio.io/commit/d478874e98b562a44dec5805f23e0ae5d8102974.

What should we do? Should we continue to host these charts on istio.io/charts or do we have a better solution now? Any docs referencing istio.io/charts that need to be updated (perhaps some readmes in istio/istio?)

[2019-03-20 00:25] sdake commented on #3789
no docs reference istio.io/charts afaik.  It is still where people go to access ccharts.  I'd recommend reverting the removal.

[2019-03-20 00:40] sdake commented on #3789
after looking at @hklai 's solution, it looks correct.  I think what is missing is a release-1.1.0 chart at gcsweb.istio.io.

[2019-03-20 01:26] linsun commented on #3789
is this link (https://istio.io/charts/) referred somewhere?  I can't find any reference to it doing a code search.
@lblackstone how did you know this url?  our install doc doesn't mention it.

[2019-03-20 02:07] qiaozhi58 commented on #3757
@linsun @geeknoid @douglas-reid
thank you!

[2019-03-20 02:33] lblackstone commented on #3789
I'm not sure where the link originally came from, but it's used in one of our CI tests.

@hausdorff do you know?

[2019-03-20 03:08] geeknoid commented on #3789
@duderino @utka Looks like we need to drop some charts in gcsweb for 1.1

[2019-03-20 03:14] geeknoid commented on #3789
BTW, we can program a redirect from istio.io/charts to gcsweb.istio.io/*. And we could create a DNS entry pointing charts.istio.io to the same place.

[2019-03-20 03:22] frankbu opened #3794 "Recent change to Bookinfo example what's next section not acceptable"
Part of the change in #3721 is very bad: the change in the "What's next" section. After starting the bookinfo application, what's next needs to point to some tasks that use the bookinfo application. It used to point to the "Inteligent Routing" example which used to walk through a set of tasks that were all using the bookinfo application, but now we are just pointing at other examples that have not

[2019-03-20 04:13] geeknoid commented on #3794
#3721 was a redo of #3635, do adding @douglas-reid .

[2019-03-20 13:02] sdake commented on #3789
@geeknoid that's great news!  I was going to suggest a redirect in my haze yesterday.  A CNAME for charts.istio.io sounds good as well.

[2019-03-20 14:01] geeknoid commented on #3789
OK, so the charts are at https://gcsweb.istio.io/gcs/istio-release/releases/1.1.0/charts.

I'll add a redirect from istio.io/charts to there in a way that automatically works for different releases over time without having to do some manual edits.

As for DNS, I could only point charts.istio.io to gcsweb.istio.io, which is not really useful. So I won't do that.

[2019-03-20 14:11] frankbu commented on #3794
I'll send a PR to the `release-1.1` branch to fix this.

[2019-03-20 14:27] geeknoid commented on #3789
OK, there's now a redirect in place so istio.io/charts gets you to the right place.

@sdake @linsun Should we document the existence of istio.io/charts as the place to get our charts?

[2019-03-20 15:21] ericvn commented on #3321
I believe this was tackled and completed in the 1.1 docs. Currently, we point to the base common Istio docs from the IBM Cloud Public which uses the Istio repo or download.

[2019-03-20 15:21] #3321 closed

[2019-03-20 15:29] frankbu commented on #3750
If there's no yaml provided, I would say it just checks that everything deployed in the `istio-system` namespace is up and running. Again, if the command produces output about what it checked, then it would be easy for the user to cross check the "verify results" against what was expected to be running.

[2019-03-20 16:03] douglas-reid commented on #3794
Aren't the "What's Next?" sections auto-generated?

[2019-03-20 16:04] douglas-reid commented on #3794
Oh, nevermind, that's the "See Also" sections in the Tasks.

[2019-03-20 17:03] rvennam opened #3802 "Simplify BookInfo install page using tabs"
**Describe the feature request**
https://istio.io/docs/examples/bookinfo/
BookInfo install page is a bit long. There are two sections (Deploying and Clean up) which are broken apart with large If Kubernetes and If Consul sections.

**Describe alternatives you've considered**
Can we put `Kubernetes` and `Consul` in tabs? I've seen tabs being used for just code blocks, but they can used for steps as

[2019-03-20 17:33] vadimeisenbergibm opened #3804 "Document configuring stdio log entries for Mixer"
since they are not created by default in 1.1

Maybe add a special helm chart for them and then use that chart, e.g. `charts/mixer/templates/stdio.yaml` like:
`helm template install/kubernetes/helm/istio --name istio --namespace istio-system --set mixer.adapters.stdio.enabled=true -x charts/mixer/templates/stdio.yaml | kubectl apply -f -`

[2019-03-20 18:35] douglas-reid commented on #3804
This is already sort of documented in https://istio.io/docs/tasks/telemetry/logs/collecting-logs/.

Is this about turning on the "Istio default logs"?  If so, should we just update the existing to add a section on using the "default logging" configuration (with warnings, etc.)?

[2019-03-20 18:42] vadimeisenbergibm commented on #3804
@douglas-reid Right, this is about turning on the "Istio default logs": stdio logentries and rules.

[2019-03-20 20:38] frankbu commented on #3794
Fixed by #3806

[2019-03-20 20:38] #3794 closed

[2019-03-20 21:07] frankbu commented on #3802
The problem with tabs is that you can't put section heading in them, and the Kubernetes version of the instructions has a few subsections because they need to be referenced from other docs.

[2019-03-20 22:51] geeknoid opened #3810 "Remove the "Platform Setup" pages from our doc set"
The material in Platform Setup is not really Istio-specific, it just tells folks how to setup clusters on N different environments. We don't need to do this. We should trim this stuff out and only keep whatever nuggets of Istio-specific information there might be in there.

[2019-03-20 23:38] pandey-adarsh147 opened #3812 "gRPC service call in istio behave inconsistent"
Sometime happening
Service to service call in istio mesh giving Unimplemented, at the same time ingress call is working fine. After sometime, (may be due to restart target service) its working fine. This happening vice-versa as well (service to service call working fine but ingress giving Unimplemented exception).

[2019-03-20 23:40] #3812 closed

[2019-03-21 03:40] geeknoid commented on #3438
htmlproofer can run in parallel, but we're not using this option at the moment since there is no command-line option for it, it can only be controlled through a Ruby config file. It'd be good to figure out how to turn this on in order to speed things up.

The README file in the GitHub repo for html-proofer has the details on the parallel option.

[2019-03-21 05:21] hobbytp opened #3818 "Issue with about/feature-stages/index.md"
The link for "Kubernetes: Service Credential Distribution" is the wrong and currently it is the same with "Service-to-service mutual TLS" (https://istio.io/docs/concepts/security/#mutual-tls-authentication), please correct it to point to the correct link,

[2019-03-21 13:44] linsun commented on #3818
@wattli can you handle this?

[2019-03-21 14:16] ericvn opened #3819 "Add multicluster using split horizon EDS to install pages"
Today, the multicluster mesh with a single control plane topology and using Istio’s Split-horizon EDS (Endpoints Discovery Service) is only documented under examples and isn't asked about under the Install-MultiCluster pages with the VPN and Gateway connectivity.

It is probably a split of the current example, moving the configuration portion under Install.

From Slack, this should be a 1.2 docume

[2019-03-21 19:30] geeknoid commented on #3532
Is the ops tuning guide still coming?

[2019-03-21 19:36] geeknoid opened #3822 "Consolidate perf numbers"
We currently have different perf numbers in the 1.1 announcement blog post as compared to the perf & scalability concept page.

We need to publish a single consistent of numbers.

If we decide to update the announcement blog, we'll also need to update the announcement post on discuss.istio.io

[2019-03-21 19:36] geeknoid commented on #3822
@rcaballeromx

[2019-03-21 20:13] wattli commented on #3818
https://github.com/istio/istio.io/pull/3823

[2019-03-21 22:25] suryadu commented on #3822
@geeknoid are you talking about this blog (https://istio.io/blog/2019/istio1.1_perf/) that we published on 1.1 and Scalability section on istio.io ? or are you talking about the tuning ops guide that is to be published (https://github.com/istio/istio.io/blob/c68a1570d23423206c93b8d81af5ad2a285d336b/content/help/ops/perf/index.md) ?

[2019-03-21 23:16] wattli commented on #3818
https://github.com/istio/istio.io/pull/3824

[2019-03-22 02:16] geeknoid commented on #3822
Sorry for being unclear. I mean the Istio 1.1 announcement blog: https://istio.io/blog/2019/announcing-1.1/

[2019-03-22 12:32] esnible commented on #3686
I made an attempt to use "workload instance" for everywhere we are talking about selecting a pod.

In a few cases I was unsure what we meant.  We might want to further improve this change with additional examples.  I created a table of the places we use "workload":

[code]

I didn't touch the source_labels docs because of outstanding issue https://github.com/istio/istio/issues/7787

[2019-03-22 13:42] #3686 closed

[2019-03-22 14:50] esnible commented on #3819
I ran into the same thing today.  https://istio.io/docs/setup/kubernetes/install/multicluster/ should know about https://istio.io/docs/examples/multicluster/split-horizon-eds/

[2019-03-22 22:35] abonas opened #3830 "Bookinfo example drawing does not contain mongo"
there is a connection between ratings v2 and mongo in bookinfo, but the drawing does not show it

[2019-03-23 13:29] fleeto opened #3833 "/test and /boilerplates"
I'd noticed that there are some files named test-*.md in these folders.
Should we ignore these folders?

[2019-03-23 13:57] geeknoid commented on #3833
Yes, ignore the test folder and test boilerplates during translation. I just use these to verify the various site features.

[2019-03-23 13:57] #3833 closed

[2019-03-23 18:11] leecalcote opened #3836 "setupMeshEx.sh and setupIstioVM.sh deprecated in 1.1.0?"
Reference to and explanation of the `setupMeshEx.sh` and `setupIstioVM.sh` scripts have been removed from the 1.1 docs, but remain in the 1.1.0 release bundle.

_"An example script to help with Kubernetes setup is available as part of the release bundle called install/tools/setupMeshEx.sh. Check the script content and environment variables supported (like GCP_OPTS)._

_An example script to help co

[2019-03-24 03:22] hobbytp opened #3837 "Issue with docs/setup/kubernetes/prepare/platform-setup/minikube/index.md"
In this web, the command is as below, but it is incorrect to use " \` " to use your_vm_driver_choice, because it will cause the minikube start failed in windows powershell, I think it will also failed in other platform. So I recommend to use " instead of \` for this command.

In this link, the command is:
minikube start --memory=8192 --cpus=4 --kubernetes-version=v1.13.0 \
    --vm-driver=\`your_v

[2019-03-24 19:27] geeknoid commented on #3836
Should we delete the scripts, or bring back the docs?

[2019-03-25 02:23] zuxahiz opened #3841 "Issue with docs/tasks/traffic-management/egress/index.md"
I noticed that the option global.outboundTrafficPolicy.mode=ALLOW_ANY is enabled by default, it's really help for beginners, thanks. But I have some confusions with the following expression:

As I can see, a serviceentry is defined for allowing accessing an outside service, but why after defining a service entry for any host on port 8000, istio will **block** all all external access to port 8000?

[2019-03-25 12:39] ibm-jason commented on #3621
### Status Update

I talked with @ericvn regarding this issue, and realized that the ICP platform will need to be installed in an environment accessible to IKS.  There are a couple of options for this:

1. Installing the ICP platform on IBM Cloud
2. Installing the ICP platform in the `VLaunch` environment (which I have access to).

He put me in contact with `Vikram Khatri  (vikram.khatri@us.ibm.co

[2019-03-25 14:47] linsun commented on #3739
@johnma14 I'd vote for this -- ```One way to fix this is to go through all the values.yaml files under the charts directory and clean it to get rid of the commented key-value pairs that are not part of the documentation. ```

[2019-03-25 16:59] jaygorrell opened #3844 "Little to no mention of controlPlaneSecurityEnabled, including the mTLS migration document"
The docs don't really cover `controlPlaneSecurityEnabled` or anything it controls as part of mTLS migration. Without it, or creating the components it would create, things like telemetry can't communicate with your sidecars and the Grafana dashboard will not show any traffic.

Enabling this flag modifies the `DestinationRule` for istio-policy and istio-telemetry, as well as many other things.

[2019-03-26 07:47] karthikmg opened #3848 "Spelling mistake in tool-tip(Copy to Clipoboard) in Docs web-pages"
Describe the bug
There is a Spelling mistake in tool-tip(Copy to Clipoboard) upon hovering over the clipboard icon in the code panel of the website.

Expected behavior
Correct the typo to "Copy to Clipboard".

Steps to reproduce the bug
Navigate to any documentation web page in the istio.io and hover over the "Copy to Clipboard" icon.

![Istio_Typo_Bug](https://user-images.githubusercontent.com/39

[2019-03-26 07:49] karthikmg commented on #3848
This is my first time creating a bug or submitting a PR in open source.
I would also like to contribute to this project.
Shall I go ahead fix this typo and submit a PR?

[2019-03-26 07:50] karthikmg commented on #3848
This is my first time creating a bug or submitting a PR in open source.
I would also like to contribute to this project.
Shall I go ahead and fix this typo and submit a PR?

[2019-03-26 13:08] geeknoid opened #3851 "Update docs regarding Mixer CRD usage"
Need to update a bunch of docs per https://github.com/istio/istio/pull/12689

[2019-03-26 13:16] geeknoid commented on #3848
I just pushed in a fix. If I had read the whole issue, I would have seen your last note and let you handle the fix. Sorry about that.

If you'd like to help with our docs, check out https://istio.io/about/contribute.

Note that on every page in the site, you can go to the gear menu in the top right and select the option to edit the current page. This makes it easy to fix issues in an individual pa

[2019-03-26 13:16] #3848 closed

[2019-03-26 13:55] ibm-jason commented on #3312
## Status Update

While retesting all of these examples using Service Entry endpoints, I discovered that the custom resource definitions for each of the step are malformed. When copying/pasting the CRDs in Step 3 for the "Configure an Egress Gateway" example, the command returns the following error:

`error: error parsing STDIN: error converting YAML to JSON: yaml: line 8: mapping values are not a

[2019-03-26 14:42] tiswanso commented on #3131
@sdake @frankbu @linsun  Do the instructions exist now for Istio release helm repo usage in the SRE guide that is mentioned here?  The changes to remove the instructions for the Istio release helm charts in #3689 break the Istio CNI install instructions.

Was there circular reasoning in closing this bug?  #3689 went in because the helm repo instructions were being tracked by this bug and it looks

[2019-03-26 14:55] tiswanso opened #3852 "Istio CNI install instructions broken due to Istio helm doc changes"
#3689  removed the helm documentation related to using the Istio release helm repository.  The Istio CNI instructions indicate the `helm repo add istio.io <release repo>` is a prerequisite.

This issue is to track changing the CNI doc to point to the helm repo instructions being tracked by #3703.

To use the Istio release 1.1.1 helm repo:
[code]
That will make the Istio CNI install instructions us

[2019-03-26 15:02] esnible opened #3853 "Removed synced percentage (e.g. 50%) in `istioctl proxy-status` output"
Our documentation at https://istio.io/help/ops/traffic-management/proxy-cmd/ gives the possible SYNC values.  It does not document what it means when there is a `SYNC (%)` and the number is not 100.

Our users are wondering: https://discuss.istio.io/t/eds-status-synced-50/1244

[2019-03-26 15:09] esnible commented on #3853
@liamawhite ^^

[2019-03-26 15:40] ericvn commented on #3460
@frankbu Is there anything else we need for this issue? Can it be closed?

[2019-03-26 15:41] ericvn commented on #3113
@linsun Do we want to provide more information? Or can we close this issue?

[2019-03-26 16:19] frankbu commented on #3131
@tiswanso #3689 went in because it makes more sense for the majority of users those instructions are targeting.

What is broken in the CNI install instructions. Can they be updated to work with the charts in the release image, or do they need to use the helm repo for some reason?

[2019-03-26 16:25] frankbu commented on #3852
@tiswanso Can't/shouldn't we update the CNI instructions to also work using the charts in the downloaded release, or are they not included in the download? Seems to me we should make it easy for those users to try out the CNI plug-in too.

[2019-03-26 17:35] tiswanso commented on #3131
@frankbu --not arguing what makes sense or not for the Istio helm install page.  IMHO, it was very late to change the main helm instructions to include removal of all use of the actual helm repo test-and-release publishes.  Regardless, the CNI install instructions breaking were collateral damage since they were written building on the prior Istio helm install instructions which were based on using

[2019-03-26 17:38] tiswanso commented on #3852
We can change the doc to instruct un-targz'ing  the CNI chart but would be nice to refer to helm repo usage instructions at the same time.

[2019-03-26 21:54] liamawhite commented on #3853
Agreed. @costinmor or @rshriram are probably the people who can best give a definition here.

[2019-03-27 04:53] zhongfox opened #3861 "hover over text bash, scroll bar make the text invisible"
macOS 10.14.3 Chrome - Version 72.0.3626.121  (Official Build) (64-bit)

![image](https://user-images.githubusercontent.com/463772/55050930-26520b80-508e-11e9-8dd7-69e98122afcc.png)

after hover over the code block, the scroll bar show and cover the code
and remove mouse hover won't make text visible

### expected behaviour
the scroll bar should not cover text

[2019-03-27 13:42] geeknoid commented on #3861
I'm not able to repro this. Two questions:

- You say "after hover". Does that mean that when you load the page, the scroll bars are not initially visible and only show up after hover? For me, the scroll bars are visible as soon as the page is loaded. I'm also on a mac with Chrome.

- What are your browser's font defaults set to?

[2019-03-27 13:45] geeknoid commented on #3861
Ah, I can repro now. macOS has a setting to control whether scroll bars are displayed always or only on hover. When I flipped to "only on hover", I see the same problem as you reported.

I would put this as a bug in Chrome then. I don't control the height of the text boxes, beyond setting a maximum height of 32 lines visible. Hopefully, I can find a workaround.

[2019-03-27 14:06] geeknoid commented on #3861
Yeah, a Chrome bug. It doesn't happen in Safari, and it doesn't happen with the vertical scroll bar. When the vertical scroll bar is needed, it shows up and then disappears when you're done. But the horizontal scroll bar stays permanently once displayed.

[2019-03-27 14:13] geeknoid commented on #3861
And confirmation: https://meta.stackexchange.com/questions/321136/cannot-dismiss-scrollbar-in-code-box-blocks-view

[2019-03-27 17:26] #3818 closed

[2019-03-28 05:01] zhongfox commented on #3861
I see, I changed "scroll bar behavior"  to "always" and fixed this.
Thanks for your work @geeknoid

[2019-03-28 05:01] #3861 closed

[2019-03-28 12:41] ykoyfman opened #3874 "Instructions to access Zipkin dashboard"
The documentation for accessing the Zipkin dashboard in the distributed tracing section of the documentation (https://istio.io/docs/tasks/telemetry/distributed-tracing/zipkin/)
has this command to expose the dashboard UI, which didn't allow me to bring up the dashboard:

`$ kubectl -n istio-system port-forward $(kubectl -n istio-system get pod -l app=istio-ingressgateway -o jsonpath='{.items[0].me

[2019-03-28 15:20] ericvn commented on #3460
No remarks, so closing this issue for now. Please reopen if additional work is needed.

[2019-03-28 15:20] #3460 closed

[2019-03-28 15:21] ericvn commented on #3113
No remarks, so closing this issue for now. Please reopen if additional work is needed.

[2019-03-28 15:21] #3113 closed

[2019-03-28 15:24] ericvn commented on #2565
Some work was done in https://github.com/istio/istio.io/pull/3395. Closing this issue. Please reopen if additional work is needed.

[2019-03-28 15:24] #2565 closed

[2019-03-28 20:28] jaygorrell opened #3883 "Clarify interaction of includeIPRanges and outboundTrafficPolicy"
The [docs here](https://istio.io/docs/tasks/traffic-management/egress/) cover using the new default `global.outboundTrafficPolicy.mode=ALLOW_ANY` setting to allow all outbound traffic by default.

It also covers using `global.proxy.includeIPRanges` to restrict proxy interception to a known cluster CIDR.

There are two issues here:
1. `ALLOW_ANY` is misleading. By default it doesn't actually allow

[2019-03-28 23:22] howardjohn commented on #3852
Two recent issues that came out of not documenting the Helm repo:
https://github.com/istio/istio/issues/12889
https://github.com/istio/istio/issues/12879

[2019-03-29 06:28] Tao526 opened #3887 "Issue with help/ops/traffic-management/troubleshooting/index.md"
https://istio.io/help/ops/traffic-management/troubleshooting/
"Route rules have no effect on ingress gateway requests"

I think this info should be easier to be found. As beginner, our team has spent a lot of time on this.

Maybe  "Task : Control Ingress Traffic" has the link?

[2019-03-29 15:34] sdake commented on #3837
https://github.com/istio/istio.io/pull/3891

[2019-03-29 15:36] sdake commented on #3690
@linsun I have not given split horizon a spin.  Can you find the correct person at IBM to fix these docs?

Cheers
-steve

[2019-03-29 19:22] howardjohn commented on #3852
Another one https://github.com/istio/istio/issues/12923

[2019-03-29 19:48] tiswanso commented on #3703
@howardjohn added some comments to #3852 that really belong here:

[2019-03-29 19:50] tiswanso commented on #3852
@howardjohn -- I added your comments about other helm repo issues to #3703 where they really belong.  This is tracking the Istio CNI install doc getting back in sync with Istio's helm install doc (which moved away from using `helm repo`)

[2019-03-29 23:33] geeknoid commented on #3355
Done as of #3895

[2019-03-29 23:33] #3355 closed

[2019-03-29 23:34] geeknoid commented on #3191
Coming shortly...

[2019-03-30 10:17] sdake commented on #3810
I'd encourage keeping the documentation on minikube - possibly in a developer-related section.  I think the wiki is a poor place to document our development processes, as it has low visibility and not many people are aware of it.

Cheers
-steve

[2019-03-30 10:21] sdake commented on #1299
@andraxylia closing the helm friction log as I believe all items have been addressed or are recorded in other larger works (such as the SRE guide).  If you believe this was closed in error, feel free to reopen this issue or open a new issue with a new set of requests.

Cheers
-steve

[2019-03-30 10:21] #1299 closed

[2019-03-30 16:21] sdake opened #3900 "bug with wiggle in info sections"
See:

https://deploy-preview-3891--preliminary-istio.netlify.com/docs/setup/kubernetes/prepare/platform-setup/minikube/

Mouse over
[code]

cut and paste, print, etc also wiggle with the I.

[2019-03-30 16:22] sdake commented on #3900
PR where this was discovered: https://github.com/istio/istio.io/pull/3891

[2019-03-30 17:23] andor-pierdelacabeza opened #3901 "Conflicting facts in tracing docs"
Seems like tracing docs have a couple conflicting facts (although both are true in a certain way):
- Overview docs say: "Istio captures a trace for all requests by default." [1]
- Jaeger docs say: "The default sampling rate is 1%." [2]

Truth is:
- If you install Istio using the default config profile and then pass the parameter `--set tracing.enabled=true`, the sample rate will be 1%. [3]
- BUT,

[2019-03-30 18:27] sdake commented on #3853
fwiw I've asked this question in slack 4 or 5 times and haven't got an answer either.  Would be nice to know :)

Cheers
-steve

[2019-03-30 18:31] sdake commented on #3703
@tiswanso had added a comment here:https://github.com/istio/istio.io/issues/3852#issue-425468176

That the location of the URL includes the version number.  This isn't correct.  All Helm charts for all versions should go in one directory and an index built for the files within that dir.

This permits an easy upgrade without having to reset the istio repo location.

@utka ^^

[2019-03-30 18:55] tiswanso commented on #3703
@sdake -- Could you clarify whether you're saying we need enhancements to the release process to push versioned charts to a common helm repo?  The current release process is creating versioned helm chart repos--which I made the download doc page refer to in #3894.

[2019-03-30 20:50] Stono commented on #3853
I've correlated this to the % of clusters the sidecar is interested in (based on its Sidecar spec)

[2019-03-31 03:13] geeknoid commented on #3900
Yeah, I've known about this one for a while. I thought it was a cute buglet, so I didn't bother fixing it. I'll get there someday...

[2019-03-31 06:43] sdaschner opened #3904 "Release notes 1.1 missing egress traffic policy change"
[1.1 Upgrade Notice](https://istio.io/docs/setup/kubernetes/upgrade/notice/) describes the change in the egress policy, which now defaults to `ALLOW_ANY`.

I originally only read the [1.1 Release Notes](https://istio.io/about/notes/1.1/) and was missing a description of that feature / change entirely. Is it there and I'm just failing to see it on that page? IMO users should be made aware of the eg

[2019-03-31 13:29] vadimeisenbergibm commented on #3904
cc @linsun @frankbu

[2019-04-01 13:38] ibm-jason commented on #3621
# Status Update

@morvencao has been kind enough to assist me with getting access to a IBM Cloud Private instance to conduct the validation testing. I'll be validating this example this week.

[2019-04-01 13:39] dwradcliffe commented on #3853
(I asked the question on discuss) I read through the code and it did seem to be the ratio of clusters to eds clusters. I'm still not 100% sure what this means but I've observed that the percent goes way down when using a Sidecar to limit the scope, as @Stono said.

https://github.com/istio/istio/blob/fa1cf3ab6773b7bf8b0b7e37c02b55faa424a3e3/pilot/pkg/proxy/envoy/v2/ads.go#L554

[2019-04-01 13:46] jaygorrell commented on #3853
I see 50% on a bunch of services on one Pilot while a second Pilot has 100%. I still have no idea what it means but everything is functioning correctly. Not using Sidecar or anything.

[2019-04-01 15:09] sdake commented on #3703
@tiswanso Thanks for the doc PR. That doesn't solve this particular problem.

This is incorrect in our current infrastructure:

 helm repo add istio.io https://storage.googleapis.com/istio-release/releases/{{< istio_full_version >}}/charts/
Instead, it should be

 helm repo add istio.io https://storage.googleapis.com/istio-release/releases/charts
All versions should be stored in that path, and a p

[2019-04-01 15:12] howardjohn commented on #3703
This is a build/release issue though, not a docs issue.

` helm repo add istio.io https://storage.googleapis.com/istio-release/releases/{{< istio_full_version >}}/charts/` is correct today, we release the Helm repo versioned.

Right?

If so I agree, seems like all other Helm repos work this way, we should open another issue under istio/istio for that maybe.

[2019-04-01 15:15] tiswanso commented on #3703
@sdake -- I was just typing what @howardjohn said.  We need a istio/istio Issue to update the helm release to push the indexed charts to a common location (`https://storage.googleapis.com/istio-release/releases/charts` doesn't actually exist today).

[2019-04-01 15:37] frankbu commented on #3837
Fixed by #3891

[2019-04-01 15:37] #3837 closed

[2019-04-01 17:19] frankbu commented on #3904
The release notes do include an [upgrades section](https://istio.io/about/notes/1.1/#upgrades) that points to the upgrade notice, which covers the (breaking) changes from 1.x.

Maybe this doesn't indicate clearly enough that the 1.1 release includes 2 sets of changes, new features and breaking changes? @sdaschner Would saying something like this at the very top of the release notes have helped?

[2019-04-01 17:41] frankbu commented on #3786
Fixed by #3879

[2019-04-01 17:41] #3786 closed

[2019-04-01 20:48] utka commented on #3703
For now I can manually create .../releases/charts/ folder and add all the version files in there.
Will it work for now?
But we do need to add this step to release scripts for future releases.

[2019-04-01 23:18] sdake commented on #3703
Yes, I submitted this comment in the wrong issue.  I fixed that in the main issue on istio/istio.

[2019-04-01 23:20] sdake commented on #3703
Ya, perhaps I had a knee jerk reaction to the addition of the repo to `/charts/version` when instead it should just be `/charts`.  I will dig into this problem and file an issue on istio/istio if there is one.

[2019-04-01 23:35] sdake commented on #3703
Agreed.  At one point all this stuff was working.  Not sure why it isn't now :)

Here is the istio/istio issue tracker:

https://github.com/istio/istio/issues/12974

[2019-04-02 01:13] howardjohn opened #3917 "scripts/Dockerfile fails to build"
Gives error:

[code]

I removed the line installing this and later got an error saying npm was not found

[2019-04-02 02:36] linsun commented on #3904
good point, I think it was there then got removed/moved to upgrade section.  I agree we should have it in release note as it impacts new users as well.

[2019-04-02 06:46] sdaschner commented on #3904
@frankbu Yes, that would be helpful to at least make the users somehow aware of it. I've just discovered the upgrades section as well, but somehow didn't see it before (and that may happen to someone else as well...).

[2019-04-02 15:23] geeknoid commented on #3917
I just fixed that this weekend. Could you rebase and try again please?

I've rebuilt the image a couple times in the last few days, so I do know it grossly works :-)

[2019-04-02 19:17] howardjohn commented on #3917
Looks like only on 1.1 branch which is why I missed it. 1.1 branch seems to work

[2019-04-02 20:07] howardjohn commented on #3883
In 1.1.3 only issue 2 will be relevant, ALLOW_ANY will not block traffic on port 80 (or others)

[2019-04-02 20:16] geeknoid commented on #3917
Yeah, this will be merged to master on April 20. So I'm closing this issue.

[2019-04-02 20:16] #3917 closed

[2019-04-03 14:46] linsun opened #3929 "Pilot concept doc is outdated"
https://istio.io/docs/concepts/traffic-management/#pilot-and-envoy

specifically around how pilot interacts with platform adapters now through galley.

[2019-04-03 15:49] frankbu commented on #3841
This has been fixed by https://github.com/istio/istio/pull/12916
Docs will be updated soon.

[2019-04-03 16:27] frankbu commented on #3120
I think there's only so much we can do in the docs about this, but it does seem like one of the worst gotchas in the networking config model. I'm wondering how we can make it clear immediately when this kind of miss-configuration is applied.

This is sort of related to the UX issue of how do users find out what options are configure in their mesh". If we can tell them that, we can also warn them a

[2019-04-03 18:03] frankbu commented on #3830
@abonas which drawing are you referring to?

The drawing in the article that uses it does show ratings v2 and mongo: https://istio.io/blog/2018/egress-mongo/#use-the-external-database-in-bookinfo-application

[2019-04-03 21:04] rcaballeromx opened #3931 "Add examples to install the `httpbin` and `sleep` sample."

[2019-04-03 21:06] rcaballeromx commented on #3931
We have no standalone set of instructions to install the `httpbin` sample with and without automatic sidecar injection. Having those instructions would allow us to simply link to them in other tasks and examples that use the sample.

[2019-04-03 23:27] aackerman opened #3932 "Callout looks strange in 1.1 blogpost"
https://istio.io/blog/2019/announcing-1.1/

<img width="1680" alt="Screen Shot 2019-04-03 at 6 24 25 PM" src="https://user-images.githubusercontent.com/786640/55519527-d353f780-563d-11e9-85ee-38702bb52b7a.png">

You can see in the attached image, the callout is strangely sized and the warning icon is breaking outside the bounds. This is desktop chrome 72.0.3626.121 on macOS.

[2019-04-04 01:14] linsun opened #3933 "active health check doc is wrong"
reported by our user:  https://discuss.istio.io/t/active-health-checking/1685

also confirmed on slack networking channel that it is not correct.  We don't support envoy active health check.  We rely on users to provide health check (liveness prob) in their pod.

[2019-04-04 01:14] linsun commented on #3933
@frankbu could you take this?

[2019-04-04 10:47] abonas commented on #3830
@frankbu the 2 drawings here:
https://istio.io/docs/examples/bookinfo/

[2019-04-04 10:47] abonas commented on #3830
and it actually doesn't even show ratings has 2 versions...

[2019-04-04 13:03] esnible commented on #3120
Istio's DestinationRule doesn't have a default of "don't override the default".

From the point of view of docs, it might make sense to put comments into the samples.  For example, in _samples/bookinfo/networking/destination-rule-all.yaml_ we could say at the top:

[code]

We could put additional comments near the rules themselves, for example:

[code]

[2019-04-04 13:34] geeknoid commented on #3932
All callouts have the icon 1/2 out of the box, that's a purposeful design element. As for the size, I think its inline with all the other callouts. So what do you mean by strangely sized? Too big, too small, vertically, horizontally?

BTW, you can go to istio.io/test/callouts to see a bunch of test cases...

[2019-04-04 13:36] geeknoid commented on #3931
Or could be a boilerplate...

[2019-04-04 13:37] frankbu commented on #3904
Fixed by #3930

[2019-04-04 13:37] #3904 closed

[2019-04-04 15:03] aackerman commented on #3932
@geeknoid just that I would expect it to be the full width of the paragraphs on the page instead of the width of the text inside the callout.

Generally the composition of the screen looked broken when I was looking at this, the icon 1/2 out of the box, the box wasn't the width of the paragraphs and the "Download 1.1" and "1.1 Release Notes" buttons looked to me like they were supposed to be in th

[2019-04-04 15:52] frankbu commented on #3830
That's true, but there are actually 2 versions of the details service too, and the ratings service has more than one flavor of v2 (mongo, mysql, ...). These are all extensions of the basic sample, used in other examples/blogs.

The diagram in https://istio.io/docs/examples/bookinfo/ should, and does, only show services that are used in that example. It only deploys the services shown in the diagra

[2019-04-04 16:51] douglas-reid opened #3937 "Add detail to tracing FAQ regarding protocols"
There continue to be questions about tracing and why it doesn't work for TCP. We should have a FAQ entry.

[2019-04-04 18:40] rcaballeromx opened #3938 "Add load shedding definition to the glossary."

[2019-04-05 01:27] hobbytp opened #3943 "Issue with help/ops/misc/index.md"
By following section "Verifying connectivity to Istio Pilot", I found there is not "curl" in the ingressgateway, I also can not find curl in any folder, thanks,

[2019-04-05 01:40] linsun opened #3944 "correct every 15 mins to refresh certs"
we are restarting every 15 mins to refresh certs?   that seems 0.2 - https://istio.io/help/ops/traffic-management/troubleshooting/#headless-tcp-services-losing-connection

This should be every 30 days.

hopefully with sds, this is no longer needed.

[2019-04-05 11:29] viktorpeacock opened #3946 "istio-demo.yaml and istio.yaml are missing"
https://github.com/istio/istio/releases/download/1.1.1/istio-1.1.1-win.zip release does not contain yaml files referenced in the setup guide. I cannot progress with the setup.

[2019-04-07 15:35] vadimeisenbergibm opened #3957 "Remove gcloud command from a common setup document"
@lei-tang
https://github.com/istio/istio.io/pull/3628 introduced `gcloud` command into a common setup document. Please move this command to a separate section, specific to the Google Cloud Platform.

[2019-04-07 16:31] geeknoid commented on #3938
Integrated into #3573

[2019-04-07 16:31] #3938 closed

[2019-04-07 16:32] geeknoid commented on #3434
Added to the list in #3573.

[2019-04-07 16:32] #3434 closed

[2019-04-07 16:56] lei-tang commented on #3957
https://github.com/istio/istio.io/pull/3959

[2019-04-08 01:16] sdake commented on #3946
On mobile atm but this sounds like a test and release issue.

@utka?

[2019-04-08 01:18] sdake commented on #3836
@geeknoid unclear perhaps @costinm can consult.

[2019-04-08 07:56] karthikmg opened #3963 "Theme in the settings menu not working due to JS file not being downloaded"
- Navigate to istio.io homepage.
- Click on the Gear icon(Settings)
- Click on the Dark Theme.
- Theme doesn't change.
- Open Developer tools. A JS file is not downloaded. Refer to the image attached.

I am using Firefox browser.

![Istio_JS_File_Not_downloaded](https://user-images.githubusercontent.com/3976260/55707691-d23a1600-5a01-11e9-9c38-d5c6e39657b2.png)

[2019-04-08 17:07] mehemken commented on #3853
I'd rather not let this rot...

[2019-04-08 17:29] utka commented on #3946
Look under istio-1.1.1/install/kubernetes/istio-demo.yaml
From https://istio.io/docs/setup/kubernetes/additional-setup/sidecar-injection/#disabling-or-updating-the-webhook
To create istio.yaml run helm template, for example:
helm template --namespace=istio-system --set sidecarInjectorWebhook.enabled=false install/kubernetes/helm/istio > istio.yaml

If it does not help, which setup guide are you lo

[2019-04-08 18:24] pitlv2109 commented on #3944
@linsun By default, Envoy restarts every 45 days. I've sent in a PR to update this. Citadel supports SDS in 1.1, but it's not enabled by default.

[2019-04-08 19:40] rshriram commented on #3853
I dont understand that computation at all.. @costinm wrote that area of code. May be @hzxuzhonghu has more context. It seems like some incorrect computation given that things are functioning correctly.

[2019-04-08 19:52] esnible commented on #3853
@costinm If values other than 100% are valid we should remove the numeric output from the CLI.  It confuses people.

If values other than 100% indicate problems, in correctness or performance, we should be able to describe those problems in our documentation.

[2019-04-08 20:01] myidpt opened #3965 "Update doc about Citadel monitoring by Prometheus"
Currently the doc page doesn't list citadel https://istio.io/docs/tasks/telemetry/metrics/querying-metrics/. We need to update it.

cc @JimmyCYJ

[2019-04-08 20:17] linsun commented on #3853
I don't think our computation is correct in 1.1.  I'm also running into this 50% SYNCED, and I'm not using sidecar resource at all.  Everything appears to be working afaik.

[2019-04-09 01:14] hzxuzhonghu commented on #3853
Yes, the compute output is not right.

[2019-04-09 01:38] linsun commented on #3853
I think i know why some are 50% some are 100%.  both the pods (ingress or egress gateways) are in istio-system are 100%, while my deployed pods in default ns are ALL marked as 50% because we no longer push info from istio-system ns.

This should not be a doc issue, it should be 100% for all pods to indicate it is synced within the scope it is supposed to sync imho.

[2019-04-09 02:05] Stono commented on #3853
Ok so I do use this as a great indication as to how much config a sidecar
is pulling.

If you so change that behaviour (even if it is a side effect) I would
request another metric to represent that.

It basically helps us to identify sidecars without a refined egress list.

On Mon, 8 Apr 2019, 6:38 pm Lin Sun, <notifications@github.com> wrote:

[2019-04-09 02:15] linsun commented on #3853
ok that is an interesting way to use it. :). If our SYNCED status is accurate and sufficient for users to rely on, perhaps users can use that info to determine if the config has been synced and all pushed from pilot to sidecar and then use the percentage to indicate how much have been pushed out of the total that includes whatever aren't supposed to push because of scoping or visibility.

would th

[2019-04-09 04:03] dwradcliffe commented on #3853
While I have also been using it as a proxy for determining if the Sidecar is working, I don't think it's accurate. I have different values for each pod in the same Deployment.
Example (with Sidecar):
[code]

[2019-04-09 12:50] esnible commented on #3853
The documentation at https://istio.io/help/ops/traffic-management/proxy-cmd/ assumes the user is familiar with Envoy internals.  The column names are not self-explanatory.

If the EDS SYNCED percentage is intended to represent the scoping we should make the command output explicit.  I have seen the 50% back in 1.0 and I am dubious.  What should the column headings look like

Perhaps we replace

[c

[2019-04-09 16:29] #3957 closed

[2019-04-09 16:34] pitlv2109 opened #3969 "Fix Istio release page"
In the [Release notes](https://istio.io/about/notes/). There is an Istio 1.0.7, which is duplicated from Istio 1.1.2, and it appears above Istio 1.1.2.

[2019-04-09 16:47] pitlv2109 commented on #3969
Not sure if this is related https://github.com/istio/istio/issues/13176

[2019-04-09 17:32] howardjohn commented on #3969
There is an Istio 1.0.7 that was released and has the same change as 1.1.2 so it has the same description.  I think this is working as intended.

[2019-04-09 17:50] pitlv2109 commented on #3969
Thanks. If that's the case, /close

[2019-04-09 17:50] #3969 closed

[2019-04-09 17:55] sdake opened #3972 "when the site infra has a scrollbar - the text doesn't render properly"
From the page:

https://istio.io/docs/setup/kubernetes/install/multicluster/gateways/#deploy-the-istio-control-plane-in-each-cluster

This can be worked around with `\` but it would be nice if the text was shown.

<img width="759" alt="Screen Shot 2019-04-09 at 10 53 22 AM" src="https://user-images.githubusercontent.com/755849/55823129-ee978a80-5ab5-11e9-801b-c015357d98bd.png">

[2019-04-09 19:23] johnma14 commented on #2566
The PR for this was merged, so closing this issue. Thanks.

[2019-04-09 19:24] #2566 closed

[2019-04-10 00:25] sdake commented on #3946
Note when you unzip or untar a version of istio, it is placed in `istio-${VERSION}`.  I suppose the documentation strongly assumes the reader is aware of this.

Looking at the win zip file specifically, it does contain the correct file:

[code]
As can be seen, the `install/kubernetes/istio-demo.yaml` file is present.

[2019-04-10 08:18] viktorpeacock commented on #3946
Hello,

I've downloaded the files again and it's all there. Not sure what happened. Attaching screen of an extract from 05/04/2019.
![image](https://user-images.githubusercontent.com/44648849/55863011-92923c00-5b71-11e9-959c-4d264aed9e2b.png)

[2019-04-10 12:31] geeknoid commented on #3972
This is a Mac-induced problem, related to the "Show scroll bars" option from the System Preferences -> General page. If you set that option to "Always" then it'll work fine. With either of the other two options, the browser will not reserve any room for the scroll bar so when it's time to draw one it needs to use the main area of the text box for this purpose.

It's a recurring problem you'll see

[2019-04-10 12:31] #3972 closed

[2019-04-10 12:40] #3965 closed

[2019-04-10 15:57] frankbu commented on #3883
Fixed in #3973

[2019-04-10 15:57] #3883 closed

[2019-04-10 15:58] frankbu commented on #3841
Fixed in #3973

[2019-04-10 15:58] #3841 closed

[2019-04-10 16:03] frankbu commented on #3830
The diagram in the bookinfo example doc is intentionally not including versions used in other examples.

[2019-04-10 16:03] #3830 closed

[2019-04-10 16:18] frankbu commented on #2640
I think a task for this is overkill. I would suggest instead that we add an example or two in the reference doc here: https://istio.io/docs/reference/config/networking/v1alpha3/virtual-service/#Headers

[2019-04-10 16:39] frankbu commented on #2487
In 1.1 you can also use SDS to make things a little easier. That said, I'm closing this issue since it's not a doc issue, but rather an Istio feature request.

@mabushey If you'd like to pursue this further, please open a feature request in istio/istio, not here in the doc repo.

[2019-04-10 16:39] #2487 closed

[2019-04-11 10:49] sdake commented on #3946
@viktorpeacock good to hear things are sorted out.

I'll close this issue now.  If you believe this issue was closed in error, please feel free to reopen.

Cheers
-steve

[2019-04-11 10:49] #3946 closed

[2019-04-11 10:55] sdake commented on #3789
@geeknoid indeed - thanks for all the work here.  I will get on this in the next few days.

Cheers
-steve

[2019-04-11 10:57] sdake commented on #3748
This issue is a dup of the fact that we don't document how to restore CR data.  As such, closing.

[2019-04-11 10:57] #3748 closed

[2019-04-12 18:36] yangminzhu opened #3985 "`{{< text bash json >}}` rendering incorrectly in master branch"
The `"` becomes `&quot;`, broken in master branch: https://preliminary.istio.io/about/contribute/creating-and-editing-pages/#command-lines

Work in 1.1 branch: https://istio.io/about/contribute/creating-and-editing-pages/#command-lines

[2019-04-12 18:43] linsun commented on #3853
+1, the percentage is really scope of visibility.

@irisdingbj could you open an issue and drive a fix for this in istioctl?

[2019-04-14 16:59] vadimeisenbergibm opened #3989 "remove --set global.outboundTrafficPolicy.mode=ALLOW_ANY --set pilot.env.PILOT_ENABLE_FALLTHROUGH_ROUTE=1 from the egress boilerplate"

[2019-04-15 01:16] mjordan79 commented on #3788
Hi geeknoid, even with the image file back, the rendering of the final image seems to be still problematic.
Following the link https://istio.io/img/istio-logo.svg, Firefox gives a blank page. Chrome is more explicative, it complaints about a missing style:
https://imgur.com/a/ZnFiNke

Hence, the problem doesn't seem to be fixed.

[2019-04-15 04:10] howardjohn opened #3992 "Tabs CSS is confusing"
Example: https://istio.io/docs/setup/kubernetes/install/kubernetes/

I find the tabs to be really confusing, specifically understanding which tab is selected. The unselected one has a shadow making it seem like it is in the foreground and is active, when it is actually the opposite

[2019-04-15 04:13] howardjohn opened #3993 "Demo install has unneeded step"
https://istio.io/docs/setup/kubernetes/install/kubernetes/

The page recommends installing CRDs first, but the istio-demo.yaml already has the CRDs. Unless these actually need to be applied separately we should remove the CRD step to make it a one step install.

[2019-04-15 13:34] frankbu commented on #3989
@vadimeisenbergibm My thought was that this might only be a temporary check, since after 1.1.3 these are supposed to be the default settings, so it is just verifying what should be set by default. If other examples want something other than the default, I think that they can't really use this boilerplate anyway.

Which tasks/examples want something other than the default? Maybe we should take out

[2019-04-15 13:58] zuxahiz commented on #3841
Thanks for your information, it's really helpful.

[2019-04-15 14:35] vadimeisenbergibm commented on #3989
@frankbu This check is irrelevant for all other examples, so why should the user perform it? You can just move this check out of the boiler plate and put it into the egress task after the boiler plate.

The examples: https://istio.io/docs/examples/advanced-gateways/egress-gateway/#before-you-begin, https://istio.io/docs/examples/advanced-gateways/egress_sni_monitoring_and_policies/#before-you-begi

[2019-04-15 17:31] geeknoid commented on #3985
This'll get fixed when 1.1 is merged into master next week.

[2019-04-15 17:41] geeknoid commented on #3788
I update the image. I had stripped some of the XML needed to make it look like a stand-alone SVG file.

[2019-04-15 18:16] frankbu commented on #3989
Fixed with #3994

[2019-04-15 18:16] #3989 closed

[2019-04-16 18:38] frankbu commented on #3887
Fixed in #4000

[2019-04-16 18:38] #3887 closed

[2019-04-17 15:07] rvennam commented on #3992
I think it's a bit better, but still difficult to identify which tab is selected:
![image](https://user-images.githubusercontent.com/5502967/56298764-bcfb7080-6100-11e9-8024-1d9dfc5dc2dd.png)

I think this is worth tapping a visual designer for input.

[2019-04-17 15:09] howardjohn commented on #3992
Mine has some purple color (using chrome)

[2019-04-17 15:15] rvennam commented on #3992
thoughts on adding a border-bottom on the selected button?
![image](https://user-images.githubusercontent.com/5502967/56299463-131ce380-6102-11e9-8d7d-34f5a23f4f10.png)

[2019-04-17 21:49] frankbu commented on #3943
@hobbytp What version of Istio are you using? I just tried it with Istio 1.1.3, and the curl command is available and working as documented.

[2019-04-17 23:59] #3851 closed

[2019-04-18 21:24] geeknoid commented on #3992
@rvennam What browser are you using? With Chrome, Safari, and Firefox, the selected tab is highlighted as seen here:

<img width="331" alt="Screen Shot 2019-04-18 at 14 21 06" src="https://user-images.githubusercontent.com/22780957/56392110-5f8d1f80-61e5-11e9-9a90-718481fff404.png">

[2019-04-19 01:48] hobbytp commented on #3943
Sorry, it is my fault, the curl command is available, please close this issue.

[2019-04-20 07:41] vadimeisenbergibm opened #4011 "Clarify what "Fully qualified name" in the context of handlers/metrics etc. means"
According to https://istio.io/docs/reference/config/policy-and-telemetry/istio.policy.v1beta1/:

Is it `myhandler.handlers.mynamespace` ?

[2019-04-20 08:48] vadimeisenbergibm commented on #4011
May be related to https://github.com/istio/istio/issues/13490

[2019-04-20 21:02] geeknoid commented on #3985
Merge happened, so closing.

[2019-04-20 21:02] #3985 closed

[2019-04-22 13:55] yanivroz opened #4016 "Issue with docs/tasks/security/authn-policy/index.md"
in "Cleanup part 1" section I see 2 problems.
1. the `default` `DestinationRule` which was created in part 1 is not being deleted.
2. the `default` `MeshPolicy` which existed before part 1 is being deleted. (it should have been returned to `mode: PERMISSIVE` as it was prior to part 1

[2019-04-22 14:18] #3943 closed

[2019-04-24 02:41] duanshiqiang commented on #3789
In our CI/CD environment we are using https://gcsweb.istio.io/gcs/istio-release/releases/charts as the chart repo url. But after 1.1.3 is released, it's not been uploaded to this location so we can't use this url anymore.

[2019-04-24 03:24] geeknoid commented on #3789
@duanshiqiang Can you use https://istio.io/charts instead?

[2019-04-24 09:03] zuxahiz opened #4024 "Issue with docs/examples/advanced-gateways/egress-gateway/index.md"
When doing with example "Configure an Egress Gateway" with mtls enabled, I found that after applying DestinationRule: egressgateway-for-cnn, the tls-check between sleep pod is failed:
[code]

It seems that after applying DestinationRule: egressgateway-for-cnn, the mtls on the egressgateway side is set to disabled infact.
Has someone face the same problem or you can give some advises on debugging?

[2019-04-24 17:07] pedroarthur commented on #1321
this file should exist in a git clone? Or do I need an actual release to get this file? I did:

    git clone https://github.com/istio/istio
    cd istio
    git checkout 1.1.3
    for i in install/kubernetes/helm/istio-init/files/crd*yaml; do kubectl apply -f $i; done
    kubectl apply -f install/kubernetes/istio-demo.yaml
    error: the path "install/kubernetes/istio-demo.yaml" does not exist

[2019-04-24 17:18] linsun commented on #1321
This file is generated so it is in release archive but not in git.

[2019-04-25 04:41] vadimeisenbergibm commented on #4024
The conflicting cluster is not used, another cluster is used to communicate with the egress gateway service and that cluster has mTLS enabled. In any case, I fixed the documentation so `istiocl authn tis-check` will not complain.

[code]

[2019-04-25 13:21] abelsromero opened #4041 "`https://git.io/getIstio` returns 404"
The installation method piping curl + bash proposed in https://istio-releases.github.io/v0.1/docs/tasks/installing-istio.html#installation-steps does not work because the url returns 404.

Should it be `https://git.io/getLatestIstio`?

[2019-04-25 17:16] zuxahiz commented on #4024
@vadimeisenbergibm Thanks for your quick response! This problem has been solved.

But I still have something unclear: Sometimes I found it doesn't work and got a "**_HTTP/1.1 503 Service Unavailable_**" error. That means if you combine those commands into a script and execute it many times, it will fail sometimes.
Due to my limited knowledge of mtls, I am not sure if is because of the cleanup proc

[2019-04-25 21:05] geeknoid commented on #4041
$ curl -L https://git.io/getLatestIstio | ISTIO_VERSION=X.Y.Z sh

Should work, where X.Y.Z is the full version number. In your case that would be 0.1.0.

[2019-04-25 21:05] #4041 closed

[2019-04-27 06:34] mukundha opened #4064 "Issue with docs/setup/kubernetes/install/kubernetes/index.md"
Is Installation Step 1 specified on the page really needed?
```$ for i in install/kubernetes/helm/istio-init/files/crd*yaml; do kubectl apply -f $i; done```

look like `install/kubernetes/istio-demo.yaml` already includes all the CRDs

[2019-04-28 08:19] vadimeisenbergibm commented on #4024
@zuxahiz What you are saying is that when you execute the commands in a script, you get 503 errors? I do not know why it happens, I would try to add `sleep` commands to the script, to let the Istio configuration be propagated. Note that it takes some time from the defining an Istio artifact, for example a VirtualService, to propagate into the sidecars. I guess it is a general Istio mode of work, n

[2019-04-28 15:10] joshuacox opened #4068 "bookinfo curl blank"
After installing istio on a minikube cluster, and then following the directions [here](https://istio.io/docs/examples/bookinfo/) and then [here](https://istio.io/docs/tasks/traffic-management/ingress/#determining-the-ingress-ip-and-ports)  I get:

[code]

notice the `kubectl exec` statement returns the `<title>` block, but neither curl statement returns anything.

I get the same results when dupli

[2019-04-28 15:34] joshuacox commented on #4068
My installation script was written around the [cert-manager guide](https://istio.io/docs/examples/advanced-gateways/ingress-certmgr/) and looks like this:

[code]

would any of that conflict with what is going on in the bookinfo example?  On the fresh clusters I have not performed any of the cert-manager steps, only the helm install is changed as included above.

[2019-04-29 04:41] duanshiqiang commented on #3789
@geeknoid As of today, [https://istio.io/charts](https://istio.io/charts) still gives Error:

`Looks like "https://istio.io/charts" is not a valid chart repository or cannot be reached: Failed to fetch https://istio.io/charts/index.yaml : 404 Not Found`

And also there's a fundamental issue with [https://istio.io/charts](https://istio.io/charts) is that it only contains latest version of istio cha

[2019-04-29 14:00] Tushar120120 commented on #4068
Do you have external load balance? if not, you can change the bookinfo.yaml file like below and try to access the 30105 (NodePort).

spec:
  ports:
  - port: 9080
    name: http
    nodePort: 30105
  type: NodePort
  selector:
    app: productpage

[2019-04-29 14:23] joshuacox commented on #4068
@Tushar120120 I do have metallb as external load balancer on the bare metal clusters,

On the nodeport something is wrong on that:

[code]

Regardless, that does not fix the issue that istio does not appear to be routing to my service.

[2019-04-29 14:31] rvennam opened #4072 "Arch diagram typo: Service A instead of Service B"
![image](https://user-images.githubusercontent.com/5502967/56903258-e9e94500-6a69-11e9-9bc5-d4aeb8ebca37.png)

[2019-04-29 14:34] joshuacox commented on #4068
Adding a bunch of yaml data [here](https://gist.github.com/joshuacox/7a7d7fbdc52dd2710deb693987d96a07)

[2019-04-29 15:09] frankbu commented on #4068
It looks like you have 2 conflicting Gateway configs, `bookinfo-gateway` and `istio-autogenerated-k8s-ingress`. Both of them are configured to handle any host (that is, host `*`). The `bookinfo-gateway` is the simple Gateway used for the bookinfo app. The second one, I'm guessing has been created because you have ingress enabled:
[code]
If you remove the k8s-ingress one, I'm guessing the bookinfo

[2019-04-29 15:26] joshuacox commented on #4068
@frankbu tyvm good spot, that was it.

[code]

now the curl works properly:

[code]

Closing, all good here.

[2019-04-29 15:26] #4068 closed

[2019-04-30 16:37] frankbu commented on #4064
Closing as this is a duplicate of #3993

[2019-04-30 16:37] #4064 closed

[2019-05-01 19:55] frankbu commented on #3993
We can remove the unneeded CRD installation step if we are creating them in istio-demo.yaml too.
But, the bigger problem is that by [creating the CRDs](https://github.com/istio/istio/blob/6089adf96580abed81f56fb7f87bc78d78a5bdd8/Makefile#L652) (and the namespace, for that matter) in istio-demo.yaml, the documented uninstall step doesn't work properly.

The `kubectl delete -f install/kubernetes/ist

[2019-05-02 16:06] mbanikazemi opened #4085 "Request timeout is disabled by default"
By default the http request timeout is disabled but the docs use the old default value of 15 seconds.
Reported first here: https://github.com/istio/istio/issues/13421

[2019-05-03 02:17] #4085 closed

[2019-05-03 17:11] rcaballeromx commented on #3438
Thanks @geeknoid I'll take a look once I'm done with the restructure we discussed on the WG.

[2019-05-04 00:31] Timch opened #4093 "Documentation incorrectly uses the term "plain text""
On the page [Istio / Security](https://istio.io/docs/concepts/security/#permissive-mode) it appears that the term "plain text" is used incorrectly. If your referring to encryption then it should be "plaintext" without the space, or "unencrypted." "Plain text" with a space refers unformatted text.

[2019-05-07 16:36] geeknoid commented on #4093
Fixed

[2019-05-07 16:36] #4093 closed

[2019-05-09 12:58] sdake opened #4110 "Document the need for setting limits in the scale and perf operational guide"
The default limits on most Ubuntu distros are very limited (32k processes).  This was found in practice to cause significant problems with Istio at scale.  To resolve this problem, in the scale and performance guide I recommend enhancing the communication around these topics.  See https://github.com/istio/istio/issues/13910#issuecomment-490515612 for further guidance.

The act of not increasing li

[2019-05-09 16:34] #4072 closed

[2019-05-09 22:23] sdake commented on #3993
@frankb just replaying a conversation we had on slack a few weeks about this topic.

The build system produces these demo manifests by cattiing the namespace, then the crds, then the contents  of the helm templated manifest.

To remove this error, the only option I can think of is to reverse the order of the operations in the creation of a new "demo-uninstall" manifest.  This is a core problem wit

[2019-05-09 22:26] sdake commented on #3993
@howardjohn - while the demo will generally work without a separate crd registration step if the crds are recorded in the manifest, it is not a 100% guarantee.  I believe k8s 1.14 fixed this problem so that CRDs are registered first, and the rest of the manifest is then applied, but I can't find the said change in the Kubernetes change logs.  As Istio 1.1 does not support 1.14, it doesn't matter.

[2019-05-09 22:26] #3993 closed

[2019-05-10 02:02] linsun commented on #3993
@howardjohn  i asked the exact questions a while back, it is good to have this why documented here!

[2019-05-10 14:32] frankbu commented on #3853
If it's just scope of visibility, then there also seems to be a bug as @dwradcliffe pointed out above: https://github.com/istio/istio.io/issues/3853#issuecomment-481093245

Also `ENDOPOINT-SCOPE-VISIBILITY` seems pretty wordy and not totally clear what value to expect, without some documentation explaining what it really means. So I would suggest just tweaking the output slightly, something like t

[2019-05-10 16:03] ericvn commented on #3388
If this is only a 1.0 issue as @linsun indicated, and we are no longer creating 1.0 releases, I believe this issue can be closed.

That said, I understand where this could be an issue with the IBM Cloud Private catalog where it may include items were the chart version and Istio version don't match. I don't believe that code is within this repo for current releases.

I'm closing this issue for now

[2019-05-10 16:03] #3388 closed

[2019-05-12 18:27] geeknoid commented on #3932
This is now much nicer. The callouts aren't there anymore, and you instead get a popup when you click on the download button.

[2019-05-12 18:27] #3932 closed

[2019-05-13 15:05] sdake opened #4121 "Helm doesn't handle multiple whitespaces well"
[code]

As expected, turning off useMCP produces no configSources.

Turning off useMCP in other files are sadly producing an output such as:
[code]

Seems like the `\ ` is causing non-deterministic behavior in `helm`.

Cheers
-steve

[2019-05-13 15:14] howardjohn commented on #4121
Does it happen with `\ ` on a single line or multi line as well?

[2019-05-13 16:34] sdake commented on #4121
[code]

[2019-05-13 16:34] sdake commented on #4121
seems space is a problem.

[2019-05-13 23:39] frankbu commented on #3933
Related issue: https://github.com/istio/istio/issues/10537

[2019-05-14 17:17] rcaballeromx opened #4123 "Clarify Helm prerequisite on upgrade page."
Page affected: https://istio.io/docs/setup/kubernetes/upgrade/steps/

The page needs to inherit the prerequisite section from the K8s installation page.

The page must clarify that Helm is installed to create the yaml from the templates only and that it's not used for the upgrade itself.

The labels for the tabs need to change to make the dependency on Helm clear.

The current labels:
- Kubernetes

[2019-05-14 17:19] rcaballeromx commented on #4123
New label for the rolling update:
- Rolling upgrade with kubectl

[2019-05-15 01:43] huisebug opened #4124 "Authentication Policy of apiserver"
I find https://istio.io/docs/tasks/security/authn-policy/#request-from-istio-services-to-kubernetes-api-server

There's a mistake. In configuring apiserver access, the namespace should be default, not istio-system. I expect I'm right, as shown in the figure:
![image](https://user-images.githubusercontent.com/27762438/57742990-ddb1e880-76f5-11e9-8f53-a378dfbc774a.png)

[2019-05-15 06:40] zuxahiz commented on #4024
@vadimeisenbergibm Thanks for your explanation, it turns out the reason why the case is sometimes got 503 error is because of the resources quota is not enough in my environment, after increasing the cpu and memory limit, the case is ok now.
I think you are right and thanks for your patiences and efforts.

[2019-05-15 06:40] #4024 closed

[2019-05-15 06:49] zuxahiz opened #4127 "Issue with docs/tasks/traffic-management/egress/index.md"
Hi experts,
when exec the command in [Configuring the proxy bypass](https://istio.io/docs/tasks/traffic-management/egress/#configuring-the-proxy-bypass) :
[code]
it didn't have a `-n NAMESPACE` param, and will create a new istio-sidecar-injector configmap in default namespace. While istio is installed in istio-system namespace default, I thinks maybe add a  `-n istio-system` param is what we reall

[2019-05-15 11:49] ardenxu commented on #3853
we got similar status, and the circuite break rule did not work either, have no idea its rule sync problem or istio's envoy software bug.

![image](https://user-images.githubusercontent.com/20676860/57773320-53e03a80-774a-11e9-9d86-2c22fd915e79.png)

[2019-05-15 13:54] frankbu commented on #3853
Seems to me like there is more than one reason for % less than 100. Sometimes it's scope of visibility, in which case `SYNCED (X%)` seems fine even if X is less that 100. Other cases, esp. ones like @dwradcliffe described, above, where the percentage is different for different pods of the same service, seems like a bug. Something like `NOT SYNCED (X%)` would seem more appropriate in that case.

@c

[2019-05-15 20:23] costinm commented on #3853
Sorry, I am also not familiar with that code in istioctl.
I worked on adding metrics for pilot events for prometheus/grafana - which I think is a good source of info about errors, and some of the endpoints that may be used by istioctl.

A bit busy with the installer - but I would guess it may be related to multiple replicas of the pilot ? Or is istioctl fetching from all pilots ?

[2019-05-16 04:15] hzxuzhonghu opened #4141 "Enhance split horizon EDS doc"
Currently, only workload from primary cluster can access that of  remote , but the reverse does not work.

[2019-05-16 16:09] adinunzio84 opened #4146 "Kiali instructions for jaeger URL don't work when installing Jaeger with Istio"
Looking at ["Visualizing Your Mesh"](https://istio.io/docs/tasks/telemetry/kiali/#install-via-helm), the instructions mention what to do if you already have Jaeger / Grafana installed. If I try to extend this to install both with Istio like this:
[code]
the URLs don't seem to work (Kiali page fails to load the "distributed traces" page when doing a query). This was done when port-forwarding to Kia

[2019-05-16 18:37] frankbu commented on #4127
The configmap should get installed in the `istio-system` namespace. Notice the namespace is set to `Release.Namespace` in the [template](https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/templates/sidecar-injector-configmap.yaml).

@zuxahiz Did you try it and it did not work? Did you set `<the flags you used to install Istio>` correctly?

[2019-05-17 01:27] zuxahiz commented on #4127
Hi @frankbu , do you mean that I should add a param in helm template, just like "--set xxxxx=xxxx"? But I didn't find a param related to Release.Namespace in [Installation Options](https://istio.io/docs/reference/config/installation-options/), or add `-n istio-system` manually? what should I do?

[2019-05-17 02:17] #4127 closed

[2019-05-17 08:44] MaiReo opened #4150 "Authentication Policy not working with 1.1.4 and 1.1.6"
Why no policy or config created for httpbin.foo? Thanks
possible related https://github.com/istio/istio/issues/7290
I followed [document](https://istio.io/docs/tasks/security/authn-policy/) and [debugging](https://istio.io/help/ops/security/debugging-authorization/)
use the command listed at document
[code]
got something like
[code]

[httpbin.foo.istio-proxy.dump.tar.gz](https://github.com/istio/i

[2019-05-17 16:04] afeddersen opened #4160 "Quick Start Evaluation Install instructions are broken"
Page: https://istio.io/docs/setup/kubernetes/install/kubernetes/

At step 2 it instructs you to Install one of the following variants of the demo profile:

install/kubernetes/istio-demo.yaml
install/kubernetes/istio-demo-auth.yaml

That directory does not exist.

[2019-05-17 16:54] douglas-reid commented on #4146
@jmazzitelli can you take a look?

[2019-05-17 17:55] jmazzitelli commented on #4146
Yes, those were just example URLs - but for sure, these URLs *must* be client-accessible. Kiali does nothing server-side to make them renderable on the client - the URLs themselves must be exposed and accessible to client browsers for this to work. So, if on OpenShift for example, create a route for Jaeger and use the route URL. For Kubernetes you would have to do something (ingress perhaps) to ex

[2019-05-18 13:32] MaiReo commented on #4150
Policy works fine using istio v1.1.6 without cni enabled

[2019-05-22 08:34] esnible commented on #3853
@frankbu How about we remove the percentage from `SYNCED`?  Pilot could still report it through the `/debug` API, but `istioctl` wouldn't show it.  I seem to get at least one question a week from people who want to see 100%.

[2019-05-22 14:16] frankbu commented on #3853
@esnible I think it's fine to remove the % as long as @Stono's requirement is still covered some other way: https://github.com/istio/istio.io/issues/3853#issuecomment-481072899. I also wonder if there's a bug in the calculation that we don't want to lose track of.

[2019-05-23 23:18] yangminzhu opened #4213 "Refine Health Checking of Istio Services page"
The `Liveness and readiness probes with command option` section (https://istio.io/help/ops/setup/app-health-check/#liveness-and-readiness-probes-with-command-option) is not related to `Mutual TLS`, it could be simplified to not to mention `Mutual TLS` at all.

The `Probe rewrite` section (https://istio.io/help/ops/setup/app-health-check/#probe-rewrite) needs to update the `Alternatively` part, the

[2019-05-23 23:22] yangminzhu commented on #4213
The following command works for my setting:
[code]

[2019-05-24 05:21] rcaballeromx commented on #3573
I've created an epic out of the existing issue.
@geeknoid @frankbu @sdake @mandarjog @oaktowner Please create an issue and add it to the epic for each term you want implemented in the [Glossary](https://preliminary.istio.io/docs/reference/glossary/) and with the first instance in every page marked with {{< gloss >}} consistently across the English (en) version of the docs.

[2019-05-24 10:07] satyajitmails commented on #4160
Hi Folks,

I am facing the same issues here .Any pointers/help will be appreciated.

[2019-05-24 14:42] geeknoid commented on #3573
Why an epic for this? Creating issues for individual words seems a heavy process, when the checkbox list within this single issue seems sufficient to track what needs to be documented.

[2019-05-24 17:14] rcaballeromx opened #4218 "Gloss: Add Mesh Configuration Protocol (MCP)"
Def:
The Mesh Configuration Protocol (MCP) is a communication protocol used to transport configuration traffic across the mesh.

[2019-05-24 17:15] rcaballeromx commented on #3573
Issue created for Mesh Configuration Protocol to serve as an example for the community. https://github.com/istio/istio.io/issues/4218

[2019-05-24 23:28] myidpt opened #4223 "Add task for configuring customized trust domain"
This is a remaining task for https://github.com/istio/istio/issues/8661.

[2019-05-25 02:32] zuxahiz opened #4224 "Issue with docs/examples/advanced-gateways/egress-gateway/index.md"
In [Egress gateway for HTTPS traffic](https://istio.io/docs/examples/advanced-gateways/egress-gateway/#egress-gateway-for-https-traffic), the string "Verify that your ServiceEntry was applied correctly by sending an HTTPS request to http://edition.cnn.com/politics." the displayed url should be "http**_s_**://" prefixed.

[2019-05-27 05:18] afeddersen commented on #4160
The README.md at istio/install/kubernetes/ suggests following the quickstart at https://istio.io/docs/setup/kubernetes/quick-start.html but that page 404s.

[2019-05-28 14:32] adinunzio84 commented on #4146
Okay thanks for the info. I think this can be closed then. I was just a bit confused since it sort-of seemed like I could use the service names and it would work with the ClusterIP services.

[2019-05-28 14:32] #4146 closed

[2019-05-31 10:11] Shnatsel opened #4245 "Outdated docs for v0.1 confuse people"
The docs at https://istio-releases.github.io/v0.1/docs/ are not applicable to recent versions, but still have very high ranking in Google search for Istio-related queries. This confuses people.

For example, https://istio-releases.github.io/v0.1/docs/tasks/egress.html states that egress traffic is blocked by default while [up-to-date docs](https://istio.io/docs/tasks/traffic-management/egress/#env

[2019-06-01 11:45] johnma14 commented on #3282
This was merged in 1.1, so closing it. Thank you

[2019-06-01 11:45] #3282 closed

[2019-06-03 04:27] myidpt opened #4248 "Instruct users how to do a root cert transition"
Many Istio users use self-signed certificates in production. The self-signed certificates have 1 year TTL, so we need a task in the security section to describe how to transparently move from the old self-signed root cert to a new root cert.

https://github.com/istio/istio/issues/14516

[2019-06-03 04:28] myidpt commented on #4248
@wattli  @wenchenglu

[2019-06-04 04:00] Niksko opened #4253 "Docs should include additional caveats around sidecar injection"
Docs for sidecar injection should mention the following two caveats:
* Sidecar injection seems to be impossible in `kube-system` and `public` namespaces, as per the declaration of `ignoredNamespaces` [here](https://github.com/istio/istio/blob/13cb3422ae47f95dfbc829a327724a56929cab3b/pilot/pkg/kube/inject/initializer.go#L28) and the call to `injectRequired` [here](https://github.com/istio/istio/blo

[2019-06-04 12:49] linsun commented on #4253
Yes, please submit a PR for this, good catch!

[2019-06-05 08:47] Niksko commented on #2542
I'm happy to take this on

[2019-06-05 08:59] Niksko opened #4256 "Include examples in mTLS deep dive for when the mesh policy is PERMISSIVE"
When the mesh policy is `PERMISSIVE`, sidecars send an ALPN header of `istio` when negotiating mTLS connections with other sidecars, so as to differentiate their traffic from traffic destined for the application behind the sidecar.

The current mTLS deep dive docs are set up to work with a `STRICT` mesh policy. Given that under a `PERMISSIVE` mesh policy you would expect mTLS to still work, the fa

[2019-06-05 12:12] amorist opened #4257 "i18n: using Crowdin"
### Crowdin Integration Features
* Syncing a repo with Crowdin via their [Github integration process](https://support.crowdin.com/github-integration/)
* Syncing and managing l10n project resources directly with the [Crowdin CLI interface](https://support.crowdin.com/cli-tool/)

### Crowdin l10n Features
* [In-context translation for web apps](https://support.crowdin.com/in-context-localization/)

[2019-06-05 12:15] oresot opened #4258 "CRD Backup command fails on mac OS"
The command used shown here to backup CRD data https://istio.io/docs/setup/kubernetes/upgrade/steps/#control-plane-upgrade doesn't work on mac OS:

[code]

The `-i` option in xargs is deprecated in favour of `-I`: https://www.gnu.org/software/findutils/manual/html_node/find_html/xargs-options.html

Using the replace argument as `-I{}` works, and should work in other environments as well.

This one

[2019-06-05 17:09] howardjohn opened #4259 "Missing 1.1 -> 1.2 upgrade notice"
For 1.0 -> 1.1 we have a upgrade document listing the changes that are backwards incompatible at https://preliminary.istio.io/docs/setup/kubernetes/upgrade/notice/

We do not have this for 1.1 -> 1.2

[2019-06-05 17:10] howardjohn opened #4260 "Missing 1.1 -> 1.2 upgrade steps"
https://preliminary.istio.io/docs/setup/kubernetes/upgrade/steps/ refers to the steps to upgrade to 1.1, but we don't have any information on upgrading to 1.2

[2019-06-05 17:15] howardjohn opened #4261 "Missing documentation for alpha istio/installer"
We have some docs in https://github.com/istio/installer but that have not been ported to istio.io. This is an alpha feature so lower priority than other

[2019-06-05 17:17] howardjohn commented on #4261
There is some in the README and also the wiki https://github.com/istio/installer/wiki/

[2019-06-05 19:24] linsun opened #4267 "Move tab completion to a separate page"
In our get started page now (https://preliminary.istio.io/docs/setup/kubernetes/getting-started/#enabling-istioctl-tab-completion), we spent over half of that page providing steps for tab completion.  This is not appropriate because tab completion is an optional config for istioctl.

We have decided on #docs that we should move this to More guides and add a link from get started page to link to it

[2019-06-05 19:25] linsun commented on #4267
cc @ericvn @rcaballeromx

[2019-06-05 19:26] linsun commented on #4267
@frankbu if you think more guides is not the right home, can you suggest a place?

[2019-06-05 19:30] linsun commented on #4267
@ibm-jason while you are in there, i found the copied content is wrong, e.g.

[code]

[2019-06-05 20:19] frankbu commented on #4267
How about here: https://preliminary.istio.io/docs/ops/setup/

[2019-06-05 20:22] frankbu commented on #4267
Ideally, we would have some kind of istioctl overview doc, that this would be part of. Right now all we have is the generated istioctl reference doc.

[2019-06-05 21:05] gargnupur opened #4269 "docs/setup/kubernetes/platform-setup/gke/ latest GKE version fails to create a cluster"
$ gcloud container clusters create <cluster-name> \
  --cluster-version latest \
  --num-nodes 4 \
  --zone <zone> \
  --project <project-id>

command fails to create a cluster in gke 1.12 version.
Works fine in gke 1.11 version.
This could be because Client certificates were on by default in 1.11 versions but are not from 1.12 versions.
Following command works  for creating the cluster
$ gcloud c

[2019-06-06 15:43] howardjohn opened #4275 "[New Installer] Telemetry gateways page needs updating"
With https://github.com/istio/installer/pull/225#pullrequestreview-246653540 we have moved telemetry to using native Istio Gateway's, so the page will be outdated for the new installer

[2019-06-06 15:49] sdake commented on #4275
for 1.2, we must document the old and new installer - its a whole lot easier if these have the same semantics.  We can remove the gateway ports in 1.3, so this doc work should happen after 1.2 branches.

[2019-06-06 16:23] douglas-reid commented on #4275
I'm a bit confused by the message in this issue. https://istio.io/docs/tasks/telemetry/gateways/ is all about using istio gateways.

[2019-06-06 18:40] geeknoid commented on #4257
Sorry I closed this issue, but it look like an advertisement.

If I understand correctly, this is a suggestion that the translation process switches to use Crowdin?

[2019-06-06 18:57] amorist commented on #4257
You're right.
sorry, I did not describe it clearly.

[2019-06-06 19:08] amorist commented on #4257
Electrojs successfully used Crowdin for multilingual translation.
https://electronjs.org/languages
https://github.com/electron/i18n

[2019-06-06 20:49] sushicw commented on #4269
Hello,

Did you run `gcloud config set container/use_client_certificate True` as was included in the ["Preparing for Development" wiki?](https://github.com/istio/istio/wiki/Preparing-for-Development/3c48484bf318efc05dbb7ee93114f37e0e115a0b).

The guidance to do that was out of date, and is no longer included in the [latest version](https://github.com/istio/istio/wiki/Preparing-for-Development/934d

[2019-06-06 22:14] gargnupur commented on #4269
I thought I had it set to False. But just tried again and it works. Closing the bug...

That is the reason why we have it to False in this script too: https://github.com/istio/istio/blob/master/tests/integration/create_cluster_gke.sh
Probably the cleanup step which sets it back to True is not needed anymore..

[2019-06-06 23:04] sushicw commented on #4269
It looks like the test script is making the (not necessarily true) assumption that use_client_certificate was set to True before it began, which means it's actually mutating the state outside of runs in an unexpected way. That seems worth fixing. I don't think we need to set the config setting at all, we can just pass the flag with False directly when we create the cluster.

Keeping the ball, I'll

[2019-06-07 00:07] rlenglet opened #4337 "Docs for "Install Istio on the Google Kubernetes Engine" should link to GKE's OSS Istio install docs"
**Bug description**

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[X] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience

**Expected behavior**

The [Install Istio on the Google Kubernetes Engine](https://preliminary.istio.io/docs/setup/kubernetes/in

[2019-06-07 01:45] frankbu commented on #4160
The directory `install/kubernetes` does exist. If you meant that the yaml files do not exist, what release or build did you download? Note that if you just download the source from github, those files do not exist. They are only generated and added in the release images. Note that you can use the helm instructions to install from the github source, if you don't want to download a release build.

T

[2019-06-07 03:37] afeddersen commented on #4160
@frankbu - As far as I can tell the quick start instructions don't mention anything about generating the files.  https://istio.io/docs/setup/kubernetes/install/kubernetes/

The guide says you don't need Helm for the demo.  It also says you can simply download the repo and do the demo install using `kubectl apply -f install/kubernetes/istio-demo.yaml`.

Thanks for the tips on the actual steps.  I t

[2019-06-07 14:04] frankbu commented on #4160
@afeddersen, I think the confusion here is that it does not say you can download the "repo", it says download the "release": https://istio.io/docs/setup/kubernetes/install/kubernetes/#prerequisites

The difference is that the pregenerated yaml files, `istio-demo.yaml` and `istio-demo-auth.yaml`, are only available in the release image, not in the source repo. So, if you want to use the github repo

[2019-06-07 15:32] linsun opened #4279 "zsh bash completion issue"
Following the zsh bash completion issue in our get started page:

1. error on `source < _istioctl` cmd:
[code]

2. I find out `istioctl g` doesn't auto complete to `istioctl get`.  In chatting with @ericvn, he indicated hidden or deprecated cmds don't get this feature:

Eric Van Norman [11:23 AM]
Looking at the _cobra_ completion tests: https://github.com/spf13/cobra/blob/master/bash_completions_t

[2019-06-07 15:33] linsun commented on #4279
@ericvn or @ibm-jason can one of you own this?

[2019-06-07 16:21] ibm-jason commented on #4279
@ericvn, since it's zsh, probably makes the most sense for you to own this one.

[2019-06-07 18:36] ericvn commented on #4279
I think we can get the first portion in @ibm-jason's current PR. I have a few things to add for ZSH and will pick up the second comment with that PR.

[2019-06-07 19:45] wattli commented on #1424
@yangminzhu , can you help to take a look please? Thanks

[2019-06-07 20:13] yangminzhu commented on #1424
https://istio.io/docs/concepts/security/#origin-authentication has a bit more information on this. For JWT authentication policy, it will be applied on every request until you delete or modify the policy.

Would you mind to share some more detail what makes you think it just disappear after a successful verification? We need to fix this if it's somewhere in our documentation.

I'm not sure I under

[2019-06-07 21:06] #4160 closed

[2019-06-08 03:56] sdake opened #4289 "rendering of the main concepts section with the ops guide doesn't look good for people with 20/30 vision"
I have ~20/30 corrected vision and must magnify chrome to display text at a reasonable size.

<img width="199" alt="Screen Shot 2019-06-07 at 8 52 20 PM" src="https://user-images.githubusercontent.com/755849/59141656-46435c80-8966-11e9-9801-b9fbf3503b8c.png">

https://preliminary.istio.io/docs/

One solution is to call the section "Operations".  Another is to magically set the font size depending

[2019-06-08 11:41] geeknoid commented on #4289
Ops Guide is another option.

Wouldn't magically tweaking the font size defeat the magnification you're explicitly doing through Chrome?

[2019-06-08 11:42] geeknoid commented on #4289
@frankbu @rcaballeromx I've noticed this same wrapping when Frank was presenting the other day. Should we rename to Ops Guide or Operations?

[2019-06-09 11:03] sdake commented on #4289
@geeknoid re tweaking the font size, I tweak the font size for the text - not the nav bar, although, for people with worse corrected or uncorrected vision, they may suffer from a difference accessibility problem with this approach.  A rename might be best.

Cheers
-steve

[2019-06-09 11:30] sdake commented on #4258
@oresot thank you for the report.  I have submitted PR: https://github.com/istio/istio.io/pull/4290 to resolve this problem.

Thanks again!

Cheers
-steve

[2019-06-09 11:32] sdake commented on #4259
@howardjohn - I'll add to the wg leads agenda meeting to produce this list.  I am not entirely aware of all the breaking changes that have been made in the 1.2 cycle.

We need better process tracking of these changes so this list can be automatically generated from the git repo.

Cheers
-steve

[2019-06-09 11:43] sdake commented on #4275
@douglas-reid - understood.  If you take a deeper look at the installer PR, there is a strong desire not to expose the addon ports on the gateways by default (15029, 15030, 15032, etc).  The requested change would be to expose these int he telemetry gateway steps on an addon by addon basis, which AFAIK is not done as the steps currently expect the gateway to expose these ports by default.

We ende

[2019-06-09 12:45] sdake opened #4293 "minikube instructions have many errors - the biggest of which is the default memory recommendation"
I use VMWare vFusion for my hypervisor with the `vmwarefusion` deprecated driver.  The unified driver is based upon docker machine which I am not fond of.  After deploying minikube with the latest upstream release and using 1.2.0-rc1 - DNS resolution doesn't work (image pull backoffs).

Rewriting /etc/resolv.conf to google's root nameserver (`8.8.8.8`) gets things moving, unfortunately, systemd re

[2019-06-09 12:59] sdake commented on #4293
[code]

is one workaround, as it removes the automatic dynamic update by systemd, but is very unsatisfying.

[2019-06-09 18:40] sdake opened #4300 "Should consider documenting all known Helm issues that affect Istio"
There are many upstream problems with Helm 2 that impact the Istio installer.  We should document what we know with what we have either sorted out as workarounds known to operators, or how we have avoided using these features.

Open for debate - @geeknoid @frankbu thoughts?

Cheers
-steve

[2019-06-09 18:41] sdake commented on #4300
this could be tackled after 1.2, and then backported pretty easily.  I think we will be plenty busy with 1.2 just handling the work we have on our plates.  It makes sense to get the conversation started now.

Cheers
-steve

[2019-06-09 18:43] sdake commented on #4293
https://github.com/istio/istio.io/pull/4299

[2019-06-09 18:45] sdake commented on #4293
The workarounds above don't work reliably.  The root cause was an OOM condition that is not reported by the OS.  Bumping memory to 16384MB solves the problem.  Unfortunately, Hipster Shop requires a little more memory than 16384MB.  For folks trying Hipster Shop, I'd recommend about 20MB.

[2019-06-10 04:48] sdake opened #4301 "Issues with document https://preliminary.istio.io/docs/setup/kubernetes/install/multicluster/gateways/"
This document is pretty solid but needs a little bit of tidying.  The workflow, in particular, is not reliable, and the sample certs present a security risk (and should bear a warning).

1. Change all occurrences of `we` to `you`
1. the wording `services and the applications in each cluster are limited to remote communication using gateway IPs.` is not ideal.  Instead, use the text `services and a

[2019-06-10 12:56] linsun commented on #4275
Note:  we still need the page for the default installer.  There is currently no doc of the new installer in istio.io so many folks won't be using it.

[2019-06-10 13:56] sdake opened #4309 "CRD count is off in boilerplate for 1.2"
This file needs a revision:
https://github.com/istio/istio.io/blob/master/content/boilerplates/verify-crds.md

A bunch of `CRDs` were removed from 1.2 IIRC relating to mixer.

[2019-06-10 13:57] sdake commented on #4309
@morvencao can you take assignment on this one?

[2019-06-10 14:01] sdake commented on #4275
@linsun right - we are keeping intact the gateway ports in the new installer until such time as istio.io is updated relating to this issue (The PR has already merged that reintroduced these gateways).  This implies this page will also remain intact and unedited for 1.2.

I really think this change is 1.3 work, so this page won't be modified for 1.2.  We can refine the ingressgateway ports (and doc

[2019-06-10 14:04] sdake commented on #4261
@howardjohn I believe in the leads meeting, we determined documentation of the next-gen installer can happen after the 1.2 deadline, although it would be helpful if individuals continued work on the next-gen installer - including documentation.

[2019-06-10 14:18] sdake opened #4310 "add instructions for root/intermediate certificate creation for self-signed certs"
I referenced the below documentation and got a working result after a few hours:

https://jamielinux.com/docs/openssl-certificate-authority/create-the-root-pair.html

Thoughts on how to either document or codify this mechanism for self-signed root and intermediate certs for the gateway multicluster case?

Using certs from the samples dir is a security issue.

[2019-06-10 14:21] sdake commented on #4260
@howardjohn workflow should be the same - but needs verification.  I'm not convinced the upgrade gate is or was working correctly in all cases - hence a manual verification would make sense.

Can you take this on?

[2019-06-10 14:51] morvencao commented on #4309
@sdake Sure, let me check that.

[2019-06-10 15:25] ericvn commented on #4279
We will have to think about things going forward in the fall as MacOS Catalina will default to _zsh_ as the default shell. I don't know that it'll change much. I might change the tab ordering at that time to move MacOS with bash to the right.

[2019-06-10 18:53] ericvn commented on #4279
Should be fixed by #4312. Not sure why PRs aren't closing issues (probably something with my usage).

[2019-06-10 18:53] #4279 closed

[2019-06-10 19:25] frankbu commented on #4289
I prefer `Operations` to `Ops Guide`. I also think the top level titles in the nav bar could be smaller, regardless. They seem to be using a bigger font than the section titles in the nav bar. I think they should all be the same.

[2019-06-10 20:55] rvennam opened #4315 "Feedback for Getting Started page"
Feedback for the new Getting Started page:
https://preliminary.istio.io/docs/setup/kubernetes/getting-started/

Assuming that this is the entry point for any new users getting started with Istio, I have some feedback for this page.

1. This page should not be verbose or provide users with too many options. This should be opinionated happy path install that targets majority of our users... installi

[2019-06-10 21:48] gargnupur opened #4317 "Feedback on tasks/multicluster/split-horizon-eds page"
Environment: Google Kubernetes Engine.
While running through this page, I had to switch on auto-scaling for cluster1 as pilot and telemetry pods didn't get scheduled because of insufficient memory and cpu.

Should we mention this in the doc?

Autoscaling is not on by default in our cluster setup page in "docs/setup/kubernetes/platform-setup/gke/"

[2019-06-11 10:07] sdake opened #4326 "tables appear rendering improperly"
https://preliminary.istio.io/docs/setup/kubernetes/additional-setup/cni/

<img width="985" alt="Screen Shot 2019-06-11 at 3 06 28 AM" src="https://user-images.githubusercontent.com/755849/59263521-101c0c00-8bf6-11e9-82ed-6899bfab459f.png">

[2019-06-11 10:50] sdake opened #4327 "istio-cni documentation issues"
As a new consumer of CNI, I took notes during my first interaction with the system.  Looks pretty good!  The docs could be refined as follows:

1. Where is the step 3 tarball?  I cloned the repo to obtain the `deployments` directory which contains the helm templates - but this is the wrong approach.
1. The install has a cut and paste, but is missing the crd install step, which may confuse people (

[2019-06-11 12:34] sdake opened #4328 "ingress gateway docs work - but could be improved"
Notes from testing the page:https://preliminary.istio.io/docs/tasks/traffic-management/ingress/ingress-control/

https://preliminary.istio.io/docs/tasks/traffic-management/ingress/ingress-control/#determining-the-ingress-ip-and-ports-when-using-a-node-port

- Over time the node port (at least documentation) should be consolidated in the operations guide or (somewhere else) outside the main documen

[2019-06-11 12:36] kramerul opened #4329 "Issue with docs/reference/config/installation-options/index.md"
[code]

should be changed to

[code]

[2019-06-11 12:50] kramerul opened #4330 "Issue with docs/setup/kubernetes/install/helm/index.md"
We followed the steps in "Install with Helm via helm template" and found that instead of 24 CRDs  59 were deployed.
Is this an error that only occurs with us or has the underlying code changed for release 1.2?

[2019-06-11 14:00] kramerul commented on #4330
One time we also got 28 CRDs:

[code]

[2019-06-11 14:25] bhaskar-reddy opened #4332 "Fault Injection Task has incorrect suggestion for fixing the bug"
The suggestion at the end of the section _Fault Injection Task - Fixing the bug_ from URL: https://preliminary.istio.io/docs/tasks/traffic-management/fault-injection/#fixing-the-bug seems to be incorrect:

Applying `kubectl apply -f samples/bookinfo/networking/virtual-service-reviews-v3.yaml` based on above suggestion doesn't fix the previously induced problem.

[2019-06-11 14:38] john-a-joyce commented on #4327
Regarding the tarball.  That should get a different issue because we need to get the tar ball built and decide where it is pushed, before we can fix the documentation side of things

[2019-06-11 14:55] tiswanso commented on #4327
The Istio release process toolchain seemed to change and no longer create the istio-cni-*.tgz in the release archive.  Maria created this fix but it looks like it never made it:  https://github.com/istio/istio/pull/13615

[2019-06-11 16:04] ericvn opened #4334 "Update Docker Desktop page memory requirements"
The current Docker Desktop page simply status you may want to increase the memory requires from the default of 2GB saying pilot needs 4GB and showing a picture showing 5GB.

Per #4293, minikube wants 16GB, so we may want to increase the Docker Desktop requirements as well.

[2019-06-11 17:28] tiswanso commented on #4327
@sdake -- thanks for tracking this stuff.  Some Q's/comments for clarification:

a)  For item 2, I'm wary of recreating instructions for installing Istio here.  The paragraph links to the Istio install instructions and this bullet is intended to show setting the parameter `--set istio_cni.enabled=true`
b)  For item 3, you're referring to this heading?  https://preliminary.istio.io/docs/setup/kuber

[2019-06-11 18:20] wattli opened #4335 "Error in mutual TLS migration page"
Last step in "Before you begin" section, i.e., https://preliminary.istio.io/docs/tasks/security/mtls-migration/#before-you-begin

There is indeed some auth policy, but the doc says it is none.

[lita@lita istio-1.2.0-rc.0]$ kubectl get policies.authentication.istio.io --all-namespaces

NAMESPACE      NAME                          AGE
istio-system   grafana-ports-mtls-disabled   3m

[2019-06-11 18:51] BLaurenB commented on #2542
It would be similarly helpful to document 'disabled' settings for Authentication Policies as well. While probably not common, a user can create a policy like this to allow only disabled traffic.
[code]
 or
[code]
If a user implements either of these policies (or any policy without a defined peers section) any traffic that tries to initiate an mTLS handshake will be rejected.

[2019-06-11 18:54] geeknoid commented on #4337
@ostromart Could you figure out the right story here and update the istio.io docs accordingly?

[2019-06-11 21:10] ostromart commented on #4337
We had some debate about this when Istio on GKE was launching and the consensus was that we want to have separate docs for the following reasons:
- the OSS docs are ok for someone familiar with Istio but require too much assumed knowledge. The target audience for Istio on GKE are users who may have very little Istio (or GKE) knowledge. The instructions have the be explicit and precise.
- Istio on

[2019-06-11 21:36] bhaskar-reddy opened #4343 "Exercise section Fault Injection Task is too specific on the time delay that could work"
Not a big deal of an issue, but the [Exercise](https://preliminary.istio.io/docs/tasks/traffic-management/fault-injection/#exercise) section of the _Fault Injection Task_ asks user to change the Fault Injection delay to 2.8s and give it a try:

But when I tried with that setting, I was still getting the error:

After a bit of playing with the timing, I was able to get it to work at 2.5s often and

[2019-06-11 23:05] #4309 closed

[2019-06-11 23:14] sushicw commented on #4269
Fix pushed.

[2019-06-11 23:14] #4269 closed

[2019-06-11 23:53] #4335 closed

[2019-06-12 01:57] Niksko commented on #2542
@BLaurenB I get different results from you when applying your yaml.

[code]

When I apply this, if I do a `kubectl get policy svc-scope-disabled -o yaml` the output shows `mtls: null`, however if I use `istioctl authn tls-check` it shows that the server only accepts `mTLS`.

After a bit of digging, it turns out this is documented at the bottom of this section: https://istio.io/docs/concepts/securi

[2019-06-12 02:30] morvencao commented on #4330
@kramerul I have updated the CRDs count in the latest PR: https://github.com/istio/istio.io/pull/4347

If you have cleaned old CRDs in 1.1 and complete a fresh installation of 1.2, you'll find that totally 23 CRDs for Istio and 5 CRDs for cert-manager. So the result is 28, same to you output.

[2019-06-12 02:54] lei-tang opened #4348 "503 error after mTLS policy is applied on RBAC groups user guide"
503 error after mTLS policy is applied on RBAC groups user guide: https://preliminary.istio.io/docs/tasks/security/rbac-groups/.

Fix for this issue: a DestinationRule should be applied on sleep after httpbin requires mTLS.

[2019-06-12 02:58] lei-tang commented on #4348
Fixes for this issue: https://github.com/istio/istio.io/pull/4349, https://github.com/istio/istio.io/pull/4350

[2019-06-12 07:24] #4253 closed

[2019-06-12 13:59] sdake commented on #4327
Understood, however, there is step 1 to create the namespace.  Then step 2 is install istio.  I ran it 3 or 4 times in cut and paste mode, before it triggering in my mind `Oh, need to install the crds`.  Another option is to completely remove step 1, and change step 2 to something like

`Use the instructions from (installing with helm) with the following additional flag `--set cni.enabled=true`.

[2019-06-12 14:04] sdake commented on #4327
Agreed.  Filed issue here: https://github.com/istio/istio/issues/14742

[2019-06-12 14:58] BLaurenB commented on #2542
Thanks for looking into that! Yes -- I think your second point is the one that needs more clarification ( the policy where there is no mtls specified). :)

[2019-06-12 16:02] ostromart commented on #4337
Closing this but feel free to reopen if anyone disagrees.

[2019-06-12 16:07] rlenglet commented on #4337
@ostromart, the GKE + OSS Istio doc I pointed to doesn't use the addon manager. Therefore, it needs the clusterrolebinding. The decision that needs to be made here is whether to point to the GKE doc that uses the managed Istio thing, as we currently do, or point to the GKE doc that uses OSS Istio. This question has not been answered.

[2019-06-12 16:26] sdake opened #4361 "Remove GDB from the official documentation"
https://istio.io/help/ops/component-debugging/#with-gdb

gdb is no longer shipped in the containers, and if it were, the sidecar injected containers do not have the proper capabilities.

For more detail see:
https://github.com/istio/istio/issues/8383

[2019-06-12 16:51] wattli opened #4372 "Add root transition doc to 1.2"
It's only in 1.1 so far

[2019-06-12 17:17] geeknoid opened #4362 "Update supported k8s versions"
Right now, we claim to support 1.11, 1.12, and 1.13. Should we update this to 1.14 in the context of Istio 1.2? I worry that we haven't actually been testing with 1.14

WDYT?

[2019-06-12 17:22] bhaskar-reddy opened #4363 "Circuit Breaking Task : fortio-deploy.yaml doesn't work well with istioctl"
[Adding a client](https://preliminary.istio.io/docs/tasks/traffic-management/circuit-breaking/#adding-a-client) section of _Circuit Breaking_ task, instructs user to inject the client with istio sidecar proxy so network interactions are governed by Istio.

But when I tried this command, I got the following error:

Upon inspection, the `istioctl` command to `kube-inject` appears to have some kind o

[2019-06-12 18:18] sdake commented on #4327
CNI should be in the next daily release: https://github.com/istio/istio/pull/14752

[2019-06-12 18:26] sdake commented on #4121
PR has merged, closing.

[2019-06-12 18:26] #4121 closed

[2019-06-12 18:32] sdake commented on #4293
PR merged, closing issue.

[2019-06-12 18:32] #4293 closed

[2019-06-12 18:36] howardjohn commented on #4260
Related to https://github.com/istio/istio/issues/14630

[2019-06-12 18:40] ericvn opened #4364 "https://preliminary.istio.io/docs/setup/kubernetes/upgrade/steps/ has unexpanded warning"
https://preliminary.istio.io/docs/setup/kubernetes/upgrade/steps/

has

```{{ warning }} Citadel does not support multiple instances. Running multiple Citadel instances may introduce race conditions and lead to system outages. {{ /warning }}```

[2019-06-12 19:27] duderino opened #4371 "Create traffic management release notes for 1.2"
**Describe the feature request**

Fill out the traffic management section in https://github.com/istio/istio/wiki/Release-Note-1.2-Draft

Also fill in the incompatible changes, upgrade, and installation sections if anything applies.

**Describe alternatives you've considered**

Silently shipping major features in 1.2 to the surprise and delight of our users.

**Affected product area (please put an

[2019-06-12 19:28] duderino opened #4370 "Create 1.2 release notes for security"
**Describe the feature request**

Fill out the security section in https://github.com/istio/istio/wiki/Release-Note-1.2-Draft

Also fill in the incompatible changes, upgrade, and installation sections if anything applies.

**Describe alternatives you've considered**

Silently shipping major features in 1.2 to the surprise and delight of our users.

**Affected product area (please put an X in all t

[2019-06-12 19:30] duderino opened #4369 "Create Telemetry release notes for 1.2"
**Describe the feature request**

Fill out the telemetry section in https://github.com/istio/istio/wiki/Release-Note-1.2-Draft

Also fill in the incompatible changes, upgrade, and installation sections if anything applies.

**Describe alternatives you've considered**

Silently shipping major features in 1.2 to the surprise and delight of our users.

**Affected product area (please put an X in all

[2019-06-12 19:32] duderino opened #4368 "Create policy release notes for 1.2"
**Describe the feature request**

Fill out the policy section in https://github.com/istio/istio/wiki/Release-Note-1.2-Draft

Also fill in the incompatible changes, upgrade, and installation sections if anything applies.

**Describe alternatives you've considered**

Silently shipping major features in 1.2 to the surprise and delight of our users.

**Affected product area (please put an X in all tha

[2019-06-12 19:33] duderino opened #4367 "Create config mgmt release notes for 1.2"
**Describe the feature request**

Fill out the config mgmt section in https://github.com/istio/istio/wiki/Release-Note-1.2-Draft

Also fill in the incompatible changes, upgrade, and installation sections if anything applies.

**Describe alternatives you've considered**

Silently shipping major features in 1.2 to the surprise and delight of our users.

**Affected product area (please put an X in al

[2019-06-12 19:55] #4364 closed

[2019-06-12 22:19] rlenglet commented on #4327
The doc misses the installation of the `istio-init` chart. Generally, it should be a copy of the [generic Helm install docs](https://preliminary.istio.io/docs/setup/kubernetes/install/helm/), with additional instructions.

[2019-06-12 22:47] frankbu commented on #4315
Fixed by #4359

[2019-06-12 22:47] #4315 closed

[2019-06-12 23:04] howardjohn opened #4374 "Installation options needs update for 1.2"
https://preliminary.istio.io/docs/reference/config/installation-options/

There is a script that generates this semi-automatically but it isn't completely automatic, so we will need to rerun it. Also it references changes from 1.0 -> 1.1 and should now reference 1.1 -> 1.2 (which is hopefully very few changes)

[2019-06-12 23:15] adammil2000 opened #4375 "Issue with docs/concepts/what-is-istio/index.md"
On this diagram:
https://preliminary.istio.io/docs/concepts/what-is-istio/./arch.svg
the word certificates is mangled on the lower right side of the diagram.

[2019-06-13 02:41] duderino commented on #4372
Thank you for catching this @wattli

[2019-06-13 02:45] duderino commented on #4362
@JimmyCYJ Could you try running your perf tests with 1.14 and report the results here?

[2019-06-13 03:00] duderino commented on #4374
@pitlv2109 since I ran out of flaky tests to assign, I'm hoping you can do this instead.  Thank you

[2019-06-13 03:49] ostromart commented on #4337
That's a good point but I think it should be assigned to internal docs group. I've created a bug in buganizer:
https://github.com/istio/istio.io/issues/4337 (specifically for the missing cluster role binding).
Regarding the duplicated docs, this has all been discussed in the past. @oaktowner and @lcarey do realize there are three separate places for the docs and they are ok with it as they each se

[2019-06-13 04:31] duderino commented on #4317
P0, but a minimal fix (e.g,. raise memory and cpu) would be totally cool

[2019-06-13 10:37] sdake commented on #2486
The original complaints in this PR were merged.  The current documentation has helm repo operations in addition to download steps.  We don't recommend operators install from git, and if they do, we recommend they use the wiki to set their environments up correctly.  As such, closing this issue.

[2019-06-13 10:37] sdake commented on #2486
closing pr.

[2019-06-13 10:37] #2486 closed

[2019-06-13 10:42] LisaFC commented on #4337
The eventual arrangement for those three locations btw will be
- Generic K8s info on istio.io, will have links to both:
    - GKE-specific installation instructions on cloud.google.com (based on the doc that's currently a GKE tutorial, updated as appropriate). I think at this stage maintaining two versions of this doesn't make sense, especially after the recent reorg of the K8s instructions on Ist

[2019-06-13 12:34] sdake commented on #4375
@adammil2000 good eye!  I'll see if I can correct it.

[2019-06-13 12:56] sdake commented on #4375
In addition, all of the fonts are inconsistent with the rest of the website in this file.

[2019-06-13 13:13] #4361 closed

[2019-06-13 13:14] #4375 closed

[2019-06-13 13:18] frankbu commented on #4332
It does fix the bug by reducing the reviews->ratings timeout to 2.5 seconds, which is less than the 3 second timeout of the downstream productpage->reviews timeout. Therefore with reviews:v3 a delay of any amount less than 2.5 seconds (e.g., 2 seconds) should work as expected (e.g., return normally after the 2 second delay.

Thanks for pointing out the confusing wording. I'll add some text to the

[2019-06-13 13:20] esnible opened #4380 "Suggestions for documentation on Envoy access logs"
I recently re-read https://preliminary.istio.io/docs/ops/traffic-management/troubleshooting/

• It says "By default, access logs are output to the standard output of the container."  Is that true?  I had to follow the instructions at https://istio.io/docs/tasks/telemetry/logs/access-log/ to enable it.

• Paragraph 2 talks about "access log format" and "%RESPONSE_FLAGS%".  If I come to this page fi

[2019-06-13 14:01] frankbu commented on #4343
The exercise is suggesting 2.8 seconds, because that is a value greater than 2.5 secs (the reviews:v3->ratings) timeout, but less than 3 seconds which is the productpage->reviews timeout. As a result, the call to reviews should succeed, but the call from reviews to ratings will timeout. This is supposed to result in the UI displaying the reviews, but next to each review is an error message stating

[2019-06-13 15:26] ericvn opened #4382 "Use `kubectl apply` instead of `create` in Cluster-Aware Service Routing"
I'm not sure if this is pervasive in the rest of the docs.

[2019-06-13 15:34] johnma14 opened #4384 "Generate diffs for helm values.yaml file for 1.1 -> 1.2"
Generate the installation option changes for release 1.1 to 1.2.

[2019-06-13 15:50] ericvn opened #4385 "Cluster-Aware Service Routing - call from cluster2 fails"
[code]

If I update the first context from 1 to 2, the call works.

[2019-06-13 15:51] ericvn commented on #4385
@gargnupur Did you see this same failure when you ran through the doc?

[2019-06-13 15:51] frankbu commented on #4267
This is fixed

[2019-06-13 15:51] #4267 closed

[2019-06-13 16:20] ericvn commented on #4382
I see many warnings during the `kubectl apply` (as suggested in the Upgrade Steps doc)
[code]

Not sure if it will fix these issues, but after trying to update the multi-cluster to 1.2RC0, I see:

Cluster 1 has 2 pilots:
[code]

Cluster 2 has 2 ingress-gateways:
[code]

and when running the examples to call the service, I am always hitting the service in cluster 1 (never cluster 2).

[2019-06-13 16:21] frankbu commented on #3360
This is still not fixed in all places in the doc.
For example here: https://preliminary.istio.io/docs/ops/traffic-management/troubleshooting/#503-errors-after-setting-destination-rule

[2019-06-13 16:23] ericvn commented on #4334
Discussion on #4339 decided on 8GB and that PR closes this issue.

[2019-06-13 16:23] #4334 closed

[2019-06-13 17:01] gargnupur commented on #4385
@ericvn : where all do you have sleep pod installed ?
In this doc(https://istio.io/docs/examples/multicluster/split-horizon-eds/#split-horizon-eds-in-action), sleep is only installed in cluster1 and hence it works for me from cluster1, the way it's in the doc.

[2019-06-13 17:04] pitlv2109 commented on #4374
@howardjohn Hey John, where is the script that you mentioned above?

[2019-06-13 17:05] duderino opened #4387 "Capture RBAC and mTLS policy changes in the 1.1 to 1.2 upgrade documentation"
@incfly commented on [Thu Jun 06 2019](https://github.com/istio/istio/issues/14630)

**Bug description**

Two parts

- https://preliminary.istio.io/docs/setup/kubernetes/upgrade/notice/
documents the behavior different between 1.0 and 1.1 rather than 1.1 to 1.2

- RBAC and mtls policy changes required, in upgrade notice in [Upgrade Steps](https://preliminary.istio.io/docs/setup/kubernetes/upgrade/

[2019-06-13 17:09] duderino commented on #4387
I moved @JimmyCYJ's issue  to the docs repo because it's about upgrade documentation.

All areas already have P0s against them to add release notes and upgrade notes to https://github.com/istio/istio/wiki/Release-Note-1.2-Draft

So I think this issue is needed only to track this comment from @JimmyCYJ:

[2019-06-13 17:10] howardjohn commented on #4374
@pitlv2109 at least part of is in https://github.com/istio/istio.io/blob/master/scripts/tablegen.py

I am not sure what the state of it is though, I recall trying to get it automatically running a while ago but ran into some issues so it may need some tweaks

[2019-06-13 17:25] howardjohn commented on #4327
Published in https://gcsweb.istio.io/gcs/istio-prerelease/daily-build/release-1.2-latest-daily/. Not in rc.1 though.

So we should refactor the docs for how it is structured there, or if needed change how we package the release

[2019-06-13 18:10] ericvn opened #4392 "Cluster-Aware Service Routing has bash box with two commands and text in between"
Step 2 under Split-horizon EDS in action

When choosing the copy, only the first command is copied for the paste.

[2019-06-13 18:35] ericvn commented on #4385
@gargnupur

Ah.  You aren't using the 1.2 version of the doc which has it in both clusters:
[code]
from https://preliminary.istio.io/docs/tasks/multicluster/split-horizon-eds/

[2019-06-13 18:53] rcaballeromx opened #4395 "Follow up on SDS multicluster"
Follow up on https://github.com/istio/istio.io/pull/4394
SME: @ericvn

[2019-06-13 18:59] gargnupur commented on #4385
Ahh I did go through the 1.2 version of the doc and it worked for me there too..
I didnt see any errors...

[2019-06-13 19:05] gargnupur commented on #4385
@ericvn : not sure why it worked for me at that time, but looking at the command I should have gotten the error too.. its looking for sleep pod in cluster2 in cluster1, which should throw an error and your change looks good.

[2019-06-13 19:05] #4385 closed

[2019-06-13 19:08] #4392 closed

[2019-06-13 19:30] pitlv2109 commented on #4374
@johnma14 told me she's been working on this and will push soon. She also has stuff ready for https://preliminary.istio.io/docs/reference/config/installation-options-changes/ which we also need.

/assign johnma14

[2019-06-13 20:07] brian-avery opened #4400 "[1.2 RC1] Kiali Comments"
From: https://preliminary.istio.io/docs/tasks/telemetry/kiali/

My sidebar for the screenshots was different than the ones shown in the screenshots.
![image](https://user-images.githubusercontent.com/8484260/59463379-d9134980-8df3-11e9-8cba-83cc30ef19e4.png)

For step 8: _To view a namespace graph, click on the bookinfo namespace in the Bookinfo namespace card. The page looks similar to:_

* Booki

[2019-06-13 20:20] rvennam opened #4401 "Feedback for Authentication Policy"
Automatic encryption between services is one of the main attractions for users evaluating Istio. This task is currently a bit hidden and can be perceived to be complicated due to the verbosity of his page https://istio.io/docs/tasks/security/authn-policy/
Some low handing fruit improvements:
1. Rename title "Authentication Policy" to "Enabling mutual TLS"
2. Move "End-user authentication" to a dif

[2019-06-13 20:40] rlenglet commented on #4327
I started an update in #4398. One issue is that to make the instructions complete, there's a lot to copy from the standard Helm instructions. One way to solve this problem would be to:
* Remove the CNI-specific instructions page, and move it into a reference page with no instructions in there.
* Merge the few CNI-specific instructions into the main Helm-based install page, as optional steps, and j

[2019-06-13 20:41] pitlv2109 commented on #4374
@duderino  Let me know if you want me to take a look at another issue

[2019-06-13 21:15] liminw opened #4404 ""Configure a TLS ingress gateway for multiple hosts" task should update to use the right credential"
For the sub-task [Configure a TLS ingress gateway for multiple hosts](https://preliminary.istio.io/docs/tasks/traffic-management/ingress/secure-ingress-sds/#configure-a-tls-ingress-gateway-for-multiple-hosts) in [Secure Gateway SDS](https://preliminary.istio.io/docs/tasks/traffic-management/ingress/secure-ingress-sds/) task, "httpbin-credential" is set to "httpbin.new.example.com" in the [previous

[2019-06-13 21:29] pitlv2109 commented on #4387
@liminw @yangminzhu Is the `istioctl` doc auto-generated? If so, we may want to hide the conversion command for RBAC (I can take care of this part if needed).

[2019-06-13 21:48] brian-avery commented on #4400
The login page also doesn't render properly on Firefox.

[2019-06-13 21:48] pitlv2109 commented on #4401
@yangminzhu @diemtvu What do you think?

As for point 4, we should remove the check for meshpolicy, since we ask users to apply a meshpolicy a step below anyway (or do some refactoring).

[2019-06-13 21:59] johnma14 commented on #4374
@duderino @pitlv2109 I just pushed a PR with the latest changes which should reflect 1.2 changes. Thanks.

[2019-06-13 22:40] rcaballeromx opened #4409 "Follow up on the ingress gateway doc."
This issue is to follow up on the doc and improve it further.
Latest improvement: https://github.com/istio/istio.io/pull/4407
SMEs:
@frankbu @sdake

[2019-06-13 22:41] #4328 closed

[2019-06-13 22:42] #4382 closed

[2019-06-13 23:12] yangminzhu commented on #4387
@pitlv2109 Yes, I think it's auto-generated, we should hide the conversion command.

[2019-06-14 00:06] #4367 closed

[2019-06-14 00:22] bhaskar-reddy opened #4413 "Traffic Mirrroring Task: exporting to XXX_POD variables could be more robust"
When going through [Traffic Mirroring](https://preliminary.istio.io/docs/tasks/traffic-management/mirroring/) tasks, there are instances where we are exporting the pod names onto the `XXX_POD` variables.

To make it more robust, it might be a good idea to add more meaningful label, say (based on the task) `func:mirroring`, to the `Deployment`, to filter out the pod and assign it to the respective

[2019-06-14 00:36] rcaballeromx opened #4414 "Follow up on authn-policy task."
PR: #4410
SME: @sushicw

[2019-06-14 00:37] bhaskar-reddy opened #4415 "Traffic Mirroring Task: tcpdump not showing as provided in the task"
In [Mirroring traffic to v2](https://preliminary.istio.io/docs/tasks/traffic-management/mirroring/#mirroring-traffic-to-v2) section, point # 3, to examine traffic internals, when I try:

I DO NOT see tcpdump info as mentioned in the task. Rather, I see it like this.

Is it possible the other operators would also be seeing it this way? Is there anything I am missing?

[2019-06-14 00:49] #4404 closed

[2019-06-14 01:29] bhaskar-reddy commented on #4332
Yeah, I agree that the wording is really confusing. Especially, when there is no way of knowing what reviews:v3 is doing that could be "fixing" the problem. Besides, there is no mention of decreasing the 7s delay induced to a certain number to be able to get through to a successful request.

[2019-06-14 01:35] bhaskar-reddy commented on #4343
Thank you for the explanation.
Please note that the task doesn't mention the timeout for reviews:v3->ratings. So, I do think the doc needs more clarity on informing the operator on various timeouts with different versions. As well as different delays we are trying to induce as part of the task. And at what induced delay will the timeout get triggered (or not).

[2019-06-14 02:18] JimmyCYJ commented on #4362
My current perf tests are running against 1.12, I will keep them running for 1 day. At meantime, I will create four 1.14 clusters to run the perf tests.

[2019-06-14 02:31] JimmyCYJ commented on #4362
The highest version on GKE is 1.13.6-gke.6. I cannot choose 1.14 to create a cluster.

Below is the full list of available versions.
$ gcloud container get-server-config --zone us-central1-a
Fetching server config for us-central1-a
defaultClusterVersion: 1.12.8-gke.6
defaultImageType: COS
validImageTypes:
- COS
- UBUNTU
- COS_CONTAINERD
validMasterVersions:
- 1.13.6-gke.6
- 1.13.6-gke.5
- 1.13.6-g

[2019-06-14 05:55] Niksko opened #4416 "Documentation on SDS installation profile is unclear"
A few issues with the doco around the SDS installation profile:

1. There must be a better way of explaining that there is no `sds` profile, only an `sds-auth` profile. Changing the text in the numbered list of profiles to be `sds-auth` instead of just `sds` would be a start, perhaps with something to explain further.
2. The table that explains which additional features are enabled with the `-auth

[2019-06-14 06:58] rlenglet opened #4417 "Broken links in docs"
https://github.com/istio/istio/pull/14678 removed files that are linked from the docs, causing new doc builds to fails, e.g. https://github.com/istio/istio.io/pull/4398:

[code]

[2019-06-14 14:07] frankbu commented on #4343
After looking at the reviews service implementation, I see that the implementation has at some point been changed and does not work like it used to in the past. It used to call the ratings service and if the request timed out it would handle the error and then send back the properly formatted response body containing the reviews, but the ratings set to indicate that they were unavailable. That way

[2019-06-14 15:39] sdake opened #4421 "crd files are catted into a yaml instead of installed independently"
The following files are using a workflow that works most of the time but not all of the time.  The kubeapi races the application of the CRDS with the consumption of the CRDs (by CRs) in the rest of the manifest.

[code]

Instead, the workflow should look more like what is documented here:

https://preliminary.istio.io/docs/setup/kubernetes/install/multicluster/gateways/#deploy-the-istio-control-pl

[2019-06-14 16:12] ostromart commented on #4337
@rlenglet I'm not sure which non-managed docs you are saying is missing the cluster binding step. Could you point it out again?

[2019-06-14 16:32] ericvn opened #4422 "Add section on multicluster upgrades"
There are several type of multicluster deployment that we document. Do we need to document how to upgrade them between releases?

For example, to upgrade the cluster-aware service routing example from what was deployed using the release 1.1 docs to what would be equivalent to the release 1.2 docs:

1. The cluster-aware service routing has been updated slightly to show traffic going both ways betwe

[2019-06-14 16:47] rlenglet commented on #4337
@ostromart It's in the description of this PR: https://cloud.google.com/kubernetes-engine/docs/tutorials/installing-istio

[2019-06-14 16:51] duderino commented on #4362
@ostromart advice ^

[2019-06-14 16:53] ostromart commented on #4362
1.14 is not GA yet, so you have to create an alpha cluster to use it:
https://cloud.google.com/kubernetes-engine/docs/concepts/alpha-clusters

[2019-06-14 17:01] duderino opened #4423 "Update feature stages for 1.2 release"
Multiple areas in https://istio.io/about/feature-stages/ have become more stable.

[2019-06-14 17:11] rcaballeromx commented on #4417
@rlenglet Have you tried rebasing #4398 ? That might solve the issue.

[2019-06-14 17:15] rlenglet commented on #4417
I rebased 44 minutes ago, same issue. Will try again.

[2019-06-14 17:20] rcaballeromx commented on #4417
@rlenglet #4410 Seems to also be impacted.

[2019-06-14 17:23] rlenglet commented on #4417
Still failing, with the same error:
[code]

[2019-06-14 17:25] duderino commented on #4423
@douglas-reid says:

Distributed Tracing to Zipkin / Jaeger | Beta --> Stable
Service Tracing | Beta --> Stable
Prometheus Operator | nothing --> Alpha
Mixer In-Process Adapter Authoring Model | Deprecated --> Removed???  << @douglas-reid need confirmation

[2019-06-14 17:32] geeknoid commented on #4289
Done.

[2019-06-14 17:32] #4289 closed

[2019-06-14 17:34] duderino commented on #4423
@wattli says:

Cert management on Ingress Gateway | Alpha --> Beta

And more promotions may occur

[2019-06-14 17:39] douglas-reid commented on #4423
@duderino "Mixer in-process adapter authoring model" can be removed from the list of features, as we no longer are accepting any new contributions.

[2019-06-14 17:39] duderino commented on #4423
@howardjohn @louiscryan @rshriram @costinm, strawman for traffic management:

Sidecar API is still Alpha, but the runtime impl could be considered Beta
Add locality load balancing at Beta (should have been mentioned as Alpha for 1.1)

Anything else?

[2019-06-14 17:56] duderino commented on #4423
@ozevren @geeknoid:

Announce Galley as Beta (should have been mentioned as Alpha for 1.1)

[2019-06-14 18:12] wattli commented on #4372
Fixed by https://github.com/istio/istio.io/pull/4412

[2019-06-14 18:12] #4372 closed

[2019-06-14 18:14] wattli commented on #4372
@pitlv2109 , it's a good point, but i don't think we have this feature so far, @geeknoid

[2019-06-14 18:39] therealmitchconnors commented on #3853
@costinm the istioctl code here is pretty thin.  It just calls /debug/syncz on every pilot instance and formats the output for the command line.  Can you think of any reason syncz would be reporting 50% synced?

[2019-06-14 18:44] yangminzhu commented on #4417
@rlenglet
Thanks, the original doc is updated in https://github.com/istio/istio.io/pull/4320, didn't realize it's also used in other language, will update soon.

[2019-06-14 18:50] JimmyCYJ commented on #4362
Per discussion with @duderino and @ostromart, 1.14 is in early alpha stage, and I cannot create an alpha cluster with version 1.14 either through gcloud command or console.
1.14 is a short lived cluster, will be deleted after 30 days, and it cannot be automatically upgrade to other versions.
This would not be a blocker for release 1.12. I can test against 1.14 later with 1.12.x.

[2019-06-14 18:52] sdake opened #4427 "make lint reports warning"
[code]

[2019-06-14 20:56] #4417 closed

[2019-06-14 22:30] liminw commented on #4423
I think
* "Authorization (RBAC)" should be "stable"
* "End user (JWT) authentication" should be "stable"
* "TCP authorization" can be removed. It is part of "Authorization (RBAC)". Having a separate item makes it confusing.

We probably do not need a feature called "authentication policy". It is covered by "mTLS" and "JWT authentication" features.

@diemtvu @wenchenglu WDYT?

[2019-06-14 22:40] duderino commented on #4423
+1

Who uses this in production?

+1  it certainly confused me :)

[2019-06-14 22:50] myidpt commented on #4248
This is already done.

[2019-06-14 22:50] #4248 closed

[2019-06-14 22:53] liminw commented on #4423
It's supported since Istio 1.0. I think it is a very popular feature since it is frequently asked in the discuss forum.

[2019-06-14 23:07] rshriram commented on #4423
Traffic management:

Sidecar API | Beta [we have seen +ve results from 1.1 and we have added more fixes]
SNI (multiple certs) at ingress | Stable -- why is this even a feature, when it has been around for over a year since 1.0 ?
and yes
Locality-based Load Balancing: Beta

[2019-06-14 23:17] wenchenglu commented on #4423
@liminw
/lgtm
agreed to remove TCP authorization once it is at the same stage as Istio authorization

+1 to remove authentication policy as a feature. That sounds confusion. All policy has its own alpha/beta state. It is strange to call out authn policy only here.

[2019-06-14 23:39] duderino commented on #4423
I agree beta quality, but @louiscryan says the API is still subject to change like alpha.  So I tried to capture that with my note below.

ACK, will change.

+1

[2019-06-15 04:15] geeknoid commented on #4427
This warning showed up with the latest upgrade to Hugo. I've just checked in a fix.

[2019-06-17 02:18] duderino commented on #4371
Thanks @rshriram

[2019-06-17 02:18] #4371 closed

[2019-06-17 15:33] #4332 closed

[2019-06-17 15:33] #4343 closed

[2019-06-17 16:02] duderino commented on #4374
Thanks @johnma14

@pitlv2109 please unassign yourself in future transitions.  You were getting the P0 nags since the github REST API continued to return your github handle as the owner.

[2019-06-17 17:37] liminw commented on #4370
Adding @wattli

I don't think we added any new features in 1.2 release. We are mostly doing bug fixes and test improvements.

[2019-06-17 17:59] linsun commented on #4370
Is there anything notable?  Note sidecar.istio.io/rewriteAppHTTPProbers: "true" is added.

[2019-06-17 17:59] linsun commented on #4369
@douglas-reid ping ^^^

[2019-06-17 17:59] linsun commented on #4368
@mandarjog ping ^^^

[2019-06-17 18:05] ostromart commented on #4337
Just synced with @rlenglet offline and there's just one action item out of this: we need some blurb that for 1.2 user should follow the OSS instructions for the time being since it's not yet out in managed Istio on GKE.

[2019-06-17 18:30] geeknoid commented on #4260
Can we address this issue today? This is a P0 blocking the 1.2 release which is planned for tomorrow.

[2019-06-17 18:31] geeknoid commented on #4259
Can we address this issue today? This is a P0 blocking the 1.2 release which is planned for tomorrow.

[2019-06-17 18:32] geeknoid commented on #4327
Can we address this issue today? This is a P0 blocking the 1.2 release which is planned for tomorrow.

Alternatively, is this really a P0? What state is CNI in (Alpha, Beta, Stable)? Is it a big feature of 1.2?

[2019-06-17 18:32] geeknoid commented on #4374
Can we address this issue today? This is a P0 blocking the 1.2 release which is planned for tomorrow.

[2019-06-17 18:33] geeknoid commented on #4387
Can we address this issue today? This is a P0 blocking the 1.2 release which is planned for tomorrow.

[2019-06-17 18:36] geeknoid commented on #4362
Can we address this issue today? This is a P0 blocking the 1.2 release which is planned for tomorrow.

Note this is about Istio, not Istio-in-GKE. Do we want to claim Istio supports 1.12, 1.13, and 1.14?

[2019-06-17 18:37] liminw commented on #4387
clusterrbacconfig was added in release 1.1. Since it is already mentioned in 1.1 upgrade notes (upgrade from 1.0 to 1.1), I think we can remove it from 1.2 upgrade notes (upgrade from 1.1 to 1.2).

[2019-06-17 18:43] liminw commented on #4387
My understand is that [mTLS settings migrating to authn policy](https://preliminary.istio.io/docs/setup/kubernetes/upgrade/steps/#migrating-per-service-mutual-tls-enablement-via-annotations-to-authentication-policy) and [destination rules](https://preliminary.istio.io/docs/setup/kubernetes/upgrade/steps/#migrating-the-mtls-excluded-services-configuration-to-destination-rules) were also added in ol

[2019-06-17 18:49] linsun commented on #4362
I have been using k8s 1.13 for my istio testing.  I can try spin a new 1.14 cluster.

I think @sdake mentioned he has been using k8s 1.14 for his testing.

[2019-06-17 18:50] linsun commented on #4362
in our cloud, we do support 1.14 as the latest k8s version.  however, if you feel strongly of lacking the testing, we can wait till more testing is done on 1.14 before adding it to the supported list.

[2019-06-17 18:51] rlenglet commented on #4327
@geeknoid Yes, we're doing the last rounds of reviews. Should hopefully be complete shortly.

[2019-06-17 19:08] geeknoid commented on #4362
If Steve's been testing with 1.14, I'd feel comfortable claiming that's
what we support.

On Mon, Jun 17, 2019 at 11:51 AM Lin Sun <notifications@github.com> wrote:

[2019-06-17 20:14] diemtvu commented on #4387
The upgrade note for mtls was from 0.7 to 0.8, I believe. I think it's safe
to remove now. Wdyt?

On Mon, Jun 17, 2019 at 11:44 AM Limin Wang <notifications@github.com>
wrote:

--

Diem Vu | Software Engineer | diemvu@google.com | +1 408-215-8127

[2019-06-17 20:29] ericvn opened #4454 "Update Provisioning Identity through SDS Task to point to install instead of have steps"
https://preliminary.istio.io/docs/tasks/security/auth-sds/ has a pointer to the `Helm install` page and then has instructions.

I think the instructions can be removed from this page, leaving the link.

[2019-06-17 20:44] ericvn commented on #4395
@rcaballeromx, is this PR to test adding `--values install/kubernetes/helm/istio/values-istio-sds-auth.yaml` to the `helm template` commands within the Cluster-Aware Service Routing task and the other `multicluster installation` pages? Or did you have more mind, or maybe something different?

I could test the first portion if that's what you were thinking.

[2019-06-17 20:57] liminw commented on #4370
@linsun This should go to release notes for "traffic management", correct?

[2019-06-17 20:58] liminw commented on #4370
@duderino The release notes for security is updated.

Thanks @wattli and @myidpt

[2019-06-17 21:04] yangminzhu commented on #4387
@liminw @diemtvu @geeknoid I have a PR to remove them all, PTAL: https://github.com/istio/istio.io/pull/4455, thanks!

[2019-06-17 22:19] howardjohn commented on #3703
Documented at https://preliminary.istio.io/docs/setup/kubernetes/install/helm/#helm-chart-release-repositories and Steve already opened a followup issue, so I am going to mark this closed

[2019-06-17 22:19] #3703 closed

[2019-06-17 22:28] pitlv2109 commented on #4348
Close?

[2019-06-17 22:32] howardjohn commented on #3852
@tiswanso I think this is superseded by https://github.com/istio/istio.io/issues/4327, do we still need this?

[2019-06-17 23:07] rcaballeromx opened #4467 "Follow up on CNI docs"
Revisit the doc after release to fix:

- Holistic flow of the doc
- Having to setup during install
- Use of "init container".

PR: https://github.com/istio/istio.io/pull/4398
SMEs: rlenglet, tswanso, john-a-joyce

[2019-06-17 23:31] #4348 closed

[2019-06-18 00:34] #4423 closed

[2019-06-18 00:42] duderino commented on #4370
Thank you @liminw

[2019-06-18 00:42] #4370 closed

[2019-06-18 00:42] duderino commented on #4368
Thank you @mandarjog

[2019-06-18 00:42] #4368 closed

[2019-06-18 00:42] duderino commented on #4369
Thank you @mandarjog

[2019-06-18 00:42] #4369 closed

[2019-06-18 00:45] duderino commented on #4362
A little bit flying by the seat of our pants, but OK, +1

[2019-06-18 00:49] duderino commented on #4362
Was just about to send a PR to update the versions, but I see someone already has done this on master:

[code]

[2019-06-18 00:50] duderino commented on #4362
assigning to @sdake to express his level of confidence in 1.14.  If not high then we should remove from data/args.yml and try to get it better tested for a 1.2.x release

[2019-06-18 01:09] rlenglet commented on #3852
Nope, let's close this.

[2019-06-18 01:09] #3852 closed

[2019-06-18 02:09] linsun commented on #4260
@sdake @howardjohn I went through the install options for 1.2 that @johnma14 produced today and believe there isn't much we should highlight other than:

 **Removed** deprecated Adapter and Template CRDs by default. Configure `mixer.templates.useTemplateCRDs=true` and `mixer.adapters.useAdapterCRDs=true` to re-enable them.

I don't think we should make a huge deal of upgrade in 1.2 given the break

[2019-06-18 02:10] linsun commented on #4259
I don't think we need an upgrade notice for 1.2 given the changes are very minimal.  The only breaking change I'm aware of is:

- **Removed** deprecated Adapter and Template CRDs by default. Configure `mixer.templates.useTemplateCRDs=true` and `mixer.adapters.useAdapterCRDs=true` to re-enable them.

[2019-06-18 02:21] howardjohn commented on #4260
Agree, just what you have above and then keep the generic upgrade docs

[2019-06-18 03:25] sdake commented on #4362
I am very confident that istio 1.2 works well for me on K8s 1.14.2.  I am only one individual though so Ymmv.

[2019-06-18 12:53] sdake commented on #4362
Just to note, I always do all test/dev work with the latest version of K8s - but my lab only has 3 nodes and I don't run on a cloud provider with a load balancer (instead I use metallb).  The scope of what I test is limited, although Istio certainly isn't DOA on 1.14.2.  My kubecon demo of multicluster for example was based on K8s 1.14.2.

Cheers
-steve

[2019-06-18 12:53] #4362 closed

[2019-06-18 12:58] linsun commented on #4362
Thank you @sdake, I'll search for our doc to update the versions if needed.

[2019-06-18 13:00] linsun commented on #4362
No update is needed, all taken care of.

[2019-06-18 13:00] sdake commented on #4259
Hi folks.  I was out most of yesterday.  I will address the two remaining PRs I have today.  I agree with @linsun - we can keep this page and just state there aren't many breaking changes.  Istio 1.2 was a 3 month cycle, Istio 1.1 was a 9+ month cycle, and Istio 1.2's main focus was on quality.

I do want to keep the structure in place for future revisions when we will likely have breaking changes

[2019-06-18 13:01] linsun commented on #4362
and verify-install handles 1.14 too :)

[code]

cc @irisdingbj @esnible :)

[2019-06-18 13:03] linsun commented on #4259
That is fine to keep the structure @sdake!  Let me know if you found other breaking changes!   Thanks.

[2019-06-18 13:05] sdake commented on #4259
reading the release notes, I don't notice anything beyond the useCRD thing for telemtry, and I don't understand why we even kept that :)

[2019-06-18 13:20] sdake commented on #4259
https://github.com/istio/istio.io/pull/4471#issuecomment-503131088

[2019-06-18 13:45] sdake commented on #4260
@geeknoid addressing now.  I was out yesterday.

Cheers
-steve

[2019-06-18 14:12] frankbu commented on #3933
Fixed as part of #4321

[2019-06-18 14:49] oaktowner opened #4473 "Need 1.2 announcement post"

[2019-06-18 16:07] #3360 closed

[2019-06-18 17:06] #4317 closed

[2019-06-18 17:10] rcaballeromx opened #4478 "Follow up on Health checking docs"
Release PR: https://github.com/istio/istio.io/pull/4433
SMEs: @incfly, @linsun

[2019-06-18 17:57] incfly commented on #4478
Thanks for this! let me know if anything is needed from me.

[2019-06-18 18:42] sushicw commented on #4016
The first part is fixed in master / 1.2 by https://github.com/istio/istio.io/issues/4410

[2019-06-18 20:52] #4327 closed

[2019-06-18 22:25] adammil2000 opened #4487 "Doc diagram has mangled label"
This diagram has the word traffic mangled a bit, near the bottom of the diagram:
https://preliminary.istio.io/docs/concepts/traffic-management/routing/gateways/./gateways-2.svg

[2019-06-18 23:55] #4374 closed

[2019-06-19 00:12] #4337 closed

[2019-06-19 01:20] rcaballeromx opened #4491 "Follow up on upgrade instructions."
Decide which options need to be upgraded manually and add guidance on how to do so.
Release PR: https://github.com/istio/istio.io/pull/4472
SMEs: @linsun, @sdake, @howardjohn, @geeknoid, @frankbu

[2019-06-19 17:32] johnma14 opened #4497 "Follow up on adding descriptions for configuration options in the installation options page"
The configuration options listed in the installation options page (including their values and descriptions) are generated from the values.yaml file under istio/install/kubernetes/helm/istio and the sub charts directory using the tablegen.py script. If the descriptions are available for a configuration option in the values.yaml, it is used to populate the description field of the installation optio

[2019-06-19 17:35] johnma14 commented on #4497
@rcaballeromx @howardjohn @sdake @linsun Just wanted to bring this to your attention that this is a follow up to the discussion we had in  #4408 regarding adding descriptions for configuration options. Thanks.

[2019-06-19 20:40] rvennam opened #4503 "Issue with Health Checking of Istio Services page"
https://istio.io/docs/ops/setup/app-health-check/#use-annotations-on-pod

The `Use Annotations on Pod` section seems incorrectly sandwiched between the global install option. Moving this section to after `Re-deploy the liveness health check app` might make it flow better.

Currently, `Re-deploy the liveness health check app` is a continuation of the feature to enable it globally.

@incfly

[2019-06-19 21:08] #4387 closed

[2019-06-19 21:09] douglas-reid opened #4504 "galley and istioctl command pages include mixer metrics"
This is likely due to some strange library dependency (validation?).

We should work to eliminate this issue somehow (that doesn't involve hand-editing).

/cc @ozevren @kyessenov

[2019-06-20 01:25] geeknoid commented on #4504
Meanwhile, I will hand edit the files and republish.

[2019-06-20 01:28] geeknoid opened #4507 "Introduce a linter to prevent orphaned links across releases"
When we move, rename, or remove a page, we need to add aliases to other pages in order to redirect incoming links to a valid location.

We should add a linter that compares all pages and aliases from preliminary.istio.io to what is currently on istio.io. Any valid page on istio.io needs to exist as a page, or as an alias on preliminary.istio.io.

@linsun FYI

[2019-06-20 01:33] kyessenov commented on #4504
That is right. Galley (and istioctl) depend on mixer validator library. Without declarative validation constraints, there is a need for either library call or RPC from galley to mixer.

[2019-06-20 15:24] douglas-reid commented on #4504
@geeknoid see https://github.com/istio/istio.io/pull/4505. that includes the hand edits.

[2019-06-20 15:36] esnible opened #4509 "Automatic injection demystification page incorrect"
I am concerned about the text in https://preliminary.istio.io/blog/2019/data-plane-setup/#automatic-injection

It says

[code]

Users don't need to restart the injector when they wish to change the namespaces where Istio applies injection.  (They might need to restart the pod if they wish to shoot themselves in the foot with a custom and non-standard injection label scheme.)

There is no such thin

[2019-06-20 15:56] ozevren commented on #4504
One of the things that i'd like to do for 1.3 is to improve the validation story. Most likely, we will need to create an independent top-level package for validation. That should decouple Galley code from other pieces of code and solve this problem as well.

[2019-06-20 18:51] #4473 closed

[2019-06-20 18:52] #4260 closed

[2019-06-20 18:52] #4259 closed

[2019-06-20 18:54] geeknoid commented on #4509
@chugtum Care to update the post?

[2019-06-20 19:28] chugtum commented on #4509
@esnible @geeknoid

From https://istio.io/docs/setup/kubernetes/additional-setup/sidecar-injection/ page:
_The default configuration injects the sidecar into pods in any namespace with the istio-injection=enabled label. The istio-sidecar-injector configuration map specifies the configuration for the injected sidecar. To change how namespaces are selected for injection, we need to edit the Mutating

[2019-06-20 19:38] #4421 closed

[2019-06-20 20:12] #3853 closed

[2019-06-20 20:20] esnible commented on #4509
This is supposed to be a "10 minute read" demystifying sidecar injection.  Consider dumping material related to changing injection behavior unless you can imagine a user needing to do that.

My comments also apply to the documentation https://preliminary.istio.io/docs/setup/kubernetes/additional-setup/sidecar-injection/ which is an "8 minute read".

If we must keep material related to editing the

[2019-06-20 20:36] chugtum commented on #4509
It is more to do with making user aware of a possibility of doing that and if someone is interested, I am sure they can dig deeper to figure out how to get that done. That's why I just made a point about it (awareness more than de-mystifying, even it means doing a non-standard thing for advanced users).

But I am fine dumping it, if you and @geeknoid feel it doesn't add much and is not a fit in th

[2019-06-21 17:33] incfly commented on #4478
Quote from @rvennam  in https://github.com/istio/istio.io/issues/4503

[2019-06-21 17:33] incfly commented on #4503
Closing this one and using https://github.com/istio/istio.io/issues/4478 as a single tracking issue for doc improvements.

[2019-06-21 17:33] #4503 closed

[2019-06-21 17:38] incfly commented on #4416
/cc @quanjielin @JimmyCYJ @wattli

[2019-06-21 19:39] quanjielin commented on #4416
@Niksko thanks for submit the PR; BTW, for 3, support sds on controlplane is WIP feature, /cc @costinm who owns this now.

[2019-06-22 23:26] jaygorrell opened #4531 "Socket connections not well documented"
The closest I can find is on this page https://istio.io/docs/reference/config/networking/v1alpha3/sidecar/, which uses `defaultEndpoint: unix:///var/run/someuds.sock` on the `Sidecar` resource:

In addition to documenting how this works in general, some specifics that need covered:
1. Why this may be wanted.
2. What socket should be mounted and from where.
3. Usage of `sidecar.istio.io/userVolumeM

[2019-06-24 08:03] timlittle opened #4533 "Incompatible changes from 1.0.6 to 1.1 are missing"
Recently GKE upgraded its Istio Addon to 1.1.3.

When reviewing the [release notes on the 1.1 upgrade](https://istio.io/about/notes/1.1/) it mentions that are incompatible changes however the link to the [upgrade notice](https://istio.io/docs/setup/kubernetes/upgrade/notice) points to the upgrade notice for 1.2 rather than 1.1.

Could we version control the upgrade notice so these links still work

[2019-06-24 15:32] geeknoid opened #4538 "Spell checking doesn't work consistently"
See https://github.com/istio/istio.io/pull/4537 for an example typo which slipped through the spell checker. Is it because the text is in a callout?

[2019-06-24 17:13] adammil2000 opened #4547 "Slash characters breaking commands reference docs"
Linter is failing due to a slash character that has been introduced into the id field of the metrics section of several command reference docs, breaking any attempt to link to them. Here is an example of a bad id (and table class is affected too):

[code]

Note the slashes in front of the quote characters. Removing these slashes makes the links work again. Here's an example that works after being

[2019-06-24 17:19] rcaballeromx commented on #4547
@geeknoid This is an issue we might need to fix in either the script generating the content or on the API repo.

[2019-06-24 17:33] wattli commented on #4416
Hi Niksko, please feel free to submit a PR and include me and @quanjielin as reviewers. Thanks.

[2019-06-24 17:56] adammil2000 commented on #4547
I found that most files under the reference/commands path affected by this.

[2019-06-24 18:24] geeknoid commented on #4547
I fixed this bug a while ago, but the updated version of the code hasn't made it to the istio/istio repo yet. I'll go hunt down why that . didn't happen yet.

[2019-06-24 20:29] costinm commented on #4416
The gradual sds and control plane with sds will only be supported in the
new installer.

On Mon, Jun 24, 2019, 10:33 Tao Li <notifications@github.com> wrote:

[2019-06-25 00:02] #4547 closed

[2019-06-25 14:21] frankbu commented on #3933
Closing as it's fixed in #4321

[2019-06-25 14:21] #3933 closed

[2019-06-25 14:32] johnma14 commented on #3739
Closing this one for now. Opened this issue: https://github.com/istio/istio.io/issues/4497 to track insufficient documentation for all configuration options. Thanks Ed.

[2019-06-25 14:32] #3739 closed

[2019-06-26 02:19] jroper opened #4556 "Missing diagram in traffic management documentation"
On https://istio.io/docs/concepts/traffic-management/, there is a paragraph that says "The following diagram" with no following diagram:

![missing-diagram](https://user-images.githubusercontent.com/105833/60146360-a3675b00-980c-11e9-93e6-7886435ab2e6.png)

[2019-06-26 13:39] #4416 closed

[2019-06-26 18:12] brian-avery opened #4560 "Operations Content Could Be Better Integrated with Tasks"
Currently, the tasks and operations are two separate sections and it's not always obvious when to look in the operations guides and what for.

It's easy for a user, for instance, to follow the Secure Gateways guide, try to implement it on a second gateway, and find out that things don't work without ever realizing there's a doc in Operations on that.

I think that we should more closely integrate

[2019-06-26 18:22] forkjoseph commented on #3191
is this still coming shortly?

[2019-06-26 23:07] chugtum commented on #4509
@geeknoid
Have raised the following PR for the updates as discussed.
Updating Demystifying Istio's Sidecar Injection Model Page #4562.

[2019-06-27 15:55] esnible opened #4564 "MySQL faq instructions incorrect and hard-to-read"
I went to https://istio.io/faq/security/#mysql-with-mtls and followed the instructions.

The Issue is that the syntax of the instructions is either incorrect or not compatible with the Bash 3.x on OSX.  Instead of `-f <<` it should be `-f - <<` for both the "Disable Mutual TLS" and "Enable mutual TLS in STRICT mode" paths.

It would also help to replace `- name: mysql-service` and `host: "mysql-se

[2019-06-28 13:42] geeknoid commented on #4564
@esnible I hate to "shoot the messenger" you, but would you mind tackling this one?

Also, the description for this page says "Trouble shooting" which should be one word.

[2019-06-28 14:37] #4564 closed

[2019-06-28 20:19] #4509 closed

[2019-06-28 20:58] linsun opened #4579 "Organize our get started experience and flow"
currently, our tasks are focused on having users start with traffic mgmt first.  for example:

if you visit get started page, https://istio.io/docs/setup/kubernetes/getting-started/, we ask users to do a bunch of traffic mgmt tasks before metrics and there is no task related to security in there.

Also, if you go to tasks section, traffic mgmt is always first.

What we have found out is the story

[2019-06-28 21:37] frankbu commented on #4579
I agree observability should be moved ahead of traffic management in both tasks and concepts.

Security is complicated, so other than a high level explanation that service-to-service calls are mtls secured, not sure what kind of security tasks would be appropriate early in getting started. Not to mention, a large number of the traffic-management tasks are related to security of ingress and egress,

[2019-06-29 04:25] geeknoid commented on #4579
Excellent feedback Lin.

[2019-06-30 02:15] jaygorrell opened #4590 "Issue with blog/2019/custom-ingress-gateway/index.md"
Guide never uses the LE cert's secret `istio-customingressgateway-certs` or even enables SDS. The Gateway references the default volume mount for `ingressgateway-certs`.

[2019-07-01 14:50] tibetsam opened #4591 "pilot ctlz listening on ipv4 in ipv6 cluster"
i'm running istio in an ipv6 cluster. But when i check ports which pilot is listening. I found one of port(9876) is listening on ipv4 loopback.

root@mastermint:~/go/src/istio.io/istio# kb exec istio-pilot-557f858dc4-26d9v -nistio-system -- netstat -anp
Defaulting container name to discovery.
Use 'kubectl describe pod/istio-pilot-557f858dc4-26d9v -n istio-system' to see all of the containers in th

[2019-07-01 14:52] tibetsam commented on #4591
@sbezverk any ideas?

[2019-07-01 14:53] tibetsam commented on #4591
root@mastermint:~/go/src/istio.io/istio# istioctl version
client version: a6291603b7634a44a72f2af8f8efdc54b6a89a2a
citadel version: master-20190628-09-15
galley version: master-20190628-09-15
ingressgateway version: master-20190628-09-15
pilot version: master-20190628-09-15
policy version: master-20190628-09-15
sidecar-injector version: master-20190628-09-15
telemetry version: master-20190628-09-1

[2019-07-01 15:34] dsbos opened #4592 "Clarify use of kubectl on non-Kubernetes Quick Start page"
The Quick Start on Docker page at https://istio.io/docs/setup/consul/quick-start/ says to install and potentially run `kubetcl`.

Given that that `kubectl` is from Kubernetes, that use of `kubectl` seems to imply that the quick start demo, which is for the _non_-Kubernetes case, actually needs Kubernetes.

It would be helpful if that page clarified that `kubectl` will be talking to a server provid

[2019-07-01 16:14] adammil2000 opened #4593 "Gloss: add Pod"

[2019-07-01 16:22] adammil2000 opened #4594 "Gloss: add Kubernetes namespace"

[2019-07-01 16:23] adammil2000 opened #4595 "Gloss: add Service discovery adapter"

[2019-07-01 16:23] adammil2000 opened #4596 "Gloss: add Namespace isolation"

[2019-07-01 16:23] adammil2000 opened #4597 "Gloss: add CA plug-in"

[2019-07-01 16:34] adammil2000 opened #4598 "Gloss: add CSR"
Def:
Citadel Secret Registry???

[2019-07-01 16:34] adammil2000 opened #4599 "Gloss: add SDS API"
Def:
Secret Discovery Service API

[2019-07-01 16:36] adammil2000 opened #4600 "Gloss: add Red/Black deployments"

[2019-07-01 16:36] adammil2000 opened #4601 "Gloss: add Sidecar"

[2019-07-01 16:37] adammil2000 opened #4602 "Gloss: add Instance scaling"

[2019-07-01 16:37] adammil2000 opened #4603 "Gloss: add Auto-scaling"

[2019-07-01 16:38] adammil2000 opened #4604 "Gloss: add Routing rule"

[2019-07-01 16:38] adammil2000 opened #4605 "Gloss: add Virtual service"

[2019-07-01 16:38] adammil2000 opened #4606 "Gloss: add Service subset"

[2019-07-01 16:39] adammil2000 opened #4607 "Gloss: add OIDC"
Def:
OpenID Connect???

[2019-07-01 16:40] adammil2000 opened #4608 "Gloss: add Principal binding"

[2019-07-01 16:40] adammil2000 opened #4609 "Gloss: add Instance configuration"

[2019-07-01 16:44] adammil2000 opened #4610 "Gloss: add SLI/SLO"

[2019-07-01 16:45] adammil2000 opened #4611 "Gloss: add Traffic rewrite"

[2019-07-01 16:45] adammil2000 opened #4612 "Gloss: add Upstream service"

[2019-07-01 16:47] adammil2000 opened #4613 "Gloss: add Canary"

[2019-07-01 16:48] adammil2000 opened #4614 "Gloss: add Blue/green deployment"

[2019-07-01 16:49] adammil2000 opened #4615 "Gloss: add Bootstrapping"

[2019-07-01 16:51] adammil2000 opened #4616 "Gloss: add SPIFFE"

[2019-07-01 16:51] adammil2000 opened #4617 "Gloss: add SPIRE"

[2019-07-01 16:51] adammil2000 opened #4618 "Gloss: add SVID"

[2019-07-01 16:52] adammil2000 opened #4619 "Gloss: add Target selector"

[2019-07-01 16:53] adammil2000 opened #4620 "Gloss: add Sidecar injection"

[2019-07-01 16:57] adammil2000 opened #4621 "Gloss: add mTLS"

[2019-07-01 16:57] adammil2000 opened #4622 "Gloss: add Secure naming"

[2019-07-01 17:19] rcaballeromx commented on #4556
Fixed on new version of the concept.

[2019-07-01 17:19] #4556 closed

[2019-07-01 19:47] rcaballeromx commented on #4422
@ericvn Thank you for providing the general steps of the process.

[2019-07-01 19:49] rcaballeromx commented on #2975
@vadimeisenbergibm I've changed the pipeline to P0 to complete this work for 1.3.

[2019-07-01 19:55] rcaballeromx commented on #1939
The latest version of traffic management no longer mentions TCP layers.

[2019-07-01 19:55] #1939 closed

[2019-07-01 19:57] rcaballeromx commented on #1939
Fixed in #4545

[2019-07-01 20:02] rcaballeromx commented on #2367
Related to #4601

[2019-07-01 21:56] kvudata commented on #3844
Any updates on this?
v1.2 has been released but the current docs on [controlPlaneSecurityEnabled](https://istio.io/docs/reference/config/installation-options/#global-options) are quite meager and it's unclear to a user of Istio what the benefit is to enabling it or when to enable it.

[2019-07-02 14:57] adammil2000 commented on #4593
Def:
Pods are the smallest deployable units of computing that can be created and managed in Kubernetes.

This definition is from: https://kubernetes.io/docs/concepts/workloads/pods/pod/

[2019-07-02 17:21] adammil2000 commented on #4593
This definition might be better:
A Pod is a group of one or more containers (such as Docker containers), with shared storage/network, and a specification for how to run the containers. A pod is the smallest deployable unit of computing in Kubernetes.

[2019-07-03 06:47] zgfh commented on #3861
@zhongfox I have same problem, how to changed ?

[2019-07-03 06:57] zgfh commented on #3861
@geeknoid should we add one more blank line to work around?

[2019-07-03 07:17] zgfh commented on #3861
it work,how to change:
mac: System Preferences. (Look in General or search for scroll bar behavior.)
mac的 系统偏好设置->通用->显示滚动条，选择始终
![image](https://user-images.githubusercontent.com/11729624/60571098-80f1b680-9da5-11e9-8dde-bae25be7fef3.png)

[2019-07-03 13:53] abonas opened #4629 "Egress GW task - why is there a need in destination rule?"
The egress example task
https://istio.io/docs/tasks/traffic-management/egress/egress-gateway/
states there is a need to create a Gateway and a Destination rule.
Can perhaps someone explain why DS is needed in this example?
Also, the ingress task does not list DS as needed:
https://istio.io/docs/tasks/traffic-management/ingress/ingress-control/

[2019-07-03 14:59] #2542 closed

[2019-07-03 19:44] kbruner commented on #3191
Also, will this cover the precedence when a resource annotation performs the same functionality as a field in an Istio resource?  Example: `networking.istio.io/exportTo` vs the `exportTo` key in a `ServiceEntry` or `VirtualService`

[2019-07-04 10:31] somerobmitchell commented on #4533
We also need the 1.1 upgrade notice but cannot find it anywhere. Is it held in version control any where?

[2019-07-04 10:45] somerobmitchell commented on #4533
As is always the way I found it after posting!

https://github.com/istio/istio.io/blob/6d4497bac989a834cce1994dd8c3449d8d9a97d0/content/docs/setup/kubernetes/upgrade/notice/index.md

The link on the publish docs still points to the wrong upgrade notice as per the OP.

[2019-07-06 17:56] vadimeisenbergibm commented on #4629
The Destination Rule is needed to enable mTLS on the traffic between the application pod and the gateway.

[2019-07-07 10:36] chrisx01 commented on #3176
i run in the same problem, but it's should fixed, which command must I run on in my terminal window ?

[2019-07-07 11:27] abonas commented on #4629
thanks Vadim. But why is it needed only for Egress and not for Ingress?

[2019-07-07 13:10] vadimeisenbergibm commented on #4629
You are welcome. In the Ingress case, the internal traffic is from the gateway to the service inside the mesh. The destination rule regarding the traffic to the service inside the mesh should already be in place, either globally, or per namespace, or per the service. And you can define it explicitly as well.

See more about mTLS and destination rules https://istio.io/docs/tasks/security/authn-poli

[2019-07-07 13:12] #4629 closed

[2019-07-08 06:45] johnma14 commented on #3576
@linsun Closing this issue for now since @ostromart is working on an alternative way to generate this page.

[2019-07-08 06:56] johnma14 commented on #3660
This was fixed and merged in this PR: https://github.com/istio/istio/pull/12472. So closing it. Thanks.

[2019-07-08 06:56] #3660 closed

[2019-07-08 16:31] frankbu commented on #3176
@chrisx01 follow these instructions: https://istio.io/docs/setup/kubernetes/install/kubernetes/

[2019-07-08 18:55] johnma14 commented on #4384
This is a duplicate of https://github.com/johnma14/istio.io/commit/f8bd75b9bd6d8470695b6807eac5f92a746838ed

[2019-07-08 19:21] sdake commented on #4384
this issue is tracks the PR.  Reopening.

[2019-07-09 17:37] geeknoid commented on #4533
It's definitely not ideal that the 1.1 release notes points to the 1.2 upgrade notice. We should either keep around the old upgrade notice, or make the 1.1 release notes on istio.io point to the upgrade notice from archive.istio.io.

[2019-07-10 17:13] ericvn commented on #3690
I have run through the current (and the release 1.1) docs many times for split horizon on IKS (IBM Kubernetes Service) and this works. I know the split horizon test simply creates the secret from the kubeconfig file (would be running on GKE). Creating the secret from the kubeconfig file on IKS fails since the CA_DATA file there points to a .pem file in the same directory.

Is there a particular en

[2019-07-11 16:34] rcaballeromx opened #4662 "Gloss: Add Policy"
The docs use "policies" in different contexts and to refer to very different things.
The definition must include what actions apply to "policies", for example:
- Enforce
- Apply
- Define

[2019-07-11 22:46] ayj commented on #2851
This is fixed.

[2019-07-11 22:46] #2851 closed

[2019-07-12 16:07] sdake commented on #4258
resolved, closing.

[2019-07-12 16:07] #4258 closed

[2019-07-12 18:32] sdake commented on #3789
@duanshiqiang I lost track of this issue.  https://istio.io/charts should contain all released versions of the charts.  I'll speak with test and release about getting the charts released properly if they have not already been rectified.

[2019-07-12 20:02] sdake commented on #3322
@brian-avery - any update on this issue?

Cheers
-steve

[2019-07-15 21:14] #2640 closed

[2019-07-16 01:45] xp13910818313 opened #4673 "zh: Issue with docs/tasks/traffic-management/fault-injection/index.md"
https://istio.io/zh/docs/tasks/traffic-management/fault-injection/ 中的“练习”一章写错了， 不是“将延迟规则更改为使用 2.8 秒延迟，然后针对 v3 版本的 reviews 运行它。”
应改为 “将延迟规则更改为使用 2.5 秒延迟，然后针对 v3 版本的 reviews 运行它。”

[2019-07-18 14:05] kish3007 commented on #3254
is the grpc loadbalancing is working currently? because in my case load balancing is not working correctly with grpc services.

[2019-07-18 17:04] esnible commented on #3254
@kish3007 I did an experiment and was able to see gRPC load balancing.  I had difficulties with mTLS and GRPC but if I did not attempt to force mTLS settings it worked.

To test, I constructed a Service and a 2 replica Deployment using `image: fortio/fortio:latest_release` with `command: ["/usr/bin/fortio", "server", "-loglevel", "verbose"]` so that the server would log received traffic.

I then s

[2019-07-18 17:21] kish3007 commented on #3254
I am using Istio version 1.1.5, can you tell me what version yo ran the test?

[2019-07-19 02:09] navinger commented on #4605
https://github.com/istio/istio.io/pull/4682

[2019-07-19 17:40] #4605 closed

[2019-07-20 23:41] brianmlima commented on #2932
Looks like this is happening again.
curl -vvv https://gcsweb.istio.io/gcs/istio-release/releases/1.2.2/charts/index.yaml
*   Trying 35.233.169.38...
* TCP_NODELAY set
* Connected to gcsweb.istio.io (35.233.169.38) port 443 (#0)
* ALPN, offering h2
* ALPN, offering http/1.1
* Cipher selection: ALL:!EXPORT:!EXPORT40:!EXPORT56:!aNULL:!LOW:!RC4:@STRENGTH
* successfully set certificate verify locations

[2019-07-20 23:43] brianmlima opened #4694 "gcsweb.istio.io Certificate has expired 2019/07/20"
curl -vvv https://gcsweb.istio.io/gcs/istio-release/releases/1.2.2/charts/index.yaml
*   Trying 35.233.169.38...
* TCP_NODELAY set
* Connected to gcsweb.istio.io (35.233.169.38) port 443 (#0)
* ALPN, offering h2
* ALPN, offering http/1.1
* Cipher selection: ALL:!EXPORT:!EXPORT40:!EXPORT56:!aNULL:!LOW:!RC4:@STRENGTH
* successfully set certificate verify locations:
*   CAfile: /etc/ssl/cert.pem
  CA

[2019-07-23 17:13] #4593 closed

[2019-07-23 17:33] rcaballeromx opened #4696 "Develop a comprehensive Istio tutorial"
This issue tracks the work to develop a comprehensive tutorial of Istio. The new tutorial will be based on @vadimeisenbergibm 's PR #1035
[The intended table of contents](https://deploy-preview-1035--preliminary-istio.netlify.com/docs/tutorial/) will help us develop the content gradually by tackling sections one at the time. This approach will help limit the size of the PRs to make reviewing the c

[2019-07-23 17:44] rcaballeromx opened #4697 "Add the first pages of the comprehensive Istio tutorial"
The current contents can be found in PR #1035

- [ ] Add a skeleton bundle page for the Tutorial: /docs/examples/wip/tutorial/_index.md
- [ ] Add a page with the contents of Prerequisites: /docs/examples/wip/tutorial/prereq/index.md
- [ ] Add a page with the contents of Setup: /docs/examples/wip/tutorial/setup/index.md
- [ ] Add a page with the contents of Run a single microservice locally: /docs/

[2019-07-23 17:53] rcaballeromx opened #4700 "Share the effort to create a comprehensive Istio tutorial with the community."
Over-communicate our approach to ensure users and community members understand that the tutorial at the early stages should only be used at their own risk:

- [ ] Post on discuss.istio.io sharing the fact that we begun to work on the tutorial and request feedback and help from the community.
- [ ] Mention the effort during the next Community sync meeting and answer questions about the effort.
- [

[2019-07-23 17:55] rcaballeromx commented on #3802
I've added this issue to the development of a comprehensive Istio tutorial since installing the Bookinfo app is a part of it.

[2019-07-23 20:23] WxFang commented on #4150
Any update?

[2019-07-24 05:52] tedli opened #4705 "Question: At which step or which istio component generates the ‘x-b3’ headers for application to propagate"
I learnt that applications must propagate a set of `x-b3` headers to achieve mixer based distributed tracing.

I’m curious about that, where did the initial values of these headers be generated. If there is no values, nothing can be forwarded, it’s meaningless to propagate.

I’ve searched in repository `istio/proxy`, but seems that no related logic.

Is there any docs talks about this? Or can some

[2019-07-24 07:51] tedli commented on #4705
Here ?
https://github.com/istio/istio/blob/2604938c2a7429c49c2f35388d241599cd1585e1/mixer/pkg/server/interceptor.go#L65

[2019-07-24 07:53] objectiser commented on #4705
Istio's proxy uses the [envoy proxy](https://github.com/envoyproxy/envoy).

When handling a request, if no trace context (i.e. `x-b3-*` headers)  is available, then it will create a new trace instance and [generate the appropriate ids](https://github.com/envoyproxy/envoy/blob/master/source/extensions/tracers/zipkin/tracer.cc#L30-L38).

[2019-07-24 07:56] tedli commented on #4705
@objectiser
Thanks a lot. Great help. 😁

[2019-07-24 07:56] #4705 closed

[2019-07-24 18:40] navinger commented on #4604
https://github.com/istio/istio.io/pull/4711

[2019-07-24 19:07] linsun commented on #4579
@frankbu @geeknoid any possibility we target this for 1.3 or 1.4?

@frankbu agree security is complicated other than mTLS.  I think it makes sense to start with mTLS (out of security) first given that is stable and requires little or no configuration.

[2019-07-24 20:06] frankbu commented on #4579
@linsun, yes, I think we should be able to at least make some progress in this direction by 1.3. There's also @vadimeisenbergibm's tutorial coming, so that might also change how we structure the get started material.

[2019-07-25 07:39] Anonymous-Coward opened #4714 "Wrong commands in setup instructions"
This page + section: https://istio.io/docs/setup/kubernetes/install/helm/#option-2-install-with-helm-and-tiller-via-helm-install

` helm install install/kubernetes/helm/istio-init ...` should be replaced by ` helm install istio.io/istio-init  ...` and `helm install install/kubernetes/helm/istio ...` by `helm install istio.io/istio ...`, since in the setup process described in that section no downl

[2019-07-25 08:30] Docteur-RS opened #4715 ""Unknown directive proxy" when using coreDNS's configmap from documentation"
# Where
In page **Setup** -> **Kubernetes** -> **Install** -> **Multicluster installation** -> ***Multiple control planes*** and section **Setup DNS** the coreDNS configuration is invalid.

# What
When trying to create a multicluter installation using the documentation an error occurs when updating the coreDNS configmap.
The given config ends with the coreDNS pods in state *CrashLoopbackOff*.
Logs

[2019-07-25 09:26] jotak commented on #4363
I'm running in the same issues while trying to activate more envoy metrics as documented here: https://istio.io/docs/ops/telemetry/envoy-stats/

That's not just a doc issue ... should we open another ticket to fix this annotation processing bug in a first place?

[2019-07-25 13:13] linsun commented on #4579
That is @frankbu - I moved it to 1.3.   @vadimeisenbergibm assume this is your tutorial - https://github.com/istio/istio.io/issues/4697

[2019-07-25 13:27] vadimeisenbergibm commented on #4579
@linsun right, this is the first PR for the tutorial. We decided to proceed module by module, each module as a separate PR.

[2019-07-25 19:01] rcaballeromx commented on #4604
Fixed: #4711

[2019-07-25 19:01] #4604 closed

[2019-07-25 19:16] linsun opened #4719 "Quick start page feedback"
Flow I'm going through:
istio.io - click on get started button - gets me to get started page, which shows 3 things:

1. Setup your platform
2. Download the Istio release
3. Follow the quick-start installation instructions

I did 1 and 2, then when I go to 3, it also has prerequisites:
Download the Istio release.
These quick-start instructions will not work with a downloaded istio repository becaus

[2019-07-25 19:21] linsun commented on #4719
Also, this page (https://istio.io/docs/setup/kubernetes/) seems a duplicate of the quick start page (https://istio.io/docs/setup/kubernetes/getting-started/).

It is interesting in one doc there is 4 steps, in the other there is 3 steps.

[2019-07-25 19:51] frankbu commented on #4719
I'm not sure that would be better. It's good for readers to see the short intro at the top, so they understand what they're installing. Don't forget that the definition of prerequisite is something you need to have done first, before you proceed, so if the user already did it as part of the getting started instructions, that's fine. Anyway that's my opinion but I'm open to more people's thoughts.

[2019-07-26 18:33] johnma14 opened #4726 "Fix external broken link referred to in the blog- Traffic Mirroring with Istio for Testing in Production"
Fix broken link referred in the blog: (https://github.com/istio/istio.io/blob/master/content/blog/2018/traffic-mirroring/index.md)

[2019-07-26 20:04] johnma14 commented on #4726
Fixes the linter failures like the one mentioned here: https://circleci.com/gh/istio/istio.io/13777?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2019-07-26 21:41] navinger opened #4730 "Title and link changes related to Observability"
In PR https://github.com/istio/istio.io/pull/4448, the section title was changed from "Telemetry" to "Observability" and the URL changed to https://istio.io/docs/concepts/observability/ and links to the doc were updated.

We should make a similar change in the Tasks section of the docs.

[2019-07-27 13:20] #4384 closed

[2019-07-29 14:41] linsun opened #4735 "Clarify mesh expansion concept"
We are taking a pass of MC concept, would need to ensure our mesh expansion doc is current and concept is clear.

[2019-07-29 14:42] linsun opened #4736 "Update mesh expannsion steps for IKS"
Would love to see your tutorial to become istio.io doc so it is a living doc.

[2019-07-29 14:43] linsun commented on #4735
#4736

[2019-07-29 21:24] tmshort opened #4738 "Instructions to get envoy certificate out of date"
This page: https://istio.io/docs/ops/security/keys-and-certs/ describing how to get the certificate used by the envoy proxy is out-of-date.

Near the end of the page, It states that certificates are available in /etc/certs. This is not the case any more.

[2019-07-30 07:04] johnma14 opened #4739 "Link to permissive Mutual TLS page in Quick Start Evaluation Install not set correctly"
This is a minor error in the markdown used to display a link

[2019-07-30 11:15] pawelprazak commented on #4146
Problem I see is the query:
[code]
vs
[code]

If I change `service=istio-ingressgateway.istio-system` to `service=istio-ingressgateway` it works.

Kiali `v0.21`
Jaeger `1.9`
Istio `1.2.2`

[2019-07-30 19:20] febus982 opened #4741 "Helm ingressgateway svc template is invalid when service type is `ClusterIP`"
The values is blindly pushing all the ports blindly, however when setting the service type to `ClusterIP`, the `nodePort` property can't be used, hence making the template invalid.

The template should not set the `nodePort` property when the service type is `ClusterIP`

[2019-07-31 19:12] ostromart opened #4744 "Docs for operator CLI for 1.3"
Several items are needed:
[ ] Operator CLI as one of the installation options. (@adammil2000)
This will be alpha for 1.3 so it should not be recommended for production, but this will be the preferred way long term. Explain why user would choose this option.
[ ] Operator landing page. (adammil2000, ostromart)
High level concepts/intro. Can use existing README, ARCHITECTURE and design docs as starti

[2019-08-01 19:53] esnible opened #4747 "Suggestion: task, sample, or blog for `kind: Sidecar`"
We have a new TrafficManagement type, Sidecar, which has been documented in the istio.io reference section since March.

There is no introduction to it ... no blog article, no Traffic Management Task, no Examples/Bookinfo control-your-sidecar configuration.

I propose we add an example that makes sense in the context of Bookinfo, for example

[code]

Also, https://istio.io/docs/reference/config/ne

[2019-08-05 14:01] irisdingbj commented on #4736
https://github.com/istio/istio.io/pull/4713

[2019-08-05 17:54] esnible opened #4760 "Misleading TLS example Policy name"
The [lockdown to mutual TLS](https://preliminary.istio.io/docs/tasks/security/mtls-migration/#lock-down-to-mutual-tls-optional) instructions include an example:

[code]

The name of this Policy, `example-httpbin-permissive`, is extremely misleading.  Let's call it `example-httpbin-strict`.

[2019-08-06 14:13] sebarys opened #4769 "Setting istio sidecar proxy resource request/limit"
Hello :)

Is there an option to set istio proxy sidecar request/limits per application (`Pod`)? For some of our applications we would like to use `Guaranteed` QoS (https://kubernetes.io/docs/tasks/configure-pod-container/quality-service-pod/) that require setting `limit == request` for all Pod containers. Without such functionality we're loosing this feature.

Thanks for help in advance!

[2019-08-06 20:34] ostromart commented on #4744
See also my draft for the first two items above:
https://docs.google.com/document/d/12Yj-8HbsggPc256eWxhtqx3vWZD2oGBBU_V6Mu5oz88/

[2019-08-06 20:42] ostromart commented on #4769
Hi, that is currently available through the helm passthrough API in the operator, so you could write:
trafficManagement:
  components:
    proxy:
      values:
        resources:
          requests:
           cpu: <your values>
This will pass through to the sidecar injector template.
We're also working on being able to use the common k8s struct for the injector template, so you'll be able to use:

[2019-08-07 07:22] sebarys commented on #4769
Hi @ostromart, thanks for info.
Unfortunately I think it not solve my problem as it is the global config value and if I understood correctly it could be used only during Istio installation, not applied for each Pod separately.
Some of our applications have bigger traffic so need higher requested `resource` values, other lower. As istio-proxy resources are somehow proportional to application contai

[2019-08-08 07:26] #4769 closed

[2019-08-08 18:50] rcaballeromx opened #4772 "Enhance the Diagram Creation guide"
This issue impacts both the [Google draw](https://docs.google.com/drawings/d/1f3NyutAQIDOA8ojGNyMA5JAJllDShZGQAFfdD01XdSc/edit) and the [SVG](https://istio.io/about/contribute/diagrams/) versions of the guide.

Add the following elements to the guide:

- [ ] A graphic representation for destination rules.
- [ ] A graphic representation for clusters.
- [ ] A graphic representation for networks.
- [

[2019-08-08 20:11] nmittler commented on #4772
@rcaballeromx a couple more...

- Service Registry: I was planning on representing this with a database symbol, but we could represent it the same way we do other istio components, I suppose. IIRC I only need this for a single diagram ... perhaps it's fine to just use a one-off symbol for this?
- Clarity on how to indicate multiple replicas of things by having multiple overlapping symbols slightly

[2019-08-08 22:04] fejta opened #4775 "linsun-patch-12 has required prow jobs but does not use protection"
/assign @linsun @geeknoid

[code]

[2019-08-09 11:14] geeknoid commented on #4775
This is related to https://github.com/istio/test-infra/issues/1511

[2019-08-09 11:16] #4775 closed

[2019-08-09 11:16] geeknoid commented on #4775
Issue moved to [istio/test-infra #1639](https://github.com/istio/test-infra/issues/1639) via [**ZenHub**](https://www.zenhub.com/)

[2019-08-09 16:55] rcaballeromx opened #4777 "Blog post regarding the supported Kubernetes versions in Istio 1.3 with SDS enabled."

[2019-08-12 07:56] ufou opened #4780 "readiness.status.sidecar.istio.io/applicationPorts being ignored?"
I have a deployment where the service is bound against one TCP port and the container another port, the service references the container port in `targetPort`, eg:
[code]

After enabling the istio sidecar injection on the namespace that the service/pod reside in I noticed errors in the istio-proxy log like:
[code]

After a quick google I found an annotation which looked like it would help: `readine

[2019-08-12 09:12] ufou commented on #4780
I was missing something - the targetPort and port values were mixed up in the deployment, closing this!

[2019-08-12 09:12] #4780 closed

[2019-08-12 16:00] rvennam opened #4781 "Best practices for organizing resources across namespaces"
Request for a topic/task/blog that covers common questions when users run Istio in production:
1. Should Istio resources be defined in the same namespace as my services?
2. What resources are namespace scoped vs cluster scoped?
3. Do my VS and Gateway resources need to be in the same namespace?
4. Can I isolate and protect my gateway resources under a separate admin control and allow my applicatio

[2019-08-12 16:20] vadimeisenbergibm commented on #4781
Regarding 5.: You can use Kubernetes RBAC to limit who can write configuration objects to a specific namespace.

[2019-08-12 18:14] philbour opened #4782 "Issue with _index.md"
Latest version is 1.2.3, but on istio homepage the download button/link is still 1.2.2

[2019-08-15 12:03] hobbytp opened #4794 "Issue with docs/ops/telemetry/envoy-stats/index.md"
The word "inclusion_list" and "stats_matcher" in following statement have been changed in envoy: inclusionList and "statsMatcher"

The original statement is:
"_Envoy only collects statistical data on items matching the inclusion_list within the stats_matcher JSON element._"

[2019-08-15 17:44] philbour commented on #4782
Istio homepage now showing correct/latest version

[2019-08-15 17:44] #4782 closed

[2019-08-15 23:44] sdake opened #4802 "address some minification logic potentially lost"
original command:
[code]

new command:
[code]

The operation `--presets minify` was lost.  From what I can tell, this forces babel to transpile down based upon the desireed web browsers.  This does require setting up a list of browsers, which wasn't done - so I'm not sure this preset was ever active.

[2019-08-15 23:44] sdake commented on #4802
cc @geeknoid

[2019-08-16 17:16] #4531 closed

[2019-08-16 20:39] geeknoid opened #4807 "zh: Reenable spell checking over the Chinese content"
https://github.com/istio/istio.io/pull/4806 fixed a problem where we weren't systematically checking all markdown files. Doing so triggered a number of errors from the Chinese content, so I disabled spell checking there until you guys can address the warnings.

Once the typos are fixed, please go into scripts/lint_site.sh, look for the line that runs "mdspell" and in that line change "content/en"

[2019-08-16 22:00] sdake commented on #4802
A compared to B:
https://preliminary.istio.io/js/all.min.js

and the original:

https://istio.io/js/all.min.js

[2019-08-17 14:33] sdake commented on #4802
the logic was reintroduced.  CLosing.

[2019-08-17 14:33] #4802 closed

[2019-08-18 16:46] navinger commented on #4730
On the Istio.io landing page, the "Observe" block goes to:
/docs/reference/config/policy-and-telemetry/

It should go to:
/docs/concepts/observability/

[2019-08-19 03:00] rootsongjc commented on #4807
[code]
There are so many spelling errors that I have no idea how to correct them.

[2019-08-19 16:40] geeknoid commented on #4807
So right now, we're doing spell checking over the Chinese content using the en-US dictionary. I'm guessing the spell checker ends up looking at only English bits of content and ignores the Chinese part.

I think a lot of the errors you show here are about missing backticks. For example, google.rpc.Status or listentry should be in backticks. This renders the content as code and is skipped by the sp

[2019-08-20 14:03] esnible commented on #4592
We need something from the community who uses Istio outside Kubernetes to work on this.  I do not have the skill.  This repo has no tag requesting community help.  Who could do it?

I am willing to help with formatting but I can't write it.

[2019-08-20 14:04] esnible commented on #4747
@frankbu Can we think of someone who could write this content?  If there is no one assign it to me.

[2019-08-21 14:23] rootsongjc commented on #4807
Maybe <https://github.com/hustcc/lint-md> is a good choice for Chinese markdown docs. @zhongfox from ServiceMesher community has recommended this to me before

[2019-08-21 14:31] rootsongjc commented on #4807
/assigin @zhongfox

[2019-08-22 08:42] jianglijie opened #4818 "Issue with docs/setup/kubernetes/install/helm/index.md"
I find the count of crds is 53 in chinese(https://istio.io/zh/docs/setup/kubernetes/install/helm/), but it's 23 in english(https://istio.io/docs/setup/kubernetes/install/helm/). Which one is right?
And I installed ther 23 crds, It report ` no matches for kind "metric" in version "config.istio.io/v1alpha2"` and ` no matches for kind "prometheus" in version "config.istio.io/v1alpha2"` when I kubectl

[2019-08-24 13:37] Aisuko opened #4823 "Issue with docs/setup/kubernetes/install/helm/index.md"
Please have a look at this https://istio.io/zh/docs/setup/kubernetes/install/helm/#%E6%96%B9%E6%A1%88-1-%E4%BD%BF%E7%94%A8-helm-template-%E8%BF%9B%E8%A1%8C%E5%AE%89%E8%A3%85 . the number of the istio's CRD is 53.

But there is a blog 2019 https://istio.io/blog/2019/evolving-istios-apis/#what-s-coming-next , and it said `in Istio 1.2.x we cut the number from 54 down to 23.`

So, please fix that ,re

[2019-08-27 16:36] ericvn opened #4841 "Supported Kubernetes versions?"
Should the current statement be Kubernetes 1.13, 1.14, and 1.15?

[2019-08-27 16:40] scottilee opened #4842 "Fix Setup Page Section Ordering"
https://preliminary.istio.io/docs/setup/#downloading-the-release

The 4 numbered links at the top of the page list: 3. Download the Istio release 4. Install Istio on your platform

But the sections at the bottom start with "Installing Istio" and then "Downloading the release". The sections at the bottom should be switched so it's "Downloading the release" first and then "Installing Istio".

[2019-08-27 16:59] ericvn opened #4843 "setup/install/multicluster/shared-gateways/ should use global for kube versions"

[2019-08-27 17:20] fpesce opened #4845 "platform-setup minikube inconsistent use of sudo for tunnel command"
While following the
https://preliminary.istio.io/docs/setup/platform-setup/minikube/
documentation, I realized the `sudo minikube tunnel` was not working on my environment (debian), while `minikube tunnel` worked.

[2019-08-27 18:02] #4843 closed, assigned to nobody

[2019-08-27 18:21] scottilee opened #4850 "Docker Desktop Setup Version Needs Update"
Both Windows (https://docs.docker.com/docker-for-windows/release-notes/) and Mac (https://docs.docker.com/docker-for-mac/release-notes/) stable versions of Docker Desktop (both at version 2.1.0.1) support Kubernetes 1.14.3.

https://preliminary.istio.io/docs/setup/platform-setup/docker/

1. The green info note should be updated from "The stable version of Docker Desktop contains Kubernetes 1.10.11

[2019-08-27 18:23] esnible opened #4851 "docs / operations / troubleshooting / Component Logging"
Documentation unclear.  The documentation looks user-facing, but is written as though it is internal developer facing.

Says "You control these logging features by passing command-line options when starting the components."  Should say "You control these logging features by setting global.logging.level when installing via Helm" (or similar.)

Says "Pilot, Citadel, and Galley have their own scopes

[2019-08-27 18:43] esnible opened #4852 "DOCS / OPERATIONS / TROUBLESHOOTING / COMPONENT INTROSPECTION not user-centric"
DOCS / OPERATIONS / TROUBLESHOOTING / COMPONENT INTROSPECTION should be written from the point of the Istio user, not the Istio developer.

Remove

[code]

because it is not exposed in Istio's helm charts.

Replace

[code]

with

[code]

[2019-08-27 19:01] #4841 closed, assigned to ericvn

[2019-08-27 19:06] brian-avery opened #4853 "[istio-1.3] Sidebar cuts off content with no scroll ability"
Depending on the screen resolution, the sidebar cuts off content and you can't scroll to see the rest. Make the window larger or smaller and it works fine, so I'm not sure that it's worth fixing.

![image](https://user-images.githubusercontent.com/8484260/63800489-38093a80-c8dc-11e9-9462-8522500fcf3d.png)

[2019-08-27 23:38] JimmyCYJ opened #4858 "Many operations guide on security are missing in 1.3"
There are multiple operation guides for security, and they exist in past releases https://istio.io/docs/ops/security/
But in 1.3 istio.io doc,  they are missing in https://preliminary.istio.io/docs/ops/security/. We need to add them back.

[2019-08-28 05:22] #4858 closed, assigned to rlenglet

[2019-08-28 15:22] #4850 closed, assigned to nobody

[2019-08-28 15:47] #4842 closed, assigned to frankbu

[2019-08-28 20:09] BradErz commented on #4769
Did you understand the best way of doing this @sebarys ?

My current line of thought is we can disable the automatic injection on the apps which have more throughput and manually add in the istio-init and istio-proxy components to the deployment.

We have one application that does a lot of RPS and simply isn't enough as the pod can be scheduled on a node where it only has access to 100m instead of

[2019-08-28 21:12] BradErz commented on #4769
nvm.. seems it is possibe, just not documented really anywhere that i could see. If someone has a suggestion of where it would be best suited to add this doc i can do it in the morning.

https://github.com/istio/istio/blob/90ebc30554a21c54a4d38b9b225e877a6e74270f/pkg/kube/inject/testdata/webhook/resource_annotations.yaml.injected#L14-L16

[2019-08-28 22:51] johnma14 opened #4864 "Update the installation-options and diff files to reflect 1.3 release change"

[2019-08-29 16:09] frankbu commented on #4719
Fixed #4842

[2019-08-29 18:00] linsun opened #4871 "Use istioctl verify-install in the doc"
https://preliminary.istio.io/docs/setup/install/kubernetes/#verifying-the-installation

instead of asking users to manually validate?

@irisdingbj @frankbu WDYT?

[2019-08-29 18:13] frankbu commented on #4871
There was already a PR for this that seems to have stalled: #4251

[2019-08-29 19:00] linsun opened #4872 "Add an FAQ around disable auto detect inbound port"
https://github.com/istio/istio.io/pull/4859
This issue was discussed in today's networking WG mtg, the consensus is that we need to put some note around how users can switch to the old behavior when the auto detect inbound port isn't working.

Thoughts @morvencao?

[2019-08-29 20:05] invertigo opened #4873 "Issue with docs/tasks/telemetry/logs/fluentd/"
Multiple teammates have worked through these directions with negative outcome.  Installing in a new k8s cluster, no data ever gets into elasticsearch.

[2019-08-30 06:51] morvencao commented on #4872
@linsun I have raised a [PR](https://github.com/istio/istio.io/pull/4875) to add an FAQ for that.

[2019-08-30 19:10] JimmyCYJ opened #4876 "Add document on debugging security PKI"
We are working on improving monitoring and debugability security PKI. Our work includes: adding debug endpoint into Citadel agent and Citadel, unifying logging pattern, adding SDS information into Envoy /config_dump and /cert endpoints. Once they are completed or a subset is completed, we need to provide a debugging guide for user.

[2019-08-30 19:10] JimmyCYJ commented on #4876
/cc @myidpt

[2019-09-03 13:13] esnible opened #4881 "Blog post introducing `istioctl experimental describe pod`"

[2019-09-03 13:15] #4760 closed

[2019-09-03 16:40] howardjohn opened #4883 "Issue with docs/ops/setup/required-pod-capabilities/index.md"
The docs provide a command to run to see if I can run Istio:
[code]

It claims:

However, when run on a cluster with no PSP, I get no output. If there are no PSP it should say I can run or something?

[2019-09-03 16:49] sdake opened #4884 "clunky language in cluster definition"
https://preliminary.istio.io/docs/reference/glossary/#cluster

A cluster is set of compute nodes that run containerized applications. Typically, the compute nodes comprising a cluster can reach each other directly. Clusters limit external access through rules or policies.

[2019-09-03 16:54] sdake opened #4885 "clicking envoy doesn't go to right location"
<img width="1181" alt="Screen Shot 2019-09-03 at 9 52 08 AM" src="https://user-images.githubusercontent.com/755849/64192930-a1cf9a00-ce30-11e9-83e3-ecf2b285e023.png">

clicking "Envoy" shows this:

<img width="1411" alt="Screen Shot 2019-09-03 at 9 53 38 AM" src="https://user-images.githubusercontent.com/755849/64192986-bdd33b80-ce30-11e9-95a2-0b4cfd093be2.png">

[2019-09-03 16:55] sdake commented on #4885
this is a general problem with any link that links to a different glossary definition in the website.

[2019-09-03 16:57] sdake opened #4886 "this doesn't look understandable"
<img width="1162" alt="Screen Shot 2019-09-03 at 9 56 39 AM" src="https://user-images.githubusercontent.com/755849/64193231-3934ed00-ce31-11e9-99bd-45ba42cd99d2.png">

[2019-09-03 16:57] sdake commented on #4886
what does "talking" mean?

[2019-09-03 16:58] sdake commented on #4886
The second sentence is a runon.

[2019-09-03 17:02] sdake opened #4887 "this use case seems awkward."
<img width="1151" alt="Screen Shot 2019-09-03 at 10 01 58 AM" src="https://user-images.githubusercontent.com/755849/64193596-f1629580-ce31-11e9-97f9-b9b6637d9849.png">

[2019-09-03 17:03] sdake commented on #4887
Additionally, the sentence above the awkward use case is hard to understand.

[2019-09-03 17:08] carolynhu opened #4888 "Issue with docs/setup/upgrade/notice/index.md"
This page https://preliminary.istio.io/docs/setup/upgrade/notice/ should be 1.3 upgrade notice, not 1.2.

[2019-09-03 17:14] frankbu commented on #4885
Yes, I see this is a general issue with glossary entries. The URL of a glossary entry, e.g., https://preliminary.istio.io/docs/reference/glossary/#cluster seems to go to the last line of the corresponding entry, not the title.

[2019-09-03 17:25] howardjohn opened #4889 "Issue with docs/setup/upgrade/steps/index.md"
This page has many issues

* References to upgrading 1.1 -> 1.2 should be 1.2 -> 1.3
* Citadel supports multiple replicas now, so we don't need to say it doesn't
* Should not use some random script to do a rolling restart
* Not sure why we need some special cases for mtls... just link to profiles
* kill all migrating notices

[2019-09-03 17:36] geeknoid commented on #4885
Although this behavior isn't great, it's also not a release blocker. It's been this way in the 1.1 and 1.2 releases, so it's not emergent behavior. As such, I've reprioritized to P1.

[2019-09-03 17:57] frankbu commented on #4714
The release is downloaded in the prerequisites section, and the doc also mentions that those charts are used: https://istio.io/docs/setup/kubernetes/install/helm/#helm-chart-release-repositories

This doc could maybe be improved, but it is at least correct as it is.

[2019-09-03 17:57] #4714 closed

[2019-09-03 18:04] ozevren commented on #4504
With @nmittler s refactoring work, this should not longer be an issue.

[2019-09-03 18:05] #4427 closed

[2019-09-03 18:12] douglas-reid commented on #4794
I'm confused by this issue. Looking at the latest envoy docs, I still see `inclusion_list` and `stats_matcher` as the config names in the config.

See: https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/metrics/v2/stats.proto.html

(config.metrics.v2.StatsMatcher) Inclusion/exclusion matcher for stat name creation. If not provided, all stats are instantiated as normal. Preventing the instan

[2019-09-03 18:12] #4794 closed

[2019-09-03 18:29] sdake opened #4891 "awkward usage"
https://preliminary.istio.io/docs/reference/glossary/#pod

Something about this sentence doesn't seem right.  It is hard to put a finger on it.  Rigs has indicated it is a runon and can be improved.

[2019-09-03 18:31] sdake opened #4892 "agent is vague (or not defined)"
https://preliminary.istio.io/docs/reference/glossary/#service-consumer

[2019-09-03 18:33] sdake opened #4893 "run on sentence in glossary"
https://preliminary.istio.io/docs/reference/glossary/#service-endpoint

clearly a runon - strings two ideas together without even a conjunction...

[2019-09-03 18:47] sdake opened #4894 "documentation does not match code"
https://preliminary.istio.io/docs/reference/glossary/#service-mesh

specifically the example:
[code]

While we would like this to be the case, the implementation for this is very complex and not yet implemented.

I attempted for some time to track down the related implementation issue.  The best I can find is our multicluster tracker here: https://github.com/istio/istio/issues/11731.  I didn't see

[2019-09-03 18:50] sdake opened #4895 "stray comma - or sentence needs rework"
https://preliminary.istio.io/docs/reference/glossary/#service-name

A service may not be renamed and maintain its identity, each service name is unique.

looks like a run on now although replace `,` with as, or something similar.

[2019-09-03 18:51] sdake opened #4896 "agent undefined and dehumanizing here"
https://preliminary.istio.io/docs/reference/glossary/#service-operator

Instead of "agent" how about individual?

[2019-09-03 18:53] sdake opened #4897 "just define agent :)"
I get it now, agent can be an individual, or a software program emulating an individual.

https://preliminary.istio.io/docs/reference/glossary/#service-producer

[2019-09-03 18:55] sdake opened #4898 "could have a link to service entry"
https://preliminary.istio.io/docs/reference/glossary/#service-registry

we are linking more complex concepts out of the glossary, why not service entry?